
<div class="contentRight">
    <div class="tabs about">
        <a href="#/aboutZebra?what"><span class="tab2">ZebraZapps Overview</span></a>
        <a href="#/aboutZebra?creating-projects"><span class="tab2">Learn More</span></a>
        <a href="#/aboutZebra?allen-learning-technologies"><span class="tab">About Us</span></a>
        <div class="clearer"></div>
    </div>
    <div class="block about">
        <div class="subnav"><a href="#/aboutZebra?allen-learning-technologies" class="selected">The Company</a>
            <span class="divider">|</span><a href="#/aboutZebra?contact-us">Contact Us</a>
            <span class="divider">|</span>
            <a href="http://www.twitter.com/zebra_zapps" target="_blank">
                <img src="./com/alleni/images/icon_twitter_black.png" width="16" height="16" align="absmiddle" /> Twitter
            </a>
            <span class="divider">|</span><a target="_blank" href="http://www.facebook.com/pages/ZebraZapps/187736147944146">
                <img src="./com/alleni/images/icon_facebook_black.png" width="16" height="16" align="absmiddle" />
            </a>
            <a href="http://www.facebook.com/pages/ZebraZapps/187736147944146" target="_blank">Facebook</a>
        </div>
        <h1>About Allen Learning Technologies</h1>
        <p>Allen Learning Technologies was started in 2009 to bring broadly-used cloud-based interactive media technology and services to the marketplace. Dr. Michael Allen, who is the leader and visionary behind Allen Learning Technologies, is widely respected for his published works and his ability to define, design and build both learning solutions and tools that allow anyone to harness the potential of evolving interactive technologies. In 2011, Allen Learning Technologies launched a revolutionary authoring system called ZebraZapps. ZebraZapps allows developers and non-programmers to create rich interactive media applications easily and quickly, as well as share, publish, and sell their inventions.<br />
            <br />
            Michael Allen was a principal architect and designer of Control Data's famous PLATO computer-based education system and later founded Authorware where he designed and built the technology that led to the formation in 1992 of Macromedia, which revolutionized multimedia software development. With ZebraZapps, Allen is set to re-create the industry once again!</p>

        <div class="clearer"></div>
    </div>
    <div class="clearer"></div>
</div>