<div class="contentRight">
    <div class="tabs about">
        <a href="#/aboutZebra?what"><span class="tab2">ZebraZapps Overview</span></a>
        <a href="#/aboutZebra?creating-projects"><span class="tab2">Learn More</span></a>
        <a href="#/aboutZebra?allen-learning-technologies"><span class="tab">About Us</span></a>
        <div class="clearer"></div>
    </div>
    <div class="block about">
        <div class="subnav">
            <a href="#/aboutZebra?allen-learning-technologies">The Company</a><span class="divider">|</span>
            <a href="#/aboutZebra?contact-us" class="selected">Contact Us</a><span class="divider">|</span>
            <a class="noRemap" href="http://www.twitter.com/zebra_zapps" target="_blank"><img src="./com/alleni/images/icon_twitter_black.png" width="16" height="16" align="absmiddle" />  Twitter</a><span class="divider">|</span><a href="#"><img src="./com/alleni/images/icon_facebook_black.png" width="16" height="16" align="absmiddle" /></a>
            <a class="noRemap" href="http://www.facebook.com/pages/ZebraZapps/187736147944146" target="_blank"> Facebook</a>
        </div>
        <h1>Contact Us</h1>
        <div class="columnLeft">
            <h5>Member Inquiries/Comments</h5>
            <p><a href="mailto:support@zebrazapps.com">support@zebrazapps.com</a></p>
            <h5>Sales Inquiries</h5>
            <p><a href="mailto:sales@zebrazapps.com">sales@zebrazapps.com</a></p>
            <h5>Press/Blog Inquiries</h5>
            <p><a href="mailto:press@zebrazapps.com">press@zebrazapps.com</a></p>
            <h5>Legal Inquiries</h5>
            <p><a href="mailto:termsofservice@zebrazapps.com">termsofservice@zebrazapps.com</a></p>
        </div>
        <div class="columnRight">
            <h5>Allen Learning Technologies LLC</h5>
            <p>1120 Centre Pointe Drive, Suite 800<br />
                St. Paul, Minnesota 55120-1277<br />
            </p>
        </div>
        <div class="clearer"></div>
    </div>
    <div class="clearer"></div>
</div>