<div class="contentRight">
    <div class="tabs about">
        <a href="#/aboutZebra?what"><span class="tab">ZebraZapps Overview</span></a>
        <a href="#/aboutZebra?creating-projects"><span class="tab2">Learn More</span></a>
        <a href="#/aboutZebra?allen-learning-technologies"><span class="tab2">About Us</span></a>
        <div class="clearer"></div>
    </div>
    <div class="block about">
        <div class="subnav">
            <a href="#/aboutZebra?what">What</a>
            <span class="divider">|</span><a href="#/aboutZebra?why">Why</a>
            <span class="divider">|</span><a href="#/aboutZebra?who">For Whom</a>
            <span class="divider">|</span><a href="#/aboutZebra?create" class="selected">Create</a>
            <span class="divider">|</span><a href="#/aboutZebra?publish-share">Publish/Share</a>
            <span class="divider">|</span><a href="#/aboutZebra?shopps">Shopps</a></div>
        <h1>What Can I Create?</h1>
        <div class="textBlock">
            <h3>The Only Limit is Your Imagination</h3>
            <p>With ZebraZapps, instructional designers can do more than just design, they can create applications that help them explain a concept, share an idea, provide information or solve a problem. Teens can create games and clever interactions to share with their friends on Facebook. New parents can create a scrapbook of their baby and post it to their family website. Teachers can use polling and external data sources to keep students involved and content current.</p>
        </div>
        <p><img src="./com/alleni/images/about_create.png" width="448" height="268" /></p>
        <div class="clearer"></div>

        <div class="clearer"></div>
    </div>
    <div class="clearer"></div>
</div>
<div class="clearer"></div>
