<div class="contentRight">
    <div class="tabs about">
        <a href="#/aboutZebra?what"><span class="tab2">ZebraZapps Overview</span></a>
        <a href="#/aboutZebra?creating-projects"><span class="tab">Learn More</span></a>
        <a href="#/aboutZebra?allen-learning-technologies"><span class="tab2">About Us</span></a>
        <div class="clearer"></div>
    </div>
    <div class="block about">
        <div class="subnav"><a href="#/aboutZebra?creating-projects" class="selected">Creating Projects</a><span class="divider">|</span><a href="#/aboutZebra?understanding-key-features">Understanding Key Features</a><span class="divider">|</span><a href="#/aboutZebra?tech-specs">Tech Specs</a></div>
        <h1>Creating Projects</h1>
        <div class="imageRight"> <img src="./com/alleni/images/about_projects.png" width="350" height="250" /></div>
        <p>ZebraZapps makes designing and developing rich interactive applications easy. </p>
        
        <h3>Wildly Interactive</h3>
        <p>
        	ZebraZapps lets you go wild! Animate anything. Engage users. Grab their 
        	attention and keep them involved. Use roll-overs, buttons, collisions, 
        	timing, photos, sounds, animations, videos, overlays, and drag-and-drops 
        	to create your own free-form interactions—exactly as your design requires. 
        	You're limited only by your imagination.
        </p>
        
        <h3>Shockingly Fast</h3>
        <p>
        	ZebraZapps gives you the power to create amazing applications quickly and 
        	without sacrificing quality. Show consequences, give eye-catching feedback, 
        	simulate real-world events. Using timing and user interaction to alter the 
        	characteristics of text or graphics. Serious products, seriously fast. Go 
        	ahead, shock yourself and your users!
        </p>
        
        <h3>No programming skills?</h3>
        <p>
        	No programming skills? No problem. With ZebraZapps, anyone can quickly 
        	and easily create an impressive, highly interactive application. The best 
        	part? You won’t spend months, weeks, or days learning new software. Zapping 
        	out applications requires just a few mouse clicks.
        </p>
        
        <h3>Escape from Templates</h3>
        <p>
        	ZebraZapps gadgets are smarter than templates - they are reusable, 
        	customizable objects. Choose a design, drop in content and go. Don’t like 
        	something? Change it, modify it, make it your own, quickly and easily.
        </p>
        
        <h3>Simplify with logic tables</h3>
        <p>
        	Authoring systems tend to make simple tasks easy and interesting tasks far 
        	too difficult. Adding logic and conditional events? Forget it, too much 
        	effort required. ZebraZapps logic tables make even complex interactions easy 
        	to create. So go ahead, reach for the stars! 
        </p>
        <div class="clearer"></div>

        <div class="clearer"></div>
    </div>
    <div class="clearer"></div>
</div>
<div class="clearer"></div>
