<div class="contentRight">
    <div class="tabs about">
        <a href="#/aboutZebra?what"><span class="tab">ZebraZapps Overview</span></a>
        <a href="#/aboutZebra?creating-projects"><span class="tab2">Learn More</span></a>
        <a href="#/aboutZebra?allen-learning-technologies"><span class="tab2">About Us</span></a>
        <div class="clearer"></div>
    </div>
    <div class="block about">
        <div class="subnav">
            <a href="#/aboutZebra?what">What</a>
            <span class="divider">|</span><a href="#/aboutZebra?why">Why</a>
            <span class="divider">|</span><a href="#/aboutZebra?who">For Whom</a>
            <span class="divider">|</span><a href="#/aboutZebra?create">Create</a>
            <span class="divider">|</span><a href="#/aboutZebra?publish-share" class="selected">Publish/Share</a>
            <span class="divider">|</span><a href="#/aboutZebra?shopps">Shopps</a>
        </div>
        <h1>What Can I Publish/Share?</h1>
        <div class="textBlock">
            <div class="imageRight">
                <h3><img src="./com/alleni/images/about_share.png" width="100" height="99" / style="margin-bottom:15px" /></h3>
            </div>
            <h3>Share with Friends and Colleagues</h3>
            <p>Share your creations directly through the ZebraZapps player or through existing social media accounts like blogs or Facebook.</p>
            <h3>Get Published</h3>
            <p>Publishing applications is a quick process of providing some search tags and description, setting a price, and clicking a button. Your work will pop up in the Shopps, and you’re in business.</p>
            <h3>Crowd Accelerated Innovation</h3>
            <p>
                Our object-based foundation allows you to make new objects called gadgets. You can create custom inputs, properties, and outputs. 
                Gadgets can be background art, single-function tools like an ounces-to-pounds converter, functional navigation panels, or full 
                simulations...anything! Got an idea? Make a gadget! Claim fame and even some bucks by publishing your inventions to the cloud and 
                attaching a price. It’s a simple process; just click the cloud icon and you're on your way.
            </p>
        </div>
        <img src="./com/alleni/images/about_publish.png" width="645" height="455" />
        <div class="clearer"></div>
    </div>
    <div class="clearer"></div>
</div>
<div class="clearer"></div>
