<div class="contentRight">
    <div class="tabs about">
        <a href="#/aboutZebra?what"><span class="tab">ZebraZapps Overview</span></a>
        <a href="#/aboutZebra?creating-projects"><span class="tab2">Learn More</span></a>
        <a href="#/aboutZebra?allen-learning-technologies"><span class="tab2">About Us</span></a>
        <div class="clearer"></div>
    </div>
    <div class="block about">
        <div class="subnav">
            <a href="#/aboutZebra?what">What</a>
            <span class="divider">|</span><a href="#/aboutZebra?why">Why</a>
            <span class="divider">|</span><a href="#/aboutZebra?who">For Whom</a>
            <span class="divider">|</span><a href="#/aboutZebra?create">Create</a>
            <span class="divider">|</span><a href="#/aboutZebra?publish-share">Publish/Share</a>
            <span class="divider">|</span><a href="#/aboutZebra?shopps" class="selected">Shopps</a>
        </div>
        <h1>What Can I Acquire/Buy from the Shopps?</h1>
        <div class="imageRight"> <img src="./com/alleni/images/about_shop.png" width="250" height="279" / style="margin-bottom:25px"></div>
        <p>Starting with a blank slate can be overwhelming. Search the ZebraZapps Shopps to find just the solution you need, or one you can modify to fit your requirements. Some apps are available for sale, while others are free.</p>
        <p>In the ZebraZapps Shopps, you can find gadgets for you to use in creating your own applications including templates of all kinds and countless useful tools such as buttons, meters, gauges, sliders, animations, mazes, sequence driven events and much more. The more popular ZebraZapps becomes, the more the Shopps will fill with user generated content. The power of crowd-accelerated innovation – it’s a great thing!</p>
        <h1>&nbsp;</h1>
        <div class="clearer"></div>

        <div class="clearer"></div>
    </div>
    <div class="clearer"></div>
</div>
