<div class="contentRight">
    <div class="tabs about">
        <a href="#/aboutZebra?what"><span class="tab2">ZebraZapps Overview</span></a>
        <a href="#/aboutZebra?creating-projects"><span class="tab">Learn More</span></a>
        <a href="#/aboutZebra?allen-learning-technologies"><span class="tab2">About Us</span></a>
        <div class="clearer"></div>
    </div>
    <div class="block about">
        <div class="subnav"><a href="#/aboutZebra?creating-projects">Creating Projects</a><span class="divider">|</span><a href="#/aboutZebra?understanding-key-features">Understanding Key Features</a><span class="divider">|</span><a href="#/aboutZebra?tech-specs" class="selected">Tech Specs</a></div>
        <h1>Tech Specs</h1>
        <h2>System Requirements (minimum)</h2>
        <table width="100%" cellspacing="10">

          <tr>
            <td colspan="3" align="right" valign="top" nowrap="nowrap">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top" nowrap="nowrap"><h3>For Authors</h3></td>
            <td width="30" valign="top">&nbsp;</td>
            <td valign="top">&nbsp;</td>
          </tr>

          <tr>
            <td align="right" valign="top" nowrap="nowrap">Processor speed:</td>
            <td valign="top">&nbsp;</td>
            <td valign="top">Intel Pentium 4 <br />AMD Athlon 64 <br />Intel Core Duo</td>
          </tr>
          <tr>
            <td align="right" valign="top" nowrap="nowrap">RAM:</td>

            <td valign="top">&nbsp;</td>
            <td valign="top">2GB<br /></td>
          </tr>
          <tr>
            <td align="right" valign="top" nowrap="nowrap">Operating systems:</td>
            <td valign="top">&nbsp;</td>
            <td valign="top">Microsoft Windows XP (SP3) <br />Microsoft Windows Vista (SP2) <br />Microsoft Windows 7 <br /> Apple OS X v10.5+</td>

          </tr>
          <tr>
            <td align="right" valign="top" nowrap="nowrap">Adobe Flash Player:</td>
            <td valign="top">&nbsp;</td>
            <td valign="top">10.3+</td>
          </tr>
          <tr>
            <td align="right" valign="top" nowrap="nowrap">Browsers:</td>

            <td valign="top">&nbsp;</td>
            <td valign="top">Microsoft Internet Explorer 7.0+ <br />Mozilla Firefox 4.0+ <br />Apple Safari 5.0+ <br />Google Chrome 10.0+</td>
          </tr>
          <tr>
            <td align="right" valign="top" nowrap="nowrap">Screen resolution:</td>
            <td valign="top">&nbsp;</td>

            <td valign="top">1024 X 768, 16-bit colors</td>
          </tr>
          <tr>
            <td colspan="3" align="right" valign="top" nowrap="nowrap">&nbsp;</td>
          </tr>
          <tr>
            <td valign="top" nowrap="nowrap"><h3>For Users</h3></td>
            <td valign="top">&nbsp;</td>

            <td valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="right" valign="top" nowrap="nowrap">Processor speed:</td>
            <td valign="top">&nbsp;</td>
            <td valign="top">Intel Pentium 4 <br />AMD Athlon 64 <br />Intel Core Duo</td>
          </tr>

          <tr>
            <td align="right" valign="top" nowrap="nowrap">RAM:</td>
            <td valign="top">&nbsp;</td>
            <td valign="top">1GB</td>
          </tr>
          <tr>
            <td align="right" valign="top" nowrap="nowrap">Operating systems:</td>

            <td valign="top">&nbsp;</td>
            <td valign="top">Microsoft Windows XP (SP3) <br />Microsoft Windows Vista (SP2) <br />Microsoft Windows 7 <br /> Apple OS X v10.5+</td>
          </tr>
          <tr>
            <td align="right" valign="top">Adobe Flash Player:</td>
            <td valign="top">&nbsp;</td>

            <td valign="top">10.3.x</td>
          </tr>
          <tr>
            <td align="right" valign="top">Browsers:</td>
            <td valign="top">&nbsp;</td>
            <td valign="top">Microsoft Internet Explorer 7.0+ <br />Mozilla Firefox 4.0+ <br />Apple Safari 5.0+ <br />Google Chrome 10.0+</td>

          </tr>
          <tr>
            <td align="right" valign="top">Screen resolution:</td>
            <td valign="top">&nbsp;</td>
            <td valign="top">Depends on stage dimensions of published content</td>
          </tr>
          <tr>
            <td colspan="3" align="right" valign="top" nowrap="nowrap">&nbsp;</td>

          </tr>
          <tr>
            <td colspan="3" align="right" valign="top" nowrap="nowrap"><div class="divider"></div></td>
          </tr>
          <tr>
            <td colspan="3" align="left" valign="top"><h2>Supported Media</h2></td>
          </tr>
          <tr>

            <td align="right" valign="top">Images:</td>
            <td valign="top">&nbsp;</td>
            <td valign="top">GIF, JPEG, PNG, SVG</td>
          </tr>
          <tr>
            <td align="right" valign="top">Audio:</td>
            <td valign="top">&nbsp;</td>

            <td valign="top">MP3</td>
          </tr>
          <tr>
            <td align="right" valign="top">Video:</td>
            <td valign="top">&nbsp;</td>
            <td valign="top">YouTube</td>
          </tr>

        </table>
        </div>
    </div>
