<div class="contentRight">
    <div class="tabs about">
        <a href="#/aboutZebra?what"><span class="tab2">ZebraZapps Overview</span></a>
        <a href="#/aboutZebra?creating-projects"><span class="tab">Learn More</span></a>
        <a href="#/aboutZebra?allen-learning-technologies"><span class="tab2">About Us</span></a>
        <div class="clearer"></div>
    </div>
    <div class="block about">
        <div class="subnav"><a href="#/aboutZebra?creating-projects">Creating Projects</a><span class="divider">|</span><a href="#/aboutZebra?understanding-key-features" class="selected">Understanding Key Features</a><span class="divider">|</span><a href="#/aboutZebra?tech-specs">Tech Specs</a></div>
        <h1>Understanding Key Features</h1>
        <p>ZebraZapps gives you so much power, but makes it simple to use. </p>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="left" valign="top"><h3>Object Replacement Keeps You Moving</h3>
                    <p>ZebraZapps lets you keep the logic of your interactive sketches intact when replacing any object. This means your brainstorming sessions produce fully actionable products, not just ideas on flipboards. You can even test with users before developing final media. </p></td>
                <td width="30" valign="top">&nbsp;</td>
                <td valign="top"><img src="./com/alleni/images/about_features_1.png" width="250" height="150" / style="padding-top:6px"></td>
            </tr>
            <tr>
                <td height="30" colspan="3" align="left" valign="top">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" valign="top"><h3>Message Centers Give You Control </h3>
                    <p>Everything you can see or hear is an object—text, graphics, videos, buttons, you name it. All these objects have properties— height, color, position, etc. ZebraZapps lists all the properties each object has in a pop-up message center together with the user gestures it recognizes—click, drag, rollover, etc. Wire properties together to keep values synchronized. Or, connect the gestures recognized by one object to the inputs or properties of another to create instant interactivity. </p></td>
                <td valign="top">&nbsp;</td>
                <td valign="top"><img src="./com/alleni/images/about_features_2.png" width="250" height="180" / style="padding-top:6px"></td>
            </tr>
            <tr>
                <td height="30" colspan="3" align="left" valign="top">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" valign="top"><h3>Arenas Corral Objects and Wires</h3>
                    <p>Each page of an arena provides a separate workspace, and because you can nest arenas within arenas, you’ll keep all your content organized and never run out of space. You can randomly access pages, apply transition effects, or fly through pages fast enough for flipbook animation. </p></td>
                <td valign="top">&nbsp;</td>
                <td valign="top"><img src="./com/alleni/images/about_features_3.png" width="250" height="154" / style="padding-top:6px"></td>
            </tr>
            <tr>
                <td height="30" colspan="3" align="left" valign="top">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" valign="top"><h3>Run While Editing, Edit While Running </h3>
                    <p>While running your application, you can make corrections and additions. No switching modes, no changing contexts, no rewiring, no rerunning from the start. With authorization, anyone can correct display text in place, update graphics, and reposition objects. It’s all incredibly fast. </p>
                    <p>Not to be outdone, the ZebraZapps editor can execute functionality as you build it. Instantly see if you’re getting what you want without the need of repeatedly running the application from the start to check things out. </p></td>
                <td valign="top">&nbsp;</td>
                <td valign="top"><img src="./com/alleni/images/about_features_4.png" width="250" height="172" / style="padding-top:6px"></td>
            </tr>
            <tr>
                <td height="30" colspan="3" align="left" valign="top">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" valign="top"><h3>Show Cause and Effect</h3>
                    <p>Have user actions transform and move objects. Control the pattern of change with a wide range of tweening options. Go ahead—slide, glide, bounce, snap, change with elasticity. </p></td>
                <td valign="top">&nbsp;</td>
                <td valign="top"><img src="./com/alleni/images/about_features_5.png" width="250" height="188" / style="padding-top:6px"></td>
            </tr>
            <tr>
                <td height="30" colspan="3" align="left" valign="top">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" valign="top"><h3>Make Path-based Animations</h3>
                    <p>With path-based animations, you control where and how objects can move. Create mazes. Change them dynamically. Demonstrate a surgical procedure. Show how and where to sew a seam. Comment on the width of slices a learner makes to pizzas or pies. Use a tape measure to find the length of an object. </p></td>
                <td valign="top">&nbsp;</td>
                <td valign="top"><img src="./com/alleni/images/about_features_6.png" width="250" height="188" / style="padding-top:6px"></td>
            </tr>
            <tr>
                <td height="30" colspan="3" align="left" valign="top">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" valign="top"><h3>Rotate Objects</h3>
                    <p>Allow users to move and rotate objects in response to a challenge. Simulate knobs and controls. Arrange workspaces. Whirl the game’s spinner. Synchronize rotation easily with other motions. ZebraZapps offers scaled rotation capabilities for every object individually and in groups through the arena. </p></td>
                <td valign="top">&nbsp;</td>
                <td valign="top"><img src="./com/alleni/images/about_features_7.png" width="250" height="188" / style="padding-top:6px"></td>
            </tr>
            <tr>
                <td height="30" colspan="3" align="left" valign="top">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" valign="top"><h3>Analyze User Actions for Dynamic Feedback</h3>
                    <p>The ZebraZapps answer analysis table provides a detailed assessment of user actions ranging from simple selected answers to complex, multi-gesture, constructed, and sequenced responses. Coupled with dynamic text and feedback construction capabilities, you can delay judgment as long as is suitable while mentoring learners intelligently and effectively. Give hints and advice without judgment. Allow users to monitor their own work, back up, and make corrections. Replay user actions. Time actions and create meaningful, memorable, and motivational experiences. </p></td>
                <td valign="top">&nbsp;</td>
                <td valign="top"><img src="./com/alleni/images/about_features_8.png" width="250" height="188" / style="padding-top:6px"></td>
            </tr>
        </table>
    </div>
</div>
