<div class="contentRight">
    <div class="tabs about">
        <a href="#/aboutZebra?what"><span class="tab">ZebraZapps Overview</span></a>
        <a href="#/aboutZebra?creating-projects"><span class="tab2">Learn More</span></a>
        <a href="#/aboutZebra?allen-learning-technologies"><span class="tab2">About Us</span></a>
        <div class="clearer"></div>
    </div>
    <div class="block about overview">
        <div class="subnav">
            <a href="#/aboutZebra?what" class="selected">What</a>
            <span class="divider">|</span><a href="#/aboutZebra?why">Why</a>
            <span class="divider">|</span><a href="#/aboutZebra?who">For Whom</a>
            <span class="divider">|</span><a href="#/aboutZebra?create">Create</a>
            <span class="divider">|</span><a href="#/aboutZebra?publish-share">Publish/Share</a>
            <span class="divider">|</span><a href="#/aboutZebra?shopps">Shopps</a></div>
        <h1>What is ZebraZapps? </h1>
        <p><img src="./com/alleni/images/about_overview_logo.png" width="280" height="126" / style="float:right; margin-left:50px">ZebraZapps is a revolutionary cloud-based authoring system that gives anyone the ability to create rich interactive media applications, quickly and easily. ZebraZapps can be shared, published and even sold. From concept to creation, ZebraZapps provides an easy-to-use what-you-see-is-what-you-get (WYSIWYG) interface.      </p></div>
</div>