<div class="contentRight">
    <div class="tabs about">
        <a href="#/aboutZebra?what"><span class="tab">ZebraZapps Overview</span></a>
        <a href="#/aboutZebra?creating-projects"><span class="tab2">Learn More</span></a>
        <a href="#/aboutZebra?allen-learning-technologies"><span class="tab2">About Us</span></a>
        <div class="clearer"></div>
	</div>
      <div class="block about">
        <div class="subnav">
        	<a href="#/aboutZebra?what">What</a>
            <span class="divider">|</span><a href="#/aboutZebra?why">Why</a>
            <span class="divider">|</span><a href="#/aboutZebra?who" class="selected">For Whom</a>
            <span class="divider">|</span><a href="#/aboutZebra?create">Create</a>
            <span class="divider">|</span><a href="#/aboutZebra?publish-share">Publish/Share</a>
            <span class="divider">|</span><a href="#/aboutZebra?shopps">Shopps</a>
        </div>
        <h1>Who is ZebraZapps For?</h1>
        <p>ZebraZapps' ease of use allows anyone to create media-rich interactive designs.</p>
        <div class="textBlock">
          <div class="imageRight">
            <h3><img src="./com/alleni/images/about_who_teacher.png" width="250" height="197" /></h3>
          </div>
          <h3>Presenters and Teachers</h3>
          <p><b>Augment learning experiences.</b><br>
          <i>Present live data sources, interactive simulations, team activities. Create multi-learner homework activities.</i>
          <br>
          <br>
          Use ZebraZapps to enhance presentations with live mashups. Let class or audience discussion help you sequence topics 
          while determining appropriate depth. You can respond instantly by randomly accessing supportive media to build on interests 
          of the moment. Send learners home with access to multi-learner activities or make your creation web-accessible for individuals or teams.</p>
        </div>
        <div class="textBlock">
          <div class="imageLeft">
            <h3><img src="./com/alleni/images/about_who_novice.png" width="250" height="222" / style="float:left" /></h3>
          </div>
          <h3>Novice Interactivity Designers</h3>
          <p><b>Learn from editable templates.</b>
          <br>
          <i>Use ZebraZapps gadgets to quickly implement advanced interactivity. Drop in your own content.</i>
          <br>
          <br>
          Templates are great for design ideas and speedy development. ZebraZapps gadgets take them to the next level. Gadgets 
          support drop-in content and direct, in-context editing. No repetitive opening and closing forms and loss of visual context. 
          And when it comes to matching the precise needs of your content, use the great visual editor to ease gadgets into your project 
          with unprecedented speed. Experiment with more designs in less time. Find a design solution that's exactly right.</p>
        </div>
        <div class="textBlock">
          <div class="imageRight">
            <h3><img src="./com/alleni/images/about_who_friends.png" width="200" height="200" /></h3>
          </div>
          <h3>Fun With Friends </h3>
          <p><b>Author just for the fun of it.</b>
          <br>
          <i>Create interactive cards, games and scrapbooks. <br>Even share on Facebook and blogs.</i>
          <br>
          <br>
          Although the ZebraZapps editor has capabilities for advanced interactive logic, it's so easy and quick to use that even 
          non-programmers can use the cloud-based system for casual enjoyment. Share photographs, make and play games, update family 
          histories, or just have fun with the endless multimedia power provided. Applications can be launched directly from the ZebraZapps
          player, posted directly to Facebook, or embedded in blog posts for easy access.</p>
        </div>
        <div class="textBlock">
          <div class="imageLeft">
            <h3><img src="./com/alleni/images/about_who_developers.png" width="187" height="250" / style="float:left" /></h3>
          </div>
          <h3>Developers </h3>
          <p><b>Build faster than ever before.</b><br><i>WYSIWYG editing offers unbridled power and flexibility. <br>Logic tables handle complexity.</i><br><br>
          Many authoring systems severely restrict power and flexibility. To achieve ease of use, they sacrifice flexibility and power. 
          ZebraZapps arms developers with unprecedented flexibility and power in a system that is also extraordinarily fast and easy to 
          use. ZebraZapps lets advanced programmers construct extremely complex interactions that are then easily editable and maintainable by others.</p>
        </div>
        <h3>&nbsp;</h3>
        <div class="textBlock">
          <div class="imageRight">
            <h3><img src="./com/alleni/images/about_who_instructional.png" width="250" height="211" /></h3>
          </div>
          <h3>Instructional Designers and SMEs </h3>
          <p><b>Create and edit yourself.</b><br><i>No Scripting! Run apps while you create them, edit while they are running. See results instantly.</i><br><br>
          No need to plead with a programmer for changes, no struggles over misinterpreted story boards, no need to settle for something that's not 
          exactly right. Professional designers can create complex interactivity themselves. Subject matter experts can correct content without 
          working through others and worrying about misinterpretations, delays or unexpected consequences. ZebraZapps' easy WYSIWYG editing benefits everyone. </p>
        </div>
        <div class="clearer"></div>
        </div>
    </div>
    <div class="clearer"></div>
</div>
</div>