<div class="contentRight">
    <div class="tabs about">
        <a href="#/aboutZebra?what"><span class="tab">ZebraZapps Overview</span></a>
        <a href="#/aboutZebra?creating-projects"><span class="tab2">Learn More</span></a>
        <a href="#/aboutZebra?allen-learning-technologies"><span class="tab2">About Us</span></a>
        <div class="clearer"></div>
    </div>
    <div class="block about">
        <div class="subnav">
            <a href="#/aboutZebra?what">What</a>
            <span class="divider">|</span><a href="#/aboutZebra?why" class="selected">Why</a>
            <span class="divider">|</span><a href="#/aboutZebra?who">For Whom</a>
            <span class="divider">|</span><a href="#/aboutZebra?create">Create</a>
            <span class="divider">|</span><a href="#/aboutZebra?publish-share">Publish/Share</a>
            <span class="divider">|</span><a href="#/aboutZebra?shopps">Shopps</a>
        </div>
        <h1>Why ZebraZapps? </h1>
        <div class="imageRight"> <img src="./com/alleni/images/about_why.png" width="375" height="288" / style="margin-bottom:25px" /></div>
        <p>
            ZebraZapps is the ideal solution to a challenge often faced when using media development software. 
            Either you need to know how to program, or you are stuck with inflexible cookie-cutter designs. With 
            ZebraZapps, you have the freedom to create any type of media-rich application you can dream of – 
            all without having to know a single line of programming language.
        </p>
        <h3>Zap Up Presentations</h3>
        <p>
            Energize presentations with interactive media and slides that respond to your commands instead of 
            just sitting lifelessly on the screen. ZebraZapps allows the flow of discussion, not the order of 
            your slides, to drive the sequence of your presentation. Respond to participant questions by accessing 
            supportive media. Keep engaging the audience long after the presentation is over with web-distributed 
            follow-up activities.
        </p>
        <h3>Get Social</h3>
        <p>
            Your media-rich designs will impress family and friends. The intuitive interface allows you to 
            share your creations directly through the ZebraZapps player or through existing social media accounts, 
            like blogs and Facebook.
        </p>
        <h3>Impress With Mashups</h3>
        <p>
            Get crazy and grab videos from YouTube or build dazzling interactions with Google Maps. ZebraZapps 
            media objects let you integrate these popular social tools without learning the syntax of a special API. 
        </p>
        <h3>Hire a Crowd to Help You</h3>
        <p>
            With ZebraZapps, you can buy and sell reusable gadgets in the Gadget Shopp. Extend capabilities of the system, 
            speed everyone’s work, get votes for your work, become a crowd hero. It’s easy.
        </p>
        <div class="clearer"></div>

        <div class="clearer"></div>
    </div>
    <div class="clearer"></div>
</div>
