
    <div class="contentRight">
      <div class="tabs">
        <div class="tab2"><a href="#/support?main">Overview</a></div>
        <div class="tab2"><a href="#/support?objects">Objects</a></div>
        <div class="tab"><a href="#/support?articles">Articles</a></div>
        <div class="tab2"><a href="#/support?learn">Video</a></div>
<div class="tab2"><a href="#/support?ribbons">Ribbons</a></div>
        <div class="tab2"><a href="#/support?wiring">Wiring</a></div>
        <div class="tab2"><a href="#/support?faq">?</a></div>
        <div class="clearer"></div>
      </div>
      <div class="block support">
      <div class="back"><a href="#/support?articles">&lt; Articles</a></div>
		<h1>Audio</h1>

<h2>Description</h2>
<img src="icon.png" /> <!-- icon image -->
<p>The audio object allows you to play audio files within a project. You can import audio files into a project through the Asset Library or by specifying a URL.</p>

<h2>Example</h2>
<p>The following example shows a simple music player. The play button is wired to the Start inlet ribbon of the audio object. The stop button is wired to the Stop inlet of the audio object. When the application is running, the audio specified by the audio object will play and stop when the buttons are clicked.</p>
<img src="example.png" /><!-- example image -->

<h2>Learn</h2>
<a href="">Link 1</a><!-- link to video, etc. -->

<h2>Default Ribbons</h2>
<h3>Inlet Ribbons</h3>
<table>
	<thead>
    	<tr>
        	<th>Name</th>
            <th>Category</th>
        	<th>Description</th>
        </tr>
    </thead>
	<tbody >
		<tr>
        	<td>Ribbon 1</td>
            <td>Display</td>
            <td>This is the first ribbon description</td>
        </tr>
		<tr>
        	<td>Ribbon 2</td>
            <td>Display</td>
            <td>This is the second ribbon description</td>
        </tr>    
       </tbody>
</table>

<h3>Property Ribbons</h3>
<table>
	<thead>
    	<tr>
        	<th>Name</th>
            <th>Category</th>
        	<th>Description</th>
        </tr>
    </thead>
	<tbody >
		<tr>
        	<td>Ribbon 1</td>
            <td>Display</td>
            <td>This is the first ribbon description</td>
        </tr>
		<tr>
        	<td>Ribbon 2</td>
            <td>Display</td>
            <td>This is the second ribbon description</td>
        </tr>    
       </tbody>
</table>

<h3>Outlet Ribbons</h3>
<table>
	<thead>
    	<tr>
        	<th>Name</th>
            <th>Category</th>
        	<th>Description</th>
        </tr>
    </thead>
	<tbody >
		<tr>
        	<td>Ribbon 1</td>
            <td>Display</td>
            <td>This is the first ribbon description</td>
        </tr>
		<tr>
        	<td>Ribbon 2</td>
            <td>Display</td>
            <td>This is the second ribbon description</td>
        </tr>    
       </tbody>
</table>
        
        <div class="clearer"></div>
      </div>
    </div>
    <div class="clearer"></div>
  