
    <div class="contentRight">
      <div class="tabs">
        <a href="#/support?main"><span class="tab2">Overview</span></a>
        <a href="#/support?objects"><span class="tab2">Objects</span></a>
        <a href="#/support?ribbons"><span class="tab2">Ribbons</span></a>
        <a href="#/support?wiring"><span class="tab2">Wiring</span></a>
        <a href="#/support?libraries"><span class="tab2">Libraries</span></a>
        <a href="#/support?learn"><span class="tab2">Learn</span></a>
        <a href="#/support?faq"> <span class="tab2">FAQ</span></a>
        <div class="clearer"></div>
      </div>
      <div class="block support">
<h1>Editor Overview</h1>
<div class="subnav">
  <p><a href="#/support?#interface">Interface</a> | <a href="#/support?#mainmenu">Main Menu</a> | <a href="#/support?#runmenu">Run Menu</a> | <a href="#/support?#viewmenu">View Menu</a> | <a href="#/support?#panelsmenu">Panels Menu</a> | <a href="#/support?#toolbox">Toolbox</a> | <a href="#/support?#wiring">Wiring</a></p>
</div>
<p>This document provides an overview of the editor operating environment interface, objects, message centers, and wiring.</p>
<h2><a name="overview" id="overview"></a>Overview</h2>
<p>The ZebraZapps editor is a powerful authoring tool that allows you to make complex interactive applications without programming script. This is accomplished through the creation of objects and communication between objects using message centers and wiring.</p>
<div class="divider"></div>
<h2><a name="interface" id="overview2"></a>Interface</h2>
<p>The stage is the central area where authoring occurs. It is also the space specified for a running application. The editor interface includes the Main Menu, the Run Menu, the Window Menu, the View Menu, the System Messaging, and the Toolbox.</p>
<img src="com/alleni/html/fragments/support/images/01.png" width="640" height="385" />
<h2><a name="mainmenu" id="mainmenu"></a>Main Menu</h2>
<p>The main menu provides access to all functionality required to build, edit, and run an application in Zebra.</p>
<img src="com/alleni/html/fragments/support/images/02.png" width="639" height="30" />
<h3>&nbsp;</h3>
<h3>Zebra</h3>
<table cellspacing="0">
  <tr>
    <td class="label topRow">About Zebra</td>
    <td class="topRow">Learn more about Zebra</td>
  </tr>
  <tr>
    <td class="label">Provide feedback…</td>
    <td>Open the QA Window...</td>
  </tr>
</table>
<h3>Project</h3>
<table cellspacing="0">
  <tbody>
    <tr>
      <td class="label">New</td>
      <td>Create a new project.</td>
    </tr>
    <tr>
      <td class="label">Open…</td>
      <td>Open an existing project.</td>
    </tr>
    <tr>
      <td class="label">Save</td>
      <td>Save the currently open project.</td>
    </tr>
    <tr>
      <td class="label">Save As</td>
      <td>Save the currently open project with a different name.</td>
    </tr>
    <tr>
      <td class="label">Settings…</td>
      <td>Adjust the project name and stage width and height.</td>
    </tr>
    <tr>
      <td class="label">Import Asset</td>
      <td>Import an external file such as an image, video, or audio file into the project.</td>
    </tr>
    <tr>
      <td class="label">Quit</td>
      <td>Quit the application.</td>
    </tr>
  </tbody>
</table>
<h3>Edit</h3>
<table>
  <tbody>
    <tr>
      <td class="label topRow">Enable Undo</td>
      <td class="topRow">Toggle the ability to undo authoring actions on or off.</td>
    </tr>
    <tr>
      <td class="label">Undo action</td>
      <td>Undo the most recent authoring action.</td>
    </tr>
    <tr>
      <td class="label">Redo action</td>
      <td>Redo an the most recently undone action.</td>
    </tr>
    <tr>
      <td class="label">Cut</td>
      <td>Copy an object to the clipboard and remove it from the stage.</td>
    </tr>
    <tr>
      <td class="label">Copy</td>
      <td>Copy an object to the clipboard.</td>
    </tr>
    <tr>
      <td class="label">Paste</td>
      <td>Paste a cut or copied object from the clipboard to the stage.</td>
    </tr>
    <tr>
      <td class="label">Select All</td>
      <td>Select all objects on the stage.</td>
    </tr>
    <tr>
      <td class="label">Deselect</td>
      <td>Deselect all objects on the stage.</td>
    </tr>
  </tbody>
</table>
<h3>Arrange</h3>
<table>
  <tbody>
    <tr>
      <td class="label topRow">Bring Forward</td>
      <td class="topRow">Bring an object forward.</td>
    </tr>
    <tr>
      <td class="label">Bring to Front</td>
      <td>Bring an object to the front.</td>
    </tr>
    <tr>
      <td class="label">Send Backward</td>
      <td>Send an object backward.</td>
    </tr>
    <tr>
      <td class="label">Send to Back</td>
      <td>Send an object to the back.</td>
    </tr>
  </tbody>
</table>
<h3>Run</h3>
<table>
  <tbody>
    <tr>
      <td class="label topRow">Run</td>
      <td class="topRow">Run the application.</td>
    </tr>
    <tr>
      <td class="label">Pause/Resume</td>
      <td>Toggle between pausing and resuming the application.</td>
    </tr>
  </tbody>
</table>
<h3>View</h3>
<table>
  <tbody>
    <tr>
      <td class="label topRow">Zoom In</td>
      <td class="topRow">Zoom in on the stage.</td>
    </tr>
    <tr>
      <td class="label">Zoom Out</td>
      <td>Zoom out from the stage.</td>
    </tr>
    <tr>
      <td class="label">Fit in Window</td>
      <td>Fit the stage to the current size of the browser window</td>
    </tr>
    <tr>
      <td class="label">Fit Window</td>
      <td>Zoom the stage until its height is equal to the height of the browser window.</td>
    </tr>
    <tr>
      <td class="label">Actual Size</td>
      <td>Resize the stage to the size defined in the Application Settings.</td>
    </tr>
    <tr>
      <td class="label">View More Wires</td>
      <td>Increase the wiring level.</td>
    </tr>
    <tr>
      <td class="label">View Fewer Wires</td>
      <td>Decrease the wiring level.</td>
    </tr>
    <tr>
      <td class="label">Show All</td>
      <td>Show all objects (including invisible objects).</td>
    </tr>
  </tbody>
</table>
<h3>Window</h3>
<table>
  <tbody>
    <tr>
      <td class="label topRow">Tools</td>
      <td class="topRow">Hide or show the Toolbox.</td>
    </tr>
    <tr>
      <td class="label">Library</td>
      <td>Hide or show the Asset Library.</td>
    </tr>
    <tr>
      <td class="label">Inspector</td>
      <td>Hide or show the Inspector.</td>
    </tr>
    <tr>
      <td class="label">QA</td>
      <td>Hide or show the QA Window.</td>
    </tr>
    <tr>
      <td class="label">Logger</td>
      <td>Hide or show the Logger Window.</td>
    </tr>
    <tr>
      <td class="label">Test panel</td>
      <td>Hide or show the Test Panel.</td>
    </tr>
  </tbody>
</table>
<br />
<a name="runmenu" id="runmenu"></a><h2>Run Menu</h2>
<p>The run menu controls switching between various authoring and running states.</p>
<img src="com/alleni/html/fragments/support/images/03.png" />
<table>
  <tbody>
    <tr>
      <td class="topRow"><img src="com/alleni/html/fragments/support/images/04.png" /></td>
      <td class="label topRow">Edit (reset)</td>
      <td class="topRow">Return to authoring mode and reset the application to its initial state.</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/05.png" /></td>
      <td class="label">Edit (pause)</td>
      <td>Return to authoring mode, keeping the application in its current state.</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/06.png" /></td>
      <td class="label">Run (restart)</td>
      <td>Run the application from its initial state.</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/07.png" /></td>
      <td class="label">Run (resume)</td>
      <td>Run lock</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/08.png" /></td>
      <td class="label">Run lock</td>
      <td>Toggle on to disable editing while running.</td>
    </tr>
  </tbody>
</table>
<br />
<a name="viewmenu" id="viewmenu"></a><div class="divider"></div>
<h2>View Menu</h2>
<p>The view menu enables modifying the appearance setting in Zebra.</p>
<img src="com/alleni/html/fragments/support/images/09.png" />
<table>
  <tbody>
    <tr>
      <td class="topRow"><img src="com/alleni/html/fragments/support/images/10.png" /></td>
      <td class="label topRow">Show All Objects</td>
      <td class="topRow">Show all objects (including invisible objects).</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/11.png" /></td>
      <td class="label">Show Wires</td>
      <td>Select one of four wire views: show all wires, show related wires, show selected wires, show selected message centers, hide message centers.</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/12.png" /></td>
      <td class="label">Actual Size</td>
      <td>Resize the stage to the size defined in the Application Settings.</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/13.png" /></td>
      <td class="label">Fit on Screen</td>
      <td>Fit the stage to the current size of the browser window</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/14.png" /></td>
      <td class="label">Fill Window</td>
      <td>Zoom the stage until its height is equal to the height of the browser window.</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/15.png" width="87" height="36" /></td>
      <td class="label">Scale</td>
      <td>Zoom the stage to the specified percent.</td>
    </tr>
  </tbody>
</table>
<br />
<a name="panelsmenu" id="panelsmenu"></a><h2>Panels Menu</h2>
<p>Along the right and left side of the Zebra interface are icons that toggle the following panels on or off.</p>
<table>
  <tbody>
    <tr>
      <td class="topRow"><img src="com/alleni/html/fragments/support/images/16.png" /></td>
      <td class="label topRow">Toolbox</td>
      <td class="topRow">The toolbox contains controls for interacting with Zebra and objects on the stage (see Toolbox ).</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/17.png" /></td>
      <td class="label">Library</td>
      <td>The Library panel shows a list of graphics, sketches, text, video, audio, and gadgets in the current project.</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/18.png" /></td>
      <td class="label">Cloud</td>
      <td>The cloud window provides access to gadgets you or others create (see Gadgets).</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/19.png" /></td>
      <td class="label">Inspector</td>
      <td>The inspector allows you to modify the properties of multiple objects.</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/20.png" /></td>
      <td class="label">Quality Assurance/td&gt; </td>
      <td>The QA Window allows you to send feedback to the Zebra Development Team</td>
    </tr>
  </tbody>
</table>
<br />
<a name="toolbox" id="toolbox"></a><h2><img src="com/alleni/html/fragments/support/images/objectsToolbox.png" class="floatRight" / style="margin-bottom:10px">Toolbox</h2>
<p>The toolbox contains controls for interacting with Zebra and objects on the stage. The top row of the toolbox contains the arrow tool, the zoom tool, and the move tool. The rest of the toolbox is dedicated to object creation (see Objects). </p>
<table style="width:400px">
  <tbody>
    <tr>
      <td class="topRow"><img src="com/alleni/html/fragments/support/images/arrow.png" /></td>
      <td class="label topRow">Arrow</td>
      <td class="topRow">The arrow tool is used for selecting and moving objects.</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/zoom.png" /></td>
      <td class="label">Zoom</td>
      <td>The zoom tool is used for zooming the application.</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/move.png" /></td>
      <td class="label">Move</td>
      <td>The move tool is used for dragging the stage to a different position.</td>
    </tr>
  </tbody>
</table>
<br />
<div class="clearer"></div>
<h2>Wiring</h2>
<p>Objects interact with each other through wiring. There are two types of wires in Zebra. For more information, see Zebra Wiring Guide.</p>
<table>
  <tbody>
    <tr>
      <td class="topRow"><img src="com/alleni/html/fragments/support/images/21.png" / style="margin-top:10px"></td>
      <td class="label topRow">Trigger</td>
      <td class="topRow">Trigger wires connect Inlet Ribbons to Outlet Ribbons.  This creates an event-response relationship between an object and itself or an object and another object. For example, the Click- release Outlet Ribbon of a button can be connected to the Hide Inlet Ribbon of an image.</td>
    </tr>
    <tr>
      <td><img src="com/alleni/html/fragments/support/images/22.png" / style="margin-top:10px"></td>
      <td class="label">Binding</td>
      <td>Binding wires connect Property Ribbons. A binding forces connected properties to have the same value. For example, binding the Location- Y(V) ribbons of two ovals will cause them to have the same vertical position when either one is moved.</td>
    </tr>
  </tbody>
</table>
      </div>
    </div>
    <div class="clearer"></div>
  