<div class="contentRight">
    <div class="tabs">
        <a href="#/support?main"><span class="tab2">Overview</span></a>
        <a href="#/support?objects"><span class="tab2">Objects</span></a>
        <a href="#/support?ribbons"><span class="tab2">Ribbons</span></a>
        <a href="#/support?wiring"><span class="tab2">Wiring</span></a>
        <a href="#/support?libraries"><span class="tab2">Libraries</span></a>
        <a href="#/support?learn"><span class="tab2">Learn</span></a>
        <a href="#/support?faq"> <span class="tab">FAQ</span></a>
         <div class="clearer"></div>
    </div>
    <div class="block support">
        <h1>Frequently Asked Questions</h1>
        <h2>
        </h2>
        <h2>Pricing/Account FAQ</h2>
        <h3>Do I have to sign-up for a ZebraZapps account?</h3>
        <p>No and yes.&nbsp; </p>
        <p>No &ndash; You don’t need an account to browse the public parts of the ZebraZapps website, view what is in the App Shopp and Gadget Shopp, or play free apps from the App Shopp.</p>
        <p>Yes &ndash; You need an account to create and publish app and gadgets, save an app acquired from the App Shopp (even if it is free), and acquire gadgets from the Gadget Shopp. </p>
        <h3>Do I have to sign up long-term?</h3>
        <p>No, you can sign-up for as short as a month.&nbsp; We automatically renew your monthly subscription, so you will need to cancel if you don’t want to continue to use the services.</p>
        <h3>How do I cancel my account?</h3>
        <p>To cancel your account, follow these steps:</p>
        <ol>
            <li>Go to the Account area.</li>
            <li>Under “Change Plan” click the “Request to Cancel”.</li>
            <li>Complete the information and click the “Submit Request” button.</li>
        </ol>
        <h3>Can I cancel my account at anytime?&nbsp; </h3>
        <p>Yes, but your account will remain active until its next renewal date.&nbsp; Any fees already paid to us are non-refundable, except in our sole and absolute discretion.&nbsp; </p>
        <h3>What types of payments are accepted?</h3>
        <p>All payments are via credit card.&nbsp; We accept VISA, MasterCard, and American Express.</p>

        <h2>&nbsp;</h2>
        <h2>Embedding or Linking To an App FAQ (Facebook, blog, website)</h2>
        <h3>Where can I embed an App?</h3>
        <p>an App published for free can be embedded on a Facebook wall, in blog posts, or custom html pages. In addition to embedding an App, a link to an App can be sent via email.</p>
        <h3>How do I embed an App in Facebook?</h3>
        <p>Simply type the shortened url provided on the app's detail page to share an App on Facebook.</p>
        <h3>How do I embed an App in my blog?</h3>
        <p>An embed button is located near the lower right hand corner of the ZebraZapps player. Clicking this button shows the embed code for the zapp which can be copied and pasted into a blog post.</p>
        <h3>How do I embed an App in a website?</h3>
        <p>Using the same code for embedding an App in a blog (see above question), an App can be placed into an html page by coping and pasting the iframe code directly into the html source.</p>
        <h3>How do I link to an App on ZebraZapps.com?</h3>
        <p>A direct link to an App can also be accessed from the embed page of the ZebraZapps player.</p>
        <h2>&nbsp;</h2>
        <h2>App Shopp &ndash; Acquire and Play</h2>
        <h3>What is an App? </h3>
        <p>an App is a published ZebraZapps project.<strong> </strong></p>
        <h3>How do I acquire an App? </h3>
        <p>To acquire an App and save it to your Account, browse the App Shopp and click the free or purchase button for the zapp you would like to acquire. If you have an Account, the acquired zapp will be saved in your Account. If you don’t have an Account, you will be prompted to set one up so you can save the zapp.<strong> </strong></p>
        <h3>What can I do with an acquired zapp?</h3>
        <p>If the zapp was free, you can embed it on your Facebook wall, on a webpage or blog and email a link to the zapp for friends to try too.<br>
            If an App has been purchased, you can access the zapp from the MyZapps page whenever you like.</p>
        <h3>How do I save an acquired zapp? Do I have to save the acquired zapp to play it?</h3>
        <p>When you click on the zapp’s free or purchase button, the zapp will automatically be saved to your Account. Free zapps can be played without saving to your account, but if you want to play them in the future without first going to the App Shopp, you will want to have it saved to your Account.</p>
        <h2>&nbsp;</h2>
        <h2>App Shopp &ndash; Publish and Sell </h2>
        <h3>What is an App?</h3>
        <p>an App is a published ZebraZapps project.</p>
        <h3>How do I publish an App?</h3>
        <p>To publish an App, open the zapp you wish to publish in the ZebraZapps editor. From the editor’s top menu bar open the <strong><em>project</em></strong> drop down and select <strong><em>publishing</em></strong>. This opens a special popup screen to enter the following information: zapp title, category you want the zapp to appear under in the App Shopp, description of the zapp, and a dollar value to sell your zapp in the App Shopp.</p>
        <h3>What can users who acquire my published zapp do with it? </h3>
        <p>When a user acquires a published zapp, it is available for them to access at anytime via their ZebraZapps Account.<br>
            If an App has been published to the App Shopp without a dollar value, users can embed this zapp on Facebook, in a webpage or email a link to the zapp for others to play.<br>
            If an App has been published for sale, users may share a link to a detail page for the zapp only. They may not embed this zapp on Facebook, in a webpage or allow other users to play it.</p>
        <h3>How do I delete my published zapp? What happens to users who had acquired my published zapp? </h3>
        <p>On the published zapp’s detail page, you will find a control to hide an App in the App Shopp. This will stop your zapp from being acquired by new users. Any user who had previously acquired your published zapp before hiding it, will continue to be able to use your zapp.</p>
        <h3>When and how do I get paid when my published zapp is acquired by someone?</h3>
        <p>You can access any revenue generated from your zapp sales after the purchaser’s payment has cleared the merchant bank and the net proceeds have been placed into your Account. Payment request information is accessible under your Account details.</p>
        <h2>&nbsp; </h2>
        <h2>Gadget Shopp &ndash; Publish and Sell</h2>
        <h3>What is a gadget?</h3>
        <p>A gadget is a reusable and extendable logic object created in the ZebraZapps editor.</p>
        <h3>How do I publish a gadget?</h3>
        <p>From the ZebraZapps editor, gadgets can be published to share or sell with other ZebraZapps users. To publish a gadget, click the circular cloud icon attached to the upper left of a gadget when the velum is closed. This opens a preview window, where you provide the description text users will see when previewing your gadget. From this popup you may chose to share the gadget for free or sell the gadget by entering a price in the lower left field.</p>
        <h3>What can users who acquire my published gadget do with it?</h3>
        <p>Users who acquire your gadget may use it for building their apps and publishing these apps. In addition, a user may extend or modify your gadget based on the editing permissions you have allowed and publish the new gadget to the Gadget Shopp. If your gadget has been published with a purchase price, you will be reimbursed any time your gadget is purchased and any time an extended or modified version of your gadget is published by another user.</p>
        <h3>How do I delete my published gadget? What happens to individuals who had purchased the published gadget?</h3>
        <p>From a published gadget’s details page, you can control a gadget’s visibility to users browsing the Gadget Shopp. To remove the gadget from the Gadget Shopp, chose ‘hide gadget’ in the publishing and sales area on the details page. Any user who had previously acquired your published gadget before hiding it, will continue to be able to use your gadget.</p>
        <h3>When and how do I get paid when my published gadget is acquired by someone?</h3>
        <p>You can access any revenue generated from your gadget sales after the purchaser’s payment has cleared the merchant bank and the net proceeds have been placed into your Account. Payment request information is accessible under your Account details.</p>
        <h2>&nbsp;</h2>
        <h2>Gadget Shopp &ndash; Acquire and Use </h2>
        <h3>What is a gadget?</h3>
        <p>A gadget is a reusable and extendable logic object created in the ZebraZapps editor.</p>
        <h3>How do I acquire a gadget?</h3>
        <p>The Gadget Shopp is filled with published gadgets you can acquire for free or purchase. Click the free or purchase button for the gadget you would like to acquire, and it will be saved in your Account.</p>
        <h3>What can I do with an acquired gadget?</h3>
        <p>An acquired gadget can be used in as many apps and projects as you would like. In addition you may modify or extend any gadget based on the editing permission the gadget’s creator has allowed and may publish the new gadget to the Gadget Shopp. Any gadget you publish to the Gadget Shopp that includes another party’s gadget, will require you to have a purchase price at least equal to the purchase price of the other party’s gadget.</p>
        <h3>How do I save an acquired gadget?</h3>
        <p>Once acquired from the Gadget Shopp, a gadget is automatically saved to your Account.</p>
        <h3>How do I use an acquired gadget?</h3>
        <p>Published gadgets that you have acquired can be accessed through the cloud dock in the editor. By dragging the gadget’s icon over the stage, your gadget will be placed inside your current project and is immediately available for use.      </p>
    </div>
</div>