
<div class="contentRight">
    <div class="tabs">
        <a href="#/support?main"><span class="tab2">Overview</span></a>
        <a href="#/support?objects"><span class="tab2">Objects</span></a>
        <a href="#/support?ribbons"><span class="tab2">Ribbons</span></a>
        <a href="#/support?wiring"><span class="tab2">Wiring</span></a>
        <a href="#/support?libraries"><span class="tab2">Libraries</span></a>
        <a href="#/support?learn"><span class="tab">Learn</span></a>
        <a href="#/support?faq"> <span class="tab2">FAQ</span></a>
         <div class="clearer"></div>
    </div>
    <div class="block support">
        <h1>Learn - Browse Demos        </h1>
        <div class="columnLeft">
            <h2>Authoring Concepts</h2>
            <p>
                <a href="#/video?27596376&amp;Drag and Drop">Creating Drag and Drop Interactions</a><br/>
                <a href="#/video?24250495&amp;Conditional Outs">Conditional Outs</a><br/>
                <a href="#/video?27498538&amp;Objects and Wiring">Objects and Wiring</a><br/>
                <a href="#/video?27498834&amp;Presets">Presets</a><br/>
                <a href="#/video?27596958&amp;Object Collision">Collision Based Interactions</a><br/>
                <a href="#/video?24250429&amp;Basic Wiring">Basic Wiring</a><br/>
                <a href="#/video?27597193&amp;Animation Paths">Animation Paths</a><br/>
                <a href="#/video?27498786&amp;Color Picker">Color Picker</a><br/>
            </p>
        </div>
        <div class="columnRight">
            <h2>Smart Objects</h2>
            <p>
                <a href="#/video?27498889&amp;Smart Objects">Smart Objects</a><br/>
                <a href="#/video?27511778&amp;Checkboxes">Checkboxes</a><br/>
                <a href="#/video?24250403&amp;Arenas">Arenas</a><br/>
                <a href="#/video?24250527&amp;Conditional Columns and Value Rows">Conditional Columns and Value Rows</a><br/>
                <a href="#/video?24250520&amp;Animation using State Tables">Animation using State Tables</a><br/>
            </p>
            <h2>Message Centers</h2>
            <p>
                <a href="#/video?27498862&amp;Ins and Outs">Ins and Outs</a><br/>
            </p>
        </div>
        <div class="clearer"></div>
    </div>
</div>
<div class="clearer"></div>
