   <div class="contentRight" id="Top">
      <div class="tabs">

       <a href="#/support?main"><span class="tab2">Overview</span></a>
        <a href="#/support?objects"><span class="tab2">Objects</span></a>
        <a href="#/support?ribbons"><span class="tab2">Ribbons</span></a>
        <a href="#/support?wiring"><span class="tab2">Wiring</span></a>
        <a href="#/support?libraries"><span class="tab">Libraries</span></a>
        <a href="#/support?learn"><span class="tab2">Learn</span></a>
        <a href="#/support?faq"> <span class="tab2">FAQ</span></a>
         <div class="clearer"></div>
      </div>
            <div class="block support">
        <h1>Libraries</h1>
        <div class="subnav">
          <p><a href="#ResourceLibrary">Resource Library</a> | <a href="#VariablesFunctions">Variables &amp; Functions</a> | <a href="#PropertyInspector">Property Inspector</a> | <a href="#RibbonLibrary">Ribbon Library</a></p>

        </div>
        <p>Libraries enable global control of an application through asset, variable, and ribbon management.</p>
<div class="divider"></div>
<h2><a name="ResourceLibrary" id="ResourceLibrary"></a>Resource Library</h2>

<p>The Resource Library can be accessed by clicking its icon on the left edge of the Stage.<br></p><img src="com/alleni/html/fragments/support/libraries/library-resource-icon.png" /><br><br>
<p>The Resource Library shows a list of the assets and the gadgets that are used in the currently open project. A menu at the top of the Resource Library allows you to choose different types of resources. Resources appear in the library with a thumbnail image or an  icon.  The name of each resource can be double-clicked and customized, if needed.</p>
<p>Use the Resource Library to import new resources into a project. At the bottom of the Library, click the &quot;+&quot; button. When a resource is imported, it appears in the Asset Library, and an instance automatically appears on the Stage. You can also use the &quot;-&quot; button to delete a resource. When you delete a resource, all its instances are also deleted.</p>

<img src="com/alleni/html/fragments/support/libraries/library-resource-01.jpg" /><br><br>
<p>A resource in the Resource Library can be dragged from the Library onto the Stage of the project. This creates an "instance" of the resource. The right column shows a "usage number" for each resource, which is how many times that it is used as an instance in the project.</p><img src="com/alleni/html/fragments/support/libraries/library-resource-02.jpg" /><br><br>
<p>Each instance can be changed independently in the project in many ways. They can be rotated or sized. Effects can be applied. Their anchor points, zoom and location can be changed. Their visibility and other properties may be change. But the original object stays in the library in its original state.</p><img src="com/alleni/html/fragments/support/libraries/library-resource-03.jpg" /><br><br>
<p>Each time you create a gadget, it also automatically goes into the Resource Library. You can create multiple instances of a gadget, just like other resources.</p><img src="com/alleni/html/fragments/support/libraries/library-resource-04.jpg" /><br>
<h3>&nbsp;</h3>
        <div class="subnav">
          <p><a href="#Top">Top</a></p>
        </div>

<div class="divider"></div>

<h2><a name="VariablesFunctions" id="VariablesFunctions"></a>Variables &amp; Functions</h2>
        <p>The Variables & Functions Library can be accessed by clicking its icon on the left edge of the Stage.</p><img src="com/alleni/html/fragments/support/libraries/library-variable-icon.png" /><br><br>
        <p>This Library shows all the system-level functions, variables, constants and operators that can be used to create expressions. Expressions allow you to create values that are evaluated as your project is running.  Menus at the top of the Variables & Functions Library allow you to see different categories and types. When you select an item, a description appears below, which usually includes examples. There is also a category of Tips with helpful suggestions.</p><img src="com/alleni/html/fragments/support/libraries/library-variable-01.jpg" /><br><br>
        <p>Functions, variables, constants and operators can be used in objects or ribbons that allow expressions to be typed into them. You can embed an expression into a text object by typing the character "{", then the expression, and then the character "}" to end the expression. For example, to create a text block that says "Today is October 23, 2011" you can type "Today is {fulldate}"  in the text object to embed the "fulldate" variable.</p><img src="com/alleni/html/fragments/support/libraries/library-variable-02.jpg" /><br><br>
        <p>You can also use functions, variables, constants and operators to create expressions in Tables and Calculations. </p><img src="com/alleni/html/fragments/support/libraries/library-variable-03.jpg" /><br><br>

        <p>Some types of ribbons can also accept expressions, such as:  Set Property ribbons (a customized "IN" ribbon), Calculated ribbons (a customized "PROPERTY" ribbon), and Conditional ribbons (a customized "OUT" ribbon). When you type functions, variables, constants and operators into these ribbon fields, you do not need to use the "{" and "}" characters to contain the item.<br><br>

To create a:<br>- Set Property ribbon: Drag a Property ribbon to the IN button at the top of the Message Center.<br>
- Calculated ribbon: Drag a Property ribbon to the PROPERTY button at the top of the Message Center.<br>
- Conditional ribbon: Drag a Property ribbon to the OUT button at the top of the Message Center.</p><img src="com/alleni/html/fragments/support/libraries/library-variable-04.jpg" /><br><br>
        <p>When you double-click an item in the Variables & Functions Library, the text of that item is selected. You can copy the function, variable, constant or operator, and then paste it into the text field, table or ribbon with which you are working.</p><img src="com/alleni/html/fragments/support/libraries/library-variable-05.jpg" /><br>
        <p>&nbsp;</p>        
        <div class="subnav">

          <p><a href="#Top">Top</a></p>
        </div>

        <div class="divider"></div>
<h2><a name="PropertyInspector" id="PropertyInspector"></a>Property Inspector</h2>
        <p>The Property Inspector can be accessed by clicking its icon on the right edge of the Stage.</p><img src="com/alleni/html/fragments/support/libraries/library-inspector-icon.png" /><br><br>
        <p>When you select an object, its name appears at the top of the Property Inspector. Just below the name is a button that allows you to show or hide an object's Message Center. If you have an object that will not be wired, this can be helpful. You may want to hide its Message Center to make it simpler to use.<br><br>
The Property Inspector gives you quick access to an object's basic properties. It opens when you select an object. For example, if you select a rectangle, it shows basic properties for rectangles. If you select a different type of object -- for example, a Clock or Slider object -- the Property Inspector changes to show basic properties for the currently selected object.</p><img src="com/alleni/html/fragments/support/libraries/library-inspector-01.jpg" /><br><br>

        <p>You can use either the Property Inspector or an object's Message Center to change the object's properties. But the Property Inspector also allows you to change multiple objects at one time. If you select a group of objects, and then use the Property Inspector to edit a property, the change will affect all the objects that you have selected and which share that property.<br><br>
The Property Inspector shows special ribbons for some objects. For example, when you select a Table, the Property Inspector shows special ribbons that allow you to show and hide parts of the table.</p><img src="com/alleni/html/fragments/support/libraries/library-inspector-02.jpg" /><br><br>
        <p>You can use the Property Inspector to preset properties for new objects:<br>
1. Select an object tool in the Toolbox... but do not create an object.<br>
2. Notice that the name at the top of the Property Inspector now includes the word "presets".<br>
3. Change the properties in the Property Inspector.
4. Create new objects with the selected tool. <br>
5. They will have your new preset property settings.<br></p><img src="com/alleni/html/fragments/support/libraries/library-inspector-03.jpg" /><br>
<h3>&nbsp;</h3>

        <div class="subnav">
          <p><a href="#Top">Top</a></p>
        </div>

<div class="divider"></div>
<h2><a name="RibbonLibrary" id="RibbonLibrary"></a>Ribbon Library</h2>
        <p>The Ribbon Library can be accessed by clicking its icon on the right edge of the Stage.</p><img src="com/alleni/html/fragments/support/libraries/library-ribbon-icon.png" /><br><br>
        <p>When you select an object, its name appears at the top of the Ribbon Library. Just below the name is a button that allows you to show or hide an object's Message Center. If you have an object that will not be wired, this can be helpful. You may want to hide its Message Center to make it simpler to use.<br><br>

The Ribbon Library holds all IN, OUT and PROPERTY ribbons that are available for each object. Like the Property Inspector, the Ribbon Library shows you only the ribbons that are available for the object or objects that you have selected, and when you change properties in the Ribbon Library, it changes those properties in your selected objects.<br><br>

With the Ribbon Library, you can customize both an object's Property Inspector and its Message Center. In the Ribbon Library, on the left side of each ribbon, there are two buttons. Click each button to turn it ON or OFF.</p><img src="com/alleni/html/fragments/support/libraries/library-ribbon-01.jpg" /><br><br>
        <p>The right button affects the selected object's Property Inspector.  When the "Property Inspector" button is ON, that ribbon will appear in the Property Inspector for the object you have selected.  When you click the button next to a category name, all the ribbons in that category are turned ON or OFF.</p><img src="com/alleni/html/fragments/support/libraries/library-ribbon-02.jpg" /><br><br>
        <p>The left button affects the selected object's Message Center. This button allows you to choose which ribbons stay visible in an object's Message Center when its categories are closed. When a "Message Center" button in the Ribbon Library is ON, its associated ribbon stays visible in the Message Center of the object you have selected. This can be helpful while you are wiring. When a ribbon stays visible in the Message Center, you can quickly wire to it, instead of opening the categories to find the ribbon that you need.</p><img src="com/alleni/html/fragments/support/libraries/library-ribbon-03.jpg" /><br><br>
        <p>You can use the Ribbon Library to preset the Property Inspector and Message Centers for new objects:<br>
1. Select an object tool in the Toolbox... but do not create an object.<br>

2. Notice that the name at the top of the Ribbon Library now includes the word "presets".<br>
3. Click the Property Inspector and Message Center buttons to turn them ON or OFF.<br>
4. Create new objects with the selected tool.<br>
5. Their Property Inspector and Message Centers will show your new preset ribbons.<br></p><img src="com/alleni/html/fragments/support/libraries/library-ribbon-04.jpg" /><br>
        <p>&nbsp;</p>
                
        <div class="subnav">
          <p><a href="#Top">Top</a></p>
        </div>

      </div>
    </div>
    <div class="clearer"></div>