
    <div class="contentRight">
      <div class="tabs">
        <a href="#/support?main"><span class="tab2">Overview</span></a>
        <a href="#/support?objects"><span class="tab">Objects</span></a>
        <a href="#/support?ribbons"><span class="tab2">Ribbons</span></a>
        <a href="#/support?wiring"><span class="tab2">Wiring</span></a>
        <a href="#/support?libraries"><span class="tab2">Libraries</span></a>
        <a href="#/support?learn"><span class="tab2">Learn</span></a>
        <a href="#/support?faq"> <span class="tab2">FAQ</span></a>
        <div class="clearer"></div>
      </div>
      <div class="block support objects">
        <h1>Objects</h1>
        <p>Objects are the building blocks in creating Apps and Gadgets.  They can be found in the Toolbox next to the Stage.  To create an Object, click and drag one of the icons from the toolbox and drop it onto the Stage.  The user is then able to begin building simple interactions by wiring Object properties together.</p>
        <div class="column1" style="font-size:18px">
          <ul>
            <li><a href="#/support?objects/answerJudgingTable"><img src="com/alleni/html/fragments/support/images/judge_now_table_icon.png" width="25" height="25" /> Answer-Judging  Tables</a></li>
            <li><a href="#/support?objects/arena"><img src="com/alleni/html/fragments/support/images/arena.png" /> Arena</a></li>
            <li><a href="#/support?objects/audio"><img src="com/alleni/html/fragments/support/images/audio.png" /> Audio</a></li>
            <li><a href="#/support?objects/button"><img src="com/alleni/html/fragments/support/images/button.png" /> Button</a></li>
            <li><a href="#/support?objects/calculator"><img src="com/alleni/html/fragments/support/images/calculator.png" /> Calculator</a></li>
            <li><a href="#/support?objects/checkbox"><img src="com/alleni/html/fragments/support/images/checkbox.png" /> Checkbox</a><br />
            </li>
            <li><a href="#/support?objects/clock"><img src="com/alleni/html/fragments/support/images/clock.png" /> Clock</a></li>
            <li><a href="#/support?objects/line"><img src="com/alleni/html/fragments/support/images/line.png" /> Line</a></li>
            <li><a href="#/support?objects/map"><img src="com/alleni/html/fragments/support/images/map.png" /> Map</a> </li>
            <li><a href="#/support?objects/oval"><img src="com/alleni/html/fragments/support/images/oval.png" /> Oval</a></li>
            <li><a href="#/support?objects/path"><img src="com/alleni/html/fragments/support/images/path.png" /> Path</a></li>
          </ul>
        </div>
        <div class="column2" style="font-size:18px">
          <ul>
            <li><a href="#/support?objects/polygon"><img src="com/alleni/html/fragments/support/images/polygon.png" /> Polygon</a></li>
            <li><a href="#/support?objects/radioButton"><img src="com/alleni/html/fragments/support/images/radiobutton.png" /> Radio Button</a></li>
            <li><a href="#/support?objects/rectangle"><img src="com/alleni/html/fragments/support/images/rectangle.png" /> Rectangle</a></li>
            <li><a href="#/support?objects/slider"><img src="com/alleni/html/fragments/support/images/slider.png" /> Slider</a></li>
            <li><a href="#/support?objects/stateTable"><img src="com/alleni/html/fragments/support/images/stateTable.png" /> State Table</a></li>
            <li><a href="#/support?objects/text"><img src="com/alleni/html/fragments/support/images/text.png" /> Text</a></li>
            <li><a href="#/support?objects/textInput"><img src="com/alleni/html/fragments/support/images/textInput.png" /> Text Input</a></li>
            <li><a href="#/support?objects/truthtables"><img src="com/alleni/html/fragments/support/images/truth_table_icon.png" /> Truth Tables</a></li>
            <li><a href="#/support?objects/video"><img src="com/alleni/html/fragments/support/images/video.png" /> Video</a></li>
            <li><a href="#/support?objects/weblink"><img src="com/alleni/html/fragments/support/images/weblink.png" />Weblink</a></li>
          </ul>
        </div>
        <div class="column3">
          <ul>
            <li><img src="com/alleni/html/fragments/support/images/objectsToolbox.png" width="150" height="399" /></li>
          </ul>
        </div>
<div class="clearer"></div>
      </div>
    </div>
    <div class="clearer"></div>
 