
    <div class="contentRight">
      <div class="tabs">
        <a href="#/support?main"><span class="tab2">Overview</span></a>
        <a href="#/support?objects"><span class="tab2">Objects</span></a>
        <a href="#/support?ribbons"><span class="tab">Ribbons</span></a>
        <a href="#/support?wiring"><span class="tab2">Wiring</span></a>
        <a href="#/support?libraries"><span class="tab2">Libraries</span></a>
        <a href="#/support?learn"><span class="tab2">Learn</span></a>
        <a href="#/support?faq"> <span class="tab2">FAQ</span></a>
         <div class="clearer"></div>
      </div>
      <div class="block support">
<h1>Ribbon Glossary</h1>
        <p>Each object has inputs and outputs that can be wired together to create instant interactions.  These inputs and outputs are found within the Message Centers as Ribbons.  Simply connect gestures to the properties and dictate the changes that should occur.        </p>
        <h3>Inlets</h3>
        <table>
          <thead>
          </thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
          </tr>
          <tbody>
            <tr>
              <td class='label'>Bring- forward</td>
              <td>DISPLAY</td>
              <td>Bring an object forward.</td>
            </tr>
            <tr>
              <td class='label'>Bring- to front</td>
              <td>DISPLAY</td>
              <td>Bring an object to the front of all other objects.</td>
            </tr>
            <tr>
              <td class='label'>Cloak</td>
              <td>DISPLAY</td>
              <td>Hide an object when the application is running.</td>
            </tr>
            <tr>
              <td class='label'>Hide</td>
              <td>DISPLAY</td>
              <td>Make an object disappear.</td>
            </tr>
            <tr>
              <td class='label'>Send- backward</td>
              <td>DISPLAY</td>
              <td>Send an object backward.</td>
            </tr>
            <tr>
              <td class='label'>Send- to back</td>
              <td>DISPLAY</td>
              <td>Send the object behind all other objects.</td>
            </tr>
            <tr>
              <td class='label'>Show</td>
              <td>DISPLAY</td>
              <td>Make an object appear.</td>
            </tr>
            <tr>
              <td class='label'>Add pg- after</td>
              <td>DO</td>
              <td>Add a page after the current page in the arena.</td>
            </tr>
            <tr>
              <td class='label'>Add pg- before</td>
              <td>DO</td>
              <td>Add a page before the current page in the arena.</td>
            </tr>
            <tr>
              <td class='label'>Check</td>
              <td>DO</td>
              <td>Check the object.</td>
            </tr>
            <tr>
              <td class='label'>Delete page</td>
              <td>DO</td>
              <td>Delete the current page of the arena.</td>
            </tr>
            <tr>
              <td class='label'>Go- first page</td>
              <td>DO</td>
              <td>Go to the first page of the arena.</td>
            </tr>
            <tr>
              <td class='label'>Go- last page</td>
              <td>DO</td>
              <td>Go to the last page of the arena.</td>
            </tr>
            <tr>
              <td class='label'>Go- next page</td>
              <td>DO</td>
              <td>Go to the next page of the arena.</td>
            </tr>
            <tr>
              <td class='label'>Go- prev page</td>
              <td>DO</td>
              <td>Go to the previous page of the arena.</td>
            </tr>
            <tr>
              <td class='label'>Invert- and nudge</td>
              <td>DO</td>
              <td>Invert the nudge value and nudge the slider object.</td>
            </tr>
            <tr>
              <td class='label'>Invert- nudge value</td>
              <td>DO</td>
              <td>Invert the nudge value for the slider object.</td>
            </tr>
            <tr>
              <td class='label'>Move pg- backward</td>
              <td>DO</td>
              <td>Move the arena page backward in the arena.</td>
            </tr>
            <tr>
              <td class='label'>Move pg- forward</td>
              <td>DO</td>
              <td>Move the arena page forward in the arena.</td>
            </tr>
            <tr>
              <td class='label'>Move pg- to first</td>
              <td>DO</td>
              <td>Move the arena page to the beginning of the arena.</td>
            </tr>
            <tr>
              <td class='label'>Move pg- to last</td>
              <td>DO</td>
              <td>Move the arena page to the end of the arena.</td>
            </tr>
            <tr>
              <td class='label'>Nudge- down</td>
              <td>DO</td>
              <td>Nudge the slider down by the nudge value.</td>
            </tr>
            <tr>
              <td class='label'>Nudge- up</td>
              <td>DO</td>
              <td>Nudge the slider up by the nudge value.</td>
            </tr>
            <tr>
              <td class='label'>Pause</td>
              <td>DO</td>
              <td>Pause playing for the object.</td>
            </tr>
            <tr>
              <td class='label'>Press</td>
              <td>DO</td>
              <td>Press the object.</td>
            </tr>
            <tr>
              <td class='label'>Put back</td>
              <td>DO</td>
              <td>Return an object to its original position after missing a drop target.</td>
            </tr>
            <tr>
              <td class='label'>Release</td>
              <td>DO</td>
              <td>Release the object.</td>
            </tr>
            <tr>
              <td class='label'>Restart</td>
              <td>DO</td>
              <td>Restart playing for the object.</td>
            </tr>
            <tr>
              <td class='label'>Resume</td>
              <td>DO</td>
              <td>Resume playing for the object.</td>
            </tr>
            <tr>
              <td class='label'>Set random value</td>
              <td>DO</td>
              <td>Set a random value for the object.</td>
            </tr>
            <tr>
              <td class='label'>Start</td>
              <td>DO</td>
              <td>Start playing for the object.</td>
            </tr>
            <tr>
              <td class='label'>Stop</td>
              <td>DO</td>
              <td>Stop playing for the object.</td>
            </tr>
            <tr>
              <td class='label'>Toggle</td>
              <td>DO</td>
              <td>Toggle the checked value for the object.</td>
            </tr>
            <tr>
              <td class='label'>Toggle- pause</td>
              <td>DO</td>
              <td>Toggle whether the object is paused or playing.</td>
            </tr>
            <tr>
              <td class='label'>Uncheck</td>
              <td>DO</td>
              <td>Uncheck the object.</td>
            </tr>
            <tr>
              <td class='label'>Update {exp}</td>
              <td>DO</td>
              <td>Update the text of the object based on an expression.</td>
            </tr>
          </tbody>
        </table>
        <h3>Properties</h3>
        <table>
          <thead>
          </thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
          </tr>
          <tbody>
            <tr>
              <td class='label'>Auto start</td>
              <td>ACTIONS</td>
              <td>Toggle whether the object starts automatically when the application runs.</td>
            </tr>
            <tr>
              <td class='label'>Clipped- height</td>
              <td>ACTIONS</td>
              <td>Set the clipped height of the arena.</td>
            </tr>
            <tr>
              <td class='label'>Clipped- width</td>
              <td>ACTIONS</td>
              <td>Set the clipped width of the arena.</td>
            </tr>
            <tr>
              <td class='label'>Colliding with</td>
              <td>ACTIONS</td>
              <td>Set the name of the object that is the collision target.</td>
            </tr>
            <tr>
              <td class='label'>Content- height</td>
              <td>ACTIONS</td>
              <td>Set the height of the content for the arena.</td>
            </tr>
            <tr>
              <td class='label'>Content- width</td>
              <td>ACTIONS</td>
              <td>Set the width of the content for the arena.</td>
            </tr>
            <tr>
              <td class='label'>Dropped on</td>
              <td>ACTIONS</td>
              <td>Set the name of the object that is the drop target.</td>
            </tr>
            <tr>
              <td class='label'>Enable- outs</td>
              <td>ACTIONS</td>
              <td>Toggle whether an object's outlet ribbons can trigger inlets.</td>
            </tr>
            <tr>
              <td class='label'>Inertia</td>
              <td>ACTIONS</td>
              <td>Toggle whether an object has inertia.</td>
            </tr>
            <tr>
              <td class='label'>Loop</td>
              <td>ACTIONS</td>
              <td>Toggle whether the playing of the object loops.</td>
            </tr>
            <tr>
              <td class='label'>Momentary</td>
              <td>ACTIONS</td>
              <td>Toggle whether the button is momentary.</td>
            </tr>
            <tr>
              <td class='label'>Movable</td>
              <td>ACTIONS</td>
              <td>Toggle whether an object is movable when the applicaiton is running.</td>
            </tr>
            <tr>
              <td class='label'>Obj- accept</td>
              <td>ACTIONS</td>
              <td>Toggle whether the arena can accept objects.</td>
            </tr>
            <tr>
              <td class='label'>Obj- release</td>
              <td>ACTIONS</td>
              <td>Toggle whether the arena can release objects.</td>
            </tr>
            <tr>
              <td class='label'>Paging- secs</td>
              <td>ACTIONS</td>
              <td>Set the time it takes for the arena to change pages.</td>
            </tr>
            <tr>
              <td class='label'>Paging- trans</td>
              <td>ACTIONS</td>
              <td>Set the page transition for the arena.</td>
            </tr>
            <tr>
              <td class='label'>Paging- tween</td>
              <td>ACTIONS</td>
              <td>Set the paging tween for the arena.</td>
            </tr>
            <tr>
              <td class='label'>Path- %</td>
              <td>ACTIONS</td>
              <td>Set the percentage of the object along its path.</td>
            </tr>
            <tr>
              <td class='label'>Path- end value</td>
              <td>ACTIONS</td>
              <td>Set the end value of the path.</td>
            </tr>
            <tr>
              <td class='label'>Path- jump gaps</td>
              <td>ACTIONS</td>
              <td>Toggle whether an object attached to a path should jump gaps in the path or stay on the path line.</td>
            </tr>
            <tr>
              <td class='label'>Path- name</td>
              <td>ACTIONS</td>
              <td>Set the name of a path object the given object should attach to.</td>
            </tr>
            <tr>
              <td class='label'>Path- start value</td>
              <td>ACTIONS</td>
              <td>Set the start value of the path.</td>
            </tr>
            <tr>
              <td class='label'>Path- value</td>
              <td>ACTIONS</td>
              <td>Set the value of the path.</td>
            </tr>
            <tr>
              <td class='label'>Play- actual</td>
              <td>ACTIONS</td>
              <td>Get the actual pages per second playing in the arena.</td>
            </tr>
            <tr>
              <td class='label'>Play- no skip</td>
              <td>ACTIONS</td>
              <td>Toggle whether to skip pages when playing the arena.</td>
            </tr>
            <tr>
              <td class='label'>Play- p/sec</td>
              <td>ACTIONS</td>
              <td>Get or set the pages per second value when the arena plays.</td>
            </tr>
            <tr>
              <td class='label'>Preload</td>
              <td>ACTIONS</td>
              <td>Toggle whether the object preloads when the application runs.</td>
            </tr>
            <tr>
              <td class='label'>Put back- secs</td>
              <td>ACTIONS</td>
              <td>Set the amount of time (secs) it will take for an object to be put back after a missed drop event.</td>
            </tr>
            <tr>
              <td class='label'>Rotatable</td>
              <td>ACTIONS</td>
              <td>Toggle whether an object can be rotated by the user when the application is running.</td>
            </tr>
            <tr>
              <td class='label'>Submit text</td>
              <td>ACTIONS</td>
              <td>Trigger a wire when the text is submitted.</td>
            </tr>
            <tr>
              <td class='label'>Align obj- V</td>
              <td>ALIGN</td>
              <td>Set the vertical alignment of objects in the arena.</td>
            </tr>
            <tr>
              <td class='label'>Align objs- H</td>
              <td>ALIGN</td>
              <td>Set the horizontal alignment of objects in the arena.</td>
            </tr>
            <tr>
              <td class='label'>Align text- H</td>
              <td>ALIGN</td>
              <td>Set the horizontal text alignment.</td>
            </tr>
            <tr>
              <td class='label'>Align text- V</td>
              <td>ALIGN</td>
              <td>Set the vertical text alignment.</td>
            </tr>
            <tr>
              <td class='label'>Align to arena- H</td>
              <td>ALIGN</td>
              <td>Align objects horizontally in an arena.</td>
            </tr>
            <tr>
              <td class='label'>Align to arena- V</td>
              <td>ALIGN</td>
              <td>Align objects vertically in an arena.</td>
            </tr>
            <tr>
              <td class='label'>Fill x- color, gradient, jelly</td>
              <td>APPEARANCE</td>
              <td></td>
            </tr>
            <tr>
              <td class='label'>Fill- color</td>
              <td>APPEARANCE</td>
              <td>Set the fill color of the object.</td>
            </tr>
            <tr>
              <td class='label'>Fill- color, gradient, jelly</td>
              <td>APPEARANCE</td>
              <td></td>
            </tr>
            <tr>
              <td class='label'>Fill- graphic</td>
              <td>APPEARANCE</td>
              <td>Set the fill graphic for the object.</td>
            </tr>
            <tr>
              <td class='label'>Fill- graphic</td>
              <td>APPEARANCE</td>
              <td>Get or set the fill graphic for the object.</td>
            </tr>
            <tr>
              <td class='label'>Fill- opacity %</td>
              <td>APPEARANCE</td>
              <td>Set the fill opacity percent of the object (0-100)</td>
            </tr>
            <tr>
              <td class='label'>Hand- color</td>
              <td>APPEARANCE</td>
              <td>Set the hand color for the object.</td>
            </tr>
            <tr>
              <td class='label'>Hand- opacity %</td>
              <td>APPEARANCE</td>
              <td>Set the hand opacity percent (0-100).</td>
            </tr>
            <tr>
              <td class='label'>Hand- weight</td>
              <td>APPEARANCE</td>
              <td>Set the hand weight for the object.</td>
            </tr>
            <tr>
              <td class='label'>High quality</td>
              <td>APPEARANCE</td>
              <td>Toggle whether the video is high quality.</td>
            </tr>
            <tr>
              <td class='label'>Insertion bar</td>
              <td>APPEARANCE</td>
              <td>Toggle whether to show a bar where an object will be placed in the arena (available for arenas using Grid, V-Box, and H-Box layouts).</td>
            </tr>
            <tr>
              <td class='label'>Insertion bar- color</td>
              <td>APPEARANCE</td>
              <td>Set the color of the insertion bar for the arena.</td>
            </tr>
            <tr>
              <td class='label'>Knob- color, gradient, jelly</td>
              <td>APPEARANCE</td>
              <td></td>
            </tr>
            <tr>
              <td class='label'>Knob- graphic</td>
              <td>APPEARANCE</td>
              <td>Set the knob graphic.</td>
            </tr>
            <tr>
              <td class='label'>Knob- opacity %</td>
              <td>APPEARANCE</td>
              <td>Set the opacity percent of the knob (0-100).</td>
            </tr>
            <tr>
              <td class='label'>Line- color</td>
              <td>APPEARANCE</td>
              <td>Set the line color of the object.</td>
            </tr>
            <tr>
              <td class='label'>Line- opacity %</td>
              <td>APPEARANCE</td>
              <td>Set the line opacity percent of the object (0-100)</td>
            </tr>
            <tr>
              <td class='label'>Line- weight</td>
              <td>APPEARANCE</td>
              <td>Set the line weight of the object.</td>
            </tr>
            <tr>
              <td class='label'>Point spacing</td>
              <td>APPEARANCE</td>
              <td>Set the spacing between points for the path object.</td>
            </tr>
            <tr>
              <td class='label'>Use check mark, not X</td>
              <td>APPEARANCE</td>
              <td>Toggle whether to use a check mark instead of an X for the object.</td>
            </tr>
            <tr>
              <td class='label'>x mark- color</td>
              <td>APPEARANCE</td>
              <td>Get or set the check mark color for the object.</td>
            </tr>
            <tr>
              <td class='label'>x mark- opacity %</td>
              <td>APPEARANCE</td>
              <td>Get or set the check mark opacity for the object.</td>
            </tr>
            <tr>
              <td class='label'>x mark- weight</td>
              <td>APPEARANCE</td>
              <td>Get or set the check mark weight.</td>
            </tr>
            <tr>
              <td class='label'>- disabled</td>
              <td>BUTTON GRAPHICS</td>
              <td>Set the disabled graphic for the button when it is checked.</td>
            </tr>
            <tr>
              <td class='label'>- down</td>
              <td>BUTTON GRAPHICS</td>
              <td>Set the down graphic for the button when it is checked.</td>
            </tr>
            <tr>
              <td class='label'>- over</td>
              <td>BUTTON GRAPHICS</td>
              <td>Set the over graphic for the button when it is checked.</td>
            </tr>
            <tr>
              <td class='label'>- up</td>
              <td>BUTTON GRAPHICS</td>
              <td>Set the up graphic for the button when it is checked.</td>
            </tr>
            <tr>
              <td class='label'>9-slice scaling</td>
              <td>BUTTON GRAPHICS</td>
              <td>Toggle whether to use 9-slice scaling for a button graphic.</td>
            </tr>
            <tr>
              <td class='label'>Disabled</td>
              <td>BUTTON GRAPHICS</td>
              <td>Set the disabled graphic for the button.</td>
            </tr>
            <tr>
              <td class='label'>Down</td>
              <td>BUTTON GRAPHICS</td>
              <td>Set the down graphic for the button.</td>
            </tr>
            <tr>
              <td class='label'>Over</td>
              <td>BUTTON GRAPHICS</td>
              <td>Set the over graphic for the button.</td>
            </tr>
            <tr>
              <td class='label'>Up</td>
              <td>BUTTON GRAPHICS</td>
              <td>Set the up graphic for the button.</td>
            </tr>
            <tr>
              <td class='label'>Author notes</td>
              <td>EFFECTS</td>
              <td>Set a value to show author note annotations of the object.</td>
            </tr>
            <tr>
              <td class='label'>Blend Mode</td>
              <td>EFFECTS</td>
              <td>Set the blend mode of the object.</td>
            </tr>
            <tr>
              <td class='label'>Blur</td>
              <td>EFFECTS</td>
              <td>Set the blur value of the object.</td>
            </tr>
            <tr>
              <td class='label'>Glow- color</td>
              <td>EFFECTS</td>
              <td>Set the color of the glow for the object.</td>
            </tr>
            <tr>
              <td class='label'>Glow- inner</td>
              <td>EFFECTS</td>
              <td>Toggle whether the glow is an inner glow.</td>
            </tr>
            <tr>
              <td class='label'>Glow- length</td>
              <td>EFFECTS</td>
              <td>Set the length of the glow for the object.</td>
            </tr>
            <tr>
              <td class='label'>Glow- strength</td>
              <td>EFFECTS</td>
              <td>Set the strength of the glow effect for the object.</td>
            </tr>
            <tr>
              <td class='label'>Reflection</td>
              <td>EFFECTS</td>
              <td>Toggle whether the object has a reflection.</td>
            </tr>
            <tr>
              <td class='label'>Saturation</td>
              <td>EFFECTS</td>
              <td>Set the saturation value for the object (0-100).</td>
            </tr>
            <tr>
              <td class='label'>Shadow- angle</td>
              <td>EFFECTS</td>
              <td>Set the angle of the shadow for the object.</td>
            </tr>
            <tr>
              <td class='label'>Shadow- color</td>
              <td>EFFECTS</td>
              <td>Set the color of the shadow for the object.</td>
            </tr>
            <tr>
              <td class='label'>Shadow- length</td>
              <td>EFFECTS</td>
              <td>Set the length of the shadow for the object.</td>
            </tr>
            <tr>
              <td class='label'>Shadow- opac %</td>
              <td>EFFECTS</td>
              <td>Set the opacity percent of the shadow for the object (0-100).</td>
            </tr>
            <tr>
              <td class='label'>Font- bold</td>
              <td>FONT</td>
              <td>Toggle the bold value of the text for the object.</td>
            </tr>
            <tr>
              <td class='label'>Font- color</td>
              <td>FONT</td>
              <td>Set the text color for the object.</td>
            </tr>
            <tr>
              <td class='label'>Font- italic</td>
              <td>FONT</td>
              <td>Toggle the italic value of the text for the object.</td>
            </tr>
            <tr>
              <td class='label'>Font- name</td>
              <td>FONT</td>
              <td>Set the font name for the object.</td>
            </tr>
            <tr>
              <td class='label'>Font- opacity %</td>
              <td>FONT</td>
              <td>Set the opacity percent of the text for the object (0-100).</td>
            </tr>
            <tr>
              <td class='label'>Font- size</td>
              <td>FONT</td>
              <td>Set the font size for the object.</td>
            </tr>
            <tr>
              <td class='label'>Font- underline</td>
              <td>FONT</td>
              <td>Toggle the underline value of the text for the object.</td>
            </tr>
            <tr>
              <td class='label'>Anchor Point</td>
              <td>GEOMETRY</td>
              <td>Set the anchor point of an object.</td>
            </tr>
            <tr>
              <td class='label'>Corner Radius</td>
              <td>GEOMETRY</td>
              <td>Set the corner radius of the object.</td>
            </tr>
            <tr>
              <td class='label'>Fill- graphic</td>
              <td>GEOMETRY</td>
              <td>Set the fill graphic for the object.</td>
            </tr>
            <tr>
              <td class='label'>Keep aspect ratio</td>
              <td>GEOMETRY</td>
              <td>Toggle whether to maintain the aspect ratio of the object.</td>
            </tr>
            <tr>
              <td class='label'>Location- X (H)</td>
              <td>GEOMETRY</td>
              <td>Set the horizontal (x) position of the object.</td>
            </tr>
            <tr>
              <td class='label'>Location- XYR</td>
              <td>GEOMETRY</td>
              <td>Set the x, y, and rotation values of the object simultaneous.</td>
            </tr>
            <tr>
              <td class='label'>Location- Y (V)</td>
              <td>GEOMETRY</td>
              <td>Set the vertical (y) position of an object.</td>
            </tr>
            <tr>
              <td class='label'>Location- Z</td>
              <td>GEOMETRY</td>
              <td>Set the stacking order (z-index) of the object.</td>
            </tr>
            <tr>
              <td class='label'>Replace fit</td>
              <td>GEOMETRY</td>
              <td>Set how to fit a graphic that replaces the object.</td>
            </tr>
            <tr>
              <td class='label'>Rotate degrees</td>
              <td>GEOMETRY</td>
              <td>Set the rotation (degrees) of the object.</td>
            </tr>
            <tr>
              <td class='label'>Size- height</td>
              <td>GEOMETRY</td>
              <td>Set the height of the object.</td>
            </tr>
            <tr>
              <td class='label'>Size- width</td>
              <td>GEOMETRY</td>
              <td>Set the width of the object.</td>
            </tr>
            <tr>
              <td class='label'>Zoom- %</td>
              <td>GEOMETRY</td>
              <td>Set the zoom percent of the object.</td>
            </tr>
            <tr>
              <td class='label'>Auto size</td>
              <td>LAYOUT</td>
              <td>Enable or disable autosize for the object.</td>
            </tr>
            <tr>
              <td class='label'>Columns</td>
              <td>LAYOUT</td>
              <td>Set the number of columns for the object.</td>
            </tr>
            <tr>
              <td class='label'>Columns</td>
              <td>LAYOUT</td>
              <td>Set the number of columns for the arena.</td>
            </tr>
            <tr>
              <td class='label'>Columns- gap</td>
              <td>LAYOUT</td>
              <td>Set the gap between columns.</td>
            </tr>
            <tr>
              <td class='label'>Columns- gap</td>
              <td>LAYOUT</td>
              <td>Set the space between columns for the arena.</td>
            </tr>
            <tr>
              <td class='label'>Label gap</td>
              <td>LAYOUT</td>
              <td>Set the label gap for the object.</td>
            </tr>
            <tr>
              <td class='label'>Label position</td>
              <td>LAYOUT</td>
              <td>Set the label position for the object.</td>
            </tr>
            <tr>
              <td class='label'>Layout</td>
              <td>LAYOUT</td>
              <td>Set the layout type for the arena (free, grid, hbox, vbox).</td>
            </tr>
            <tr>
              <td class='label'>Layout chg- sec</td>
              <td>LAYOUT</td>
              <td>Set the tween time for layout changes in the arena.</td>
            </tr>
            <tr>
              <td class='label'>Layout chg- tween</td>
              <td>LAYOUT</td>
              <td>Set the tween type for layout changes in the arena.</td>
            </tr>
            <tr>
              <td class='label'>Margin- all</td>
              <td>LAYOUT</td>
              <td>Set the top, bottom, left, and right margins for the object.</td>
            </tr>
            <tr>
              <td class='label'>Margin- all</td>
              <td>LAYOUT</td>
              <td>Set the top, bottom, left, and right margins.</td>
            </tr>
            <tr>
              <td class='label'>Margin- B</td>
              <td>LAYOUT</td>
              <td>Set the bottom margin.</td>
            </tr>
            <tr>
              <td class='label'>Margin- L</td>
              <td>LAYOUT</td>
              <td>Set the left margin.</td>
            </tr>
            <tr>
              <td class='label'>Margin- R</td>
              <td>LAYOUT</td>
              <td>Set the right margin.</td>
            </tr>
            <tr>
              <td class='label'>Margin- T</td>
              <td>LAYOUT</td>
              <td>Set the top margin.</td>
            </tr>
            <tr>
              <td class='label'>Margins</td>
              <td>LAYOUT</td>
              <td>Set the margins of the object.</td>
            </tr>
            <tr>
              <td class='label'>Rows</td>
              <td>LAYOUT</td>
              <td>Set the number of rows for the arena.</td>
            </tr>
            <tr>
              <td class='label'>Rows- gap</td>
              <td>LAYOUT</td>
              <td>Set the space between rows for the arena.</td>
            </tr>
            <tr>
              <td class='label'>Scroll pos- H %</td>
              <td>LAYOUT</td>
              <td>Set the horizontal scroll percent of the object (0-100)</td>
            </tr>
            <tr>
              <td class='label'>Scroll- text height</td>
              <td>LAYOUT</td>
              <td>Read the text length (in pixels) to create custom scrolling.</td>
            </tr>
            <tr>
              <td class='label'>Scroll- V</td>
              <td>LAYOUT</td>
              <td>Set the vertical scroll value of the object (off, on, auto).</td>
            </tr>
            <tr>
              <td class='label'>Scrool pos- V %</td>
              <td>LAYOUT</td>
              <td>Set the vertical scroll percent of the object (0-100)</td>
            </tr>
            <tr>
              <td class='label'>%- elapsed</td>
              <td>VALUES</td>
              <td>The percent of time elapsed for the object (0-100).</td>
            </tr>
            <tr>
              <td class='label'>%- elapsed</td>
              <td>VALUES</td>
              <td>Get or set the percent of time elapsed for the object (0-100).</td>
            </tr>
            <tr>
              <td class='label'>%- remaining</td>
              <td>VALUES</td>
              <td>The percent of time remaining for the object (0-100).</td>
            </tr>
            <tr>
              <td class='label'>%- remaining</td>
              <td>VALUES</td>
              <td>Get or set the percent of time remaining for the object (0-100).</td>
            </tr>
            <tr>
              <td class='label'>Checked</td>
              <td>VALUES</td>
              <td>Get or set whether the object is checked.</td>
            </tr>
            <tr>
              <td class='label'>Cycles- current</td>
              <td>VALUES</td>
              <td>Get the current cycle for the object.</td>
            </tr>
            <tr>
              <td class='label'>Cycles- total</td>
              <td>VALUES</td>
              <td>Get or set the total number of cycles for the object.</td>
            </tr>
            <tr>
              <td class='label'>Down</td>
              <td>VALUES</td>
              <td>Get or set whether the object is down.</td>
            </tr>
            <tr>
              <td class='label'>Label- checked</td>
              <td>VALUES</td>
              <td>Get or set the value of the label when the object is checked.</td>
            </tr>
            <tr>
              <td class='label'>Label- up</td>
              <td>VALUES</td>
              <td>Get or set the text value of the label when the object is up.</td>
            </tr>
            <tr>
              <td class='label'>Map- latitude</td>
              <td>VALUES</td>
              <td>Set the map latitude.</td>
            </tr>
            <tr>
              <td class='label'>Map- longitude</td>
              <td>VALUES</td>
              <td>Set the map longitude.</td>
            </tr>
            <tr>
              <td class='label'>Map- type</td>
              <td>VALUES</td>
              <td>Set the map type.</td>
            </tr>
            <tr>
              <td class='label'>Map- zoom level</td>
              <td>VALUES</td>
              <td>Set the zoom level for the map.</td>
            </tr>
            <tr>
              <td class='label'>Max char count</td>
              <td>VALUES</td>
              <td>Set the maximum number of characters allowed in the text field.</td>
            </tr>
            <tr>
              <td class='label'>Nudge amount</td>
              <td>VALUES</td>
              <td>Get or set the slider nudge amount.</td>
            </tr>
            <tr>
              <td class='label'>Numbers only</td>
              <td>VALUES</td>
              <td>Toggle whether the text is numbers only.</td>
            </tr>
            <tr>
              <td class='label'>Obj- total</td>
              <td>VALUES</td>
              <td>Get the total number of object in the arena.</td>
            </tr>
            <tr>
              <td class='label'>Page- current</td>
              <td>VALUES</td>
              <td>Get or set the current page of the arena.</td>
            </tr>
            <tr>
              <td class='label'>Page- total</td>
              <td>VALUES</td>
              <td>Get or set the total number of pages in the arena.</td>
            </tr>
            <tr>
              <td class='label'>Secs- elapsed</td>
              <td>VALUES</td>
              <td>Set the number of seconds elapsed for the object.</td>
            </tr>
            <tr>
              <td class='label'>Secs- elapsed</td>
              <td>VALUES</td>
              <td>Get or set the number of seconds elapsed for the object.</td>
            </tr>
            <tr>
              <td class='label'>Secs- per cycle</td>
              <td>VALUES</td>
              <td>Set the seconds per cycle for the object.</td>
            </tr>
            <tr>
              <td class='label'>Secs- remaining</td>
              <td>VALUES</td>
              <td>The number of seconds remaining for the object.</td>
            </tr>
            <tr>
              <td class='label'>Secs- remaining</td>
              <td>VALUES</td>
              <td>Get or set the number of seconds remaining for the object.</td>
            </tr>
            <tr>
              <td class='label'>Secs- total</td>
              <td>VALUES</td>
              <td>Set the total number of secons the object will run.</td>
            </tr>
            <tr>
              <td class='label'>Slider- %</td>
              <td>VALUES</td>
              <td>Get or set the slider value percent (0-100).</td>
            </tr>
            <tr>
              <td class='label'>Slider- end value</td>
              <td>VALUES</td>
              <td>Get or set the slider end value.</td>
            </tr>
            <tr>
              <td class='label'>Slider- start value</td>
              <td>VALUES</td>
              <td>Get or set the slider start value.</td>
            </tr>
            <tr>
              <td class='label'>Slider- value</td>
              <td>VALUES</td>
              <td>Get or set the slider value.</td>
            </tr>
            <tr>
              <td class='label'>Text</td>
              <td>VALUES</td>
              <td>Set the value of the text.</td>
            </tr>
            <tr>
              <td class='label'>Text- styled</td>
              <td>VALUES</td>
              <td>Set the styled value of the text.</td>
            </tr>
            <tr>
              <td class='label'>Text- unstyled</td>
              <td>VALUES</td>
              <td>Set the unstyled value of the text.</td>
            </tr>
            <tr>
              <td class='label'>Ticks per cycle</td>
              <td>VALUES</td>
              <td>Set the number of ticks per cycle for the object.</td>
            </tr>
            <tr>
              <td class='label'>Unit</td>
              <td>VALUES</td>
              <td>Get or set the slider unit.</td>
            </tr>
            <tr>
              <td class='label'>URL</td>
              <td>VALUES</td>
              <td>Set the URL for the object.</td>
            </tr>
            <tr>
              <td class='label'>Var- {x}</td>
              <td>VALUES</td>
              <td></td>
            </tr>
            <tr>
              <td class='label'>Volume</td>
              <td>VALUES</td>
              <td>Set the volume for the audio of the object.</td>
            </tr>
            <tr>
              <td class='label'>Cloak- bkgd on run</td>
              <td>VISIBILITY</td>
              <td>Toggle whether to cloak the background of the arena when the application is running.</td>
            </tr>
            <tr>
              <td class='label'>Cloak- on run</td>
              <td>VISIBILITY</td>
              <td>Toggle whether an object is cloaked on run.</td>
            </tr>
            <tr>
              <td class='label'>Cloaked</td>
              <td>VISIBILITY</td>
              <td>Toggle whether an object is cloaked.</td>
            </tr>
            <tr>
              <td class='label'>Control- hide on run</td>
              <td>VISIBILITY</td>
              <td>Toggle whether the control bar hides when the application is running.</td>
            </tr>
            <tr>
              <td class='label'>Control- visible</td>
              <td>VISIBILITY</td>
              <td>Toggle whether the control is visible for the object.</td>
            </tr>
            <tr>
              <td class='label'>Hide- on run</td>
              <td>VISIBILITY</td>
              <td>Hide an object when the application is running.</td>
            </tr>
            <tr>
              <td class='label'>Layer</td>
              <td>VISIBILITY</td>
              <td>Set the layer of an object.</td>
            </tr>
            <tr>
              <td class='label'>Opacity- %</td>
              <td>VISIBILITY</td>
              <td>Set the opacity percentage of an object (0-100).</td>
            </tr>
            <tr>
              <td class='label'>Visible</td>
              <td>VISIBILITY</td>
              <td>Toggle an object's visibility.</td>
            </tr>
          </tbody>
        </table>
        <h3>Outlets</h3>
        <table>
          <thead>
          </thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
          </tr>
          <tbody>
            <tr>
              <td class='label'>Collided with</td>
              <td>COLLISION</td>
              <td>Trigger a wire when the user drags the object and it touches the specified collision target.</td>
            </tr>
            <tr>
              <td class='label'>Drag- moving</td>
              <td>DRAG &amp; DROP</td>
              <td>Trigger a wire continuously when the user is dragging the object.</td>
            </tr>
            <tr>
              <td class='label'>Drag- release</td>
              <td>DRAG &amp; DROP</td>
              <td>Trigger a wire when the user finishes dragging the object.</td>
            </tr>
            <tr>
              <td class='label'>Drag- start</td>
              <td>DRAG &amp; DROP</td>
              <td>Trigger a wire when the user begins to drag the object.</td>
            </tr>
            <tr>
              <td class='label'>Dropped on target</td>
              <td>DRAG &amp; DROP</td>
              <td>Trigger a wire when the user drags and drops the object on the specified drop target.</td>
            </tr>
            <tr>
              <td class='label'>Click</td>
              <td>POINT &amp; CLICK</td>
              <td>Trigger a wire when the user presses and releases the mouse button over the object.</td>
            </tr>
            <tr>
              <td class='label'>Click- down</td>
              <td>POINT &amp; CLICK</td>
              <td>Trigger a wire when the user presses the mouse button over the object.</td>
            </tr>
            <tr>
              <td class='label'>Click- release</td>
              <td>POINT &amp; CLICK</td>
              <td>Trigger a wire when the user releases the mouse button over the object.</td>
            </tr>
            <tr>
              <td class='label'>Pointer- out</td>
              <td>POINT &amp; CLICK</td>
              <td>Trigger a wire when the user moves the cursor out of the object.</td>
            </tr>
            <tr>
              <td class='label'>Pointer- over</td>
              <td>POINT &amp; CLICK</td>
              <td>Trigger a wire when the user moves the cursor over the object.</td>
            </tr>
            <tr>
              <td class='label'>All cycles done</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when all cycles have finished.</td>
            </tr>
            <tr>
              <td class='label'>Checked- off</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when the object is checked off.</td>
            </tr>
            <tr>
              <td class='label'>Checked- on</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when the object is checked on.</td>
            </tr>
            <tr>
              <td class='label'>Cycles done</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when a cycles has finished.</td>
            </tr>
            <tr>
              <td class='label'>Done</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when the object finishes playing.</td>
            </tr>
            <tr>
              <td class='label'>Entry made</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when an entry is made in the text input.</td>
            </tr>
            <tr>
              <td class='label'>Hit- end value</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when the slider hits the end value.</td>
            </tr>
            <tr>
              <td class='label'>Hit- start value</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when the slider hits the start value.</td>
            </tr>
            <tr>
              <td class='label'>Max char reached</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when the maximum number of characters is reached for the text input.</td>
            </tr>
            <tr>
              <td class='label'>Obj- added</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when an object is added to the arena.</td>
            </tr>
            <tr>
              <td class='label'>Obj- removed</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when an object is removed from an arena.</td>
            </tr>
            <tr>
              <td class='label'>Tick</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when the clock ticks.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clearer"></div>
  