
    <div class="contentRight">
      <div class="tabs">
        <a href="#/support?main"><span class="tab2">Overview</span></a>
        <a href="#/support?objects"><span class="tab2">Objects</span></a>
        <a href="#/support?ribbons"><span class="tab2">Ribbons</span></a>
        <a href="#/support?wiring"><span class="tab2">Wiring</span></a>
        <a href="#/support?libraries"><span class="tab2">Libraries</span></a>
        <a href="#/support?learn"><span class="tab">Learn</span></a>
        <a href="#/support?faq"> <span class="tab2">FAQ</span></a>
         <div class="clearer"></div>
      </div>
      <div class="block support">
       <div class="back"><a href="#/support?learn">&lt; Videos</a></div>
        <h1>Video Name h1        </h1>
        <div class="video" style="width:640px; height:480px; background:black">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p align="center">&nbsp;</p>
          <p align="center">&nbsp;</p>
          <p align="center">&nbsp;</p>
          <p align="center">Video</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi.</p>
      </div>
    </div>
    <div class="clearer"></div>
 