
    <div class="contentRight">
      <div class="tabs">
        <a href="#/support?main"><span class="tab2">Overview</span></a>
        <a href="#/support?objects"><span class="tab2">Objects</span></a>
        <a href="#/support?ribbons"><span class="tab2">Ribbons</span></a>
        <a href="#/support?wiring"><span class="tab">Wiring</span></a>
        <a href="#/support?libraries"><span class="tab2">Libraries</span></a>
        <a href="#/support?learn"><span class="tab2">Learn</span></a>
        <a href="#/support?faq"> <span class="tab2">FAQ</span></a>
         <div class="clearer"></div>
      </div>
      <div class="block support">
        <h1>Wiring</h1>
        <div class="subnav">
          <p><a class="noremap" href="#wiretypes">Wire Types</a> | <a class="noremap" href="#creatingwires">Creating Wires</a></p>
        </div>
        <p>This document provides an overview of wiring in the Editor.</p>
        <h2>Overview</h2>
        <p>Objects communicate with each other through wires. There are two types of wires, trigger wires and binding wires. </p>
<div class="divider"></div>
<h2><a class="noremap" name="wiretypes" id="wiretypes"></a>Wire Types        </h2>
<h3>Trigger Wires</h3>
        <p>Trigger wires connect Inlet Ribbons to Outlet Ribbons.  This creates an event-response relationship between an object and itself or an object and another object.</p>
        <p>Triggers are useful for handling user interaction such as clicking, dragging and dropping, or object collision. In the example below, a trigger wire from the oval object's Click- release outlet ribbon is connected to the rectangle object's Hide inlet ribbon. </p>
        <img src="com/alleni/html/fragments/support/images/w_01.png" />
        <p>When the application is running, clicking the oval will cause the rectangle to disappear. </p>
        <h3>Binding Wires</h3>
        <p>Binding wires connect two Property Ribbons. A binding forces connected properties to have the same value.</p>
        <p>Binding wires are useful for updating the property of an object based on user interaction. In the example below, the oval's Location- X (H) and Location- Y(V) property ribbons are each bound to a text object. The binding wires ensure that the values for the text objects are the same as the x and y position of the oval.</p>
        <img src="com/alleni/html/fragments/support/images/w_02.png" />
        <p>When the application is running and the user moves the oval, the text will update to reflect the oval's position. </p>
<div class="divider"></div>
<h2><a class="noremap" name="creatingwires" id="creatingwires"></a>Creating Wires</h2>
        <p>Perform the following actions to create a wire:        </p>
        <p>1.	Roll your cursor over the message center of the object you would like to wire from. This will open the message center to display the In, Properties, and Out buttons. </p>
        <p> <img src="com/alleni/html/fragments/support/images/w_03.png" /> </p>
        <p>2.	Click the button corresponding to the ribbon group you would like to open.</p>
        <img src="com/alleni/html/fragments/support/images/w_04.png" />
        <p>3.	Click a ribbon sub-container heading to show ribbons in that group.</p>
        <img src="com/alleni/html/fragments/support/images/w_05.png" />
        <p>4.	Once the ribbons in the group are visible, mouse down on the port corresponding to the ribbon you would like to wire from.</p>
        <img src="com/alleni/html/fragments/support/images/w_06.png" />
        <p>5.	Drag your mouse away from the port to begin creating a wire.</p>
        <img src="com/alleni/html/fragments/support/images/w_07.png" />
        <p>6.	Drag the wire over the object you would like to wire to. This will make its message center to appear.</p>
        <img src="com/alleni/html/fragments/support/images/w_08.png" />
        <p>7.	Drag the wire over the message center to reveal the In, Properties, and Out buttons.</p>
        <img src="com/alleni/html/fragments/support/images/w_09.png" />
        <p>8.	Drag the wire over the button corresponding to the ribbon category you wish to open.</p>
        <img src="com/alleni/html/fragments/support/images/w_10.png" />
        <p>9.	Drag the wire over the ribbon sub-container corresponding to the ribbon category you wish to open.</p>
        <img src="com/alleni/html/fragments/support/images/w_11.png" />
        <p>10.	 Mouse up on the desired ribbon to create the wire.</p>
      <img src="com/alleni/html/fragments/support/images/w_12.png" /></div>
    </div>
    <div class="clearer"></div>
  