/**
 * © Copyright 2009 Allen Learning Technologies LLC.  All rights reserved.
 * 
 * @author Allen Skunkworks
 * @version $Id$  */

@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

mx|HBox s|List s|VScrollBar
{
	skinClass: ClassReference("com.alleni.author.application.skins.VScrollBarSkin");
}

.watermarkMenuBar {
	backgroundColor: #888888;
}

.arrowsButton {
	skinClass: ClassReference("com.alleni.author.application.skins.ArrowsButtonSkin");
}

.mobileButton {
	chromeColor: #deeeff;
	symbolColor: #deeeff;
}
.mobileLight, .mobileButton {
	color: #222222;
	fontSize: 14;
	fontWeight: bold;
}
.mobileDark {
	chromeColor: #111111;
	color: #eeeeee;
	fontSize: 14;
	fontWeight: bold;
}

s|Application, s|WindowedApplication, mx|Application, s|TitleWindow, .default {
	fontFamily: "Zebra";
	fontSize: 12;
	color: #dddddd;
	backgroundAlpha: 1;
	backgroundColor: #000000;
	modalTransparency: 0.25;
	modalTransparencyBlur: 0;
	modalTransparencyColor: #000000;
	modalTransparencyDuration: 100;
	padding: 0;
	horizontalAlign: left;
	verticalAlign: top;
	horizontalAlign: center;
	horizontalGap: 0;
	verticalGap: 0;
	locale: "en_US";
}

s|Label {
	fontFamily: "Zebra";	
}

s|TitleWindow {
	color: #000000;
}

.cloud {
	color: #000000;	
}

.logoLabel {
	padding-top: 2px;
	color: #7d7d7d;
	fontSize: 30;
	fontWeight: bold;
	textAlign: center;
	height: 32;
}

.statusLabel {
	color: #CCCCCC;
	fontSize: 14;
	fontStyle: normal;
}

.statusLabelItalic {
	color: #CCCCCC;
	fontSize: 14;
	fontStyle: italic;
}

mx|Alert, mx|Button, mx|ComboBox, mx|FormItemLabel, mx|FormItem, mx|Form,  mx|FormHeading
, mx|List, mx|Panel, mx|PopUpMenuButton, mx|Window, mx|Application, mx|MenuBar {
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

mx|Alert {
	backgroundAlpha: 0.9;
	borderAlpha: 1;
	backgroundColor: #333333;
	borderColor: #555555;
	paddingBottom: 8;
	buttonStyleName: grayButton;
}

.boxInFocus {
	borderColor: #8ABCF2;
	backgroundColor: #8ABCF2;
}

.boxNoFocus {
	borderColor: #BBBBBB;
	backgroundColor: #BBBBBB;
}

.grayButton,
mx|Button,
s|Button {
	border-color: #505050;
	border-weight: 1px;
	
	skin-class: ClassReference("com.alleni.author.application.skins.ButtonSkin");
}

s|Button.emphasized {
	skin-class: ClassReference("com.alleni.author.application.skins.EmphasizedButtonSkin");
}

.toolboxButton {
	background-alpha: 0;
	backgroundColor: #DCDCDC;
	borderAlpha:0;
	borderColor: #DCDCDC;
	border-style: none;
	color: #DCDCDC;
	cornerRadius: 6;
	fontWeight:normal;

	skin-class: ClassReference("com.alleni.author.application.skins.ToolboxButtonSkin");
}

.blackBackground {
	backgroundAlpha: 1;
	backgroundColor: #000000;
}

.whiteBackground {
	backgroundAlpha: 1;
	backgroundColor: #FFFFFF;
}

mx|ComboBox
{
	color: #CCCCCC;
	textRollOverColor: #ffffff;
	textSelectedColor:#ffffff;
	textDisabledColor: #1e1e1e;
	cornerRadius: 0;
	arrowButtonWidth: 18;
	borderThickness: 0;
	fontWeight: normal;
	fontSize: 10;
	dropdownStyleName: dropDown;
}

s|DropDownList, mx|MenuBar  {
	color: #111111;
	base-color: #ff0000;
	content-background-color: #E1E1E1;	
	selection-color: #bdd5ee;
	roll-over-color: #deeeff;
	modalTransparency: 0.25;
	modalTransparencyBlur: 0;
	modalTransparencyColor: #000000;
	modalTransparencyDuration: 100;
}

.dropDown {
	backgroundSize: "100%";  
	backgroundAlpha: 1.0;
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #000000;
	cornerRadius:0;
	color: #CCCCCC;
	textRollOverColor: #ffffff;
	textSelectedColor:#ffffff;
	rollOverColor: #505050;
	selectionColor: #505050;
}

s|Label.dialogLabel {
	font-size: "18";
	font-weight: bold;
	padding-bottom: 10px;
	color: #000000;
}

.templateRenderer {
	backgroundColor: #000000;
	borderColor: #000000;
	rollOverColor: #000000;
	selectionColor: #000000;
}

s|Label.templateDialogLabel1 {
	fontFamily: "Zebra";
	font-size: "18";
	font-weight: bold;
	padding-bottom: 10px;
	color: #000000;
}

s|Label.templateDialogLabel2 {
	fontFamily: "Zebra";
	font-size: "12";
	font-weight: bold;
	padding-bottom: 10px;
	color: #000000;
}

s|Label.templateDialogLabel3 {
	fontFamily: "Zebra";
	font-size: "12";
	font-weight: normal;
	padding-bottom: 0px;
    width:100px;
	color: #000000;
}

s|Label.templateItemLabel1 {
	fontFamily: "Zebra";
	font-size: "16";
	font-weight: bold;
	color: #FFFFFF;
}

s|Label.templateItemLabel2 {
	fontFamily: "Zebra";
	font-size: "16";
	font-weight: normal;
	color: #FFFFFF;
}

s|TextArea.templateItemLabel3 {
	fontFamily: "Zebra";
	font-size: "12";
	font-weight: normal;
	color: #FFFFFF;
	borderColor: #000000;
}

s|Label.templateDialogGray {
	fontFamily: "Zebra";
	font-size: "12";
	font-weight: normal;
	padding-bottom: 10px;
	color: #595959;
}

s|Label.templateTitle {
	font-size: "12";
	font-weight: bold;
	padding-bottom: 10px;
	color: #FFFFFF;
}

s|TextArea.templateText {
	fontStyle: normal;
	font-size: "12";
	color: #FFFFFF;
}

.templateListBox {
	cornerRadius:8;
	backgroundAlpha: 1.0;
	background-color: #000000;
	paddingTop:2;
	paddingBottom:2;
	paddingLeft:2;
	paddingRight:2;
}

.outlineBox {
	background-color: #FFFFFF;
	cornerRadius:8;
	borderColor: #000000;
	borderStyle: "solid";
	borderVisible: true;
	paddingTop:2;
	paddingBottom:2;
	paddingLeft:2;
	paddingRight:2;
}

.templateBoxInner {
	backgroundAlpha: 1.0;
	background-color: #FFFFFF;
	borderColor: #000000;
	borderStyle: "solid";
	borderVisible: true;
	cornerRadius:1;
}

.templateBox {
	backgroundAlpha: 1.0;
	background-color: #000000;
	cornerRadius:1;
}

s|Label.lightLabel {
	font-size: "18";
	font-weight: bold;
	padding-bottom: 10px;
	color: #ffffff;
}

s|Label.dialogSublabel {
	font-size: "14";
	color: #000000;
	padding-top: 5px;
}

s|TextInput.dialog {
	fontSize: "12";
	left: 20px;
	color: #000000;
	content-background-color: #FFFFFF;
	content-background-alpha: 1;
}

mx|Canvas.dialog {
	corner-radius: 12px;	
	background-color: #9B9B9B;
}

.proBrandedDialog {
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
    fontFamily: "Zebra";
}

s|BorderContainer.dialog {
	corner-radius: 12px;
	color: #000000;
	border-color: #000000;
	border-alpha: 1.0;
	border-weight: 2px;
    fontFamily: "Zebra";
}

mx|HBox.dialog {
	horizontal-gap: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
    fontFamily: "Zebra";
}

mx|HBox.dialogButtons {
	padding-top: "15";
	horizontal-align: right;
	vertical-align: center;
    fontFamily: "Zebra";
}

mx|VBox.dialog {
	padding-bottom: 30px;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	vertical-gap: 0px;
    fontFamily: "Zebra";
}

mx|HRule {
	stroke-color: #646464;
	stroke-width: 1px;
}

mx|Form {
	font-size: 14;
	width: "100%";
	padding: 5px;
	borderColor: #ffffff;
	borderAlpha: 1;
}

mx|Form.feedback {
	padding: 20px;
}

mx|FormItem {
	padding: 0px;
}

mx|VBox.formBox {
	borderStyle: "solid";
	borderColor: #505050;
}

mx|List, mx|PopUpMenuButton {
	textDisabledColor: #1e1e1e;
	fontSize: 11;
	rollOverColor: #505050; 
	textRollOverColor: #FFFFFF;
	selectionColor: #505050;
	textSelectedColor: #FFFFFF; 
	
}

mx|Image {
	horizontalCenter: 0;
	verticalCenter: 0;
}

s|TextInput, s|TextArea {
	direction: "ltr";
	border-alpha: 0.5;
	content-background-alpha: 0;
}

s|TextArea.log, s|TextInput.log {
	content-background-alpha: 0.9;
	content-background-color: #000000;
	color: #00ff00;
}

s|TextArea.testLog {
	content-background-alpha: 1.0;
	content-background-color: #cccccc;
	color: #000000;
}

s|TextArea.testPrompt {
	content-background-alpha: 0.0;
	color: #ffffff;
	fontSize:16;
	textAlign: center;
	border-alpha: 0.0;
}

.toolboxPanel {
	

	color: #000000;
	backgroundColor:#DCDCDC;
	borderAlpha:1;
	borderColor:#828282;
	borderStyle: solid;
	/*
	borderThicknessRight: 0;
	borderThicknessLeft: 0;
	borderThicknessBottom: 2;

	*/
	borderThicknessRight: 0;
	borderThicknessLeft: 0;
	borderThicknessBottom: 0;
	
	borderThicknessTop: 0;
	
	cornerRadius: 0;
	dropShadowEnabled: true;
	headerHeight: 15;
	horizontalAlign: center;
	roundedBottomCorners: false;
	shadowDirection: right;
	shadowDistance: 20;
	verticalAlign: middle;
}

.toolboxContentVBox {
	horizontalAlign: center;
	paddingLeft: 4;
	paddingRight: 0;
	paddingBottom: 4; 
	verticalAlign: middle;
	verticalGap: 2;
	
}

.toolboxButtonTile {
	horizontalGap: 2;
	verticalGap: 2;
	borderStyle: none;
}


.pageArranger {
    fillColor:#000000;
    edgeColor:#bbbbbb;
    thickTop:20;
    thickBottom:0;
    thickSides:0;
    thickEdge:1;
}

.pageFrame {
    fillColor:#333333;
    edgeColor:#dddddd;
    thickTop:20;
    thickBottom:15;
    thickSides:10;
    thickEdge:1;
}
