    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'accountUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['companyId'].length) t['companyId'] = map['companyId'];
            if (map['type'].length) t['type'] = map['type'];
            if (map['termDueDateTime'].length) t['termDueDateTime'] = map['termDueDateTime'];
            if (map['goodStanding'].length) t['goodStanding'] = map['goodStanding'];
            if (map['name'].length) t['name'] = map['name'];
            if (map['description'].length) t['description'] = map['description'];
            if (map['tokenBalance'].length) t['tokenBalance'] = map['tokenBalance'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'accountUpdate')
                t['accountId'] = map['accountId'];
            return o;
        }
    </script>
    <li class="group">
        Accounts
    </li>
    <li class='update'>
        <label for="accountId">AccountId</label>
        <input id="accountId" name="accountId">
    </li>
    <li>
        <label for="companyId">CompanyId</label>
        <input id="companyId" name="companyId" />
    </li>
    <li>
        <label for="type">Type</label>
        <!--input id="type" name="type" /-->
        <!--select id="type" name="type"><option>Free<option>Basic<option>Standard<option>Premium<option>Professional</select-->
        <select id="type" name="type"><option>Collector<option>Creator</select>
    </li>
    <li>
        <label for="termDueDateTime">TermDueDateTime</label>
        <input id="termDueDateTime" name="termDueDateTime" />
    </li>
    <li>
        <label for="goodStanding">GoodStanding</label>
        <input id="goodStanding" name="goodStanding" />
    </li>
    <li>
        <label for="name">Name</label>
        <input id="name" name="name" />
    </li>
    <li>
        <label for="description">Description</label>
        <input id="description" name="description" />
    </li>
    <li>
        <label for="tokenBalance">TokenBalance</label>
        <input id="tokenBalance" name="tokenBalance" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
