    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'accountProjectNumberUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['accountId'].length) t['accountId'] = map['accountId'];
            if (map['publishId'].length) t['publishId'] = map['publishId'];
            if (map['invoiceLineItemId'].length) t['invoiceLineItemId'] = map['invoiceLineItemId'];
            if (map['retiredReasonId'].length) t['retiredReasonId'] = map['retiredReasonId'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'accountProjectNumberUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        AccountProjectNumbers
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="accountId">AccountId</label>
        <input id="accountId" name="accountId" />
    </li>
    <li>
        <label for="publishId">PublishId</label>
        <input id="publishId" name="publishId" />
    </li>
    <li>
        <label for="invoiceLineItemId">InvoiceLineItemId</label>
        <input id="invoiceLineItemId" name="invoiceLineItemId" />
    </li>
    <li>
        <label for="retiredReasonId">RetiredReasonId</label>
        <input id="retiredReasonId" name="retiredReasonId" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
