    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test].filters = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['accountId'].length) t['accountId'] = map['accountId'];
            if (map['publishId'].length) t['publishId'] = map['publishId'];
            if (map['invoiceLineItemId'].length) t['invoiceLineItemId'] = map['invoiceLineItemId'];
            if (map['retiredReasonId'].length) t['retiredReasonId'] = map['retiredReasonId'];

            o.recordRange = {
                offset: map['recordOffset'],
                count: map['recordCount'],
                order: map['recordOrder']
            };

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        AccountProjectNumbers
    </li>
    <li>
        <label for="accountId">AccountId</label>
        <input id="accountId" name="accountId" />
    </li>
    <li>
        <label for="publishId">PublishId</label>
        <input id="publishId" name="publishId" />
    </li>
    <li>
        <label for="invoiceLineItemId">InvoiceLineItemId</label>
        <input id="invoiceLineItemId" name="invoiceLineItemId" />
    </li>
    <li>
        <label for="retiredReasonId">RetiredReasonId</label>
        <input id="retiredReasonId" name="retiredReasonId" />
    </li>

    <li class="group">
        Record range
    </li>
    <li>
        <label for="recordOffset">Offset</label>
        <input id="recordOffset" name="recordOffset" value='0' />
    </li>
    <li>
        <label for="recordCount">Count</label>
        <input id="recordCount" name="recordCount" value='10' />
    </li>
    <li>
        <label for="recordOrder">Order</label>
        <input id="recordOrder" name="recordOrder" value='editedDateTime:d' />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
