    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {
                accountId : map['accountId'],
                retiredById: map['retiredById']
            };
            o.credentials = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            return o;
        }
    </script>
    <li class="group">
        Accounts
    </li>
    <li>
        <label for="accountId">Id</label>
        <input id="accountId" name="accountId" />
        <input id="retiredById" name="retiredById" type="hidden" value="" />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
