    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test].filters = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['type'].length) t['type'] = map['type'];
            if (map['accountId'].length) t['accountId'] = map['accountId'];
            if (map['name'].length) t['name'] = map['name'];
            if (map['company'].length) t['company'] = map['company'];
            if (map['address1'].length) t['address1'] = map['address1'];
            if (map['address2'].length) t['address2'] = map['address2'];
            if (map['city'].length) t['city'] = map['city'];
            if (map['stateProvince'].length) t['stateProvince'] = map['stateProvince'];
            if (map['zipPostalCode'].length) t['zipPostalCode'] = map['zipPostalCode'];
            if (map['country'].length) t['country'] = map['country'];

            o.recordRange = {
                offset: map['recordOffset'],
                count: map['recordCount'],
                order: map['recordOrder']
            };

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        Addresses
    </li>
    <li>
        <label for="type">Type</label>
        <!--input id="type" name="type" /-->
        <select id="type" name="type"><option value="">-- ALL --<option>Primary<option>Sales<option>Billing<option>Shipping<option>Technical</select>
    </li>
    <li>
        <label for="accountId">AccountId</label>
        <input id="accountId" name="accountId" />
    </li>
    <li>
        <label for="name">Name</label>
        <input id="name" name="name" />
    </li>
    <li>
        <label for="company">Company</label>
        <input id="company" name="company" />
    </li>
    <li>
        <label for="address1">Address1</label>
        <input id="address1" name="address1" />
    </li>
    <li>
        <label for="address2">Address2</label>
        <input id="address2" name="address2" />
    </li>
    <li>
        <label for="city">City</label>
        <input id="city" name="city" />
    </li>
    <li>
        <label for="stateProvince">StateProvince</label>
        <input id="stateProvince" name="stateProvince" />
    </li>
    <li>
        <label for="zipPostalCode">ZipPostalCode</label>
        <input id="zipPostalCode" name="zipPostalCode" />
    </li>
    <li>
        <label for="country">Country</label>
        <input id="country" name="country" />
    </li>

    <li class="group">
        Record range
    </li>
    <li>
        <label for="recordOffset">Offset</label>
        <input id="recordOffset" name="recordOffset" value='0' />
    </li>
    <li>
        <label for="recordCount">Count</label>
        <input id="recordCount" name="recordCount" value='10' />
    </li>
    <li>
        <label for="recordOrder">Order</label>
        <input id="recordOrder" name="recordOrder" value='editedDateTime:d' />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
