    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {
                termsOfService : map['termsOfService'],
                privacyPolicy : map['privacyPolicy'],
                copyrightNotice : map['copyrightNotice']
            };
            o.credentials = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            return o;
        }
    </script>
    <li class="group">
        Legal
    </li>
    <li>
        <label for="termsOfService">Terms of Service</label>
        <textarea id="termsOfService" name="termsOfService" rows="6" cols="100"></textarea>
    </li>
    <li>
        <label for="privacyPolicy">Privacy Policy</label>
        <textarea id="privacyPolicy" name="privacyPolicy" rows="6" cols="100"></textarea>
    </li>
    <li>
        <label for="copyrightNotice">Copyright Notice</label>
        <textarea id="copyrightNotice" name="copyrightNotice" rows="6" cols="100"></textarea>
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
