    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test].filters = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['displayName'].length) t['displayName'] = map['displayName'];
            if (map['description'].length) t['description'] = map['description'];
            if (map['email'].length) t['email'] = map['email'];
            if (map['firstName'].length) t['firstName'] = map['firstName'];
            if (map['lastName'].length) t['lastName'] = map['lastName'];
            if (map['createdById'].length) t['createdById'] = map['createdById'];
            if (map['createdDateTime'].length) t['createdDateTime'] = map['createdDateTime'];
            if (map['retiredById'].length) t['retiredById'] = map['retiredById'];
            if (map['retiredDateTime'].length) t['retiredDateTime'] = map['retiredDateTime'];

            o.recordRange = {
                offset: map['recordOffset'],
                count: map['recordCount'],
                order: map['recordOrder']
            };

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        Member AppUser (aka Members)
    </li>
    <li>
        <label for="displayName">DisplayName</label>
        <input id="displayName" name="displayName" />
    </li>
    <li>
        <label for="description">Description</label>
        <input id="description" name="description" />
    </li>
    <li>
        <label for="email">Email</label>
        <input id="email" name="email" />
    </li>
    <li>
        <label for="firstName">FirstName</label>
        <input id="firstName" name="firstName" />
    </li>
    <li>
        <label for="lastName">LastName</label>
        <input id="lastName" name="lastName" />
    </li>
    <li>
        <label for="createdById">CreatedById</label>
        <input id="createdById" name="createdById" />
    </li>
    <li>
        <label for="createdDateTime">CreatedDateTime</label>
        <input id="createdDateTime" name="createdDateTime" />
    </li>
    <li>
        <label for="retiredById">RetiredById</label>
        <input id="retiredById" name="retiredById" />
    </li>
    <li>
        <label for="retiredDateTime">RetiredDateTime</label>
        <input id="retiredDateTime" name="retiredDateTime" />
    </li>

    <li class="group">
        Record range
    </li>
    <li>
        <label for="recordOffset">Offset</label>
        <input id="recordOffset" name="recordOffset" value='0' />
    </li>
    <li>
        <label for="recordCount">Count</label>
        <input id="recordCount" name="recordCount" value='10' />
    </li>
    <li>
        <label for="recordOrder">Order</label>
        <input id="recordOrder" name="recordOrder" />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
