    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'appUserUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['displayName'].length) t['displayName'] = map['displayName'];
            if (map['description'].length) t['description'] = map['description'];
            if (map['email'].length) t['email'] = map['email'];
            if (map['firstName'].length) t['firstName'] = map['firstName'];
            if (map['lastName'].length) t['lastName'] = map['lastName'];
            if (map['nameFormat'].length) t['nameFormat'] = map['nameFormat'];
            if (map['password'].length) t['password'] = map['password'];
            if (map['website'].length) t['website'] = map['website'];
            if (map['twitter'].length) t['twitter'] = map['twitter'];
            if (map['editedById'].length) t['editedById'] = map['editedById'];
            if (map['retiredById'].length) t['retiredById'] = map['retiredById'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'appUserUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        Member AppUser (aka Members)
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="displayName">DisplayName</label>
        <input id="displayName" name="displayName" value="myUserName" />
    </li>
    <li>
        <label for="description">Description</label>
        <input id="description" name="description" value="My user description ..." />
    </li>
    <li>
        <label for="email">Email</label>
        <input id="email" name="email" value="myemail@someplace.com" />
    </li>
    <li>
        <label for="firstName">FirstName</label>
        <input id="firstName" name="firstName" value="myFirstName" />
    </li>
    <li>
        <label for="lastName">LastName</label>
        <input id="lastName" name="lastName" value="myLastName" />
    </li>
    <li>
        <label for="nameFormat">NameFormat</label>
        <input id="nameFormat" name="nameFormat" value="displayName" />
    </li>
    <li>
        <label for="password">Password</label>
        <input id="password" name="password" value="mypassword" />
    </li>
    <li>
        <label for="website">Website</label>
        <input id="website" name="website" value="www" />
    </li>
    <li>
        <label for="twitter">Twitter</label>
        <input id="twitter" name="twitter" value="at" />
    </li>    
    <li>
        <label for="editedById">EditedById</label>
        <input id="editedById" name="editedById" />
    </li>
    <li class='update'>
        <label for="retiredById">RetiredById</label>
        <input id="retiredById" name="retiredById" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
