    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {
                displayName : map['username']
            };
            o.credentials = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            return o;
        }
    </script>
    <li class="group">
        Member AppUser Test for Username Unique
    </li>
    <li>
        <label for="username">Username</label>
        <input id="username" name="username" />
    </li>
    <input id="credentialEmail" name="credentialEmail" type="hidden" value="" />
    <input id="credentialPassword" name="credentialPassword" type="hidden" value="" />
