    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test].filters = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['parentCategoryId'].length) t['parentCategoryId'] = map['parentCategoryId'];
            if (map['name'].length) t['name'] = map['name'];
            if (map['description'].length) t['description'] = map['description'];
            if (map['typeId'].length) t['typeId'] = map['typeId'];
            if (map['categoryOrder'].length) t['categoryOrder'] = map['categoryOrder'];
            if (map['categoryLevel'].length) t['categoryLevel'] = map['categoryLevel'];

            o.recordRange = {
                offset: map['recordOffset'],
                count: map['recordCount'],
                order: map['recordOrder']
            };

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        Categories
    </li>
    <li>
        <label for="parentCategoryId">ParentCategoryId</label>
        <input id="parentCategoryId" name="parentCategoryId" />
    </li>
    <li>
        <label for="name">Name</label>
        <input id="name" name="name" />
    </li>
    <li>
        <label for="description">Description</label>
        <input id="description" name="description" />
    </li>
    <li>
        <label for="typeId">TypeId</label>
        <input id="typeId" name="typeId" />
    </li>
    <li>
        <label for="categoryOrder">CategoryOrder</label>
        <input id="categoryOrder" name="categoryOrder" />
    </li>
    <li>
        <label for="categoryLevel">CategoryLevel</label>
        <input id="categoryLevel" name="categoryLevel" />
    </li>

    <li class="group">
        Record range
    </li>
    <li>
        <label for="recordOffset">Offset</label>
        <input id="recordOffset" name="recordOffset" value='0' />
    </li>
    <li>
        <label for="recordCount">Count</label>
        <input id="recordCount" name="recordCount" value='10' />
    </li>
    <li>
        <label for="recordOrder">Order</label>
        <input id="recordOrder" name="recordOrder" value='editedDateTime:d' />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
