    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {
                id : map['id']
            };
            o.credentials = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            return o;
        }
    </script>
    <li class="group">
        Categories
    </li>
    <li>
        <label for="id">Id</label>
        <input id="id" name="id" />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
