    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test] = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['holdingDays'].length) t['holdingDays'] = map['holdingDays'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        Commerce - Generate pending invoices for account subscriptions
    </li>
    <li>
        <label for="holdingDays">Holding Days (optional)</label>
        <input id="holdingDays" name="holdingDays" value="7"/>
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
