    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test] = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['accountId'].length) t['accountId'] = map['accountId'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        Commerce - Process pending payments at or beyond HOLDING date
    </li>
    <li>
        <label for="accountId">Account Id (optional)</label>
        <input id="accountId" name="accountId" />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
