    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'contactPreferenceTypeUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['tag'].length) t['tag'] = map['tag'];
            if (map['name'].length) t['name'] = map['name'];
            if (map['displayOrder'].length) t['displayOrder'] = map['displayOrder'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'contactPreferenceTypeUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        ContactPreferenceTypes
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="tag">Tag</label>
        <input id="tag" name="tag" />
    </li>
    <li>
        <label for="name">Name</label>
        <input id="name" name="name" />
    </li>
    <li>
        <label for="displayOrder">DisplayOrder</label>
        <input id="displayOrder" name="displayOrder" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
