    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'couponCodeUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['code'].length) t['code'] = map['code'];
            if (map['couponCodeTypeId'].length) t['couponCodeTypeId'] = map['couponCodeTypeId'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'couponCodeUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        CouponCodes
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="code">Code</label>
        <input id="code" name="code" />
    </li>
    <li>
        <label for="couponCodeTypeId">CouponCodeTypeId</label>
        <input id="couponCodeTypeId" name="couponCodeTypeId" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
