    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test].filters = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['accountId'].length) t['accountId'] = map['accountId'];
            if (map['addressId'].length) t['addressId'] = map['addressId'];
            if (map['nameOnCreditCard'].length) t['nameOnCreditCard'] = map['nameOnCreditCard'];
            if (map['maskedNumber'].length) t['maskedNumber'] = map['maskedNumber'];
            if (map['expirationMonth'].length) t['expirationMonth'] = map['expirationMonth'];
            if (map['expirationYear'].length) t['expirationYear'] = map['expirationYear'];
            if (map['customerProfileId'].length) t['customerProfileId'] = map['customerProfileId'];
            if (map['customerPaymentProfileId'].length) t['customerPaymentProfileId'] = map['customerPaymentProfileId'];

            o.recordRange = {
                offset: map['recordOffset'],
                count: map['recordCount'],
                order: map['recordOrder']
            };

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        CreditCards
    </li>
    <li>
        <label for="accountId">AccountId</label>
        <input id="accountId" name="accountId" />
    </li>
    <li>
        <label for="addressId">AddressId</label>
        <input id="addressId" name="addressId" />
    </li>
    <li>
        <label for="nameOnCreditCard">NameOnCreditCard</label>
        <input id="nameOnCreditCard" name="nameOnCreditCard" />
    </li>
    <li>
        <label for="maskedNumber">MaskedNumber</label>
        <input id="maskedNumber" name="maskedNumber" />
    </li>
    <li>
        <label for="expirationMonth">ExpirationMonth</label>
        <input id="expirationMonth" name="expirationMonth" />
    </li>
    <li>
        <label for="expirationYear">ExpirationYear</label>
        <input id="expirationYear" name="expirationYear" />
    </li>
    <li>
        <label for="customerProfileId">CustomerProfileId</label>
        <input id="customerProfileId" name="customerProfileId" />
    </li>
    <li>
        <label for="customerPaymentProfileId">CustomerPaymentProfileId</label>
        <input id="customerPaymentProfileId" name="customerPaymentProfileId" />
    </li>

    <li class="group">
        Record range
    </li>
    <li>
        <label for="recordOffset">Offset</label>
        <input id="recordOffset" name="recordOffset" value='0' />
    </li>
    <li>
        <label for="recordCount">Count</label>
        <input id="recordCount" name="recordCount" value='10' />
    </li>
    <li>
        <label for="recordOrder">Order</label>
        <input id="recordOrder" name="recordOrder" value='editedDateTime:d' />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
