    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'eCheckUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['accountId'].length) t['accountId'] = map['accountId'];
            if (map['bankRoutingNumber'].length) t['bankRoutingNumber'] = map['bankRoutingNumber'];
            if (map['bankAccountNumber'].length) t['bankAccountNumber'] = map['bankAccountNumber'];
            if (map['bankName'].length) t['bankName'] = map['bankName'];
            if (map['bankAccountName'].length) t['bankAccountName'] = map['bankAccountName'];
            if (map['customerProfileId'].length) t['customerProfileId'] = map['customerProfileId'];
            if (map['customerPaymentProfileId'].length) t['customerPaymentProfileId'] = map['customerPaymentProfileId'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'eCheckUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        EChecks
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="accountId">AccountId</label>
        <input id="accountId" name="accountId" />
    </li>
    <li>
        <label for="bankRoutingNumber">BankRoutingNumber</label>
        <input id="bankRoutingNumber" name="bankRoutingNumber" />
    </li>
    <li>
        <label for="bankAccountNumber">BankAccountNumber</label>
        <input id="bankAccountNumber" name="bankAccountNumber" />
    </li>
    <li>
        <label for="bankName">BankName</label>
        <input id="bankName" name="bankName" />
    </li>
    <li>
        <label for="bankAccountName">BankAccountName</label>
        <input id="bankAccountName" name="bankAccountName" />
    </li>
    <li>
        <label for="customerProfileId">CustomerProfileId</label>
        <input id="customerProfileId" name="customerProfileId" />
    </li>
    <li>
        <label for="customerPaymentProfileId">CustomerPaymentProfileId</label>
        <input id="customerPaymentProfileId" name="customerPaymentProfileId" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
