    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test].filters = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['reMemberId'].length) t['reMemberId'] = map['reMemberId'];
            if (map['reAccountId'].length) t['reAccountId'] = map['reAccountId'];
            if (map['reProjectId'].length) t['reProjectId'] = map['reProjectId'];
            if (map['comments'].length) t['comments'] = map['comments'];

            o.recordRange = {
                offset: map['recordOffset'],
                count: map['recordCount'],
                order: map['recordOrder']
            };

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        Feedback
    </li>
    <li>
        <label for="reMemberId">ReMemberId</label>
        <input id="reMemberId" name="reMemberId" />
    </li>
    <li>
        <label for="reAccountId">ReAccountId</label>
        <input id="reAccountId" name="reAccountId" />
    </li>
    <li>
        <label for="reProjectId">ReProjectId</label>
        <input id="reProjectId" name="reProjectId" />
    </li>
    <li>
        <label for="comments">Comments</label>
        <input id="comments" name="comments" />
    </li>

    <li class="group">
        Record range
    </li>
    <li>
        <label for="recordOffset">Offset</label>
        <input id="recordOffset" name="recordOffset" value='0' />
    </li>
    <li>
        <label for="recordCount">Count</label>
        <input id="recordCount" name="recordCount" value='10' />
    </li>
    <li>
        <label for="recordOrder">Order</label>
        <input id="recordOrder" name="recordOrder" value='editedDateTime:d' />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
