    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test].filters = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['accountId'].length) t['accountId'] = map['accountId'];
            if (map['amount'].length) t['amount'] = map['amount'];
            if (map['perTransactionFee'].length) t['perTransactionFee'] = map['perTransactionFee'];
            if (map['currencyTypeId'].length) t['currencyTypeId'] = map['currencyTypeId'];
            if (map['label'].length) t['label'] = map['label'];
            if (map['type'].length) t['type'] = map['type'];
            if (map['agentId'].length) t['agentId'] = map['agentId'];
            if (map['status'].length) t['status'] = map['status'];
            if (map['statusReasonCode'].length) t['statusReasonCode'] = map['statusReasonCode'];
            if (map['statusReasonText'].length) t['statusReasonText'] = map['statusReasonText'];

            o.recordRange = {
                offset: map['recordOffset'],
                count: map['recordCount'],
                order: map['recordOrder']
            };

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        FinancialTransactions
    </li>
    <li>
        <label for="accountId">AccountId</label>
        <input id="accountId" name="accountId" />
    </li>
    <li>
        <label for="amount">Amount</label>
        <input id="amount" name="amount" />
    </li>
    <li>
        <label for="perTransactionFee">PerTransactionFee</label>
        <input id="perTransactionFee" name="perTransactionFee" />
    </li>
    <li>
        <label for="currencyTypeId">CurrencyTypeId</label>
        <input id="currencyTypeId" name="currencyTypeId" value="1" />
    </li>
    <li>
        <label for="label">Label</label>
        <input id="label" name="label" />
    </li>
    <li>
        <label for="type">Type</label>
        <!--input id="type" name="type" /-->
        <select id="type" name="type"><option value="">-- ALL --<option value="transaction_type_creditcard">Credit Card<option value="transaction_type_echeck">eCheck</select>
    </li>
    <li>
        <label for="agentId">AgentId</label>
        <input id="agentId" name="agentId" />
    </li>
    <li>
        <label for="status">Status</label>
        <!--input id="status" name="status" /-->
        <select id="status" name="status"><option value="">-- ALL --<option value="transaction_status_pending">Pending<option value="transaction_status_approved">Approved<option value="transaction_status_declined">Declined<option value="transaction_status_processing_error">Processing error<option value="transaction_status_held_for_review">Held for review</select>
    </li>
    <li>
        <label for="statusReasonCode">StatusReasonCode</label>
        <input id="statusReasonCode" name="statusReasonCode" />
    </li>
    <li>
        <label for="statusReasonText">StatusReasonText</label>
        <input id="statusReasonText" name="statusReasonText" />
    </li>

    <li class="group">
        Record range
    </li>
    <li>
        <label for="recordOffset">Offset</label>
        <input id="recordOffset" name="recordOffset" value='0' />
    </li>
    <li>
        <label for="recordCount">Count</label>
        <input id="recordCount" name="recordCount" value='10' />
    </li>
    <li>
        <label for="recordOrder">Order</label>
        <input id="recordOrder" name="recordOrder" value='financialTransactionId:d' />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
