    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'guestListUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['retiredById'].length) t['retiredById'] = map['retiredById'];
            if (map['retiredDateTime'].length) t['retiredDateTime'] = map['retiredDateTime'];
            if (map['retiredReasonTypeId'].length) t['retiredReasonTypeId'] = map['retiredReasonTypeId'];
            if (map['emailText'].length) t['emailText'] = map['emailText'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'guestListUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        GuestLists
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="retiredById">RetiredById</label>
        <input id="retiredById" name="retiredById" />
    </li>
    <li>
        <label for="retiredDateTime">RetiredDateTime</label>
        <input id="retiredDateTime" name="retiredDateTime" />
    </li>
    <li>
        <label for="retiredReasonTypeId">RetiredReasonTypeId</label>
        <input id="retiredReasonTypeId" name="retiredReasonTypeId" />
    </li>
    <li>
        <label for="emailText">EmailText</label>
        <input id="emailText" name="emailText" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
