    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'guestListInviteeUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['guestListId'].length) t['guestListId'] = map['guestListId'];
            if (map['email'].length) t['email'] = map['email'];
            if (map['retiredById'].length) t['retiredById'] = map['retiredById'];
            if (map['retiredDateTime'].length) t['retiredDateTime'] = map['retiredDateTime'];
            if (map['retiredReasonTypeId'].length) t['retiredReasonTypeId'] = map['retiredReasonTypeId'];
            if (map['uuid'].length) t['uuid'] = map['uuid'];
            if (map['firstName'].length) t['firstName'] = map['firstName'];
            if (map['lastName'].length) t['lastName'] = map['lastName'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'guestListInviteeUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        GuestListInvitees
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="guestListId">GuestListId</label>
        <input id="guestListId" name="guestListId" />
    </li>
    <li>
        <label for="email">Email</label>
        <input id="email" name="email" />
    </li>
    <li>
        <label for="retiredById">RetiredById</label>
        <input id="retiredById" name="retiredById" />
    </li>
    <li>
        <label for="retiredDateTime">RetiredDateTime</label>
        <input id="retiredDateTime" name="retiredDateTime" />
    </li>
    <li>
        <label for="retiredReasonTypeId">RetiredReasonTypeId</label>
        <input id="retiredReasonTypeId" name="retiredReasonTypeId" />
    </li>
    <li>
        <label for="uuid">UuId</label>
        <input id="uuid" name="uuid" />
    </li>
    <li>
        <label for="firstName">FirstName</label>
        <input id="firstName" name="firstName" />
    </li>
    <li>
        <label for="lastName">LastName</label>
        <input id="lastName" name="lastName" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
