    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test].filters = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['accountId'].length) t['accountId'] = map['accountId'];
            if (map['description'].length) t['description'] = map['description'];
            if (map['cachedTotal'].length) t['cachedTotal'] = map['cachedTotal'];
            if (map['currencyTypeId'].length) t['currencyTypeId'] = map['currencyTypeId'];
            if (map['state'].length) t['state'] = map['state'];
            if (map['holdingDateTime'].length) t['holdingDateTime'] = map['holdingDateTime'];
            if (map['transactionId'].length) t['transactionId'] = map['transactionId'];

            o.recordRange = {
                offset: map['recordOffset'],
                count: map['recordCount'],
                order: map['recordOrder']
            };

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        Invoices
    </li>
    <li>
        <label for="accountId">AccountId</label>
        <input id="accountId" name="accountId" />
    </li>
    <li>
        <label for="description">Description</label>
        <input id="description" name="description" />
    </li>
    <li>
        <label for="cachedTotal">CachedTotal</label>
        <input id="cachedTotal" name="cachedTotal" />
    </li>
    <li>
        <label for="currencyTypeId">CurrencyTypeId</label>
        <input id="currencyTypeId" name="currencyTypeId" value="1" />
    </li>
    <li>
        <label for="state">State</label>
        <!--input id="state" name="state" /-->
        <select id="state" name="state"><option value="">-- ALL --<option value="invoice_state_pending">Pending<option value="invoice_state_charged">Charged<option value="invoice_state_credits_created">Credits Created</select>
    </li>
    <li>
        <label for="holdingDateTime">HoldingDateTime</label>
        <input id="holdingDateTime" name="holdingDateTime" />
    </li>
    <li>
        <label for="transactionId">TransactionId</label>
        <input id="transactionId" name="transactionId" />
    </li>

    <li class="group">
        Record range
    </li>
    <li>
        <label for="recordOffset">Offset</label>
        <input id="recordOffset" name="recordOffset" value='0' />
    </li>
    <li>
        <label for="recordCount">Count</label>
        <input id="recordCount" name="recordCount" value='10' />
    </li>
    <li>
        <label for="recordOrder">Order</label>
        <input id="recordOrder" name="recordOrder" value='' />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
