    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'invoiceLineItemUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['invoiceId'].length) t['invoiceId'] = map['invoiceId'];
            if (map['lineNumber'].length) t['lineNumber'] = map['lineNumber'];
            if (map['quantity'].length) t['quantity'] = map['quantity'];
            if (map['amountTotal'].length) t['amountTotal'] = map['amountTotal'];
            if (map['description'].length) t['description'] = map['description'];
            if (map['projectId'].length) t['projectId'] = map['projectId'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'invoiceLineItemUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        InvoiceLineItems
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="invoiceId">InvoiceId</label>
        <input id="invoiceId" name="invoiceId" />
    </li>
    <li>
        <label for="lineNumber">LineNumber</label>
        <input id="lineNumber" name="lineNumber" />
    </li>
    <li>
        <label for="quantity">Quantity</label>
        <input id="quantity" name="quantity" />
    </li>
    <li>
        <label for="amountTotal">AmountTotal</label>
        <input id="amountTotal" name="amountTotal" />
    </li>
    <li>
        <label for="description">Description</label>
        <input id="description" name="description" />
    </li>
    <li>
        <label for="projectId">ProjectId</label>
        <input id="projectId" name="projectId" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
