    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (form)
        {
            var o = {
                joinCreate: {
                    accountType: form['accountType'],
                    member: {
                        displayName:        form['email'], // map to email until App_User.displayName is dropped
                        password:           form['password'],
                        firstName:          form['firstName'],
                        lastName:           form['lastName'],
                        email:              form['email']
                    },
                    creditCard: {
                        type:               form['creditCardType'],
                        nameOnCreditCard:   form['nameOnCreditCard'],
                        number:             form['cardNumber'],
                        expirationMonth:    form['expirationMonth'],
                        expirationYear:     form['expirationYear'],
                        securityCode:       form['securityCode']
                    },
                    billingAddress: {
                        nameCompany:        form['billingNameCompany'],
                        country:            form['billingCountry'],
                        address1:           form['billingAddress1'],
                        address2:           form['billingAddress2'],
                        city:               form['billingCity'],
                        stateProvince:      form['billingStateProvince'],
                        zipPostalCode:      form['billingZipPostalCode']
                    }
                }
            };
            return o;
        }
    </script>
    <li class="group">
        Account type
    </li>
    <li>
        <label for="accountType">Account type</label>
        <select name="accountType">
          <option value="collector">Collector</option>
          <option value="creator">Creator</option>
          <!--option value="basic">Basic</option>
          <option value="standard">Standard</option>
          <option value="premium">Premium</option>
          <option value="professional">Professional</option-->
        </select>
    </li>
    
    <li class="group">
        Member
    </li>
    <li>
        <label for="firstName">First name</label>
        <input name="firstName"/>
    </li>
    <li>
        <label for="lastName">Last name</label>
        <input name="lastName"/>
    </li>
    <li>
        <label for="email">Email</label>
        <input name="email"/>
    </li>
    <li>
        <label for="password">Password</label>
        <input name="password"/>
    </li>

    <li class="group">
        Credit card
    </li>
    <li>
        <label for="creditCardType">Type</label>
        <select name="creditCardType" id="creditCardType">
            <option selected="selected" value=" ">Select Card Type...</option>
            <option value="amex">American Express</option>
            <option value="mastercard">MasterCard</option>
            <option value="visa">Visa</option>
            <option value="discover">Discover</option>
        </select>
    </li>
    <li>
        <label for="nameOnCreditCard">Name on card</label>
        <input name="nameOnCreditCard"/>
    </li>
    <li>
        <label for="cardNumber">Card number</label>
        <input name="cardNumber"/>
    </li>
    <li>
        <label for="expirationMonth">Expiration Month</label>
        <select name="expirationMonth" id="expirationMonth">
            <option value="01">Jan<option value="02">Feb<option value="03">Mar<option value="04">Apr<option value="05">May<option value="06">Jun
            <option value="07">Jul<option value="08">Aug<option value="09">Sep<option value="10">Oct<option value="11">Nov<option value="12">Dec</select>
    </li>
    <li>
        <label for="expirationYear">Expiration Year</label>
        <select name="expirationYear" id="expirationYear">
            <option>2011<option>2012<option>2013<option>2014<option>2015<option>2016<option>2017<option>2018<option>2019<option>2020</select>
    </li>
    <li>
        <label for="securityCode">Security code</label>
        <input name="securityCode"/>
    </li>

    <li class="group">
        Billing Address
    </li>
    <li>
        <label for="billingNameCompany">Name/Company</label>
        <input name="billingNameCompany"/>
    </li>
    <li>
        <label for="billingCountry">Country</label>
        <select name="billingCountry">
          <option value="" selected="selected">Select one...</option>    
          <option value="us">United States</option>
          <option value="jp">Japan</option>
          <option value="it">Italy</option>
        </select>
    </li>
    <li>
        <label for="billingAddress1">Address 1</label>
        <input name="billingAddress1"/>
    </li>
    <li>
        <label for="billingAddress2">Address 2</label>
        <input name="billingAddress2"/>
    </li>
    <li>
        <label for="billingCity">City</label>
        <input name="billingCity"/>
    </li>
    <li>
        <label for="billingStateProvince">State</label>
        <select name="billingStateProvince">
          <option value="" selected="selected">Select one...</option>    
          <option value="mn">Minnesota</option>
          <option value="ca">California</option>
          <option value="ny">New York</option>
        </select>
    </li>
    <li>
        <label for="billingZipPostalCode">Zip code</label>
        <input name="billingZipPostalCode"/>
    </li>

