    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'leadUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            /*
            if (map['leadSource'].length) t['leadSource'] = map['leadSource'];
            if (map['email'].length) t['email'] = map['email'];
            if (map['firstname'].length) t['firstname'] = map['firstname'];
            if (map['lastname'].length) t['lastname'] = map['lastname'];
            if (map['company'].length) t['company'] = map['company'];
            */
            t['leadSource'] = map['leadSource'];
            t.leadItems = [
                {email : map['email']},
                {firstname : map['firstname']},
                {lastname : map['lastname']},
                {company : map['company']}
            ];

            o.credentials = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'leadUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        Feedback
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="leadSource">Lead Source</label>
        <select id="leadSource" name="leadSource">
            <option selected>Testbench Test
            <option>Tradeshow Demonstration
            <option>ZebraZapps.com Pre-release Splash
        </select>
    </li>
    <li>
        <label for="email">Email</label>
        <input id="email" name="email" />
    </li>
    <li>
        <label for="firstname">First Name</label>
        <input id="firstname" name="firstname" />
    </li>
    <li>
        <label for="lastname">Last Name</label>
        <input id="lastname" name="lastname" />
    </li>
    <li>
        <label for="company">Company</label>
        <input id="company" name="company" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
