    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test].filters = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['item'].length) t['item'] = map['item'];
            if (map['value'].length) t['value'] = map['value'];
            if (map['fromDate'].length) t['fromDate'] = map['fromDate'];
            if (map['toDate'].length) t['toDate'] = map['toDate'];

            o.recordRange = {
                offset: map['recordOffset'],
                count: map['recordCount'],
                order: map['recordOrder']
            };

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        Feedback
    </li>
    <li>
        <label for="item">Item</label>
        <input id="item" name="item" />
    </li>
    <li>
        <label for="value">Value</label>
        <input id="value" name="value" />
    </li>
    <li>
        <label for="fromDate">From Date</label>
        <input id="fromDate" name="fromDate" />
    </li>
    <li>
        <label for="toDate">To Date</label>
        <input id="toDate" name="toDate" />
    </li>

    <li class="group">
        Record range
    </li>
    <li>
        <label for="recordOffset">Offset</label>
        <input id="recordOffset" name="recordOffset" value='0' />
    </li>
    <li>
        <label for="recordCount">Count</label>
        <input id="recordCount" name="recordCount" value='10' />
    </li>
    <li>
        <label for="recordOrder">Order</label>
        <input id="recordOrder" name="recordOrder" value='editedDateTime:d' />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
