    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'paymentUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['accountId'].length) t['accountId'] = map['accountId'];
            if (map['cachedTotal'].length) t['cachedTotal'] = map['cachedTotal'];
            if (map['currencyTypeId'].length) t['currencyTypeId'] = map['currencyTypeId'];
            if (map['state'].length) t['state'] = map['state'];
            if (map['holdingDateTime'].length) t['holdingDateTime'] = map['holdingDateTime'];
            if (map['transactionId'].length) t['transactionId'] = map['transactionId'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'paymentUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        Payments
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="accountId">AccountId</label>
        <input id="accountId" name="accountId" />
    </li>
    <li>
        <label for="cachedTotal">CachedTotal</label>
        <input id="cachedTotal" name="cachedTotal" />
    </li>
    <li>
        <label for="currencyTypeId">CurrencyTypeId</label>
        <input id="currencyTypeId" name="currencyTypeId" value="1" />
    </li>
    <li>
        <label for="state">State</label>
        <!--input id="state" name="state" /-->
        <select id="state" name="state"><option value="payment_state_pending">Pending<option value="payment_state_credited">Credited</select>
    </li>
    <li>
        <label for="holdingDateTime">HoldingDateTime</label>
        <input id="holdingDateTime" name="holdingDateTime" />
    </li>
    <li>
        <label for="transactionId">TransactionId</label>
        <input id="transactionId" name="transactionId" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
