    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test].filters = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['paymentId'].length) t['paymentId'] = map['paymentId'];
            if (map['lineNumber'].length) t['lineNumber'] = map['lineNumber'];
            if (map['quantity'].length) t['quantity'] = map['quantity'];
            if (map['amountTotal'].length) t['amountTotal'] = map['amountTotal'];
            if (map['description'].length) t['description'] = map['description'];
            if (map['projectId'].length) t['projectId'] = map['projectId'];

            o.recordRange = {
                offset: map['recordOffset'],
                count: map['recordCount'],
                order: map['recordOrder']
            };

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        PaymentLineItems
    </li>
    <li>
        <label for="paymentId">PaymentId</label>
        <input id="paymentId" name="paymentId" />
    </li>
    <li>
        <label for="lineNumber">LineNumber</label>
        <input id="lineNumber" name="lineNumber" />
    </li>
    <li>
        <label for="quantity">Quantity</label>
        <input id="quantity" name="quantity" />
    </li>
    <li>
        <label for="amountTotal">AmountTotal</label>
        <input id="amountTotal" name="amountTotal" />
    </li>
    <li>
        <label for="description">Description</label>
        <input id="description" name="description" />
    </li>
    <li>
        <label for="projectId">ProjectId</label>
        <input id="projectId" name="projectId" />
    </li>

    <li class="group">
        Record range
    </li>
    <li>
        <label for="recordOffset">Offset</label>
        <input id="recordOffset" name="recordOffset" value='0' />
    </li>
    <li>
        <label for="recordCount">Count</label>
        <input id="recordCount" name="recordCount" value='10' />
    </li>
    <li>
        <label for="recordOrder">Order</label>
        <input id="recordOrder" name="recordOrder" value='' />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
