    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test].filters = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['projectID'].length) t['projectID'] = map['projectID'];
            if (map['feedbackType'].length) t['feedbackType'] = map['feedbackType'];
            if (map['memberID'].length) t['memberID'] = map['memberID'];
            if (map['flagReason'].length) t['flagReason'] = map['flagReason'];
            if (map['retiredById'].length) t['retiredById'] = map['retiredById'];
            if (map['retiredDateTime'].length) t['retiredDateTime'] = map['retiredDateTime'];

            o.recordRange = {
                offset: map['recordOffset'],
                count: map['recordCount'],
                order: map['recordOrder']
            };

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        ProjectFeedbacks
    </li>
    <li>
        <label for="projectID">ProjectID</label>
        <input id="projectID" name="projectID" />
    </li>
    <li>
        <label for="feedbackType">FeedbackType</label>
        <input id="feedbackType" name="feedbackType" />
    </li>
    <li>
        <label for="memberID">MemberID</label>
        <input id="memberID" name="memberID" />
    </li>
    <li>
        <label for="flagReason">FlagReason</label>
        <input id="flagReason" name="flagReason" />
    </li>
    <li>
        <label for="retiredById">RetiredById</label>
        <input id="retiredById" name="retiredById" />
    </li>
    <li>
        <label for="retiredDateTime">RetiredDateTime</label>
        <input id="retiredDateTime" name="retiredDateTime" />
    </li>

    <li class="group">
        Record range
    </li>
    <li>
        <label for="recordOffset">Offset</label>
        <input id="recordOffset" name="recordOffset" value='0' />
    </li>
    <li>
        <label for="recordCount">Count</label>
        <input id="recordCount" name="recordCount" value='10' />
    </li>
    <li>
        <label for="recordOrder">Order</label>
        <input id="recordOrder" name="recordOrder" value='editedDateTime:d' />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
