    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'projectFeedbackUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['projectID'].length) t['projectID'] = map['projectID'];
            if (map['feedbackType'].length) t['feedbackType'] = map['feedbackType'];
            if (map['memberID'].length) t['memberID'] = map['memberID'];
            if (map['flagReason'].length) t['flagReason'] = map['flagReason'];
            if (map['retiredById'].length) t['retiredById'] = map['retiredById'];
            if (map['retiredDateTime'].length) t['retiredDateTime'] = map['retiredDateTime'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'projectFeedbackUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        ProjectFeedbacks
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="projectID">ProjectID</label>
        <input id="projectID" name="projectID" />
    </li>
    <li>
        <label for="feedbackType">FeedbackType</label>
        <input id="feedbackType" name="feedbackType" />
    </li>
    <li>
        <label for="memberID">MemberID</label>
        <input id="memberID" name="memberID" />
    </li>
    <li>
        <label for="flagReason">FlagReason</label>
        <input id="flagReason" name="flagReason" />
    </li>
    <li>
        <label for="retiredById">RetiredById</label>
        <input id="retiredById" name="retiredById" />
    </li>
    <li>
        <label for="retiredDateTime">RetiredDateTime</label>
        <input id="retiredDateTime" name="retiredDateTime" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
