    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'publishUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['accountId'].length) t['accountId'] = map['accountId'];
            if (map['projectId'].length) t['projectId'] = map['projectId'];
            if (map['firstPublishId'].length) t['firstPublishId'] = map['firstPublishId'];
            if (map['versionMajor'].length) t['versionMajor'] = map['versionMajor'];
            if (map['versionMinor'].length) t['versionMinor'] = map['versionMinor'];
            if (map['versionDot'].length) t['versionDot'] = map['versionDot'];
            if (map['versionBuildNumber'].length) t['versionBuildNumber'] = map['versionBuildNumber'];
            if (map['categoryId'].length) t['categoryId'] = map['categoryId'];
            if (map['name'].length) t['name'] = map['name'];
            if (map['description'].length) t['description'] = map['description'];
            if (map['thumbnailId'].length) t['thumbnailId'] = map['thumbnailId'];
            if (map['status'].length) t['status'] = map['status'];
            if (map['publishType'].length) t['publishType'] = map['publishType'];
            if (map['licenseType'].length) t['licenseType'] = map['licenseType'];
            if (map['price'].length) t['price'] = map['price'];
            if (map['currencyTypeId'].length) t['currencyTypeId'] = map['currencyTypeId'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'publishUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        Published
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="accountId">AccountId</label>
        <input id="accountId" name="accountId" />
    </li>
    <li>
        <label for="projectId">ProjectId</label>
        <input id="projectId" name="projectId" />
    </li>
    <li>
        <label for="firstPublishId">FirstPublishId</label>
        <input id="firstPublishId" name="firstPublishId" />
    </li>
    <li>
        <label for="versionMajor">VersionMajor</label>
        <input id="versionMajor" name="versionMajor" />
    </li>
    <li>
        <label for="versionMinor">VersionMinor</label>
        <input id="versionMinor" name="versionMinor" />
    </li>
    <li>
        <label for="versionDot">VersionDot</label>
        <input id="versionDot" name="versionDot" />
    </li>
    <li>
        <label for="versionBuildNumber">VersionBuildNumber</label>
        <input id="versionBuildNumber" name="versionBuildNumber" />
    </li>
    <li>
        <label for="categoryId">CategoryId</label>
        <input id="categoryId" name="categoryId" />
    </li>
    <li>
        <label for="name">Name</label>
        <input id="name" name="name" />
    </li>
    <li>
        <label for="description">Description</label>
        <input id="description" name="description" />
    </li>
    <li>
        <label for="thumbnailId">ThumbnailId</label>
        <input id="thumbnailId" name="thumbnailId" />
    </li>
    <li>
        <label for="status">Status</label>
        <!--input id="status" name="status" /-->
        <select id="status" name="status"><option value="publish_status_development">Development<option value="publish_status_alpha">Alpha<option value="publish_status_beta">Beta<option value="publish_status_release">Release</select>
    </li>
    <li>
        <label for="publishType">PublishType</label>
        <!--input id="publishType" name="publishType" /-->
        <select id="publishType" name="publishType"><option value="publish_type_gadget">Gadget<option value="publish_type_zapp">Zapp</select>
    </li>
    <li>
        <label for="licenseType">LicenseType</label>
        <!--input id="licenseType" name="licenseType" /-->
        <select id="licenseType" name="licenseType"><option value="license_type_zapp_minimal">Minimal Zapp<option value="license_type_gadget_minimal">Minimal Gadget<option value="license_type_gadget_republish_only">Republish Only Gadget<option value="license_type_gadget_republish_edit">Republish and Edit Gadget<option value="license_type_gadget_edit_only">Edit Only Gadget<option value="license_type_zapp_embed_only">Embeddable Zapp</select>
    </li>
    <li>
        <label for="price">Price</label>
        <input id="price" name="price" />
    </li>
    <li>
        <label for="currencyTypeId">CurrencyTypeId</label>
        <input id="currencyTypeId" name="currencyTypeId" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
