    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'publishLaunchCountUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['publishId'].length) t['publishId'] = map['publishId'];
            if (map['parentPublishId'].length) t['parentPublishId'] = map['parentPublishId'];
            if (map['launchedByAccountId'].length) t['launchedByAccountId'] = map['launchedByAccountId'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'publishLaunchCountUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        PublishLaunchCounts
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="publishId">PublishId</label>
        <input id="publishId" name="publishId" />
    </li>
    <li>
        <label for="parentPublishId">ParentPublishId</label>
        <input id="parentPublishId" name="parentPublishId" />
    </li>
    <li>
        <label for="launchedByAccountId">LaunchedByAccountId</label>
        <input id="launchedByAccountId" name="launchedByAccountId" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
