    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'screenShotUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['projectId'].length) t['projectId'] = map['projectId'];
            if (map['orderNumber'].length) t['orderNumber'] = map['orderNumber'];
            if (map['assetId'].length) t['assetId'] = map['assetId'];
            if (map['description'].length) t['description'] = map['description'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'screenShotUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        ScreenShots
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="projectId">ProjectId</label>
        <input id="projectId" name="projectId" />
    </li>
    <li>
        <label for="orderNumber">OrderNumber</label>
        <input id="orderNumber" name="orderNumber" />
    </li>
    <li>
        <label for="assetId">AssetId</label>
        <input id="assetId" name="assetId" />
    </li>
    <li>
        <label for="description">Description</label>
        <input id="description" name="description" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
