    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test].filters = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['publishId'].length) t['publishId'] = map['publishId'];
            if (map['email'].length) t['email'] = map['email'];
            if (map['retiredById'].length) t['retiredById'] = map['retiredById'];
            if (map['retiredDateTime'].length) t['retiredDateTime'] = map['retiredDateTime'];
            if (map['retiredReasonTypeId'].length) t['retiredReasonTypeId'] = map['retiredReasonTypeId'];
            if (map['uuid'].length) t['uuid'] = map['uuid'];
            if (map['firstName'].length) t['firstName'] = map['firstName'];
            if (map['lastName'].length) t['lastName'] = map['lastName'];
            if (map['userBody'].length) t['userBody'] = map['userBody'];

            o.recordRange = {
                offset: map['recordOffset'],
                count: map['recordCount'],
                order: map['recordOrder']
            };

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        SharedProjectInvitees
    </li>
    <li>
        <label for="publishId">PublishId</label>
        <input id="publishId" name="publishId" />
    </li>
    <li>
        <label for="email">Email</label>
        <input id="email" name="email" />
    </li>
    <li>
        <label for="retiredById">RetiredById</label>
        <input id="retiredById" name="retiredById" />
    </li>
    <li>
        <label for="retiredDateTime">RetiredDateTime</label>
        <input id="retiredDateTime" name="retiredDateTime" />
    </li>
    <li>
        <label for="retiredReasonTypeId">RetiredReasonTypeId</label>
        <input id="retiredReasonTypeId" name="retiredReasonTypeId" />
    </li>
    <li>
        <label for="uuid">UuId</label>
        <input id="uuid" name="uuid" />
    </li>
    <li>
        <label for="firstName">FirstName</label>
        <input id="firstName" name="firstName" />
    </li>
    <li>
        <label for="lastName">LastName</label>
        <input id="lastName" name="lastName" />
    </li>
    <li>
        <label for="userBody">UserBody</label>
        <input id="userBody" name="userBody" />
    </li>

    <li class="group">
        Record range
    </li>
    <li>
        <label for="recordOffset">Offset</label>
        <input id="recordOffset" name="recordOffset" value='0' />
    </li>
    <li>
        <label for="recordCount">Count</label>
        <input id="recordCount" name="recordCount" value='10' />
    </li>
    <li>
        <label for="recordOrder">Order</label>
        <input id="recordOrder" name="recordOrder" value='editedDateTime:d' />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
