    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'sharedProjectUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['publishId'].length) t['publishId'] = map['publishId'];
            if (map['retiredById'].length) t['retiredById'] = map['retiredById'];
            if (map['retiredDateTime'].length) t['retiredDateTime'] = map['retiredDateTime'];
            if (map['retiredReasonId'].length) t['retiredReasonId'] = map['retiredReasonId'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'sharedProjectUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        SharedProjects
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="publishId">PublishId</label>
        <input id="publishId" name="publishId" />
    </li>
    <li>
        <label for="retiredById">RetiredById</label>
        <input id="retiredById" name="retiredById" />
    </li>
    <li>
        <label for="retiredDateTime">RetiredDateTime</label>
        <input id="retiredDateTime" name="retiredDateTime" />
    </li>
    <li>
        <label for="retiredReasonId">RetiredReasonId</label>
        <input id="retiredReasonId" name="retiredReasonId" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
