    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.paid').toggle(test == 'signUpCreatePaid');
            // if (test == 'signUpCreateFree')
            //     jQuery('#accountType').val("free")
        }
        TestbenchTestForm.makeObject = function (form, test)
        {
            var o = {
                signUpCreate: {
                    accountType: form['accountType'],
                    member: {
                        firstName: form['firstName'],
                        lastName: form['lastName'],
                        email: form['email'],
                        password: form['password']
                    },
                    company: {
                        name: form['companyName']
                    },
                    accountAddress: {
                        country: form['accountCountry'],
                        address1: form['accountAddress1'],
                        address2: form['accountAddress2'],
                        city: form['accountCity'],
                        stateProvince: form['accountStateProvince'],
                        zipPostalCode: form['accountZipPostalCode']
                    },
                    creditCard: {
                        creditCardType: form['creditCardType'],
                        nameOnCreditCard: form['nameOnCreditCard'],
                        cardNumber: form['cardNumber'],
                        expirationMonth: form['expirationMonth'],
                        expirationYear: form['expirationYear'],
                        securityCode: form['securityCode']
                    },
                    billingAddress: { // pretend there is 'use account address' checkbox and it is checked
                        country: form['accountCountry'],
                        address1: form['accountAddress1'],
                        address2: form['accountAddress2'],
                        city: form['accountCity'],
                        stateProvince: form['accountStateProvince'],
                        zipPostalCode: form['accountZipPostalCode']
                    }
                }
            };
            if (test == 'signUpCreateFree')
            {
                o.signUpCreate.accountType = 'free';
                delete o.signUpCreate.company;
                delete o.signUpCreate.accountAddress;
                delete o.signUpCreate.creditCard;
                delete o.signUpCreate.billingAddress
            }
            return o;
        }
    </script>
    <li class="group paid">
        &nbsp;
    </li>
    <li class="paid">
        <label for="accountType">Account type</label>
        <select name="accountType">
          <option value="creator">Creator</option>
          <!--option value="basic">Basic</option>
          <option value="standard">Standard</option>
          <option value="premium">Premium</option>
          <option value="professional">Professional</option-->
        </select>
    </li>
    <li class="group">
        Member
    </li>
    <li>
        <label for="firstName">First name</label>
        <input name="firstName"/>
    </li>
    <li>
        <label for="lastName">Last name</label>
        <input name="lastName"/>
    </li>
    <li>
        <label for="email">Email</label>
        <input name="email"/>
    </li>
    <li>
        <label for="password">Password</label>
        <input name="password"/>
    </li>

    <li class="group paid">
        Company
    </li>
    <li class="paid">
        <label for="companyName">Name</label>
        <input name="companyName"/>
    </li>

    <li class="group paid">
        Address
    </li>
    <li class="paid">
        <label for="accountCountry">Country</label>
        <select name="accountCountry">
          <option value="us">United States</option>
          <option value="jp">Japan</option>
          <option value="it">Italy</option>
        </select>
    </li>
    <li class="paid">
        <label for="accountAddress1">Address 1</label>
        <input name="accountAddress1"/>
    </li>
    <li class="paid">
        <label for="accountAddress2">Address 2</label>
        <input name="accountAddress2"/>
    </li>
    <li class="paid">
        <label for="accountCity">City</label>
        <input name="accountCity"/>
    </li>
    <li class="paid">
        <label for="accountstateProvince">State</label>
        <select name="accountStateProvince">
          <option value="mn">Minnesota</option>
          <option value="ca">California</option>
          <option value="ny">New York</option>
        </select>
    </li>
    <li class="paid">
        <label for="accountZipPostalCode">Zip code</label>
        <input name="accountZipPostalCode"/>
    </li>

    <li class="group paid">
        Credit card
    </li>
    <li class="paid">
        <label for="creditCardType">Type</label>
        <select name="creditCardType" id="creditCardType">
            <option selected="selected" value=" ">Select Card Type...</option>
            <option value="amex">American Express</option>
            <option value="mastercard">MasterCard</option>
            <option value="visa">Visa</option>
            <option value="discover">Discover</option>
        </select>
    </li>
    <li class="paid">
        <label for="nameOnCreditCard">Name on card</label>
        <input name="nameOnCreditCard"/>
    </li>
    <li class="paid">
        <label for="cardNumber">Card number</label>
        <input name="cardNumber"/>
    </li>
    <li class="paid">
        <label for="expirationMonth">Expiration Month</label>
        <select name="expirationMonth" id="expirationMonth">
            <option value="01">Jan<option value="02">Feb<option value="03">Mar<option value="04">Apr<option value="05">May<option value="06">Jun
            <option value="07">Jul<option value="08">Aug<option value="09">Sep<option value="10">Oct<option value="11">Nov<option value="12">Dec</select>
    </li>
    <li class="paid">
        <label for="expirationYear">Expiration Year</label>
        <select name="expirationYear" id="expirationYear">
            <option>2011<option>2012<option>2013<option>2014<option>2015<option>2016<option>2017<option>2018<option>2019<option>2020</select>
    </li>
    <li class="paid">
        <label for="securityCode">Security code</label>
        <input name="securityCode"/>
    </li>
