    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'telephoneUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['type'].length) t['type'] = map['type'];
            if (map['accountId'].length) t['accountId'] = map['accountId'];
            if (map['memberId'].length) t['memberId'] = map['memberId'];
            if (map['label'].length) t['label'] = map['label'];
            if (map['number'].length) t['number'] = map['number'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'telephoneUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        Telephones
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="type">Type</label>
        <!--input id="type" name="type" /-->
        <select id="type" name="type"><option>Primary<option>Mobile<option>Sales<option>Billing<option>Shipping<option>Technical</select>
    </li>
    <li>
        <label for="accountId">AccountId</label>
        <input id="accountId" name="accountId" />
    </li>
    <li>
        <label for="memberId">MemberId</label>
        <input id="memberId" name="memberId" />
    </li>
    <li>
        <label for="label">Label</label>
        <input id="label" name="label" />
    </li>
    <li>
        <label for="number">Number</label>
        <input id="number" name="number" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
