    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'invoiceLineItemUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
/*{{*/
            if (map['shortName'].length) t['shortName'] = map['shortName'];
            if (map['longName'].length) t['longName'] = map['longName'];
            if (map['displayOrder'].length) t['displayOrder'] = map['displayOrder'];
            if (map['visibility'].length) t['visibility'] = map['visibility'];
            if (map['definition'].length) t['definition'] = map['definition'];
            if (map['color'].length) t['color'] = map['color'];
/*}}*/
            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'invoiceLineItemUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        InvoiceLineItems
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
/*{{*/
    <li>
        <label for="shortName">Short Name</label>
        <input id="shortName" name="shortName" />
    </li>
    <li>
        <label for="longName">Long Name</label>
        <input id="longName" name="longName" />
    </li>
    <li>
        <label for="displayOrder">Display Order</label>
        <input id="displayOrder" name="displayOrder" />
    </li>
    <li>
        <label for="visibility">Visibility</label>
        <input id="visibility" name="visibility" />
    </li>
    <li>
        <label for="definition">Definition</label>
        <input id="definition" name="definition" />
    </li>
    <li>
        <label for="color">Color</label>
        <input id="color" name="color" />
    </li>
/*}}*/
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
