    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            o[test] = {};
            var t = o[test].filters = {};

            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['publishId'].length) t['publishId'] = map['publishId'];
            if (map['memberId'].length) t['memberId'] = map['memberId'];
            if (map['comment'].length) t['comment'] = map['comment'];
            if (map['helpfulCount'].length) t['helpfulCount'] = map['helpfulCount'];
            if (map['feedbackCount'].length) t['feedbackCount'] = map['feedbackCount'];

            o.recordRange = {
                offset: map['recordOffset'],
                count: map['recordCount'],
                order: map['recordOrder']
            };

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        ZappComments
    </li>
    <li>
        <label for="publishId">PublishId</label>
        <input id="publishId" name="publishId" />
    </li>
    <li>
        <label for="memberId">MemberId</label>
        <input id="memberId" name="memberId" />
    </li>
    <li>
        <label for="comment">Comment</label>
        <input id="comment" name="comment" />
    </li>
    <li>
        <label for="helpfulCount">HelpfulCount</label>
        <input id="helpfulCount" name="helpfulCount" />
    </li>
    <li>
        <label for="feedbackCount">FeedbackCount</label>
        <input id="feedbackCount" name="feedbackCount" />
    </li>

    <li class="group">
        Record range
    </li>
    <li>
        <label for="recordOffset">Offset</label>
        <input id="recordOffset" name="recordOffset" value='0' />
    </li>
    <li>
        <label for="recordCount">Count</label>
        <input id="recordCount" name="recordCount" value='10' />
    </li>
    <li>
        <label for="recordOrder">Order</label>
        <input id="recordOrder" name="recordOrder" value='editedDateTime:d' />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
