    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'ratingSummary');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['ids'].length) {
                t['ids'] = map['ids'].split(',', 50);
            }
            t.comments = {};
            if (map['exclude'].length) t.comments['exclude'] = map['exclude'];
            if (map['offset'].length) t.comments['offset'] = map['offset'];
            if (map['count'].length) t.comments['count'] = map['count'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            return o;
        }
                
    </script>
    
    <li class="group">
        ZappRatings
    </li>
    <li>
        <label for="ids">Gadget ID List (comma separated)</label>
        <textarea id="ids" name="ids"></textarea>
        <!--input id="ids" name="ids" value="0" /-->
    </li>
    <li>
        <label for="exclude">Exclude</label>
        <select id="exclude" name="exclude">
            <option>false</option>
            <option>true</option>
        </select>
    </li>
    <li>
        <label for="offset">Index</label>
        <input id="offset" name="offset" value="0" />
    </li>
    <li>
        <label for="count">Count</label>
        <input id="count" name="count" value="5" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
