    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {
                zappPurchase: {
                    accountId: map['accountId'],
                    zappList: [
                        {publishId: map['zapp1']},
                        {publishId: map['zapp2']},
                        {publishId: map['zapp3']},
                    ]
                }
            };
            // cull any empty map[zapp*] entries
            for (var i = 0; i < o.zappPurchase.zappList.length; i++)
            {
                if (o.zappPurchase.zappList[i].publishId.length == 0)
                {
                    o.zappPurchase.zappList.splice(i, 1);
                    i--;
                }
            }

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };

            return o;
        }
    </script>
    <li class="group">
        Zapp - purchase zapp/gadget
    </li>
    <li>
        <label for="accountId">AccountId</label>
        <input id="accountId" name="accountId" />
    </li>
    <li>
        <label for="zapp1">Zapp/Gadget 1 publishId</label>
        <input id="zapp1" name="zapp1" />
    </li>
    <li>
        <label for="zapp2">Zapp/Gadget 2 publishId</label>
        <input id="zapp2" name="zapp2" />
    </li>
    <li>
        <label for="zapp3">Zapp/Gadget 3 publishId</label>
        <input id="zapp3" name="zapp3" />
    </li>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
