    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'zappRatingCacheUpdate');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['publishId'].length) t['publishId'] = map['publishId'];
            if (map['numRatings'].length) t['numRatings'] = map['numRatings'];
            if (map['ratingTotal'].length) t['ratingTotal'] = map['ratingTotal'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'zappRatingCacheUpdate')
                o[test].id = map['id'];
            return o;
        }
    </script>
    <li class="group">
        ZappRatingCaches
    </li>
    <li class='update'>
        <label for="id">Id</label>
        <input id="id" name="id">
    </li>
    <li>
        <label for="publishId">PublishId</label>
        <input id="publishId" name="publishId" />
    </li>
    <li>
        <label for="numRatings">NumRatings</label>
        <input id="numRatings" name="numRatings" />
    </li>
    <li>
        <label for="ratingTotal">RatingTotal</label>
        <input id="ratingTotal" name="ratingTotal" />
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
