    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.displayForm = function (test)
        {
            jQuery('.update').toggle(test == 'zappUpdateRatingAndCache');
        }
        TestbenchTestForm.makeObject = function (map, test)
        {
            var o = {};
            var t = o[test] = {};
            // Only include data that the user has entered into fields.
            // This precludes changing a value to an empty string
            if (map['publishId'].length) t['publishId'] = map['publishId'];
            if (map['memberId'].length) t['memberId'] = map['memberId'];
            if (map['rating'].length) t['rating'] = map['rating'];

            o.credentials  = {
                email : map['credentialEmail'],
                password : map['credentialPassword']
            };
            
            if (test == 'zappUpdateRatingAndCache')
                o[test].id = map['id'];
            return o;
        }

        // jQuery('document').ready(function(){
        //     ZappRating.init('starsExample');
        // });

        
    </script>
    
    <li class="group">
        ZappRatings
    </li>
    <li>
        <label for="javascriptExample">JS Example</label>
        <span id="starsExample"/>
    </li>
    <li>
        <label for="publishId">PublishId</label>
        <input id="publishId" name="publishId" />
    </li>
    <li>
        <label for="memberId">MemberId</label>
        <input id="memberId" name="memberId" />
    </li>
    <li>
        <label for="rating">Rating</label>
        <select id="rating" name="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </li>

    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" />
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" />
    </li>
