    <script type="text/javascript" charset="utf-8">
        TestbenchTestForm.makeObject = function (form, test)
        {
            var o = {
                credentials: {
                    email : form['credentialEmail'],
                    password : form['credentialPassword']
                }
            };
            return o;
        }
    </script>
    <li class="group">
        Credentials
    </li>
    <li>
        <label for="credentialEmail">Email</label>
        <input id="credentialEmail" name="credentialEmail" value="test@somedomain.com"/>
    </li>
    <li>
        <label for="credentialPassword">Password</label>
        <input id="credentialPassword" name="credentialPassword" value="testpasswd"/>
    </li>
