<div class="overlay legal"></div>
<div class="overlayBack"><!--NEW DIV and Style acts as second layer with origin upper-left of screen   style="position: absolute; top: 0pt; left: 0pt; z-index: 3000; width: 100%;"-->
    <div class="overlayContent legal">
        <div class="block">
            <div class="blockTop">
                <h2><span class="floatRight"><a id="close" href="#close">X</a></span>ZebraZapps Community Guidelines</h2>
            </div>
            <a href="#">
            </a>
            <div class="text">
                <p>Effective as of January 25th, 2013</p>
                <p>
                    <strong>PLEASE READ THESE GUIDELINES TO HELP YOU UNDERSTAND WHAT IT MEANS 
                    TO BE A MEMBER OF THE ZEBRAZAPPS COMMUNITY</strong> - Allen Learning 
                    Technologies LLC (“Allen” or “us” or “we”) wants the users of ZebraZapps website 
                    or any ZebraZapps products and services provided to you on, from, or through the 
                    ZebraZapps website or any other interface or application (collectively the 
                    “Service”) to be responsible and respectful of others. Your use of the Service is 
                    subject to these community guidelines (“Community Guidelines”) as well as to the 
                    Terms of Service.
                </p>
                <p>
                    <strong>If you cannot abide by these guidelines, then please do not provide us with 
                    content, exit this website immediately, and discontinue using the site or any 
                    component of the Service.</strong>
                </p>
                <p>
                    <u>Changes and Modifications</u> Although we may attempt to notify you when major 
                    changes are made to the Community Guidelines, you should periodically review 
                    the most up-to-date version at <a href="http://www.zebrazapps.com/#/legal?community-guidelines">http://www.zebrazapps.com/#/legal?community-guidelines</a>. 
                    We may, in our sole discretion, modify the Community Guidelines at 
                    any time, and your continued use of the Service after we post any such 
                    modifications will signify your agreement to be bound by such modifications.
                </p>
                <p> 
                    WHAT TO DO<br/>
                    This is your community! Each and every user of the Service makes the community 
                    what it is, so please be involved.
                    <ul>
                        <li>Have fun and play. There's a lot to do and see here, and lots of folks making amazing interactive stuff. </li>
                        <li>Give feedback. Feedback is part of the experience, and when done with respect, can be a great way to make friends and share stories. So leave comments, rate Apps and Gadgets, participate in discussion threads, and enter contests of interest.</li>
                        <li>Be open. You may not like everything you see, hear, and interact with. See the world through others’ creations or move on to other stuff and let us know if you think it violates our Terms of Service.</li>
                        <li>Tell others. The more members of the community the better. If you like being a member, your friends will too.</li>
                    </ul>
                </p>
                <p> 
                    WHAT NOT TO DO<br/>
                    Unfortunately, it is easier to give you a list of all the things that you should not do 
                    than all the things you should do. Most of these are common-sense and will keep 
                    you out of trouble:
                    <ul>
                        <li>Don’t upload, create or distribute content:
                            <ul>
                                <li>showing pornography or sexually explicit activities.</li>
                                <li>showing bad, shocking, or disgusting materials like animal abuse, drug abuse, under-age drinking and smoking, bomb making, graphic or gratuitous violence (someone being physically hurt, attacked, abused or humiliated), dead bodies, or accident victims.</li>
                                <li>that is false, fraudulent, makes misleading representations, is illegal, inflammatory, or primarily marketing materials/advertisements.</li>
                                <li>that isn’t yours. Respect the copyrights of others. Only use content that you made or that you are authorized to use. </li>
                                <li>that you have priced crazy-high in hopes that someone mistakenly purchases it.</li>
                            </ul>
                        </li>  
                        <li>Don’t harass, abuse, impersonate, stalk, intimidate or threaten others.</li>    
                        <li>Don’t use hate speech (speech which attacks or demeans a group based on race or ethnic origin, religion, disability, gender, age, veteran status, and sexual orientation/gender identity).</li>    
                        <li>Don’t reveal other people’s personal information or violate their privacy without their prior approval.</li>    
                        <li>Don’t solicit, promote, encourage or incite others to commit violent acts, criminal/reckless behavior, or to violate the Terms of Service.</li>    
                        <li>Don’t vent your frustrations on or bore to death other members.</li>                  
                    </ul>
                </p>
                <p>
                    Please take these rules seriously and take them to heart. Serious or repeat 
                    violations can lead to termination of your account and in certain cases reporting 
                    you to legal authorities.
                </p>

                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>