<div class="overlay legal"></div>
<div class="overlayBack"><!--NEW DIV and Style acts as second layer with origin upper-left of screen   style="position: absolute; top: 0pt; left: 0pt; z-index: 3000; width: 100%;"-->
    <div class="overlayContent legal">
        <div class="block">
            <div class="blockTop">
                <h2><span class="floatRight"><a id="close" href="#close">X</a></span>ZebraZapps Copyright Infringement Policy</h2>
            </div>
            <a href="#">
            </a>
            <div class="text">
                <p>Effective as of January 25th, 2013</p>
                <p><strong>PLEASE READ THIS POLICY TO LEARN MORE ABOUT HOW ALLEN TREATS COPYRIGHT INFRINGEMENT</strong> - Allen Learning Technologies LLC (“Allen” or “us” or “we”) has adopted the following general policy toward copyright infringement (“Copyright Infringement Policy”) in accordance with the U.S. Digital Millennium Copyright Act (“DMCA”) (http://lcweb.loc.gov/copyright/legislation/dmca.pdf). The address of Allen’s Designated Agent to Receive Notification of Claimed Infringement (“Designated Agent”) is listed at the end of this Copyright Infringement Policy.</p>
                <p>This Copyright Infringement Policy applies to content (including, but not limited to diagrams, text, graphics, interactive media in various formats, photographs, images, illustrations, audio clips, video clips, ZebraZapps applications (i.e., Apps) and ZebraZapps reusable code objects (i.e., Gadgets) (collectively referred to as the “Content”) we receive when you use the ZebraZapps website or any ZebraZapps products and services provided to you on, from, or through the ZebraZapps website or any other interface or application (collectively the “Service”). It is Allen’s policy to (1) block access to or remove any Content that it believes in good faith to be copyrighted material that has been illegally copied and distributed by any of Allen’s users, advertisers, affiliates, content providers; and (2) remove and discontinue service to repeat offenders. This Privacy Policy is an agreement between Allen and you, as the user of the Service.</p>
                <p>Allen’s Terms of Service are expressly incorporated into this Copyright Infringement Policy by reference and made a part of this Copyright Infringement Policy. By using the Service, you signify that you agree to the terms of this Copyright Infringement Policy as well as to the Terms of Service.</p>
                <p><strong>If you do not understand and agree with the terms of this policy, then please do not provide us with Content, exit this website immediately, and discontinue using the site or any component of the Service.</strong></p>
                <p><u>Changes and Modifications</u> Although we may attempt to notify you when major changes are made to this Copyright Infringement Policy, you should periodically review the most up-to-date version at <a href="https://www.zebrazapps.com/#/legal?copyright-infringement-policy">https://www.zebrazapps.com/#/legal?copyright-infringement-policy</a>. We may, in our sole discretion, modify the Copyright Infringement Policy at any time, and your continued use of the Service after we post any such modifications will signify your agreement to be bound by such modifications.

                <p>
                    <h2><strong>REPORTING COPYRIGHT INFRINGEMENT</strong></h2>
                    <ol>
                        <li>Identification of the copyrighted work that you claim has been infringed on or through the Service, including the copyright registration number for any such work if applicable;</li>
                        <li>Identification of the Content that you claim has infringed on the identified copyrighted work, including (a) a description of how the material in question is using the copyrighted work in a way that constitutes copyright infringement, and (b) a description of where the material in question is located on or in the Service, with sufficient detail that we may verify the existence of the material within the Service;</li>
                        <li>Your contact information, including your full name, mailing address, telephone number, and email address;</li>
                        <li>A statement by you that you have a good faith belief that the disputed use of the copyrighted materials is not authorized by the copyright holder, its agents, or the law;</li>
                        <li>A statement by you, made under penalty of perjury, that the information provided in your notice is accurate and that you are the copyright holder or are the authorized to act on behalf of the copyright holder; and</li>
                        <li>An electronic or physical signature of the person authorized to act on behalf of the copyright holder. </li>
                    </ol>
                </p>
                <p>
                    <h2><strong>ONCE PROPER BONA FIDE INFRINGEMENT NOTIFICATION IS RECEIVED AND INVESTIGATED BY THE DESIGNATED AGENT</strong></h2>
                    It is Allen’s policy: 
                    <ol>
                        <li>to remove or disable access to the allegedly infringing Content; </li>
                        <li>to notify the user whose Content has been removed or disabled; and </li>
                        <li>that repeat offenders will have the allegedly infringing Content removed from the Service and that Allen will terminate such user’s access to the Service. </li>
                    </ol>
                </p>
                <p>
                    <h2><strong>COUNTER-NOTICE TO THE DESIGNATED AGENT</strong></h2>
                    If the notified-user believes that the Content which was removed or to which access was disabled is either not infringing, or the user believes that he or she has the right to post and use such Content from the copyright owner, the copyright owner’s agent, or pursuant to the law (including as a fair use), the notified-user must send a counter-notice containing the following information to the Designated Agent listed below: 
                    <ol>
                        <li>Identification of the Content that has been removed or disabled, including a description of the where the material in question appeared on the Service before it was removed or disabled; </li>
                        <li>A statement by you, made under penalty of perjury, that you have a good faith belief that the Content was removed or blocked as a result of a mistake or misidentification of the Content in question; </li>
                        <li>Your contact information, including full name, mailing address, telephone number, and email address; </li>
                        <li>A statement by you that you consent to the jurisdiction of the Federal Court for the judicial district in which your address is located or, if your address is outside of the USA, for the judicial district in which Allen is located, and that you will accept service of process from the person who provided notification of the alleged infringement; </li>
                        <li>Your electronic or physical signature.</li>
                    </ol>
                    If a counter-notice is received by the Designated Agent, Allen may send a copy of the counter-notice to the original complaining party informing him or her that Allen may replace the removed Content or cease disabling it in 10 business days. Unless the copyright owner files an action seeking a court order against the user, the removed Content may be replaced, or access to it restored, in 10 to 14 business days or more after receipt of the counter-notice, at Allen’s sole discretion.
                </p> 
                <p>Please send an email to Allen’s Designated Agent to Receive Notification or Counter Notification of Claimed Infringement at <a href="mailto:copyright@zebrazapps.com">copyright@zebrazapps.com</a> or write to us at:<br/><br/>
                    <strong>Allen Learning Technologies LLC<br/>
					Attn: Martin Lipshutz<br/>
					1120 Centre Pointe Drive, Suite 800<br/>
					Mendota Heights, MN 55120<br/>
					Fax: (651) 203-3799<br/></strong>
				</p>
            </div>
        </div>
    </div>
</div>