<div class="overlay legal"></div>
<div class="overlayBack"><!--NEW DIV and Style acts as second layer with origin upper-left of screen   style="position: absolute; top: 0pt; left: 0pt; z-index: 3000; width: 100%;"-->
    <div class="overlayContent legal">
        <div class="block">
            <div class="blockTop">
                <h2><span class="floatRight"><a id="close" href="#close">X</a></span>ZebraZapps Privacy Policy</h2>
            </div>
            <a href="#">
            </a>
            <div class="text">
                <p>Effective as of January 25th, 2013</p>
                <p><strong>PLEASE READ THIS POLICY TO LEARN MORE ABOUT HOW ALLEN TREATS PERSONALLY IDENTIFIABLE INFORMATION AND USES CERTAIN INFORMATION</strong> - Allen Learning Technologies LLC (“Allen” or “us” or “we”) respects the privacy and personal information of the members of the ZebraZapps community. This privacy policy (“Privacy Policy”) applies to information we receive when you use the ZebraZapps website or any ZebraZapps products and services provided to you on, from, or through the ZebraZapps website or any other interface or application (collectively the “Service”). This Privacy Policy is an agreement between Allen and you, as the user of the Service. We share your personal information only with your consent or as described in this Privacy Policy.</p> 
				<p>Allen’s Terms of Service are expressly incorporated into this Privacy Policy by reference and made a part of this Privacy Policy. By using the Service, you signify that you agree to the terms of this Privacy Policy as well as to the Terms of Service.</p>
				<p>If you do not understand and agree with the terms of this policy, then please do not provide us with personal information, exit this website immediately, and discontinue using the site or any component of the Service.</p>
				<p><u>Changes and Modifications</u> Although we may attempt to notify you when major changes are made to this Privacy Policy, you should periodically review the most up-to-date version at <a href="https://www.zebrazapps.com/#/legal?privacy-policy">https://www.zebrazapps.com/#/legal?privacy-policy</a>. Changes will become effective thirty (30) days after they are posted to the website or we otherwise notify you of the changes. Use of information we collect is subject to the Privacy Policy in effect at the time such information was collected. We may, in our sole discretion, modify the Privacy Policy at any time, and your continued use of the Service after we post any such modifications will signify your agreement to be bound by such modifications.</p>
				<p><strong>TERMS OF USE </strong><br/>
				Any Service you wish to use is purely voluntary. You are not required to provide any personal information to us unless you choose to access features of the Service which require such information.
				<p><strong>POLICY APPLICABLE TO ONLINE ACTIVITIES ONLY </strong><br/>
				The privacy policy does not extend to anything that is inherent in the operation of the internet, and therefore beyond Allen’s control, and is not to be applied in any manner contrary to applicable law or governmental regulation. This Privacy Policy only applies to information collected through the Service and otherwise as described in this Privacy Policy. </p>
				<p><strong>PERSONAL INFORMATION ABOUT YOU </strong><br/>
				<p><u>Types Of Information Collected</u> As a condition to using certain components of the Service, you may be required to establish an account (“Account”) with us. We may ask you for certain information, referred to as “personal information,” which includes information that pertains to your identity. Such information may include, but is not limited to, items such as your name, email address, and credit card billing information.</p>
				<p><u>Personal Information You Provide to Us</u> You may be required to provide personal information to access or use certain parts or features of the Service. For example, you will be asked to provide your name and a valid email address to establish an Account. For certain Account types, you will also be asked to provide credit card account or payment information and billing information. If you do not provide the requested personal information, you may not be able to access or use the particular component of the Service where such information is required.</p>
				<p><strong>INFORMATION WE MAY COLLECT</strong><br/>
				<p><u>General</u> The information collected is not limited to text characters and may include audio, video and graphic information formats you send us. We use your e-mail address to answer your questions, address your concerns, or forward to someone else for a response. Survey information is used for much the same purposes.</p>
				<p><u>Types Of Information Collected</u> We automatically collect the following type of information each time you visit: (a) The Internet Protocol (IP) Address and domain name used. The IP Address is a numerical identifier assigned either to your Internet service provider or directly to your computer. The IP Address helps us direct Internet traffic to you. (b) The type of browser and operating system you used. (c) The date and time you visited. (d) The Internet pages you visited, along with file names and sizes. (e) The key words entered into our search engine. (f) System settings at the time you reported a bug.</p>
				<p>If you send an e-mail, subscribe to e-mail newsletters, participate in an online survey, or provide other information using the ZebraZapps website, the following may also be collected: (a) Your e-mail address and contents of your e-mail message (including attachments and signature blocks). (b) Contact information (address, telephone). (c) Organization that you represent. (d) Information volunteered in response to a survey. (e) Information volunteered through an on-line form for any other purpose.</p>
				<p>Such information, including the Click Stream Data and cookies as mentioned below, may be collected from you whenever you access or use the Service, whether or not you provide us with any other personal information.</p>
				<p><u>Click Stream Data</u> When you use the Service we may collect “click stream data” (server address, domain name, etc.). This information can be combined with information you have provided to us, which will enable us to analyze and better customize your visits. We may use click stream data for traffic analysis or e-commerce analysis of our services, to determine which features within the Service are most or least effective or useful to you.</p>
				<p><u>Cookies</u> A cookie is a small text file of information that the website you visit transfers to your computer for identification purposes. Cookies can be used to follow your activity throughout the Service and that information helps us to understand your preferences and improve your experience. ZebraZapps cookies do not collect personal information from you, and we do not combine the general information collected through cookies with other personal information you may provide to personally identify you. You can turn off all cookies, if you prefer not to receive them. You can also have your computer warn you whenever cookies are being used. Please refer to documentation provider with your web browser (e.g., Firefox, Safari, Chrome, or Internet Explorer) for information on enabling these options. There are also software products available that can manage cookies for you. Please be aware, however, that when you choose to reject cookies, this choice may limit the functionality of the ZebraZapps website and you may lose access to some of its features.</p>
				<p><strong>USE AND SHARING OF INFORMATION</strong><br/>
				<u>To Provide Products and Services to You</u> We will use the personal information you provide and any other information we receive from you to provide products and services to you, which include: (a) To process orders you may place at the ZebraZapps website. (b) To assist those who help us in designing and operating the Service or help us analyze collected data. These parties will only use your data for the purpose of carrying out the work as agreed with us and will be required to keep the information confidential. (c) To send you information or materials via email about products, offers, and news we think might interest you. This information may relate to products, offers, and news of Allen, ZebraZapps, or its licensees or selected commercial partners. (If you no longer wish to receive any emails from us, or if you want to modify your personal data or want your personal data to be deleted from our database.) (d) To analyze visits to the ZebraZapps website and learn about the interests of our visitors in the aggregate and also on a personal level to better understand your interests and needs, so we can improve our products and services and deliver to you the type of content, features, and promotions that you are most interested in. (e) To publish and/or distribute any feedback, suggestions, or any communications regarding the Service or Allen. For example, we may share your comments with our team members or publish them in customer-information materials.</p>
				<p><u>Business Transfers</u> In some cases, we may choose to buy or sell assets. In these types of transactions, customer information is typically one of the business assets that is transferred. Moreover, if Allen or substantially all of its assets were acquired, customer information would likely be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of Allen may continue to use your personal information as set forth in this policy.</p>
				<p><u>Protection of Allen and Others</u> We may release personal information when we believe in good faith that release is necessary to comply with any law, enforce or apply our Terms of Service and other agreements, or protect the rights, property, or safety of Allen, our employees, our customers, or others. We may disclose personal or general information upon receipt of a court order or subpoena, or to cooperate with a law enforcement investigation, which may include responding to requests and court orders from jurisdictions outside the United States. We reserve the right to report to law enforcement agencies any activities that we in good faith believe to be unlawful, as determined in our sole discretion. </p>
				<p><u>With Your Consent</u> Except as set forth herein, we will notify you or obtain your consent before your personal information may be shared with third parties, and will be able to prevent the sharing of this information. Registered users may, at anytime, elect to stop receiving emails from us.
				<p><u>Retention of Your Information</u> We will only retain your information to the extent: (a) it is needed for the purposes which we have conveyed to you; (b) we are required by law to maintain such information; or (c) it is needed for us to address any issues or inquiries that you may have. When your information is no longer required, we will dispose of such information by destroying it or erasing it.</p>
				<p><strong>PROTECTION OF YOUR INFORMATION</strong><br/>
				<p><u>Security Measures</u> In order to protect both the personal information and the general information that we receive from you through your use of the Service, we have implemented various security measures. For example, when you enter sensitive information (such as your credit card number) on our online forms, we encrypt that information using secure socket layer technology (SSL) and this information is not kept by us but by our credit card merchant, Authorize.net. We also follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it.</p>
				In order to protect the privacy of the information/content in your Account, we will not knowingly access any information/content in your Account without your written authorization or by a valid legal order. Notwithstanding the preceding sentence, we may gather analytics regarding community member’s use of the Service, which may include an automated gathering of Account information/data. In such cases, any Account information/data will be anonymized before including it in any analytical report. At no time will we request your password. </p>
				<p><u>Risk of Interception</u> Please keep in mind, however, that whenever you give out personal information online there is a risk that third parties may intercept and use that information. While Allen strives to protect your personal information and privacy, we cannot guarantee the security of any information you disclose online. By using the Service, you expressly acknowledge and agree that we do not guarantee the security of any data provided to or received by us through your use of the Service and that any personal information, general information, or other data or information received from you through your use of the Service is provided to us at your own risk, which you expressly assume.</p>
				<p><strong>NO USE OF THIS SERVICE BY MINORS PERMITTED</strong><br/>
				<u>Registration Declined for Minors</u> The Service is intended only for those who are at least 18 years of age or who have obtained the consent of their parent, guardian, or teacher to use the Service. Personal registration information submitted by a minor violates the Terms of Service and will not be accepted. Any general information provided by minor and gathered (for example, through the use of cookies) during his or her visit may be used as indicated in this privacy policy. Allen is committed to protecting the privacy of children and has no intention of collecting personal data from minors. We encourage parents, guardians, and teachers of minors to regularly check and monitor their children’s use of email and other activities online.</p>
				<p><u>Notice Concerning Children</u> The Service is general audience service, and does not direct any of its content, products, or services specifically at children under 13 years of age. We understand and are committed to respecting the sensitive nature of children’s privacy online. If we learn or have reason to suspect that a user of the Service is under age 13 and such user’s Account was not established by a parent, guardian, or teacher so that the user’s personal information is protected, we will promptly delete any personal information in that user’s account. </p>
				<p><strong>LINKS TO THIRD PARTIES</strong><br/>
				For your convenience and to improve the usage of the Service we may insert links to third party websites. This privacy policy does not apply to such third party websites. These links take you outside our Service, and off the ZebraZapps website, and are beyond our control. This includes links from partners that may use ZebraZapps’ logos as part of a co-branding agreement. The sites those links can take you to have their own separate privacy policy and although we seek to protect the integrity of our Service, Allen is not liable for the content and activities of those sites. Your visits and access to such websites is at your own risk. Please note that those other sites may send their own cookies to users, collect data, or solicit personal information.</p>
				<p><strong>CANCELING YOUR ACCOUNT, OPTING OUT OF EMAIL, AND MODIFYING PERSONAL INFORMATION</strong><br/>
				You may cancel your Account and you may opt out of receiving any emails from Allen at any time. You may cancel your account, opt out of, or modify your personal information by visiting the ZebraZapps website and following the instructions provided or by emailing us. We encourage you promptly to update your personal information when it changes. Information concerning your past behavior with the Service may be retained indefinitely by Allen.</p>
				<p>Please note that although you may opt out of receiving certain emails, Allen reserves the right to communicate with you via email regarding specific products and services you have ordered, requested, or inquired about.</p>
				<p><strong>QUESTIONS OR COMMENTS</strong><br/>
				If you have any questions, comments, or concerns relating to the Service or this Privacy Policy, please send an email to privacy@zebrazapps.com or write to us at:
				<br/><br/>
				<strong>Allen Learning Technologies LLC<br/>
				Attn: Martin Lipshutz<br/>
				1120 Centre Pointe Drive, Suite 800<br/>
				Mendota Heights, MN 55120<br/>
				Fax: (651) 203-3799</strong>
				</p>
            
            </div>
        </div>
    </div>
</div>