<div class="overlay legal"></div>
<div class="overlayBack"><!--NEW DIV and Style acts as second layer with origin upper-left of screen   style="position: absolute; top: 0pt; left: 0pt; z-index: 3000; width: 100%;"-->
    <div class="overlayContent legal">
        <div class="block">
            <div class="blockTop">
                <h2><span class="floatRight"><a id="close" href="#close">X</a></span>ZebraZapps Terms of Service</h2>
            </div>            
            <a href="#">
            </a>
            <div class="text">
				<p>Effective as of January 25th, 2013</p>
				<p><strong>PLEASE READ THIS DOCUMENT CAREFULLY BEFORE ACCESSING OR USING THE ZEBRAZAPPS WEBSITE OR RELATED SERVICES</strong> – This is a legal agreement between you (and, as applicable, the entity or business on whose behalf you are acting) and Allen Learning Technologies LLC (“Allen” or “us” or “we”). By using the ZebraZapps website or any ZebraZapps products, software, data feeds, and services provided to you on, from, or through the ZebraZapps website or any other interface or application (collectively the “Service”) you signify your agreement to:
				<p>(1) these terms of service (the “Terms of Service”),<br/>
				(2) ZebraZapps Privacy Policy, found at <a href="https://www.zebrazapps.com/#/legal?privacy-policy">https://www.zebrazapps.com/#/legal?privacy-policy</a> and incorporated herein by reference,<br/>
				(3) ZebraZapps Community Guidelines, found at <a href="https://www.zebrazapps.com/#/legal?community-guidelines">https://www.zebrazapps.com/#/legal?community-guidelines</a> and incorporated herein by reference, and<br/>
				(4) ZebraZapps Copyright Infringement Policy found at <a href="https://www.zebrazapps.com/#/legal?copyright-infringement-policy">https://www.zebrazapps.com/#/legal?copyright-infringement-policy</a> and incorporated herein by reference.</p>
				<p>If you are registering on behalf of an entity or business, you represent to Allen that you have the authority to bind that entity or business and your acceptance of this Agreement will be treated as acceptance by that entity or business.</p>
				<p>If you do not understand and agree to any of these Terms of Service, the Privacy Policy, Community Guidelines, or Copyright Infringement Policy please do not use the Service.
				<p><u>Changes and Modifications</u> We will attempt to notify you when major changes are made to these Terms of Service. However, you should periodically review the most up-to-date version at <a href="https://www.zebrazapps.com/#/legal?terms-of-service">https://www.zebrazapps.com/#/legal?terms-of-service</a>. We may, in our sole discretion, modify or revise non-major terms in these Terms of Service and policies at any time, and your continued use of the Service after we post such modifications will signify your agreement to be bound by such modifications.</p>
				
				<p><strong>ACCESS TO AND USE OF THE SERVICE</strong></p>
				<p><u>Overview</u> The ZebraZapps website allows you to create, share, and/or buy interactive media applications and code objects. You can create: (a) ZebraZapps applications (“Apps”), which are unmodifiable interactive media applications containing graphics, text, and/or multimedia elements, and (b) ZebraZapps reusable code objects (“Gadgets”), which are modifiable interactive media applications containing graphics, text, and/or multimedia elements that are incorporated into Apps or other Gadgets. The ZebraZapps website allows you to upload, among other things, text, graphics, interactive media, photographs, images, illustrations, audio clips, video clips and to link to third-party websites. You can share Apps and Gadgets by making them (a) public and available to other ZebraZapps users as permitted through the functionality of the Service (“Public Content”) or (b) private and available only to those with whom you choose to share as permitted through the functionality of the Service (“Private Content”).</p>
				<p><u>Access</u> Subject to these Terms of Service, we may offer to provide certain services and content, which are selected by you through the process provided on the ZebraZapps website or other applicable platform or interface (the “Site”). The Service shall include, but not be limited to, the services we perform for you, as well as the offering of any materials to you for use or purchase, displayed or performed on the Site (including, but not limited to text, graphics, interactive media, photographs, images, illustrations, audio clips, video clips, Apps, and Gadgets (collectively referred to as the “Content”)). You understand that Content provided as part of the Service is the sole responsibility of the person from whom such Content originated. We may change, suspend or terminate your Service including any Content without prior notice for any reason, at any time, including instances where a particular piece of Content creates too large a demand on the Service. We may also impose limits on certain features and services or restrict your access to parts or all of the Service without notice or liability. You acknowledge that all Content that you access using the Service is at your own risk and you will be solely responsible for any damage to any party resulting therefrom.</p>
				<p><u>Adults Only and Legal Use</u> (a) You certify that if you are an individual you are at least 18 years of age. If you are under 18 you may use the Service only with the involvement of a parent, guardian, or teacher. In accordance with U.S. Federal Children’s Online Privacy Protection Act of 1998, Allen will never knowingly solicit, nor will it accept, personally identifiable information from ZebraZapps users known to be under 13 years of age (see “Registration” below). (b) You certify that it is legally permitted for you to use the Service and access the Site, and you take full responsibility for the selection and use of the Service and access of the Site. (c) These Terms of Service are void where prohibited by law, and the right to access the Site and receive the Service is revoked in such jurisdictions.  </p>
				<p><u>License</u> Allen hereby grants you for the subscription period chosen a limited, terminable, nonexclusive, nontransferable license to access and use the Service and Content per the Terms of Service.
				<p><u>Prohibited Uses</u> (a) You may not distribute or display in any medium any part of the Service or the Content without our prior written authorization, unless we make available the means for such distribution or display through functionality offered by the Service (such as code that permits Content to be embedded on your own website or Facebook page). (b) You may not alter or modify any part of the Service. (c) You may not access Content through any technology or means other than the means provided by the Service itself, or other explicitly authorized means we may designate. (d) You may not circumvent, disable or otherwise interfere with security-related features of the Service or features that prevent or restrict use or copying of any Content or enforce limitations on use of the Service or the Content. (e) You may not use the Service for any of the following commercial uses without our prior written approval: (1) the sale of access to the Service; or (2) the sale of advertising, sponsorships, or promotions placed on or within the Service or Content. (f) You may not reverse engineer, disassemble, decompile, create derivative works of, or allow third-party access to the Service except as expressly provided in these Terms of Service. (g) You may not use or launch any automated system, including without limitation, "robots," "spiders," or "offline readers," that accesses the Service in a manner that sends more request messages to the ZebraZapps servers in a given period of time than a human can reasonably produce in the same period by using a conventional on-line web browser. Notwithstanding the foregoing, we grant the operators of public search engines permission to use spiders to copy materials from the site for the sole purpose of and solely to the extent necessary for creating publicly available searchable indices of the materials, but not caches or archives of such materials. We reserve the right to revoke these exceptions either generally or in specific cases. (h) You may not collect or harvest any personally identifiable information, including Account names, from the Service, nor to use the communication systems provided by the Service (e.g., comments) for any commercial solicitation purposes. (i) You may not solicit, for commercial purposes, any ZebraZapps users of the Service with respect to their Content. (j) You promise not to use the Service for any purpose that is unlawful or prohibited by this Agreement, or any other purpose not reasonably intended by us. By way of example, and not as a limitation, you agree not to use the Service: (1) to abuse, harass, threaten, impersonate or intimidate other ZebraZapps users; (2) to contribute any Content that is infringing, libelous, defamatory, obscene, pornographic, abusive, offensive or otherwise violates any law or right of any third party; (3) for any illegal or unauthorized purpose. If you are an international ZebraZapps user, you agree to comply with all local laws regarding online conduct and acceptable content. (k) You may not post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account, or private information from any other ZebraZapps user. (l) You may not modify, adapt or hack the Site or modify another website so as to falsely imply that it is associated with the Site. (m) You may not create or submit unwanted email (“Spam”) to any other ZebraZapps user. (h) You may not violate any laws in your jurisdiction (including but not limited to copyright laws). and (n) You may not submit stories or comments linking to affiliate programs, multi-level marketing schemes, sites/blogs repurposing existing stories (source hops), or off-topic content.</p>
				<p><u>Content Removal</u> We may remove without prior notice any Content and suspend any Account at any time for violating these Terms of Service, for any other reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to Content), or for no reason at all. To report Terms of Service abuse, please email: termsofservice@allenlearningtech.com. At Allen’s sole discretion, the removed Content may be archived or purged. You agree that Allen is not responsible or liable to you or to any third party for the deletion or failure to store, serve, or process any Content or for termination of your access to the Service as a result of the above.</p>
				<p><strong>REGISTRATION AND PURCHASES</strong></p>
				<p><u>Registration</u> As a condition to using certain components of the Service, you may be required to establish an account (“Account”) with us for a subscription period of your choosing. You will never let others use your Account unless your Account type allows for multiple users. You agree to provide us with accurate, complete, and updated registration Account information. Failure to do so shall constitute a breach of these Terms of Service, which may result in immediate termination of your Account. We reserve the right to refuse registration of, or cancel an Account in our discretion. If you are under the age of 13, your parent, guardian, or teacher should establish your account so that your personally identifiable information is not provided.</p>
				<p><u>Security</u> You shall be responsible for maintaining the confidentiality and security of your Account information and for all activities that occur on or through your Account, and you agree to notify Allen immediately of any security breach of your Account. Allen shall not be responsible for any losses arising out of the unauthorized use of your Account. </p>
				<p><u>Fees</u> Some portions or versions of the Service on the Site, including the Account type you select and obtaining shared Content require payment of fees. All currency references are in U.S. dollars. We reserve the right to change the fees charged for the Service or for any Content you purchase through or in connection with the Site or the Service and to institute new charges at any time. There is no price protection or refunds in the event of a price reduction or promotional offering.</p>
				<p><u>Payment</u> You agree to pay all applicable fees, as described on the Site in connection with such Service selected by you. You agree that Allen may charge your credit card or other payment account for all applicable fees (including any taxes and late fees, as applicable). YOU ARE RESPONSIBLE FOR THE TIMELY PAYMENT OF ALL FEES AND FOR PROVIDING ALLEN WITH A VALID CREDIT CARD OR OTHER PAYMENT ACCOUNT INFORMATION FOR PAYMENT OF ALL FEES. You authorize us, directly or through third parties, to make any inquiries we consider necessary to validate your Account and financial information you submit to us. </p>
				<p><u>Sales Tax</u> Based on our research, the Service is not currently subject to state or local sales taxes. If a sales taxing jurisdiction determines to the contrary, you agree that this tax is your responsibility and you agree to pay it. In the future, if the Service does become subject to sales tax in the state of your bill-to address in your Account, sales tax will be added to the applicable fees.</p>
				<p><u>Cancellation and Refund</u> Any fees already paid hereunder are non-refundable, except in our sole and absolute discretion. If you cancel your reoccurring payment option, your Account will remain active until its next renewal date. We shall be entitled to rely on any cancellation request that appears legitimate and cancel the Service on that basis. Our responsibility for improper cancellation is limited to reinstating your access to the Service upon your request. At Allen’s sole discretion, Content of a cancelled Account, including a terminated or suspended Account, may be archived or purged. You agree that Allen is not responsible or liable to you or to any third party for the deletion or failure to store, serve, or process any Content or for termination of your access to the Service as a result of a cancelled Account.</p>
				<p><strong>CONTENT YOU PROVIDE</strong></p>
				<p><u>General</u> As a ZebraZapps Account holder you may submit Content to the Service for use by Allen and by others as permitted by these Terms of Service. You understand that Allen reserves the right to review and reject any Public Content you provide for use by others and does not guarantee any confidentiality with respect to any Public Content you submit. </p>
				<p><u>Representations and Warranties</u> You shall be solely responsible for your own Content and the consequences of submitting and publishing your Content on the Service. You affirm, represent, and warrant that (a) you have all the rights and licenses necessary to use, reproduce, publish, display publicly, perform publicly, distribute or otherwise use such Content in connection with the Service (and grant to Allen all of the license rights granted herein); (b) the Content will not infringe or otherwise violate the copyright, trademark, or other intellectual property rights of any third party; (c) you have the consent, release, and/or permission of each identifiable person depicted in your Content to publish and/or disseminate their name and/or likeness through the Service; and (d) you will not submit to the Service any Content or other material that is contrary to the ZebraZapps Community Guidelines or is contrary to applicable local, national, and international laws and regulations.</p>
				<p><u>License to Allen</u> (a) With respect to Public Content, you grant to Allen (and its successors, assigns, and third party service providers) a world-wide, non-exclusive, perpetual, irrevocable, royalty-free, fully paid, sublicensable, and transferable license to use, reproduce, modify, create derivative works from, distribute (according to distribution options selected by you), publicly display, publicly perform, and otherwise exploit the Content on and in connection with the manufacture, sale, promotion, marketing, and distribution of products sold on, or in association with, the Service, or for purposes of providing you with the Service and promoting the same, by any medium and by any means currently existing or yet to be devised. (b) With respect to Private Content, you grant to Allen (and it successors, assigns, and third party service providers) a world-wide, non-exclusive, perpetual, irrevocable, royalty-free, fully paid, sublicensable, and transferable license to use, reproduce, modify, create derivative works from, distribute (according to distribution options selected by you), publicly display, publicly perform, and otherwise exploit the Content solely for purposes of providing the Service. (c) Without limiting the generality of the license granted in (a) and (b), you retain all of your ownership rights in your Content and to your trade names, trademarks, service marks, logos, and other brand features included with your Content. </p>
				<p><u>License to ZebraZapps Users</u> (a) With respect to Content in Apps, you grant each ZebraZapps user of the Service with whom you share this Content a non-exclusive license to access and view this Content through the Service as permitted through the functionality of the Service. (b) With respect to Content in Gadgets, you grant each ZebraZapps user of the Service with whom you share this Content a non-exclusive license to use, reproduce, modify, create derivative works from, distribute, publicly display, publicly perform, and otherwise exploit the Content in the ZebraZapps user’s Apps and Gadgets as permitted through the functionality of the Service and under these Terms of Service.</p>
				<p><u>Termination</u> The above licenses granted by you to us in the Content you submit to the Service will terminate within a commercially reasonable time after you remove or delete your Content from the Service. You understand and agree, however, that we may retain, but not display, distribute, or perform, copies of your Content that have been removed or deleted. The above licenses granted by you to other ZebraZapps users are perpetual and irrevocable.</p>
				<p><u>Content Removal</u> We may remove without notice any Content you provide at any time for violating these Terms of Service, for any other reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to the Content), or for no reason at all. At Allen’s sole discretion, the removed Content may be archived or purged. You agree that Allen is not responsible or liable to you or to any third party for the deletion or failure to store, serve, or process any Content or for termination of your access to the Service as a result of the above.</p>
				<p><u>Disclaimer</u> We do not endorse any Content submitted to the Service by any ZebraZapps user or other licensor, or any opinion, recommendation, or advice expressed therein, and we expressly disclaim any and all liability in connection with Content.</p>
				<p><u>Intellectual Property Infringement</u> (a) We do not permit copyright infringing activities and infringement of intellectual property rights on the Service, and we will remove all Content if properly notified that such Content infringes on another's intellectual property rights. We reserve the right to remove Content without prior notice. (b) If you believe that Allen or any ZebraZapps user of the Service has violated a copyright you claim in your work, please review ZebraZapps’ Copyright Infringement Policy for details on how to properly notify us.</p>
				
				<p><strong>ZEBRAZAPPS SHOPPS CONTENT</strong>
				<p><u>General</u> The ZebraZapps Shopps is a part of the Service and allows you to distribute Apps, Gadgets, and other Content for free or for a fee to other users. You must have a valid ZebraZapps Account and provided the seller information to distribute Content in the ZebraZapps Shopps. You understand that Allen reserves the right to review and reject, in our sole discretion and without prior notice, any Content you provide for use by others from the ZebraZapps Shopps and does not guarantee any confidentiality with respect to any Public Content you submit. Allen will allow you to protect your Content so that users may not share Content with other users except as permitted by you through the functionality of the Service.</p>
				<p><u>Price</u> You may set the price for your Content in U.S. dollars, which will include any sales tax, if applicable. You will receive this price, less a Transaction Fee described below, for your:
				    <ul>
				        <li>Published Apps that are purchased by other users.</li>
				        <li>Published Gadgets purchased by other users and incorporated by those users into their Apps and personal Gadgets.</li>
				        <li>Published Gadgets purchased by other users and incorporated by those users into their published Gadgets each time these are purchased by other users.</li>
				    </ul>
				</p>
				<p>You may also choose to distribute Content for free. If the Content is free (no charges or fees of any kind), you will not be charged a Transaction Fee. You may not collect future charges from users for copies of the Content that those users were initially allowed to obtain for free. </p>
				<p><u>Payment</u> The price you set for Content will determine the amount of payment you will receive. A transaction fee of 30% of the price you charge (“Transaction Fee) will be charged by Allen. The remainder of the price will be remitted to you when you determine, based on the options provided in the Service, less a payment processing fee of $2.50. Allen reserves the right to offset from any prices to be paid to you (a) any costs incurred by or amounts due to Allen in connection with your Account and (b) refunds made to buyers of your Content. We may, in our sole discretion, modify or revise the Transaction Fee or Payment Processing Fee at any time, and your continued use of this Service after we post such modifications will signify your agreement to be bound by such modifications.</p>
				<p><u>Taxes</u> You are responsible for determining if the Content is sales taxable and the applicable sales tax amount to include in your priced and for remitting sales taxes to the appropriate taxing authorities. You acknowledge and agree that you will be obligated to report as income and pay all applicable taxes in a timely manner on all prices received by you. We will not make any deductions from the prices we pay you for the payment of any taxes.</p>
				<p><u>Refunds</u> You authorize Allen to give buyer of your Content a full refund of the price when billing disputes are initiated by the buyer.</p>
				<p><u>Support</u> You will be solely responsible for support and maintenance of your Content and any complaints about your Content. Your contact information will be made available to users for customer support purposes. Failure to provide adequate support for your Content may result in low Content ratings, less prominent product exposure, low sales and billing disputes. </p>
				<p><u>Content Rating</u> Users who obtain Content from the ZebraZapps Shopps will be able to rate it. These ratings will be used by Allen to determine placement of Content in the ZebraZapps Shopps. Allen in its sole discretion reserves the right to display Content to users in any manner it determines.</p>
				<p><u>Marketing</u> You will be responsible for publishing your Content to the ZebraZapps Shopps and providing required Content information. </p>
				<p><u>Other</u> The “Content You Provide” terms above will also apply to the Content you put in the ZebraZapps Shopps. </p>
				<p><strong>TERMINATION</strong></p>
				<p>You agree that Allen may, at its sole discretion and without prior notice, terminate your Account and access to the Service if we determine that you have violated this Agreement, the ZebraZapps’ Privacy Policy, the ZebraZapps’ Community Guidelines, or the ZebraZapps’ Copyright Infringement Policy. You will lose and forfeit the remaining time on your Account and receive no refund of any fees paid. If Allen does take any legal action against you as a result of your violation above, Allen will be entitled to recover from you, and you agree to pay, all reasonable attorney’s fees and costs of such action, in addition to any other relief granted to Allen. You agree Allen will not be liable to you or to any third party for termination of your access to the Service as a result of any determination by Allen of violation above. In the event of a terminated Account, Content may no longer be accessible. At Allen’s sole discretion, Content of a terminated Account may be archived or purged. You agree that Allen is not responsible or liable to you or to any third party for the deletion or failure to store, serve, or process any Content or for termination of your access to the Service as a result of any Allen determination of a violation above.</p>
				<p><strong>INDEMNITY</strong></p>
				<p>You agree to defend, indemnify and hold Allen, its parents, subsidiaries, affiliates, officers and employees harmless from any claim or demand, including costs and reasonable attorney’s fees, made by any third party due to or arising out of your access to the Site, use of the Service, the breach of these Terms of Service by you or of any warranty made by you, or the infringement by you, or any third party using your Account, of any intellectual property or other right of any person or entity. Allen reserves the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you.
				<p><strong>LIMITATION OF LIABILITY</strong></p>
				<p>IN NO EVENT SHALL WE BE LIABLE WITH RESPECT TO THE SITE OR THE SERVICE (I) FOR ANY AMOUNT IN EXCESS OF THE AGGREGATE FEES PAID BY YOU FOR SUCH SERVICE; OR (II) FOR ANY DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, HOWEVER CAUSED. THIS INCLUDES, BUT IS NOT LIMITED TO, ANY LOSS OF PROFITS, GOODWILL, OR BUSINESS REPUTATION;  ANY LOSS OF DATA; ANY COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; OR ANY OTHER INTANGIBLE LOSSES. THIS ALSO INCLUDES ANY LOSS OR DAMAGES THAT MAY BE INCURRED BY YOU AS A RESULT OF (a) ANY CHANGES THAT ALLEN MAY MAKE TO THE SERVICE; (b) ANY PERMANENT OR TEMPORARY CESSATION OF THE SERVICE; (c) THE DELETION OR CORRUPTION OF OR FAILURE TO STORE ANY CONTENT OR OTHER PROPERTY MAINTAINED THROUGH THE SERVICE; OR (d) YOUR FAILURE TO KEEP YOUR PASSWORD OR ACCOUNT DETAILS SECURE. THE LIMITATIONS AND EXCLUSIONS OF LIABILITY ABOVE SHALL APPLY IRRESPECTIVE OF THE THEORY OF LIABILITY INCLUDING CONTRACT (INCLUDING FUNDAMENTAL BREACH), WARRANTY, PRODUCT LIABILITY, STRICT LIABILITY, TORT (INCLUDING NEGLIGENCE), OR OTHER THEORY, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.</p>
				<p><strong>WARRANTY AND DISCLAIMER</strong></p>
				<p>THE SERVICE, CONTENT, SITE AND ANY SOFTWARE ARE PROVIDED ON AN “AS IS” BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, MERCHANTABLE QUALITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, TITLE OR ANY WARRANTY OR CONDITION ARISING BY USAGE OR TRADE, COURSE OF DEALING OR COURSE PERFORMANCE. ALLEN MAKES NO WARRANTY THAT (a) THE SERVICE WILL MEET YOUR REQUIREMENTS; (b) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; (c) YOUR CONTENT WILL BE HOSTED AND/OR TRANSMITTED WITHOUT INTERRUPTION OR CESSATION; (d) ANY PRODUCTS, SITES, INFORMATION, OR OTHER MATERIAL WHETHER IN TANGIBLE OR INTANGIBLE FORM, PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS OR ANY STANDARD OF QUALITY; AND (e) ANY DEFECTS IN THE OPERATION OR FUNCTIONALITY OF THE SERVICE OR RELATED SOFTWARE WILL BE CORRECTED. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>
				<p>NO ADVICE, REPRESENTATION, OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM ALLEN OR THROUGH THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE AGREEMENT.
				<p>You acknowledge that we have no control over, and no duty to take any action regarding: which ZebraZapps users gain access to the Site or Service; what Content you accesses via the Site or Service; what effects the Content may have on you, including damages to your computer system and/or loss of data; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content. You hereby release us from all liability for your having acquired or not acquired Content through the Site or Service. The Site or Service may contain, or direct you to third-party websites containing, information that some people may find offensive or inappropriate. The third-party websites are not under Allen’s control, and Allen is not responsible for services provided by the third-party websites and does not necessarily endorse the content or practices of the third-party websites. We make no representations concerning any Content contained in or accessed through the Site or Service, and we will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Site or Service.</p>
				<p><strong>ALLEN’S INTELLECTUAL PROPERTY</strong></p>
				<p><u>Ownership</u> All text, graphics, user interfaces, visual interfaces, photographs, trademarks, logos, sounds, music, artwork, icons, content and computer code (collectively, “Allen Intellectual Property”) contained in the Service, including but not limited to the design, structure, selection, coordination, expression, look and feel, and arrangement of such Allen Intellectual Property is owned, controlled, or licensed by or to Allen, and is protected by trade dress, copyright, patent, and trademark laws, and various other intellectual property rights. </p>
				<p><u>Prohibited Use</u> Except as expressly provided in this Agreement or otherwise permitted by law, no Allen Intellectual Property may be used, copied, reproduced, modified, republished, uploaded, posted, publicly displayed, publicly performed, publicly performed by means of a digital audio transmission, encoded, translated, transmitted, or distributed in any way to any other computer, server, website, or any other medium for publication or distribution or any commercial enterprise or purpose without Allen’s express prior written consent. </p>
				<p><strong>GENERAL TERMS</strong></p>
				<p><u>Governing Law</u> These Terms of Service shall be governed in all respects by the laws of the State of Minnesota as they apply to agreements entered into and to be performed entirely within Minnesota between Minnesota residents, without regard to conflict of law provisions. Both parties agree that any claim or dispute between them must be resolved exclusively by a state or federal court situated in Minnesota, except as otherwise agreed by the parties. Both parties agree to submit to the personal jurisdiction of the courts located within the state of Minnesota for the purpose of litigating all such claims or disputes, and hereby waive all claims of forum non conveniens.</p>
				<p><u>Entire Agreement</u> Both parties agree that these Terms of Service are the complete and exclusive statement of the mutual understanding of the parties and supersede and cancel all previous written and oral agreements, communications and other understandings relating to the subject matter of these Terms of Service, and that all modifications must be in a writing signed by both parties, except as otherwise provided herein. </p>
				<p><u>Dispute Resolution</u> In the event of any controversy or dispute between Allen and you arising out of or in connection with your use of the Service, the parties shall attempt, promptly and in good faith, to resolve any such dispute. If the parties are unable to resolve any such dispute within a reasonable time (not exceeding sixty (60) days), then either party must submit such controversy or dispute to mediation in Minnesota.  If the dispute cannot be resolved through mediation, then the parties will be free to pursue any right or remedy available to them under applicable law.</p>
				<p><strong><u>Statute of Limitations</u> You and Allen agree that any cause of action arising out of or related to the Service must commence within one (1) year after the cause of action accrues, regardless of any statute or law to the contrary.</strong></p>
				<p><u>Survival of Certain Provisions</u> All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, and limitations of liability.</p>
				<p><u>No Waiver</u> The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.
				<p><u>Force Majeure</u> We shall not be liable for any failure to perform our obligations hereunder where such failure results from any cause beyond our reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation. </p>
				<p><u>Severability</u> If any portion of these Terms of Service is found to be unenforceable or contrary to law, it shall be modified to the least extent necessary to make it enforceable and the remaining portions of these Terms of Service shall remain in full force and effect.</p>
				<p><u>No Third Party Beneficiaries</u> Nothing expressed or implied in these Terms of Service is intended to confer upon any person other than the parties and their respective successors or permitted assigns, any rights, remedies, obligations or liabilities whatsoever.</p>
				<p><u>Relation of The Parties</u> The performance by us of our duties and obligations under these Terms of Service shall be that of an independent contractor, and nothing herein shall create or imply an agency relationship between the parties, nor shall these Terms of Service be deemed to constitute a joint venture or partnership between the parties.</p>
				<p><u>No Assignment</u> This Agreement is not assignable, transferable or sublicensable by you except with our prior written consent. We may transfer, assign or delegate these Terms of Service and our rights and obligations without consent. </p>
				<p><strong>BY USING OR ACCESSING THE SITE OR SERVICE, YOU AGREE TO BE BOUND BY THESE TERMS OF SERVICE.</strong></p>
            </div>
        </div>
    </div>
</div>