html, body, #editor { height:100%; }
	#editor { position: absolute; top: 0;}

body {
    margin:0px; padding:0px; overflow:hidden;
    background: #222;
    text-align: left;
}

div.errorContainer {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    position:absolute;
}

div.topPadding {
    height: 100px;
}

div.errorDialog {
    border-radius: 15px;
    width: 470px;
    border-style: solid;
    border-width: 4px;
    border-color: #929292;
    background: url(background2.svg);
    background-size: 100%, 100%;
    background-repeat: repeat-x;
    color: #000000;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}
div.bottomText {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
}

div.bottomText h3 {
	color: #FFFFFF;
}

textarea.errorText {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.errorDialog img {
    position: absolute;
}

div.errorDialog div.buttonBox {
    padding: 10px;
    text-align: right;
}

div.errorDialog div.buttonBox a.button {
    margin: 5px;
    background-color: #a5a5a5;
    background: url(background3.svg);
    background-size: 20px 100%;
    background-repeat: repeat-x;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
}

div.errorDialog div.textContent {
    margin-top: -15px;
    margin-left: 40px;
}

#startTransfer {
	width: 680px;
}