.overlayContent.buyNewAccount { margin: 0; }
.overlayContent.buyNow { margin: 0; }
.overlayContent.buySignin { margin: 0; }
.ui-dialog .ui-dialog-content { padding: 0; }
.ui-dialog { padding: 0; }
.ui-dialog-titlebar { display:none; }

div.accountPayDueContainer {
	width: 380px;
	align: left;
}

div.accountPayDueContainer.accontPayDueName {
	margin-left: 5px;
}


div#authorCompany .overlayContent { margin: 0; }
.block.cloud .tabs { margin-left: 0; }
div.browseHeader div.filter {
    float: right;
    position:relative;
	right:0px;
	width:220px;
}
div.browseHeader div.filter select {
    margin-left: 6px;
    width: 145px;
}
div.browseHeader div.search {
   width:190px;
}

.linkUnderline {
	text-decoration: underline;
	color: #5d6d7f
}

.linkUnderline:hover {
	text-decoration: none;
	color: #000
}

.txtSupportFooter {
	font-style: italic;
	color: #000;
}

.dividerBlack {
	height: 1px;
	border-bottom: 1px solid #000;
	margin-bottom: 5px;
	margin-top: -5px;
}
.dividerGray {
	height: 1px;
	border-bottom: 1px solid #DFDFDF;
	margin-bottom: 5px;
	margin-top: -5px;
}

.webinar-BodyText1 {
	border-top: 1px solid #DFDFDF;
}

.divBlackBar {
	background-color: #000;
	border-radius:20px;
}

.txtBlackBar {
	color: #FFF;
	text-align: center;
}

.txtErikIntro,
.txtContactErik,
.txtAbstract {
	font-size:14px;
	line-height:18px;
	border:0;
}

.item .icon .spinImage{
	position: relative;
	margin: 10px 10px;
}

.item .icon .divSpinner {
	position: relative;
	background-color: #FFFFFF;
	border-radius: 5px;
	border-left: 2px solid #999;
	border-top: 2px solid #999;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	width: 48px;
	height: 48px;
	margin-top: -51px;
}

.item .icon a {
	position: relative;
}

.embed a.button span:hover,
.tabControls a.button span:hover {
    background: transparent url(../images/privatePublish/btn_hover_med_span.png) no-repeat;
    background-position: bottom left; /* padding: +1 px 0 -1 px 15px; to push text down 1px */
	color: #056E41;
	text-decoration: none;
	color: #000;
}
.embed a.button:hover,
.tabControls a.button:hover {
	background: transparent url(../images/privatePublish/btn_hover_med.png) no-repeat scroll right top;
	background-position: bottom right;
	text-decoration: none;
	color: #000;
	outline: none; /* hide dotted outline in Firefox */
}
.embed a.button span.selected,
.tabControls a.button span.selected {
    background: transparent url(../images/privatePublish/btn_selected_med_span.png) no-repeat;
    background-position: bottom left; /* padding: +1 px 0 -1 px 15px; to push text down 1px */
	color: #056E41;
	text-decoration: none;
	color: #000;
}
.embed a.selected,
.tabControls a.selected {
	background: transparent url(../images/privatePublish/btn_selected_med.png) no-repeat scroll right top;
	background-position: bottom right;
	text-decoration: none;
	color: #000;
	outline: none; /* hide dotted outline in Firefox */
}

.specifications .shareInfo a.button span {
	float: right;
	background: transparent url(../images/btn_gray_med_span.png) no-repeat;
    display: block;
    padding: 5px 0px 5px 10px;
    color: #000;
    text-align: center;
    white-space: nowrap;
    height: 15px;
    font: 10px "Trebuchet MS", Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.share a.button span {
    background: transparent url(../images/btn_gray_med_span.png) no-repeat;
    display: block;
    padding: 5px 0 5px 15px;
    color: #000;
    text-align: center;
    white-space: nowrap;
    height: 15px;
    font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    overflow: hidden;
}

a:focus {
    outline: none;
}

a.disabled,  a.disabled:link, a.disabled:visited, a.disabled:hover, a.disabled:active {
    color: #5D6D7F;
    text-decoration: none;
    cursor: default;
}

.previewZappGadget {
    background: url(../images/icon_preview_white.png) no-repeat 0 0;
    display: inline-block;
    width: 28px;
    height: 20px;
}

.previewZappGadget:hover{
    background: url(../images/icon_preview_white_over.png) no-repeat 0 0;
    display: inline-block;
    width: 28px;
    height: 20px;
}

div.headerTabs div.logout a {
    float:left;
    height:33px;
    width:76px;
}

.header .headerTabs {
    width: auto;
}

#btnDimension {
	align: right;
}

a#tabMyStuff {
    background: url(../images/headerTabMyStuff.png) no-repeat 0 0;
}
a#tabMyStuff.selected {
    background: url(../images/headerTabMyStuffSelected.png) no-repeat 0 0;
}

a#tabMyStuff:hover {
    background: url(../images/headerTabMyStuffHover.png) no-repeat 0 0;
}
a#tabMyStuff.selected:hover{
	background: url(../images/headerTabMyStuffSelected.png) no-repeat 0 0;
}

a#tabAccount {
    background: url(../images/headerTabAccount.png) no-repeat 0 0;
}
a#tabAccount.selected {
    background: url(../images/headerTabAccountSelected.png) no-repeat 0 0;
}
a#tabAccount:hover {
    background: url(../images/headerTabAccountHover.png) no-repeat 0 0;
}
a#tabAccount.selected:hover{
	background: url(../images/headerTabAccountSelected.png) no-repeat 0 0;
}

a#tabAdministration {
    background: url(../images/headerTabAdministration.png) no-repeat 0 0;
}
a#tabAdministration.selected {
    background: url(../images/headerTabAdministrationSelected.png) no-repeat 0 0;
}
a#tabAdministration:hover {
    background: url(../images/headerTabAdministrationHover.png) no-repeat 0 0;
}
a#tabAdministration.selected:hover{
	background: url(../images/headerTabAdministrationSelected.png) no-repeat 0 0;
}

/* PMQ -- following needed if we choose to display email and not username in header panel sign out area */
.header .headerTabsText .email{
	float: left;
}

.tabs a:hover .tab2    {
    color: #096 !important;
    text-decoration: none !important;
}

.tabs.about a:hover .tab    {
	color: #FFF;
}
.tabs.about a:hover .tab2    {
	color: #54ebbe;
}
.about.tabs a .tab {
	color: #FFF;
}
.featured .item {
    height:215px;
}

label.error {
    color: red;
    padding-left: 5px;
    white-space:nowrap;
}

.error {
    color: red;
}

/*
BENRES:  Removes horizontal scroll bar.
Without this override, padding-left and padding-right is 20px and the horizontal scroll bar shows always.
*/
.main, .top, .bottom{
    padding-left: 0px;
    padding-right: 0px;
}

.ui-corner-all {
    -moz-border-radius: 12px;
}

/* 'Play' button in upper-right corner of MyZapps needs to be medium, not small. */
div.play .button  {
    background: transparent url(../images/btn_gray_med.png) no-repeat scroll right top;
    margin-right: 6px;
    padding-right: 15px; /* sliding doors padding */
}
div.play .button span   {
    background: transparent url(../images/btn_gray_med_span.png) no-repeat;
    padding: 5px 0 5px 15px;
    height: 15px;
    font: bold 14px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
