.divider {
	height: 1px;
	border-bottom: 1px dotted #CCC;
	margin-bottom: 25px;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.indent   {
	margin-left: 25px;
}
.marginBottom {
	margin-bottom: 25px;
}
.marginTop {
	margin-top: 25px;
}
.about h1 {
	font-size: 24px;
	color: #FFF;
}
.about h2 {
	font-size: 18px;
	margin-bottom: 5px;
	color: #FFF;
}
.about h3 {
	font-size: 16px;
	color: #54ebbe;
	margin-bottom: 2px;
}
.about h5 {
	color: #FFF;
}
.support h1 {
	font-size: 24px;
}
.support h2 {
	font-size: 20px;
	margin-bottom: 0px;
}
.support h3 {
	font-size: 18px;
	color: #477CC1;
	margin-bottom: 10px;
}
.support .back {
	float: right;
	font-size: 16px;
	margin-top: 5px;
}
.support  .featuredList .featuredDetails{
	line-height: 16px;
	font-size: 12px;
	margin-left: 90px;
	padding: 0px;
	color: #5d6d7f;
}
.support .featuredList .featuredImage{
	width: 75px;
	margin-right: 15px;
	margin-bottom: 5px;
	float: left;
}
.video  {
	margin-bottom: 25px;
}
