@charset "UTF-8";

/*Note: Make sure the span's vertical padding (5 + 5) and line-height (14) amount to the total height of the button (24). Using a different padding, means setting a different height.*/

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}
.updating  {
	float: left;
}
.updating img  {
	float: left;
	margin-top: 3px;
}
.updating .updatingText  {
	float: left;
	margin-left: 10px;
}
a.button {
	background: transparent url(../images/btn_gray_med.png) no-repeat scroll right top;
	display: block;
	float: left;
	margin-right: 6px;
	padding-right: 15px; /* sliding doors padding */
	text-decoration: none;
	cursor:pointer;cursor:hand;
}
a.button span {
	background: transparent url(../images/btn_gray_med_span.png) no-repeat;
	display: block;
	padding: 5px 0 5px 15px;
	color: #000;
	text-align: center;
	white-space: nowrap;
	height: 15px;
	font: bold 14px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow: hidden;
}

a.startTransfer25Button {
	background: transparent url(../images/btn_startTransferButtonEnd_25p.png) no-repeat scroll right top;
	display: block;
	padding-right: 25px;
	width: 245px;
	float: left;
	text-decoration: none;
	cursor:hand;
}
a.startTransfer25Button span {
	background: transparent url(../images/btn_startTransferButtonSpan_25p.png) no-repeat;
	display: block;
	padding: 5px 0 1px 25px;
	color: #000;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	font: bold 14px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow: hidden;
	cursor:hand;
}
a.startTransfer25Button:hover span, a.startTransfer25Button:active span{
	background-position: bottom left;
	text-decoration: none;
	outline: none; /* hide dotted outline in Firefox */
}
a.startTransfer25Button:hover, a.startTransfer25Button:active {
	background-position: bottom right; /* padding: +1 px 0 -1 px 15px; to push text down 1px */
	color: #056E41;
	text-decoration: none;
}
a.startTransfer25Button.disabledButton {
	background: transparent url(../images/btn_startTransferButtonEnd_25p.png) no-repeat scroll right top;
	display: block;
	padding-right: 25px;
	width: 245px;
	float: left;
	text-decoration: none;
	cursor:default;
}
a.startTransfer25Button.disabledButton span {
	background: transparent url(../images/btn_startTransferButtonSpan_25p.png) no-repeat;
	display: block;
	padding: 5px 0 1px 25px;
	color: #CCC;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	font: bold 14px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow: hidden;
	cursor:default;
}

a.startTransfer25Button.disabledButton:hover span, a.startTransfer25Button.disabledButton:active span{
	background-position: top left;
	color: #CCC;
	text-decoration: none;
	cursor:default;
}
a.startTransfer25Button.disabledButton:hover, a.startTransfer25Button.disabledButton:active {
	background-position: top right;
	text-decoration: none;
	outline: none; /* hide dotted outline in Firefox */
	cursor:default;
}

a.startTransferSuccess {
	background: transparent url(../images/btn_transferSuccessCap.png) no-repeat scroll right top;
	display: block;
	padding-right: 25px;
	width: 225px;
	float: left;
	text-decoration: none;
	cursor:default;
}
a.startTransferSuccess span {
	background: transparent url(../images/btn_transferSuccessSpan.png) no-repeat;
	display: block;
	padding: 5px 0 1px 25px;
	color: #000;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	font: bold 14px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow: hidden;
	cursor:default;
}
a.startTransferSuccess:hover span, a.startTransferSuccess:active span{
	background-position: top left;
	color: #000;
	text-decoration: none;
	cursor:default;
}
a.startTransferSuccess:hover, a.startTransferSuccess:active {
	background-position: top right;
	text-decoration: none;
	outline: none; /* hide dotted outline in Firefox */
	cursor:default;
}

a.startTransferListButton {
	background: transparent url(../images/btn_startTransferButtonEnd_25p.png) no-repeat scroll right top;
	display: block;
	padding-right: 25px;
	width: 100px;
	float: left;
	text-decoration: none;
	cursor:hand;
}
a.startTransferListButton span {
	background: transparent url(../images/btn_startTransferButtonSpan_25p.png) no-repeat;
	display: block;
	padding: 5px 0 1px 5px;
	color: #000;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	font: bold 14px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow: hidden;
	cursor:hand;
}
a.startTransferListButton:hover span, a.startTransfer25Button:active span{
	background-position: bottom left;
	text-decoration: none;
	outline: none; /* hide dotted outline in Firefox */
	cursor:hand;
}
a.startTransferListButton:hover, a.startTransferListButton:active {
	background-position: bottom right; /* padding: +1 px 0 -1 px 15px; to push text down 1px */
	color: #056E41;
	text-decoration: none;
	cursor:hand;
}
a.startTransferVerifyButton {
	background: transparent url(../images/btn_startTransferButtonEnd_25p.png) no-repeat scroll right top;
	display: block;
	padding-right: 25px;
	width: 205px;
	float: left;
	text-decoration: none;
	cursor:hand;
}
a.startTransferVerifyButton span {
	background: transparent url(../images/btn_startTransferButtonSpan_25p.png) no-repeat;
	display: block;
	padding: 5px 0 1px 25px;
	color: #000;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	font: bold 14px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow: hidden;
	cursor:hand;
}
a.startTransferVerifyButton:hover span, a.startTransferVerifyButton:active span{
	background-position: bottom left;
	text-decoration: none;
	outline: none; /* hide dotted outline in Firefox */
}
a.startTransferVerifyButton:hover, a.startTransferVerifyButton:active {
	background-position: bottom right; /* padding: +1 px 0 -1 px 15px; to push text down 1px */
	color: #056E41;
	text-decoration: none;
}
a.postcomment{
	background: url("../images/btn_gray_med.png") no-repeat right top transparent;
	cursor: pointer;
	display: block;
	float: left;
	margin-right: 6px;
	padding-right: 15px;
	text-decoration: none;
}
a.postcomment span{
	background: url("../images/btn_gray_med_span.png") no-repeat scroll 0 0 transparent;
	color:#000000;
	display: block;
	font:bold 14px/15px "Trebuchet MS",Arial,Helvetica,sans-serif;
	height: 15px;
	overflow: hidden;
	padding: 5px 0 5px 15px;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
}
a.postcomment:hover {
	text-decoration: none;
}
a.postcomment:hover span{
	color: #056E41;	
}
a.postcomment.disabledButton{
	background: url("../images/btn_gray_med.png") no-repeat right top transparent;
	cursor: pointer;
	display: block;
	float: left;
	margin-right: 6px;
	padding-right: 15px;
	text-decoration: none;
}
a.postcomment.disabledButton span{
	background: url("../images/btn_gray_med_span.png") no-repeat scroll 0 0 transparent;
	color:#000000;
	display: block;
	font:bold 14px/15px "Trebuchet MS",Arial,Helvetica,sans-serif;
	height: 15px;
	overflow: hidden;
	padding: 5px 0 5px 15px;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
}
a.postcomment.disabledButton:hover {
	text-decoration: none;
}
a.postcomment.disabledButton:hover span{
	color: #000000;	
}



a.button:hover, a.button:active {
	background-position: bottom right;
	text-decoration: none;
	outline: none; /* hide dotted outline in Firefox */
}
a.button:hover span, a.button:active span{
	background-position: bottom left; /* padding: +1 px 0 -1 px 15px; to push text down 1px */
	color: #056E41;
	text-decoration: none;
} 
.blockBlack a.button span{
	font-size: 18px;
	color: #000;
	margin-top: 0px;
	margin-bottom: 15px;
	font-weight: normal;
	line-height: 23px;
}
.buttonsAction  {
	margin-top: 25px;
}
.buttonsAction .updating .updatingText {
	padding-top: 8px;
	font-size: 14px;
}
.buttonsAction a.button {
	background: transparent url(../images/btn_gray_large.png) no-repeat scroll right top;
	margin-right: 15px;
	padding-right: 15px; /* sliding doors padding */
	text-decoration: none;
}
.buttonsAction a.button span{
	background: transparent url(../images/btn_gray_large_span.png) no-repeat;
	padding: 10px 0 10px 15px;
	color: #000;
	height: 18px;
	font: bold 17px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.buttonsAction a.button:hover span ,.buttonsAction  a.button:active span{
	color: #056E41;
	text-decoration: none;
} 
.buttonsActionTall  {
	margin-top: 25px;
}
.buttonsActionTall a.button {
	background: transparent url(../images/btn_gray_tall.png) no-repeat scroll right top;
	margin-right: 15px;
	padding-right: 15px; /* sliding doors padding */
	text-decoration: none;
}
.buttonsActionTall a.button span{
	background: transparent url(../images/btn_gray_tall_span.png) no-repeat;
	padding: 5px 0 5px 15px;
	color: #096;
	height: 41px;
	font: bold 17px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.buttonsActionTall a.button:hover span ,.buttonsActionTall  a.button:active span{
	color: #056E41;
	text-decoration: none;
}
.buttonsActionTall a.button  span .small {
	font-size: 12px;
	line-height: 12px;
	background: none;
	margin: 0px;
	padding: 0px;
	color: #5d6d7f;
	height: 12px;
}
.buttonsBlack {
	margin-top: 10px;
}
.buttonsBlack a.button {
	background: transparent url(../images/btn_black_med.png) no-repeat scroll right top;
	padding-right: 15px; /* sliding doors padding */
	text-decoration: none;
}
.buttonsBlack a.button span{
	background: transparent url(../images/btn_black_med_span.png) no-repeat;
	padding: 4px 0 5px 15px;
	color: #90D6FF;
	height: 16px;
	font: bold 14px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
}
.buttonsBlack a.button:hover span ,.buttonsBlack a.button:active span{
	color: #54e8bf;
	text-decoration: none;
}
.buttonsBlackColored a.button {
	background: transparent url(../images/btn_green.png) no-repeat scroll right top;
	padding-right: 10px; /* sliding doors padding */
	text-decoration: none;
	margin-right: 0px;
}
.buttonsBlackColored a.button span{
	background: transparent url(../images/btn_green_span.png) no-repeat;
	padding: 4px 0 5px 10px;
	color: #000;
	height: 16px;
	font: bold 14px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
}
.buttonsBlackColored a.button:hover ,.buttonsBlackColored a.button:active {
	background-position: bottom right;
	text-decoration: none;
	outline: none; /* hide dotted outline in Firefox */
}
.buttonsBlackColored a.button:hover span ,.buttonsBlackColored a.button:active span{
	background-position: bottom left; /* padding: +1 px 0 -1 px 15px; to push text down 1px */
	color: #000;
	text-decoration: none;
} 
.sidebar .buttonSmall a.button {
	background: transparent url(../images/btn_black_sidebar.png) no-repeat scroll right top;
	padding-right: 7px; /* sliding doors padding */
	margin-top: 0px;
	float: right;
	text-decoration: none;
	margin-right: 0px;
}
.sidebar .buttonSmall a.button span{
	background: transparent url(../images/../images/btn_black_sidebar_span.png) no-repeat;
	padding: 3px 0 4px 7px;
	color: #90D6FF;
	height: 13px;
	font: normal 12px/13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
}
.sidebar .buttonSmall a.button:hover   span{
	color: #54e8bf;
	text-decoration: none;
}
.blockTop a.button {
	background: transparent url(../images/btn_black_med.png) no-repeat scroll right top;
	padding-right: 15px; /* sliding doors padding */
	text-decoration: none;
	float: right;
}
.blockTop a.button span{
	background: transparent url(../images/btn_black_med_span.png) no-repeat;
	padding: 5px 0 5px 15px;
	color: #A6D3FF
	height: 15px;
	font: bold 14px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
}
.blockTop a.button:hover span   {
	color: #54e8bf;
	text-decoration: none;
}
.browseGrid .actions a.button  {
	background: transparent url(../images/btn_gray_small.png) no-repeat scroll right top;
	margin-right: 10px; /* sliding doors padding */
	text-decoration: none;
	padding-right: 7px;
}
.browseGrid .actions a.button span   {
	background: transparent url(../images/btn_gray_small_span.png) no-repeat;
	padding: 3px 0 3px 7px;
	color: #000;
	height: 13px;
	font: bold 13px/13px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.browseGrid .actions a.button:hover span     {
	color: #056E41;
	text-decoration: none;
}
.detailPanel .buy a.button {
	background: transparent url(../images/btn_gray_large.png) no-repeat scroll right top;
	margin-right: 15px;
	padding-right: 15px; /* sliding doors padding */
	text-decoration: none;
}
.detailPanel .buy  a.button span{
	background: transparent url(../images/btn_gray_large_span.png) no-repeat;
	padding: 10px 0 10px 15px;
	color: #000;
	height: 18px;
	font: bold 17px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.detailPanel .buy a.button:hover span     {
	color: #056E41;
	text-decoration: none;
}
.featured a.button {
	background: transparent url(../images/btn_black_featured.png) no-repeat scroll right top;
	padding-right: 6px; /* sliding doors padding */
	text-decoration: none;
	margin-top: 3px;
	margin-right: 8px;
}
.featured a.button span{
	background: transparent url(../images/btn_black_featured_span.png) no-repeat;
	padding: 3px 0 4px 6px;
	color: #90D6FF;
	height: 13px;
	font: bold 13px/12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
}
.featured a.button:hover span   {
	color: #54e8bf;
	text-decoration: none;
}
.list a.button , .projects a.button  {
	background: transparent url(../images/btn_gray_small.png) no-repeat scroll right top;
	margin-right: 10px;
	padding-right: 5px; /* sliding doors padding */
	text-decoration: none;
}
.list a.button span, .projects a.button span   {
	background: transparent url(../images/btn_gray_small_span.png) no-repeat;
	padding: 3px 0 3px 5px;
	color: #000;
	height: 13px;
	font: bold 11px/13px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.list .buy a.button:hover span     {
	color: #056E41;
	text-decoration: none;
}
.pricing a.button {
	background: transparent url(../images/btn_black_tall_pricing.png) no-repeat scroll right top;
	padding-right: 10px; /* sliding doors padding */
	text-decoration: none;
	text-align: center;
	float: none;
	margin-right: 0px;
}
.pricing a.button span{
	background: transparent url(../images/btn_black_tall_pricing_span.png) no-repeat;
	padding: 7px 0 5px 10px;
	color: #FFF;
	height: 23px;
	font: bold 16px/17px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	margin-right: 0px;
}
.pricing a.button:hover span   {
	color: #54e8bf;
	text-decoration: none;
}
