.dialog {
    font-size: 12px;
}
.dialog h1  {
    font-size: 20px;
}
.dialog h2  {
    font-size: 15px;
}
.dialog input  {
    width: 160px;
}
/*
div.dialog label {
    text-align: left;
    width: 100px;
}
div.dialog label, div.dialog input {
    float: left;
    display: block;
    margin-bottom: 8px;
}
div.dialog button {
    margin-left: 10px;
    float: right;
}
*/
.dialog #qwe {
}
.dialog #signIn {
    width: 300px;
    float:right;
}
.dialog #asd {
    width: 300px;
    float: left;
}
