

div#dashboardAccount {
    padding: 15px;
    color: #A3A3A3;
    font-size: 15px;
}
div#dashboardAccount ul {
    margin-top: 0;
}
div#dashboardAccount ul li a {
    color: #469AD1;
    text-decoration: none;
    font-size: 13px;
}
div#dashboardAccount ul li a:hover {
    color: #54E8BF;
}

div.detail {
    background-color: #F0F0F0;
}
div.detail ul {
    list-style: none;
    padding-left: 0px;
}
div.detail div.detailHeader {
    height: 46px;
    font-size: 20px;
    color: #49B6FF;
    background-color: black;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    padding: 20px 25px 0 25px;
    margin-bottom: 15px;
}
div.detail div.detailHeader a {
    float: right;
}
div.detail div.detailMain {
    float: left;
    width: 400px;
    padding-left: 30px;
    background-color: #F0F0F0;
}
div.detail div.detailSidebar {
    float: right;
    padding-left: 35px;
    width: 230px;
    background-color: #F0F0F0;
}
div.detail div.detailMain div.playerPreview img {
    max-width: 400px;
    max-height: 400px;
}
div.detail div.detailMain div.icon img {
    float: left;
    height: 50px;
    width: 50px;
}
div.detail div.detailMain div.itemName {
    float: left;
    height: 50px;
    color: black;
    font-size: 21px;
    padding-top: 15px;
    padding-left: 10px;
}
div.detail div.detailMain ul {
    padding-bottom: 10px;
    border-bottom: 1px dotted #C0C0C0;
}
div.detail div.detailMain div.author {
    margin-bottom: 30px;
}
div.detail div.detailMain div.comments span.commentViewActions {
    float: right;
    
}
div.detail div.detailMain div.author div.icon img {
    margin-right: 10px;
}
div.detail div.detailMain span.group {
    font-size: 18px;
    font-weight: normal;
    color: black;
}
div.detail div.detailMain div.screenshots {
    background-color: white;
    padding: 10px 0 0 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 86px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
div.detail div.detailMain div.screenshots img {
    max-height: 75px;
    margin-right: 7px;
}

div.detail div.detailSidebar ul.manage span {
    float: right;
}
div.detail div.detailSidebar ul.manage a.button span {
    float: none;
}
div.detail div.detailMain div.comments ul {
}
div.detail div.detailMain div.comments ul li {
}
div.detail div.detailMain div.comments ul li div.icon {
    width: 45px;
}
div.detail div.detailMain div.comments ul li div {
    float: left;
    width: 330px;
}
div.detail div.detailMain div.comments ul li img {
    /*float: left;*/
    max-height: 35px;
    max-width: 35px;
    margin-right: 10px;
}

body {
    background-color: white;
}
div#footerPanel {
    width: 100%;
} 
div#footerPanel div.linkGroups {
    width: 955px;
    margin: 0 auto;
    text-align: left;
}
div.content {
    float: left;
    width: 710px;
    padding-top: 30px;
}
div#footerPanel {
    background-color: black;
}
div.linkGroups div.links {
    float: left;
    font-weight: normal;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 35px;
    width: auto;
}
div.linkGroups div.links.last {
    background: none;
    margin-right: 0;
    padding-right: 0;
}


/*
a.button, a.button span {
    display: -moz-inline-box;
    display: inline-block;
    font-weight: bold;
    height: 20px;
    margin: 0 5px 0 0;
    padding: 2px 0 0 10px;
    text-decoration: none;
}
*/
div#headerPanel, div#mainPanel {
    width: 955px;
    margin: 0 auto;
    text-align: left;
}
div#headerPanel div {
    margin-right: 10px;
}
div.headerLogo {
    height: 83px;
    float: right;
    margin-right: 0;
}

div.headerButtons {
    float: left;
}
div.headerLinks {
    float: left;
}
div.headerMenu {
    float: left;
}
div.headerMenu a {
    margin-right: 20px;
}
div.headerNavigation {
    float: left;
}
div.headerTabs {
    padding-top: 4px;
}
div#sidebarPanel {
    float: left;
    margin-bottom: 15px;
    margin-right: 0px;
    width: 233px;
    padding-right: 10px;
}
div.dashboard a {
    text-decoration: none;
    color: #469AD1
}
div.dashboard a:hover {
    text-decoration: none;
    color: #54E8BF
}
div.dashboard, div#dashboardLogout {
    padding: 10px 10px 15px 10px;
    background-color: black;
}
div.dashboard {
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*div#dashboardLogin a.button {
    margin-top: 10px;
    color: #469AD1;
}
div#dashboardLogin a.button.join {
    float: right;
}
*/
div.dashboard div.dashboardRule, div#dashboardLogout div.dashboardRule {
    height: 3px;
    background: url("../images/featuredBrowse/dashboardRule.png") no-repeat scroll center;
}
div.dashboard img {
    margin-left: 15px;
    height: 50px;
    width: 50px;
}
div.dashboard input {
    height: 24px;
    font-size: 12pt;
    margin: 10px 0 10px 0;
    width: 180px;
}
div.dashboard input[type=checkbox] {
    width: 15px;
    height: 12px;
    margin-left: 15px;
}
div.dashboardTabs {
    background:  url("../images/dashboardTabsBackground.png") repeat;
    margin: 7px 0 0 0;
    height: 33px;
    width: 235px;
}
div.dashboardTabs a {
    float: left;
    height: 27px;
}
div.dashboardTabs a.selected {
    background-color: black;
    color: white;
}
div.dashboard ul {
    list-style: none;
}
div.dashboard ul.projects img
{
    margin: 0 4px 0 0;
    height: 14px;
    width: 14px;
}
div.dashboard div.dashboardItem {
    color: #469AD1;
}
div.dashboard div.dashboardItem ul li, div.dashboard div.dashboardItem ul li a {
    text-decoration: none;
    color: #B1B1B1;
}
div.dashboard div.dashboardItem ul li span {
    float: right;
}
div#dashboardLogout a {
    color: #5D6D7F;
    text-decoration: none;
    float: right;
}


/*
div.dashboard a.button {
    float: right;
    background: url("../images/featuredBrowse/dashboardButton.jpg") no-repeat scroll left;
}
*/
/*
div.dashboard div.dashboardItem {
    margin-bottom: 8px;
}
div#dashboardLogin a {
    float: none;
}
div.headlines {
    margin: 20px 0 0 0;
}
div.headline {
    padding: 1em;
    background-color: #F0F0F0;
}
div.headline.first {
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
div.headline.last {
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
div.headline h1 {
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color:  #4E9EDE;
}
div.headline p {
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
}
/*
div.headline a.button {
    background: url("../images/featuredBrowse/browseButton.jpg") no-repeat scroll left;
    color: black;
}
*/
div.headlineRule {
    height: 3px;
    background: url("../images/featuredBrowse/headlineRule.png") no-repeat scroll center;
}

div#zappShoppePanel {
    float: left;
    background-color: #F0F0F0;
    width: 665px;
    padding: 35px 0 0 25px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

div#listTabsPanel {
    /*margin-top: 35px;*/
    float: left;
    padding-left: 35px;
}
div#listTabsPanel div {
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    background-color: #F6F6F6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #98A4C1;
    display: inline;
    font-size: 18pt;
    padding: .3em .7em 1px .7em;
    cursor: pointer;
}

div#listTabsPanel div.selected {
    background-color: #F0F0F0;
    color: black;
}

/*
    featured and browse common
*/
div.featuredBrowse {
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    /*margin: 15px;*/
    /*padding: 10px;*/
    /*width: 740px;*/ /*TODO acavan - remove when outer container is available*/
}
div.featuredBrowse div.item {
    float: left;
    margin-bottom: .9em;
}
div.featuredBrowse div.item ul {
    list-style: none;
    margin-bottom: .8em;
    padding: 0;
}
div.featuredBrowse div.item ul li {
    padding-bottom: .2em;
}
div.featuredBrowse div.item ul li.description {
    padding-top: .3em;
    padding-bottom: .5em;
}
div.featuredBrowse div.item span {
    padding-right: .5em;
}
div.featuredBrowse a {
    text-decoration: none;
}
/*
div.featuredBrowse a.button {
    background-position: right 0;
    margin: 0;
    padding: 0;
}
*/
div.featuredBrowse div.actions a.preview {
    background-attachment: scroll;
    padding-top: 3px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 4px;
}
div.featuredBrowse div.actions {
    font-size: 13px;
}
div.featuredBrowse div.clearer {
    clear: both;
}


/*
    featured unique
*/
div.featured {
    -moz-border-radius: 10px;
    /*-moz-box-shadow: 2px 2px 3px #C0C0C0;*/
    /*-webkit-box-shadow: 2px 2px 3px #C0C0C0;*/
    background-color: black;
    border-radius: 10px;
    /*box-shadow: 2px 2px 3px #C0C0C0;*/
    color: #A8B1B1;
    width: 120px;
    padding-top: 6px;
}
div.featured div {
    background-color: black;
}
div.featured div.item {
    margin-left: 10px;
    width: 164px;
}
div.featured.zapp div.caption {
    background: url("../images/openingSoon.png") no-repeat right;
    float: left;
    height: 175px;
    width: 22px;
    padding-left: 8px;
    word-wrap: break-word;
}
div.featured div.previous,  div.featured div.next {
    float: left;
    height: 175px;
    width: 40px;
}
div.featured div.previous {
    background: url("../images/featuredBrowse/featuredPrevious.jpg") no-repeat center;
}
div.featured div.next {
    background: url("../images/featuredBrowse/featuredNext.jpg") no-repeat center;
}
div.featured a:link, div.featured a:visited {
    color: #469AD1;
}
div.featured a:hover {
    color: #54E8BF;
}
div.featured a.name {
    font-size: 15px;
}
/*
div.featured a.button {
    background: url("../images/featuredBrowse/featuredButton.jpg") no-repeat scroll left 0;
}
*/
div.featured div.actions a.preview {
    background: url("../images/featuredBrowse/featuredPreview.gif") no-repeat center center;
}
div.featured div.actions a.preview:hover {
    background: url("../images/featuredBrowse/featuredPreviewHover.gif") no-repeat center center;
}
/*
div.featured span.rating {
    padding-left: 55px;
}
div.featured span.rating.five {
    background: url("../images/featuredBrowse/featuredRating5.png") no-repeat right;
}
*/

/*
    browse unique
*/
div.browse {
    background-color: #F0F0F0;
    color: #5D6D7F;
    width: 655px;
    /*border: 1px solid blue;*/
}
div.browse div.item {
    background-color: white;
}
div.browse div.item {
    width: 195px;
    border: 1px solid #d0d0d0;
    padding: 8px 0 8px 8px;
    margin: 0 13px 13px 0;
    color: #5d6d7f;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
div.browse div.item ul {
    list-style: none;
    margin: 0 0 .3em 0;
}
div.browse div.item ul li {
    padding-bottom: .2em;
}
div.browse div.item ul li span {
    color: #38424D;
    font-weight: bold;
}
div.browse a:link, div.browse a:visited {
    color: #000000;
}
div.browse a:hover {
    color: #009966;
}
div.browse a.name {
    font-size: 16px;
    font-weight: bold;
}
/*
div.browse a.button {
    background: url("../images/featuredBrowse/browseButton.png") no-repeat scroll left;
}
div.browse div.browseHeader a.button {
    background: url("../images/featuredBrowse/browseHeaderButton.png") no-repeat scroll left;
}
div.browse div.browseHeader a.button span {
    color: #5d6d7f;
    font-weight: normal;
}
*/
div.browse div.actions a.preview {
    background: url("../images/featuredBrowse/browsePreview.gif") no-repeat center center;
}
div.browse div.actions a.preview:hover {
    background: url("../images/featuredBrowse/browsePreviewHover.gif") no-repeat center center;
}
/*
div.browse span.rating {
    padding-left: 59px;
}
div.browse span.rating.five {
    background: url("../images/featuredBrowse/browseRating5.png") no-repeat right;
}
*/
div.browse div.browseHeader {
    margin: 20px 0 13px 0;
}
div.browse div.browseHeader * {
    vertical-align: top;
}
div.browse div.browseHeader input {
    height: 18px;
}
/*
div.browse div.browseHeader a.button {
    height: 28px;
}
div.browse div.browseHeader a.button span {
    padding-top: 7px;
}
*/
div.browse div.browseHeader p {
    margin-top: 6px;
}
div.browse div.browseFooter {
    margin: 0 0 13px 0;
    padding-right: 12px;
    text-align: right;
}


/*
    buttons
*/
/*
a.button {
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

}
a.button span {
    display: -moz-inline-box;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
div.accountAction a.button {
    background: url("../images/accountActionButton.png") no-repeat top left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 0px;
} 
div.accountAction a.button span {
    background: url("../images/accountActionButton.png") no-repeat bottom right; 
    color: black;
    font-size: 14pt;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 10px;
}
div.accountForm a.button {
    background: url("../images/accountFormButton.png") no-repeat top left;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
} 
div.accountForm a.button span {
    background: url("../images/accountFormButton.png") no-repeat bottom right; 
    color: black;
    font-size: 10pt;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 8px;
}
div.accountForm.even a.button {
    background: url("../images/accountFormEvenButton.png") no-repeat top left;
}
div.accountForm.even a.button span {
    background: url("../images/accountFormEvenButton.png") no-repeat bottom right; 
}
div.featured a.button {
    background: url("../images/featuredButton.png") no-repeat top left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 0;
} 
div.featured a.button span {
    background: url("../images/featuredButton.png") no-repeat bottom right; 
    color: #4C9AD0;
    font-size: 10pt;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 5px;
}
div.featured a.button:hover span {
    color: white;
}
div.dashboard a.button {
    background: url("../images/dashboardButton.png") no-repeat top left;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 0;
} 
div.dashboard a.button span {
    background: url("../images/dashboardButton.png") no-repeat bottom right; 
    color: #5CA9E9;
    font-size: 10pt;
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 0;
    padding-right: 5px;
}
*/

div#joinPanel input {
    margin-right: 8px;
}
div.headerTabs a#tabLogin {
    background: url("../images/headerTabSignIn.png") no-repeat top left;
    display: block;
    float: left;
    height: 33px;
    width: 76px;
}
div.headerTabs a#tabAccount {
    background: url("../images/headerTabAccount.png") no-repeat top left;
    display: block;
    float: left;
    height: 33px;
    width: 76px;
}
div.headerTabs a#tabAccount.selected {
    background: url("../images/headerTabAccountSelected.png") no-repeat top left;
}
div.headerTabs a#tabAccount:hover {
    background: url("../images/headerTabAccountHover.png") no-repeat top left;
}
div.headerTabs a#tabMyStuff {
    background: url("../images/headerTabMyStuff.png") no-repeat top left;
    display: block;
    float: left;
    height: 33px;
    width: 76px;
}
div.headerTabs a#tabMyStuff.selected {
    background: url("../images/headerTabMyStuffSelected.png") no-repeat top left;
}
div.headerTabs a#tabMyStuff:hover {
    background: url("../images/headerTabMyStuffHover.png") no-repeat top left;
}
div#dashboardLogin form {
    margin-bottom: 10px;
}
div#dashboardLogin a:nth-last-of-type(2) {
    float: right;
}
div#dashboardLogin a:last-of-type, div#dashboardLogin a:last-of-type:visited {
    color: #469AD1;
    text-decoration: none;
}
div#dashboardLogin a:last-of-type:hover {
    color: #54E8BF;
    text-decoration: none;
}
div.dashboardItem div.zapps {
    margin-top: 10px;
    margin-bottom: 10px;
}