@charset "UTF-8";

fieldset {
   width: 440px;
   padding: 10px;
   margin: 10px 0 20px 20px;
   border: 0px none;
}
fieldset legend {
   padding-left: 10px;
   padding-right: 10px;
}
fieldset ul li {
   list-style: none;
   padding-bottom: 3px;
   height: 24px;
   vertical-align: bottom;
}
fieldset ul li input {
   margin-top: 5px;
   float: right;
   width: 200px;
}

fieldset ul li select {
   margin-top: 5px;
   margin-right:8px;
   float: right;
   width: 200px;
}

fieldset ul li label {
   display: block;
   float: left;
   margin-top: 3px;
   clear: both;
}

.checkboxLabel {
    display: inline;
    float: none;
    margin-top: 3px;
}

fieldset ul li input[type=checkbox] {
   float: left;
   width: 15px;
   margin-right: 5px;
}


fieldset.labelOnly label {
   display: block;
   height: 27px;
}
fieldset.labelOnly label input {
   float: right;
   width: 200px;
}
fieldset.labelOnly label input[type=checkbox] {
   float: none;
   width: 15px;
   margin-right: 5px;
}

fieldset.fileUpload {
    border: 1px solid #CCCCCC;
    padding: 20px;
    text-align: left;
    width:608px;
}

#accountPanel li label {
    font-size: 14px;
    font-weight: bold;
}

#accountPanel legend {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

#accountPanel .block, #accountPanel input[readonly] {
    background: #E6E6E6;
}

#accountPanel input[readonly] {
   border: none;
}

#accountPanel fieldset img {
    float: right;
    border: 1px solid #CCCCCC;
}

#accountPanel .fileUpload {

}

#accountPanel input, #accountPanel select {
    width:  250px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D0D0D0;
    font-size: 13px;
    padding: 3px;
}

.account form {
    padding-bottom: 29px;
}