* {
    margin 0;
    padding 0;
    font-family: sans-serif;
    font-size: small;
    color: #202020;
}

.clearer {
    clear: both;
}

body.skeleton {
	width: 1000px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

body.skeleton div#menu a {
	padding-right: 15px;
}

body.skeleton div#headerPanel, 
body.skeleton div#navigationPanel, 
body.skeleton div#contentPanel, #footerPanel {
	border: 1px solid #E0E0E0;
	margin-top: 5px;
}

/*
body.skeleton div#headerPanel {
	height: 100px;
}
*/

body.skeleton div#navigationPanel {
}

body.skeleton div#contentPanel {
	height: 400px;
}

body.skeleton div.title {
/* 	padding-top: 5px; */
	padding-left: 5px;
	margin-bottom: 3px;
/*
	display: inline;
	float: left;
*/
	width: auto;
	color: white;
	font-size: 7pt;
	background-color: #A0A0A0;
}

ul#menu {
    margin: 0;
    padding: 0;
    width: auto;
    display: block;
}
ul#menu li {
    float: left;
    display: list-item;
    list-style: none;
    padding-left: 0;
    padding-right: 20px;
}