.featured span.rating {
	padding-left: 56px;
}
.featured span.rating.none {
    background: url("../images/stars_gray.png") no-repeat bottom right; 
}
.featured span.rating.one {
    background: url("../images/stars_black_blue1.png") no-repeat bottom right; 
}
.featured span.rating.two {
    background: url("../images/stars_black_blue2.png") no-repeat bottom right; 
}
.featured span.rating.three {
    background: url("../images/stars_black_blue3.png") no-repeat bottom right; 
}
.featured span.rating.four {
    background: url("../images/stars_black_blue4.png") no-repeat bottom right; 
}
.featured span.rating.five {
    background: url("../images/stars_black_blue5.png") no-repeat bottom right; 
}
.browse span.rating {
	padding-left: 56px;
}
.browse span.rating.none {
    background: url("../images/stars_gray.png") no-repeat bottom right; 
}
.browse span.rating.one {
    background: url("../images/stars_blue1.png") no-repeat bottom right; 
}
.browse span.rating.two {
    background: url("../images/stars_blue2.png") no-repeat bottom right; 
}
.browse span.rating.three {
    background: url("../images/stars_blue3.png") no-repeat bottom right; 
}
.browse span.rating.four {
    background: url("../images/stars_blue4.png") no-repeat bottom right; 
}
.browse span.rating.five {
    background: url("../images/stars_blue5.png") no-repeat bottom right; 
}
