.overlayContentSplash {
	z-index: 1000;
	position: relative;
	margin-top: 105px;
	padding-left: 20px;
	font-size: 18px;
}
.splash .top {
	padding-left: 20px;
	position: fixed;
	z-index: 2000;
	height: 83px;
}
.splash .form p {
	font-size: 16px;
}
.splash .form .textfield {
	width: 300px;
}
.splash .header {
	background: url(../images/back_header.png) repeat-x;
}
.splash .header .logo {
	float: left;
}
.mainSplash {
	position: relative;
}
img.splash {
	/* Set rules to fill background */
        min-height: 100%;
	min-width: 1450px;
	/* Set up proportionate scaling */
        width: 100%;
	height: auto;
	/* Set up positioning */
        position: fixed;
	top: 0px;
	left: 0;
	z-index: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
body.splash {
	padding-bottom: 40px;
}
        img.splash {
	/* [disabled]left: 50%; */
	/* [disabled]margin-left: -512px; */   /* 50% */
        }
}
.containerSplash {
	/* [disabled]min-height: 100%; */
}
.contentSplash .social a {
	margin-right: 15px;
}
.contentSplash h2 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.bottomSplash {
	background: #222 url(../images/back_footer.png) repeat-x;
	text-align: center;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	z-index: 100;
	bottom: 0px;
	position: absolute;
	height: 50px;
}
.footerSplash {
	text-align: right;
	font: bold 13px/15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #878787;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
.splash .social {
	font-size: 14px;
}
