div#testbenchPanel {
    font-family: sans-serif;
    font-size: 12px;
    /*line-height: 120%;*/
}
div#testbenchPanel div#jsonPanel {
    float: right;
    line-height: 1.4em;
    width: 455px;
}
div#testbenchPanel div#testForm {
    float: right;
    width: 455px;
}
div#testbenchPanel div#testsPanel {
    width: 192px;
}
div#testbenchPanel div#testsPanel {
    float: left;
}
div#testbenchPanel div#testForm ol {
    padding: 0;
    margin: 0;
}
div#testbenchPanel div#testForm ol li {
    font-style: italic;
    padding-top: 0;
}
div#testbenchPanel div#testForm ol li.group {
    margin-top: .5em;
}
div#testbenchPanel div#jsonPanel .json {
    font-family: monospace;
    margin-bottom: .4em;
    padding-left: 1em;
}
div#testbenchPanel div#jsonPanel #raw {
    overflow: auto;
}
div#testbenchPanel div#testsPanel dt, div#testbenchPanel div#testsPanel dd {
    list-style: none;
    width: auto;
}
div#testbenchPanel div#testForm label.error {
    margin-left: 195px;
}
div#testbenchPanel div#testsPanel dl {
    margin-top: 0;
    margin-left: .7em;
    padding-bottom: 0;
    line-height: 1.2em;
}
/*
div#testbenchPanel div#testsPanel dl {
    padding-bottom: 0;
}
*/
div#testbenchPanel div#testsPanel dt {
    padding-top: .5em;
    cursor: pointer;
}
div#testbenchPanel div#testsPanel dl dd {
    margin-top: .2em;
    margin-left: 1em;
    padding-top: .3em;
    cursor: pointer;
}
div#testbenchPanel div#testsPanel dt:hover, div#testbenchPanel div#testsPanel dl dd:hover {
    color:blue;
    text-decoration: underline;
}

div#testbenchPanel div#testsPanel dt.selected, div#testbenchPanel div#testsPanel dl dd.selected {
    color:blue;
}


div#testbenchPanel div.banner, div#testbenchPanel div.column {
    border: 1px solid rgb(204,204,204);
    margin-left: 10px;
    padding-left: 5px;
}
div#options {
    margin-top: 10px;
    padding-top: 6px;
    padding-left: 3px;
    border-top: 1px solid #E0E0E0;
}
div#testbenchPanel div.column h1 {
    margin-top: 3px;
    margin-bottom: 0;
}
div#testbenchPanel div.footer {
    padding-left: 5px;
}
div#testbenchPanel fieldset {
    border: none;
    margin-bottom: .4em;
}
div#testbenchPanel form label.error {
    color: red;
    margin-left: 124px;
}
div#testbenchPanel form label {
    display: inline-block;
    font-style: normal;
    margin-left: 1em;
    width: 180px;
    vertical-align: top;
}
div#testbenchPanel div.options label {
    margin-top: .3em;
}
div#testbenchPanel h1,div#testbenchPanel div#testForm h1,div#testbenchPanel div.column h1 {
    color: gray;
    font-family: sans-serif;
    font-size: 130%;
    font-variant: small-caps;
    font-weight: bold;
}
div#testbenchPanel input {
    border: 1px solid #5D6D7F;
    width: 180px;
}
div#testbenchPanel textarea {
    width: 182px;
}
div#testbenchPanel ol li {
    color: #5D6D7F;
    list-style: none;
    padding-left: 1em;
    padding: .3em;
}
div#testbenchPanel {
    width: 1150;
    margin: 0 auto;
}
div#testbenchPanel div.block {
    padding: 5px;
    padding-left: 10px;
}
div#testbenchPanel div#testsPanel input,
div#testbenchPanel .options input {
    width: auto;
}
div#testbenchPanel .options label {
    width: 315px;
    margin-left: 0px;
    padding-left: 0px;
}
div.clearer {
    clear: both;
}
div#testbenchPanel input.submit {
    width: 65px;
}
div#testbenchPanel .options {
    display: inline;
    float: left;
}
div#testbenchPanel input[type=radio] {
    display:inline;
    width:auto;
}