body {
	background: #222 url(../images/back_header.png) repeat-x;
	text-align: center;
	color: #0C3F73;
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

textarea {
	resize: none;
}

img {
	border-style: none;
	margin: 0px;
	padding: 0px;
}
table  {
	border-style: none;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
}
ul  , ol{
	padding-left: 30px;
}
p {
	margin-top: 0px;
}
h1 {
	font: normal 28px/30px Verdana, Geneva, sans-serif;
	color: #000;
	margin-top: 0px;
	margin-bottom: 15px;
}
h2 {
	color: #000;
	font-size: 21px;
	font-weight: normal;
	line-height: 24px;
}
h3  {
	font-size: 18px;
	font-weight: normal;
	color: #333;
	line-height: 23px;
	margin-top: 0px;
	margin-bottom: 15px;
}
h4 {
	color: #000;
	font-size: 18px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 10px;
}
h5 {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 5px;
}
.projectMeta {
	float:left;
	margin-left:5px;
	width:100%;
	height:100%;
	position:relative;
}
.blue {
	color: #65A9EA;
}
.gold {
    color: #E8BA00;
}
.black {
	color: #000;
}
.editHistoryDelete{
    white-space:nowrap;
    width:200px;
    word-wrap:break-word;
}
.green {
	color: #54ebbe;
}
.right{
    float:left;
}

.white {
	color: #FFF;
}
.warningColor {
	color: #C60;
}
.clearer {
	clear: both;
}
.divider {
	height: 1px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 25px;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.indent   {
	margin-left: 25px;
}
.label   {
	padding-right: 4px;
	color: #38424d;
	font-weight: bold;
}
.marginBottom {
	margin-bottom: 25px;
}
.marginTop {
	margin-top: 25px;
}
.marginRight {
	margin-right: 15px;
}
.noMarginBottom {
	margin-bottom: 0px;
}
.noMarginTop  {
	margin-top: 0px;
}
.menu   {
	font-size: 13px;
	padding: 3px;
	border: 1px solid #D0D0D0;
	background: #FFF;
}
.textfield   {
	font-size: 13px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 3px;
	background: #FFF;
	border: 1px solid #D0D0D0;
}
.textfieldLarge {
	font-size: 15px;
	padding: 4px;
	background: #FFF;
	border: 1px solid #D0D0D0;
}
.top {
	width: 100%;
	background: #000 url(../images/back_header.png) repeat-x;
	text-align: center;
	margin: 0px;
	padding-right: 20px;
	padding-left: 20px;
	z-index: 100;
}
.header {
	width: 960px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
.header .logo {
	float: right;
}
.header .headerNavigation {
	float: right;
	height: 35px;
	margin-top: 48px;
	width: 415px;
	text-align: left;
}
.header .headerNavigation a{
	margin-right: 20px;
}
.header .headerTabs  {
	color: #acacac;
	float: left;
	height: 39px;
	padding-top: 15px;
	width: 225px;
}
.header .headerTabsText  {
	color: #CCCCCC;
	float: left;
	padding-top: 6px;
	width: 193px;
	font-size: 13px;
	padding-right: 15px;
	padding-left: 15px;
	border-left: 1px solid #343434;
	border-right: 1px solid #343434;
	height: 20px;
}
.header .headerTabsText a:link , .header .headerTabsText a:visited {
	color: #CCCCCC;
	text-decoration: none;
}
.header .headerTabsText a:hover , .header .headerTabsText a:active {
	color: #54e8bf;
}
.header .headerTabsText .username{
	float: left;
}
.header .headerTabsText .signout{
	float: right;
	margin-left: 10px;
}
.main {
	background: #BFDFFF;
	clear: both;
	margin-top: 0px;
	width: 100%;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
	z-index: 100;
}
.main.account{
	background: #BFDFFF;
}
.main.account h3 {
	color: #333;
}
.main.account .headline {
	color: #333;
}
.main.admin {
	background: #BFDFFF;
}
.main.admin .block {
	line-height: 18px;
}
.main.admin .block.details .form table td       {
	padding-top: 2px;
	padding-bottom: 2px;
}
.main.admin .subnav ul {
	margin-left: 0px;
	padding-left: 0px;
}
.main.admin .subnav li {
	padding-bottom: 7px;
}
.content {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding-bottom: 20px;
	font-size: 13px;
	line-height: 21px;
}
.content a:link, .content a:visited{
	color: #096;
	text-decoration: none;
}
.content a:hover {
	color: #65A9EA;
	text-decoration: underline;
}
.content .list th a:link , .content .list th a:visited {
	color: #FFF;
}
.content .blockBlack .name a {
	color: #CCCCCC;
	word-wrap: break-word;
}
.content .blockBlack .name a:hover, .content .blockBlack .name a:active {
	color: #54e8bf;
}
.content .warningColor a:link , .overlay .warningColor a:link , .content .warningColor a:visited, .overlay .warningColor a:visited{
	color: #C00;
}
.contentRight {
	text-align: left;
	float: left;
	margin-top: 20px;
	width: 710px;
	margin-bottom: 15px;
}
.bottom {
	background: #222 url(../images/back_footer.png) repeat-x;
	text-align: center;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	z-index: 100;
}
.footer {
	text-align: left;
	font: bold 13px/15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #878787;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 32px;
	padding-bottom: 30px;
}
.footer a   {
	color: #878787;
	text-decoration: none;
}
.footer a:hover {
	color: #54e8bf;
	outline: none;
	border-style: none;
}
.footer .links {
	background: url(../images/footer_divider.png) no-repeat right;
	text-align: left;
	vertical-align: top;
	width: 175px;
	padding-left: 45px;
	float: left;
	min-height: 172px;
	padding-right: 40px;
}
.footer .links ul{
	margin-top: 18px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
}
.footer .links li{
	list-style: none;
	margin-bottom: 10px;
}
.footer .links img {
	margin-right: 5px;
}
.footer .links.firstColumn {
	padding-left: 0px;
}
.footer .links.lastColumn {
	width: 175px;
	background: none;
	padding-right: 0px;
}
.footer .copyright{
	font: normal 11px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #636363;
	margin-top: 0px;
	text-align: left;
	clear: both;
	padding-top: 20px;
	padding-left: 0px;
}
.footer .copyright a {
	color: #A3A3A3;
}
.block {
	background: #E6E6E6;
	padding: 25px;
	color: #5d6d7f;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	line-height: 21px;
}
.block h2{
	color: #000;
	margin-top: 0px;
	font-size: 21px;
	font-weight: normal;
	margin-bottom: 5px;
}
.block a:link, .block a:visited{
	color: #096;
	text-decoration: none;
}
.block a:hover , .block a:active{
	color: #096;
	text-decoration: underline;
}
.block a.close {
	background: url(../images/btn_close_gray.png) no-repeat left top;
	height: 16px;
	width: 17px;
	float: right;
}
.block a.close:hover {
	background: url(../images/btn_close_gray_over.png) no-repeat left top;
}
.block .columnLeft  {
	width: 305px;
	float: left;
	margin-right: 40px;
}
.block .columnRight  {
	width: 305px;
	float: left;
}
.block .columnLeft2  {
	width: 400px;
	float: left;
	margin-right: 40px;
}
.block .columnRight2  {
	width: 210px;
	float: left;
}
.block .name a:link , .block .name a:visited  {
	color: #000;
}
.block .name a:hover, .block .name a:active {
	color: #096;
	text-decoration: none;
}
.blockBlack {
	background: #000000;
	padding: 20px 30px;
	color: #FFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 15px;
}
.blockBlack a:link, .blockBlack a:visited {
	color: #A6D3FF;
}
.blockBlack a:hover, .blockBlack a:active {
	color: #54e8bf;
	text-decoration: none;
}
.blockBlack .searchFilter a:link,.blockBlack .searchFilter a:visited,.blockBlack .searchFilter a:hover ,.blockBlack .searchFilter a:active  {
	color: #CCC;
	text-decoration: none;
}
.blockBlack .browseGrid a     {
	color: #096;
}
.blockBlack .browseGrid a:hover, .blockBlack .browseGrid a:active {
	color: #096;
	text-decoration: underline;
}
.blockBlack .warningColor{
	color: #FC0;
}

.linkField {
	background: #FFF;
	border: 1px solid #888888;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 10px 0px 10px 0px;
	font-size: 13px;
	text-align: center;
	width: 395px;
	height:15px;
}

.shareZappDefault {
	margin-bottom: 30px;
}

.privacyButtons {
	padding: 10px 10px 10px 10px;
}

.privacyIcons {
	width: 25px;
	height: 25px;
}

.privacyIconList {
	margin-left: 25px;
}
.share {
	color: #000;
	font-size: 12px;
}
#shareGeneral .sharePanelNotesBlock,
#shareGeneral.setPrivacyLevel, 
#shareGeneral .shareInfo {
	color: #000;
	font-size: 10px;
}

#shareGeneral .shareNotSelected {
	padding: 10px 0px 10px 0px;
	color: #000;
	font-size: 10px;
	text-align: left;
}

.blockTop {
	background: #000;
	color: #FFF;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
 	padding: 12px 30px;
	margin: -25px -25px 20px;
}
.blockTop h2 {
	color: #90D6FF;
	font-size: 20px;
	line-height: 22px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.blockTop h2 span.name {
	color: #FFFFFF;
	margin-left: 15px;
}
.blockTop a:link, .blockTop a:visited {
	color: #90D6FF;
	text-decoration: none;
}
.blockTop a:hover, .blockTop a:active {
	color: #FFF;
	text-decoration: none;
}
.blockTop a.close , .viewerTop a.close{
	background: url(../images/btn_close_black.png) no-repeat left top;
	height: 16px;
	width: 17px;
	float: right;
	margin-right: -5px;
}
.blockTop a.close:hover , .viewerTop a.close:hover{
	background: url(../images/btn_close_black_over.png) no-repeat left top;
}
.block.cloud {
	background: url(../images/back_cloud_top_1.png) no-repeat -2px 10px;
	padding-top: 40px;
	margin-top: -10px;
}

.block.cloud.middle {
    background: url(../images/back_cloud_top_4.png) no-repeat;
    margin-left: -25px;
}

.block.cloud .tabs {
	text-align: center;
	margin: 0px auto;
	padding-top: 16px;
	padding-bottom: 10px;
}

.tabs {
    font-size: 18px;
    margin-left: 20px;
    display: block;
    height: 28px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 7px;
}

.block.cloud .tabs .tab {
    background: #E6E6E6;
    padding: 7px 15px;
    margin-right: 4px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #000;
    display: inline;
}

.tabs .tab{
    background: #E6E6E6;
    padding: 7px 15px;
    margin-right: 4px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 1px;
    -moz-border-radius-bottomright: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    color: #000;
    display: inline;
}
.block.cloud .tabs .tab2{
    background: #F3F3F3;
    padding: 7px 15px;
    display: inline;
    margin-right: 4px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #99A3C5;
}

.tabs .tab2{
    background: #F3F3F3;
    padding: 7px 15px;
    display: inline;
    margin-right: 4px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 1px;
    -moz-border-radius-bottomright: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    color: #99A3C5;
}

.tabs .tab a {
    color: #000;
}
.tabs .tab2 a {
    color: #99A3C5;
}
.tabs .tab a:hover   {
    color: #000;
    text-decoration: none;
}
.tabs .tab2 a:hover    {
    color: #096;
    text-decoration: none;
}

.tabs.about .tab a:hover    {
    color: #FFF;
}
.tabs.about {
    margin-top: 0px;
    height: 35px;
}
.tabs.about .tab2 a:hover    {
    color: #54ebbe;
}

div.block.cloud .tabs div.tab.selected{
	background: #000000;
}
div.block.cloud .tabs div.tab.unselected{
	background: #CCE6FF;
}

div.block.cloud .tabs div.tab.selected a {
	color:#FFF;
}

div.block.cloud .tabs div.tab.unselected a {
	color: #2E8AE6;
}

a.mainTabLink {
	color: #FFFFFF;
}

span.nonClickable {
	color: #FFFFFF;
}

div.block.cloud .tabs div.tab.unselected span.nonClickable {
	color: #2E8AE6;
}

div#authorProfile div.contentRight div.block {
	background: #FFFFFF;
}

div#authorProfile div#authorInformation {
	background: #E6E6E6;
	margin:-25px;
	padding: 20px 0px;
	overflow:hidden;
}
div.breakable{
	word-wrap: break-word;
}
div#authorProfileBio{
	width: 520px;
}	
div.authorProfileTabs {
	width:710px;
	font-size: 18px;
    margin-left: -25px;
    margin-bottom: -15px;
    margin-top: 7px;
    display: block;
    height: 65px;
    padding-top: 70px;
    padding-bottom: 0px;
    text-align: center;
    background: url(../images/back_cloud_top_4.png) no-repeat -2px 10px;
}

div.authorProfileTabs div.tab {
	background: #E6E6E6;
    padding: 7px 15px;
    margin-right: 4px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #000;
    display: inline;
}

div.authorProfileTabs div.tab a {
	color: #000;
}

div.authorProfileTabs div.tab a:hover {
	color: #000;
    text-decoration: none;
}



div.authorProfileTabs div.tab.selected{
    background: #000000;
}

div.authorProfileTabs div.tab.selected a {
	color:#FFF;
}

div.authorProfileTabs div.tab.unselected {
    background: #CCE6FF;
}

div.authorProfileTabs div.tab.unselected a {
	color: #2E8AE6;
}

.block.cloud .tabs .tab2{
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #CDDAFF;
	margin-right: 7px;
	margin-left: 7px;
}

.cloudBottom {
	background: #FFF;
	border-left: 2px solid #ADC6FB;
	border-right: 2px solid #ADC6FB;
	border-bottom: 2px solid #ADC6FB;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px 25px 25px;
	margin-right: -25px;
	margin-bottom: -25px;
	margin-left: -25px;
}
.block.cloud .form table th {
	background: #B5B5C2;
}
.block.cloud .list th.selected{
	background: #7FA6E3;
}
.breadcrumb {
	color: #bbbbbb;
	padding-bottom: 10px;
	font-size: 11px;
	line-height: 12px;
	min-height: 25px;
}
.breadcrumb a {
	color: #666666;
	text-decoration: none;
}
.breadcrumb .selected {
	color: #000;
}
.browse  {
	font-size: 12px;
	line-height: 16px;
	color: #5d6d7f;
	display: block;
	clear: both;
}
.browse .actions   {
	font-size: 13px;
	line-height: 22px;
}
.browse .author  , .browse .details {
	margin-bottom: 0px;
	font-weight: bold;
	color: #CCCCCC;
}

.featured .details{
	margin-bottom: 0px;
	font-weight: bold;
	color: #38424d;
}

.browse .author span   , .browse .details span{
	font-weight: normal;
	margin-left: 5px;
	color: #5d6d7f;
}
.browse .image  , .featured .image{
	padding-bottom: 7px;
}
.browse .name {
	margin-bottom: 6px;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	width: 200px;
	word-wrap:break-word;
}
.browse .name a:link , .browse .name a:visited  {
	color: #000;
}
.browse .name a:hover , .browse .name a:active {
	color: #096;
	text-decoration: none;
}
.browse a.preview {
	background: url(../images/icon_preview_white.png) no-repeat center center;
	height: 20px;
	margin-right: 5px;
	width: 28px;
	float: left;
}
.browse a.preview:hover {
	background: url(../images/icon_preview_white_over.png) no-repeat center center;
}
.browseGrid  {
	font-size: 12px;
	line-height: 16px;
	margin-right: -20px;
}
.browseGrid ul {
	margin-bottom: 30px;
}
.browseGrid ul , .browseList ul, .featured ul, .detailPanel ul{
	list-style: none;
	margin: 0px 0px 2px;
	padding: 0px;
}
.browseGrid ul, .featured ul, .detailPanel ul   {
	clear: both;
}
.browseGrid ul li , .browseList ul li, featured ul li{
	margin-bottom: 5px;
}
.browseGrid .actions   {
	margin-top: 10px;
	bottom: 10px;
	position: absolute;
	left: 12px;
}
.browseGrid .item    {
	border: 1px solid #d0d0d0;
	padding: 12px 12px 8px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: top;
	position: relative;
	width: 186px;
	float: left;
	margin-right: 11px;
	margin-bottom: 11px;
	height: 225px;
	background: #FFF;
}
.browseGrid .icon {
	margin-bottom: 10px;
}
.browseGrid .play {
	float: right;
}
.browseGrid.myZapps .item{
	height: 185px;
}
.browseGrid.myZapps ul {
	margin-bottom: 0px;
}
.browseGrid .rating , .featured .rating{
	margin-top: 5px;
}
.browseGrid.myZapps .rating  a{
	margin-right: 7px;
}
.browseList     {
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d0d0d0;
	clear: both;
}
.browseList ul {
	margin-right: 125px;
	margin-left: 90px;
}
.browseList .actions   {
	margin-top: 5px;
}
.browseList .button  {
	float: right;
}
.browseList .details span   {
	margin-right: 5px;
}
.browseList .icon {
	width: 75px;
	margin-right: 15px;
	float: left;
}
.browseList .row {
	padding: 10px 12px;
	border-bottom: 1px dotted #CCC;
}
.comments {
	border-top: 1px dotted #CCC;
	padding-top: 15px;
	margin-top: 15px;
}
.comments p {
	margin-top: 0px;
	margin-bottom: 10px;
}
.comments .commentsEntry{
	border-bottom: 1px dotted #CCC;
	padding-top: 10px;
	clear: both;
	padding-bottom: 10px;
}
.comments .commentsAdd {
	clear: both;
}
.comments .commentsLeft {
	width: 30px;
	float: left;
	margin-right: 15px;
}
.comments .commentsRight {
	float: left;
	display: block;
	width: 355px;
}
.comments .commentsName {
}

.comments .commentsName .memberName {
	color: #477CC1;
}

.comments .commentsText {
	color: #38424d;
	margin-bottom: 5px;
}
.comments .commentsTime {
	margin-left: 10px;
	color: #999;
	font-size: 11px;
	display: inline;
}
.comments .commentsHelpful {
	font-size: 11px;
	float: left;
}
.comments .commentsHelpfulAsk {
	font-size: 11px;
	float: right;
}
.comments .commentsHelpfulAsk a {
	color: #999;
}
.comments .commentsView{
	float: right;
	font-size: 11px;
	color: #999;
}
.comments .commentsView a {
	color: #999;
}
.comments .commentsView label  {
	font-weight: bold;
	color: #000;
}
.comments .commentsView .selected {
	color: #000;
}
.comments .paging {
	color: #999;
	font-size: 11px;
	margin-top: 7px;
}
.comments .paging a {
	color: #999;
}
.comments .paging label  {
	color: #5d6d7f;
}






.featured {
	-moz-border-radius: 10px;
	/*-moz-box-shadow: 2px 2px 3px #C0C0C0;*/
    /*-webkit-box-shadow: 2px 2px 3px #C0C0C0;*/
    background-color: black;
	border-radius: 10px;
	/*box-shadow: 2px 2px 3px #C0C0C0;*/
    color: #CCCCCC;
	font-size: 12px;
	line-height: 14px;
	margin-right: -18px;
	margin-left: -18px;
}
.featured .actions {
	font-size: 13px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	line-height: 22px;
}
.featured .blockBlack {
	padding: 15px 10px;
}
.featured .description {
	margin-bottom: 5px;
	word-wrap: break-word;
}
.featured .details {
	margin-bottom: 0px;
	font-weight: bold;
	color: #A8B1B1;
}
.featured .details span {
	font-weight: normal;
	margin-left: 5px;
	color: #CCCCCC;
}
.featured .item {
	width: 160px;
	margin-right: 10px;
	position: relative;
	float: left;
	height: 205px;
}
.featured .name {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 5px;
	line-height: 16px;
	word-wrap: break-word;
}
.featured .name a:link, .featured .name a:visited{
	color: #A6D3FF;
}
.featured .rating {
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 3px;
}
.featured.gadget .caption {
	background: url(../images/txt_featured_gadgets.png) no-repeat right;
	float: left;
	height: 205px;
	width: 22px;
	padding-left: 10px;
	margin-right: 10px;
}
.featured.zapp .caption {
	background: url(../images/txt_featured_apps.jpg) no-repeat right;
	float: left;
	height: 205px;
	width: 22px;
	padding-left: 10px;
	margin-right: 10px;
}
.featured a.previous, .featured  a.next{
	float: left;
	height: 205px;
	width: 40px;
}
.featured a.previous {
	background: url(../images/btn_featured_left_black.png) no-repeat center;
}
.featured a.previous:hover {
	background: url(../images/btn_featured_left_black_over.png) no-repeat center;
}
.featured a.next {
	background: url(../images/btn_featured_right_black.png) no-repeat center;
}
.featured a.next:hover {
	background: url(../images/btn_featured_right_black_over.png) no-repeat center;
}
.featured a.preview {
	background: url(../images/icon_preview_black.png) no-repeat center center;
	height: 20px;
	margin-right: 5px;
	width: 28px;
	float: left;
	margin-top: 2px;
}
.featured a.preview:hover {
	background: url(../images/icon_preview_black_over.png) no-repeat center center;
}










.detailPanel {
	line-height: 18px;
	word-wrap: break-word;
}
.block.detailPanel .columnLeft {
	width: 400px;
	margin-right: 0px;
	float: left;
}

.block.detailPanel .columnError {
	width:600px;
	margin-right: 0px;
	float: left;
}

.block.detailPanel .columnRight {
	width: 225px;
	margin-left: 35px;
	float: left;
}
.detailPanel table td {
	padding-top: 4px;
	padding-bottom: 4px;
}
.detailPanel .author {
	margin-bottom: 20px;
}
.detailPanel .author    , .detailPanel .details, .detailPanel .specifications{
	font-weight: bold;
	color: #38424d;
}
.detailPanel .author span         {
	font-weight: normal;
	color: #5d6d7f;
}
.detailPanel .author .published{
	font-size: 11px;
	color: #5d6d7f;
}
.detailPanel .authorImage {
	padding-right: 15px;
}
.detailPanel .buttons {
	margin-top: 0px;
	clear: both;
}
.detailPanel .buy {
	margin-bottom: 25px;
}
.detailPanel .buy .text {
	line-height: 17px;
	padding-top: 2px;
	color: #38424d;
	font-weight: bold;
}
.detailPanel .columnRight{
	line-height: 21px;
}
.detailPanel .details {
}
.detailPanel .details span         , .detailPanel .specifications span{
	font-weight: normal;
	color: #5d6d7f;
	margin-left: 0px;
}
.detailPanel .details div#privacy {
	padding-top:15px;
}
.detailPanel .detailsSmall {
	font-size: 11px;
	color: #999;
	display: inline;
	margin-left: 5px;
}
.detailPanel .description {
	margin-bottom: 10px;
	clear: left;
	word-wrap: break-word;
}
.detailPanel .divider {
	margin-top: 15px;
	margin-bottom: 15px;
}
.detailPanel .specifications .divider {
	margin-top: 5px;
	margin-bottom: 5px;
}
.detailPanel .icon , .detailPanel .playerPreview{
	margin-bottom: 15px;
}

.detailPanel .columnLeft .playerPreview table{
	width:100%;
}

.detailPanelTableWTF {
	width:100%;
}

.detailPanel .image {
	float: left;
	width: 100px;
	margin-right: 25px;
	margin-bottom: 10px;
}
.detailPanel .name {
	color: #FFF;
	margin-left: 15px;
}
.detailPanel .rating {
	font-size: 11px;
	color: #999;
	float: right;
}
.detailPanel .manage {
	line-height: 18px;
}
.detailPanel .manage table td{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
}
.detailPanel .manage .lastColumn  {
	padding-right: 0px;
}
.detailPanel .manage .projects {
	max-height: 200px;
	overflow-y: auto;
	background: #FFF;
	padding: 3px 3px 3px 5px;
}
.detailPanel .manageSubhead {
	background: #469ad1;
	color: #FFF;
	padding: 3px 6px;
	font-weight: bold;
	margin-top: 25px;
}
.detailPanel .manageSubhead a:link, .detailPanel .manageSubhead a:visited{
	color: #FFF;
	font-weight: bold;
}
.detailPanel .manageSubhead2 {
	background: #A6AAB3;
	color: #FFF;
	padding: 3px 6px;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 3px;
}
.detailPanel .share {
	padding-top: 5px;
}
.detailPanel .ratings {
	margin-top: 25px;
}
.detailPanel .ratings img {
}

.detailPanel .specifications span .detailPanel .details span {
	font-weight: normal;
	margin-left: 5px;
	color: #5d6d7f;
}
.detailPanel .specifications .warningColor{
	color: #C60;
}
.feedback {
	background: #FFF;
	padding: 10px 15px;
	color: #090;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	line-height: 18px;
	font-size: 16px;
}
.filter {
	padding-bottom: 15px;
}
.filter .select {
	background: #FFF;
	border: 1px solid #D0D0D0;
	padding: 4px;
	font-size: 14px;
}
.filter table td{
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.block .filter  .label{
	padding-right: 10px;
	color: #000;
}
.filter .textfield {
	background: #FFF;
	border: 1px solid #D0D0D0;
	padding: 3px;
	font-size: 13px;
}
.filter .icon {
	background: #FFF;
	border-top: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}
.filter select {
	background: #F0F0F0;
	border: 1px solid #C6C6C6;
	font-size: 13px;
	color: #5d6d7f;
	font-weight: normal;
}
.form h2  {
	font-size: 18px;
	color: #000;
	margin-bottom: 5px;
}
.form ul  {
	padding-left: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.form li  {
	list-style: none;
	margin-left: 0px;
	text-indent: -30px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.form table td {
	padding-top: 5px;
	padding-bottom: 5px;
}
.form table th {
	color: #FFF;
	text-align: left;
}
.form .buttons  {
	clear: both;
}
.form .disclaimer  {
	background: #FFF;
	padding: 10px;
	border: 1px solid #CCC;
	overflow: scroll;
	margin-top: 5px;
	margin-bottom: 5px;
}
.form .imageUpload     {
	text-align: left;
	border-top: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.form .imageUpload .instructions {
	clear: left;
	margin-bottom: 0px;
	padding-top: 5px;
}
.form .label  {
	padding-right: 20px;
	/* [disabled]white-space: nowrap; */
	font-size: 14px;
	color: #5d6d7f;
}
.form .labelText  {
	padding-right: 20px;
	font-size: 15px;
}
.form .narrow  {
	width: 125px;
}
.form .optional{
	font-size: 80%;
	font-weight: normal;
	color: #666;
}
.form .wide  {
	width: 250px;
}
.instructions {
	margin-bottom: 10px;
	line-height: 16px;
}
.list {
	font-size: 12px;
	color: #394351;
	margin-bottom:10px;
}
.list th {
	text-align: left;
	font-weight: bold;
	background: #A3A3A3;
	color: #FFF;
	padding: 4px 7px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.list th.selected {
	background: #333;
}
.list td {
	border-right: 1px dotted #CCC;
	padding: 5px 7px;
	line-height: 16px;
}
.list td td {
	border-right: none;
	padding: 7px 10px 7px 7px;
}
.list table {
	background: #FFF;
}
.list td.selected {
	background: #C3E3D6;
}
.list .actions td {
	padding: 2px;
}
.list  .noborderRight {
	border-right-style: none;
}
.list .row1 {
}
.list .row2 {
	background: #EFEFEF;
}
.list .title {
	background: #000;
	color: #FFF;
	font: normal 21px Verdana, Geneva, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.list .sample {
	border: 1px solid #E7E7E7;
}
.listBulleted ul  {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 1px;
}
.listBulleted li  {
	list-style: disc outside;
	margin-left: 0px;
	text-indent: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: -1px;
	line-height: 16px;
}
.message {
	background: #FFF;
	border: 1px solid #CCC;
	padding: 10px;
}
.paging {
	text-align: right;
	margin-bottom: 10px;
	float: right;
	margin-left: 25px;
	clear: both;
}
.pagingBottom {
	text-align: right;
	float: right;
	margin-left: 25px;
	margin-top: 10px;
}
.popup {
	background: #FFF;
	padding: 15px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #D0D0D0;
	text-align: left;
	z-index: 1000;
	position: absolute;
}
.popup h2 {
	font-size: 18px;
}
.popup .form  ul{
	padding-left: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.popup .form  li{
	list-style: none;
	margin-left: 0px;
	text-indent: -30px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.popup .form table td{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	white-space: nowrap;
}
.popup.form Table th{
	color: #000;
	text-align: left;
	padding-right: 4px;
}
.popupFilter {
	background: #FFF;
	padding: 0px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 2px solid #D0D0D0;
	text-align: left;
	z-index: 1000;
	font-size: 13px;
	display: block;
	position: absolute;
}
.popupFilter ul  {
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
.popupFilter ul a {
	text-decoration: none;
	color: #5d6d7f;
	display: block;
	padding: 3px 7px;
	background: #EFEFEF;
	border-bottom: 1px solid #D0D0D0;
}
.popupFilter ul li  {
	margin: 0px;
	padding: 0px;
}
.popupFilter ul a.selected {
	background: #FFF;
	color: #333;
}
.popupFilter ul a:hover {
	text-decoration: none;
	color: #FFF;
	background: #7FA6E3;
}
.pricing {
	background: #FFF;
	font-size: 12px;
	line-height: 14px;
	color: #394351;
	margin-right: -4px;
}
.pricing table th{
	color: #FFF;
	padding: 4px 7px 0px;
	font: bold 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	white-space: nowrap;
	background: #469ad1;
}
.pricing table td{
	border-right: 4px solid #FFF;
	padding: 7px;
	line-height: 16px;
}
.pricing .row1 {
	background: #F3F3F3;
}
.pricing .row2 {
	background: #E6E6E6;
}
.pricing .colored {
	background: #469AD1;
	padding: 3px;
	color: #FFF;
	font-size: 14px;
}
.pricing .title {
	background: #000;
	color: #FFF;
	padding-top: 7px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 13px;
	font-weight: bold;
}
.profilePhoto    {
	border: 1px solid #CCC;
	background: #FFF;
	float: right;
}
.profileLogo    {
	border: 1px solid #CCC;
	background: #FFF;
	float: right;
}
.search {
    font-size: 13px;
    line-height: 15px;
    width: 657px;
}
.search input {
    width:150px;
}
.search a:link,.search a:visited,.search       {
	color: #5d6d7f;
	text-decoration: none;
}
.search a.filter {
	background: url(../images/icon_search_filter_right.png) no-repeat left 3px;
	/* [disabled]height: 16px; */
	/* [disabled]margin-right: 5px; */
	float: left;
	padding-left: 16px;
}
.search a.filter:hover {
	background: url(../images/icon_search_filter_down.png) no-repeat left 5px;
}
.search label {
	margin-right: 4px;
}
.search .category {
	float: left;
	width: 200px;
	margin-right: 15px;
	overflow: hidden;
}
.search .searchField label{
	margin-right: 7px;
	font-weight: bold;
}
.search .searchField input{
	border: 1px solid #D0D0D0;
	color: #5d6d7f;
	background: #FFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 190px;
	margin: -2px 4px -2px 0px;
	padding: 2px 5px;
	font-weight: normal;
	font-size: 12px;
}
.search .searchField {
	float: right;
	width: 230px;
	text-align: right;
}
.search .sort {
	float: left;
	width: 200px;
	overflow: hidden;
}
.snapshots {
	color: #5d6d7f;
	background: #FFF;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d0d0d0;
	height: 72px;
	margin-bottom: 5px;
	display: block;
	overflow-x: auto;
	overflow-y: hidden;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.snapshots img {
	vertical-align: middle;
	margin-right: 10px;
	border: 1px solid #939393;
}
.shadow{
 	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 4px #666;
}
.sidebar  {
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
	display:inline;
	width: 225px;
	margin-right: 25px;
	line-height: 17px;
}
.sidebar .block   {
	padding: 15px;
	margin-bottom: 10px;
	line-height: 18px;
}
.sidebar .block h3 {
	font-size: 18px;
	font-weight: bold;
	clear: both;
	margin-bottom: 2px;
}

.sidebar .blockBlack {
	background: #000000;
	padding: 15px;
	color: #CCCCCC;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 10px;
	margin-top: -5px;
}

.sidebar .blockBlack table td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	font-size: 12px;
	line-height: 14px;
	vertical-align: top;
}
.sidebar .blockBlack table td.lastUpdate {
	text-align: right;
}
.sidebar .blockBlack .buttonsBlackColored {
	margin-top: 10px;
	float: right;
}
.sidebar .blockBlack .subnav a:hover {
	color: #54e8bf;
}
.sidebar .divider  {
	margin-bottom: 10px;
	border-color: #343434;
	clear: both;
	padding-top: 10px;
	margin-right: -15px;
	margin-left: -15px;
}
.sidebar .promo   {
	margin-bottom: 10px;
	line-height: 18px;
	margin-top: 30px;
}
.account .sidebar .promo {
	color: #333;
}
.sidebar .promo .divider {
	height: 20px;
	border-bottom-style: none;
	margin-right: 0px;
	margin-left: 0px;
}
.sidebar .promo h3 {
	font-size: 18px;
	font-weight: bold;
	clear: both;
	margin-bottom: 2px;
}
.sidebar .subnav h2 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 15px;
	color: #8FC7FF;
}
.sidebar .subnav ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
}
.account .sidebar .subnav {
	margin-top: -15px;
}

#startTransfer .transferHeading, .transferGroupGrid .transferHeadingBlue {
	font-size: 15px;
	font-weight: bold;
	color: #297ACC;
}

#startTransfer .transferHeadingRed {
	font-size: 15px;
	font-weight: bold;
	color: #CC3329;
}

#projectTransferSuccess {
	margin-top: 15px;
}
#startTransfer .startTransferLabel {
	font-size: 14px;
	font-weight: bold;
	color: #297ACC;
}
#startTransfer .dividerBlack {
	height: 1px;
	border-bottom: 1px solid #000;
	margin-bottom: 5px;
	margin-top: 5px;
}

.sidebar .subnav li {
	list-style: none;
}
.sidebar .subnav a:link,.sidebar .subnav a:visited{
	color: #B3B3B3;
}
.sidebar .subnav .selected {
	color: #FFF;
}
.signin {
	margin-top: -15px;
}
.signin .input {
	border: 1px solid #D0D0D0;
	color: #5d6d7f;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 24px;
	margin: 0px 0px 7px;
	padding: 0px 5px;
	font-weight: normal;
	font-size: 13px;
	background: #FFF;
	width: 95%;
}

.tooltip, .zapptooltip {
	background: #000;
	padding: 5px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #D0D0D0;
	z-index: 1000;
	font-size: 13px;
	display: block;
	position: absolute;
}
.zapptooltip{
	width:400px;
}

.zapptooltip span {
	word-wrap: break-word;
}

.tooltip a {
	color: #FFF;
	text-decoration: none;
}
.tooltip a:hover {
	text-decoration: none;
	color: #7FA6E3;
}
.block.about{
	min-height: 500px;
	background: #000;
	font-size: 14px;
	line-height: 22px;
	color: #CCC;
}
.block.about.overview {
	background: #000 url(../images/about_overview_bottom.png) no-repeat center bottom;
	padding-bottom: 285px;
}
.about.tabs .tab{
	background: #000;
	display: block;
	float: left;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #000;
	padding-right: 15px;
	padding-left: 15px;
}
.about.tabs .tab2{
	background: #343434;
	display: block;
	float: left;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #959595;
	padding-right: 15px;
	padding-left: 15px;
}
.about.tabs .tab a{
	color: #FFF;
}
.about.tabs .tab2 a{
	color: #878787;
}
.about .callout {
	background: #F3F3F3;
	padding: 15px;
	color: #5d6d7f;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	line-height: 21px;
	float: right;
	margin-left: 25px;
	width: 200px;
}
.about .divider {
	border-bottom: 1px solid #343434;
}
.about .textBlock {
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 15px;
	float: right;
	/*clear: both;*/
}
.about .imageLeft  {
	float: left;
	margin-right: 30px;
	padding-top: 4px;
	padding-bottom: 15px;
}
.about .imageRight  {
	float: right;
	margin-left: 30px;
	padding-top: 4px;
	padding-bottom: 15px;
}
.about .subnav {
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 15px;
	border-bottom: 1px solid #343434;
	padding-bottom: 15px;
}
.about .subnav img {
	margin-right: 5px;
}
.about .subnav a.selected:link , .about .subnav a.selected:visited{
	color: #F3F3F3;
}
.about .subnav a:link, .about .subnav a:visited       {
	color: #878787;
}
.about .subnav a:hover, .about .subnav a:active       {
	color: #54ebbe;
	text-decoration: none;
}
.about .subnav .divider {
	margin-right: 10px;
	margin-left: 10px;
	font-weight: normal;
	border-style: none;
	color: #343434;
}
.block.support {
	min-height: 500px;
	background: #FFF;
	font-size: 14px;
	line-height: 22px;
	border: 5px solid #E6E6E6;
}
.block.support.overview .group a:link , .block.support.overview .group a:visited{
	color: #5d6d7f;
}
.block.support.overview .group a:hover, .block.support.overview .group a:active {
	color: #65A9EA;
}
.support table {
	margin-bottom: 5px;
	width: 100%;
	border-style: none;
	border-collapse: collapse;
	border-spacing: 0px;
}
.support table td {
	padding: 3px 15px 3px 4px;
	vertical-align: top;
	
}

.support .topRow  {
	border-top: 1px solid #DFDFDF;
}
.support table th {
	background: #ACACAC;
	color: #FFF;
	text-align: left;
	padding-right: 8px;
	padding-left: 4px;
}
.support ul  {
	margin-top: 0px;
	padding-left: 0px;
}
.support ol {
	margin-left: 10px;
}
.support ul img {
	margin-right: 10px;
}
.support ul li{
	margin-bottom: 10px;
	list-style: none;
}
.support a:hover, .support a:active {
	text-decoration: none;
	color: #65A9EA;
}
.support .columnLeft , .support .columnRight{
	width: 300px;
}
.support .column1 {
	width: 230px;
	float: left;
	margin-right: 35px;
}
.support .column2    {
	width: 180px;
	float: left;
	margin-right: 35px;
}
.support .column3    {
	width: 160px;
	float: left;
}
.support.overview .group{
	padding: 15px 10px;
	color: #5d6d7f;
	-moz-border-radius: 10px;
	border-radius: 10px;
	line-height: 21px;
	border: 2px solid #E6E6E6;
}
.support .featured  {
	width: 445px;
	float: left;
	margin-bottom: 0px;
}
.support .featuredList    {
	color: #5d6d7f;
	background: #FFF;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d0d0d0;
	float: left;
	width: 440px;
}
.support .featuredList   p{
	margin-bottom: 9px;
}
.support .featuredList table td{
	padding: 10px 12px;
	border-bottom: 1px dotted #CCC;
	vertical-align: top;
}
.support .featuredList .featuredDetails p{
	margin-bottom: 5px;
}
.support .featuredList .featuredDetails h2{
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 0px;
	font-size: 16px;
	font-weight: bold;
}
.support .subnav    {
	font-size: 16px;
	line-height: 18px;
	margin-top: 0px;
	clear: both;
	margin-bottom: 15px;
	color: #CCC;
}
.support .label {
	white-space: nowrap;
}
.support .subnav a:link , .support .subnav a:visited       {
	color: #99A3C5;
}
.support .subnav a:hover, .support .subnav  a:active {
	color: #65A9EA;
	text-decoration: underline;
}
.overlay {
	position:fixed;
	background-color: #000000;
	opacity:.5;
	-moz-opacity:0.5;
	filter:alpha(Opacity=50);
	left:0px;
	top: 0px;
	width:100%;
	height:100%;
	z-index: 1000;
}
#processingScreen {
	position:fixed;
	left:0px;
	top: 0px;
	width:100%;
	height:100%;
	z-index: 2000;
}
#processingBadge {
	position:fixed;
	background-color: #FFFFFF;
	left:47%;
	top: 25%;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 20px 3px 0px 3px;
	width:300px;
	max-width:300px;
	min-height:100px;
}
#processingBadge div {
	margin: 10px 20px 20px 20px;
}
#processingBackground {
	position:fixed;
	background-color: #000000;
	opacity:.6;
	-moz-opacity:0.6;
	filter:alpha(Opacity=60);
	left:0px;
	top: 0px;
	width:100%;
	height:100%;
}
.overlayEditor {
	background: none;
	width: 100%;
}
.overlayBack {
	position: absolute;
	z-index: 3000;
	width: 100%;
	left: 0px;
	top: 0px;
	text-align: center;
}
.overlayContent {
	background: #D3D3D3;
	padding: 5px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-align: left;
	z-index: 2000;
	position: static;
	font-size: 13px;
	line-height: 21px;
	margin: 0px auto;
}
.overlayContent .block {
	margin-bottom: 0px;
	line-height: 18px;
	padding-right: 25px;
	padding-left: 25px;
	border: 2px solid #000;
}
.overlayContent .blockTop {
	padding-right: 25px;
	padding-left: 25px;
	margin-right: -25px;
	margin-left: -25px;
}
.overlayContent .block table td{
	padding-top: 3px;
	padding-bottom: 3px;
}
.overlayContent .columnLeft  {
	width: 300px;
	margin-right: 40px;
}
.overlayContent .columnRight  {
	width: 300px;
}
.overlayContent.author {
	width: 300px;
	font-size: 12px;
}
.overlayContent.author .authorImage {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.overlayContent.author .authorName {
	margin-right: 10px;
	margin-bottom: 10px;
	color: #38424d;
	font-size: 17px;
}
.overlayContent.author img {
	margin-right: 10px;
	float: left;
}
.overlayContent.author span {
	font-size: 13px;
	font-weight: bold;
	color: #38424d;
	width: 70px;
	margin-right: 5px;
	float: left;
	clear: both;
}
.overlayContent.author .block {
	padding: 15px;
}
.overlayContent.author ul      {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.overlayContent.author li       {
	margin-bottom: 5px;
	clear: both;
}
.overlayContent.editor {
	width: 730px;
	padding: 5px;
	margin: 30px auto 20px;
	background: #FFF;
}
.overlayContent.editor .block.detailPanel {
	overflow: auto;
	height: 875px;
	border-style: none;
}
.overlayContent.buyNewAccount {
	width: 535px;
	margin-top: 60px;
}
.overlayContent.buyNewAccount table {
	margin-bottom: 15px;
}
.overlayContent.buyNewAccount .buttonsActionTall {
	margin-top: 15px;
}
.overlayContent.buyNow {
	width: 375px;
	margin-top: 60px;
}
.overlayContent.buySignin {
	width: 730px;
	margin-top: 60px;
	font-size: 13px;
	line-height: 21px;
}
.overlayContent.buySignin .columnLeft {
	width: 350px;
	margin-right: 20px;
}
.overlayContent.buySignin .columnRight {
	width: 210px;
}
.overlayContent.legal {
	width: 800px;
	margin-top: 60px;
	background: #FFF;
}
.overlayContent.legal .block {
	border-style: none;
}
.overlayContent.legal .text h2{
	font-size: 16px;
}
.overlayContent.lostPassword {
	width: 425px;
	margin-top: 60px;
	font-size: 13px;
	line-height: 21px;
}
.overlayContent.profile {
	width: 700px;
	margin-top: 60px;
}
.share {
	width: 400px;
	font-size: 12px;
}
.share .block {
	padding: 12px 18px 18px;
}
.share .blockTop   {
	padding-right: 18px;
	padding-bottom: 3px;
	padding-left: 18px;
	margin: -12px -18px 18px;
}
.share .blockTop h2  {
	color: #FFF;
	font-size: 14px;
	font-style: italic;
	padding-left: 25px;
	font-weight: normal;
	background: url(../images/share_title_icon.png) no-repeat 2px;
	padding-top: 0px;
	margin-top: -5px;
}
.share .blockTop .close {
	margin-top: -5px;
}
.share .button {
	float: right;
	font-style: normal;
}

.share .email .from {
	background: #FFF url(../images/email_from.png) no-repeat 6px 6px;
	width: 345px;
	padding: 4px 4px 4px 45px;
	border-top: none;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	margin: 0px;
}
.share .email .to {
	background: #FFF url(../images/email_to.png) no-repeat 6px 6px;
	width: 345px;
	padding: 4px 4px 4px 45px;
	border: 1px solid #CCC;
	margin: 0px;
}

.share .email .message {
	background: #FFF;
	width: 382px;
	padding: 6px;
	border-top: none;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	font: 12px Arial, Helvetica, sans-serif;
	margin: 0px;
}

.tabControls a.button {
	position: relative;
	width: 175px;
	/*top: -20px;*/
}
.tabControls #btnTab2 {
	margin-left: 8px;	
}

.arrowButton {
	float: left;
	height: 35px;
}
.arrowDown {
	visibility: hidden;
	position: relative;
	left: 85px;
	top: 10px;
	width: 20px;
	height: 20px;
	background-color: #000;		
}
#btnDimension {
	margin-left:55px;
	margin-top: -4px;
	top: -20px;
	position: relative;
}
.embed .arrowDown {
	position: relative;
	left: 135px;
	top: 5px;
	width: 20px;
	height: 20px;
	background-color: #000;		
}

.btnControl .button {
	width: 70px;
	margin-left: 8px;
}

.btnControl #addGuest {
	margin-top: -3px;
}

.guestTab #formAdd {
	margin-bottom: 5px;
}

.guestList {
	background: #FFF;
	width: 288px;
	height: 150px;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding:5px;
	font: 12px Arial, Helvetica, sans-serif;
	overflow: auto;
}

.guestList div#formText {
	margin-top:5px;
}

.guestList div.unselected:hover {
	background: rgb(200,200,200);
	cursor: pointer;
}
.guestList div.unselected {
	/*width: 220px;
	padding-top:3px;
	padding-left:5px;
	font: 12px Arial, Helvetica, sans-serif;*/
	padding: 5px 0px 5px 0px;
	height: 15px;
	cursor: pointer;
}

.guestList div.selected {
	/*width: 215px;
	font-weight: bold;*/
	background: rgb(200,200,200);
	cursor: pointer;
}

.guestTab {
	/*left: 20px;
	width: 320px;
	height: 220px;*/
}

.guestTab #guestToAdd, .guestTab #guestListEmailList, .guestTab div#addControl, .guestTab div#removeControl  {
	float: left;
}

#tab2 {
	position: absolute;
	top: 250px;
	left: 15px;
	height: 170px;
	width:420px;
	text-align: center;
	visibility: hidden;
	background: #E8E8E8;
}

#tab1 .guestAdd {
	width: 295px;
}

#tab2 .guestAdd {
	left: 10px;
    position: relative;
    width: 388px;
}

.guestMessage {
	margin: 0px 10px 10px 10px;
	width: 372px;
	height:120px;
	padding: 10px 10px 10px 10px;
}

.share div.embed {
	padding-bottom: 5px;
}
.share div.embed a {
	display: block;
	clear: left;
}
.share div.embed ul {
	list-style: none;
	padding-left: 4px;
	margin: 0px;
}
.share div.embed li {
	float: left;
	margin-right: 4px;
}
.share div.embed .button {
	margin-top: -2px;
	margin-right: 0px;
}

#share_embed textarea {
	border-radius: 10px 10px 10px 10px;
}

.sizeBy {
	font-weight: bold;
}

.share div.embed li.lock a{
	background: url(../images/privatePublish/lockButton-off.png) no-repeat left top;
	width: 27px;
	height: 21px;
	float: left;
	margin-right: 2px;
	margin-left: 2px;
	margin-top: -2px;
}
.share div.embed li.lock a:hover {
	background: url(../images/privatePublish/lockButton-on.png) no-repeat left top;
	width: 27px;
	height: 21px;
	margin-top: -2px;
}
.share div.embed li.lock a.selected {
	background: url(../images/privatePublish/lockButton-on.png) no-repeat left top;
	width: 27px;
	height: 21px;
	margin-top: -2px;
}
.share div.embed .textfield {
	color: #FFF;
	background: #000;
	width: 35px;
	padding: 1px 4px;
	font-size: 12px;
	text-align: center;
	margin: 0px;
	display: inline;
	float: left;
	border: 1px solid #000;
}
.share div.embed .textfield.selected {
	color: #000;
	background: #9EDDFF;
	width: 35px;
	padding: 1px 4px;
	font-size: 12px;
	text-align: center;
	margin: 0px;
	display: inline;
	float: left;
	border: 1px solid #000;
}
.share .icons {
	margin-right: -10px;
	margin-bottom: 5px;
	margin-left: -3px;
}
.share .icons a {
	display: block;
	height: 30px;
}
.share .icons ul {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}
.share .icons li {
	float: left;
	margin-right: 1px;
	margin-bottom: 5px;
}

.txtDirections,
.sharePlugin,
.sellPrice,
.privacySelection {
	color: #000;
}

.txtDirections {
	margin-top: -5px;
}

/* Transfer Pages */
.transferGridTable{
	border: 1px solid #AAA;
	border-collapse:collapse;	
}
.transferGridTable td {
	border-right: 1px solid #AAA;	
}
.transferGroupGrid {
	margin-bottom: 5px;
	display: inline-block;	
}
.transferGroupHeading{
	color: #000;
	font-weight: bold;
	padding-bottom: 5px;
	display: inline-block;
}
.oddTransferItem {
	color: #000;
	font-size: 12px;
	background-color: #FFF;
	padding-top: 2px; 
	padding-bottom: 2px; 
	padding-left: 8px;
}
.evenTransferItem {
	color: #000;
	font-size: 12px;
	background-color: #CCC; 
	padding-top: 2px; 
	padding-bottom: 2px; 
	padding-left: 8px;
}
.transferGridHeader {
	color: #FFF;
	text-align: center;
	font-size: 12px;
	background-color: #7F7F7F; 
	padding-top: 2px; 
	padding-bottom: 2px; 
	padding-left: 8px;
}
.transferGridProjectNameOut {
	width: 390px;	
}
.wordBreakDivOutgoing {
    width: 390px;
    white-space: normal;
    word-wrap: break-word;
}
.transferGridProjectNameIn {
	width: 300px;
}
.wordBreakDiv {
    width: 300px;
    white-space: normal;
    word-wrap: break-word;
}
.transferGridProjectStatus {
	width: 90px;
	text-align: center;		
}
.transferGridProjectPrice {
	width: 90px;
	text-align: center;		
}
.transferGridProjectDate {
	width: 90px;
	text-align: center;		
}
.transferGridProjectOptions {
	width: 120px;
	text-align: center;		
}
.transferGroupGrid .transferHeadingBlack{
	font-size: 15px;
	font-weight: bold;
	color: #000;	
}
.transferGroupGrid .transferHeadingBlue {
	font-size: 15px;
	font-weight: bold;
	color: #297ACC;
}
.transferProjectName {
	font-size: 14px;	
}
/* End Transfer Pages */

/* Account Settings Page */
.accountSettingsTitleText {
	font-size: 22px;
	color: #000;
	font-weight: bold;
	padding-bottom: 15px;
}
.accountSettings{
	padding-bottom: 15px;
}

.accountSettings  a.accountTypeIcon {
	height: 130px;
	clear: none;
	display: inline-block;
	vertical-align: top;
}
	/* Collector Icon States */
	.accountSettings a.collector.notCurrent {
		background: url(../images/col-notcurrent-inacct-sel.png) no-repeat;
		width: 109px;	
	}
	.accountSettings a.collector.current {
		background: url(../images/col-current-inacct-sel.png) no-repeat;
		width: 109px;	
	}
	.accountSettings a.collector.notCurrent.creatorSelected {
		background: url(../images/col-notcurrent-inacct-notsel-up.png) no-repeat;
		width: 109px;	
	}
	.accountSettings a.collector.current.creatorSelected {
		background: url(../images/col-current-inacct-notsel-up.png) no-repeat;
		width: 109px;	
	}
	.accountSettings a.collector.notCurrent.creatorSelected.mouseOver {
		background: url(../images/col-notcurrent-inacct-notsel-over.png) no-repeat;
		width: 109px;	
	}
	.accountSettings a.collector.current.creatorSelected.mouseOver {
		background: url(../images/col-current-inacct-notsel-over.png) no-repeat;
		width: 109px;	
	}
	
	/* Creator Icon States */
	.accountSettings a.creator.notCurrent {
		background: url(../images/cre-notcurrent-notinacct-notsel-up.png) no-repeat;
		width: 229px;	
	}
	.accountSettings a.creator.current {
		background: url(../images/cre-current-notinacct-notsel-up.png) no-repeat;
		width: 229px;	
	}
	/*--*/
	.accountSettings a.creator.notCurrent.mouseOver {
		background: url(../images/cre-notcurrent-notinacct-notsel-over.png) no-repeat;
		width: 229px;	
	}
	.accountSettings a.creator.current.mouseOver {
		background: url(../images/cre-current-notinacct-notsel-over.png) no-repeat;
		width: 229px;	
	}
	/*--*/
	.accountSettings a.creator.notCurrent.sectionSelected {
		background: url(../images/cre-notcurrent-inacct-sel.png) no-repeat;
		width: 229px;	
	}
	.accountSettings a.creator.current.sectionSelected {
		background: url(../images/cre-current-inacct-sel.png) no-repeat;
		width: 229px;	
	}
	/*--*/
	.accountSettings a.creator.notCurrent.proSelected {
		background: url(../images/cre-notcurrent-inacct-notsel-up.png) no-repeat;
		width: 229px;	
	}
	.accountSettings a.creator.current.proSelected {
		background: url(../images/cre-current-inacct-notsel-up.png) no-repeat;
		width: 229px;	
	}
	/*--*/
	.accountSettings a.creator.notCurrent.proSelected.mouseOver {
		background: url(../images/cre-notcurrent-inacct-notsel-over.png) no-repeat;
		width: 229px;	
	}
	.accountSettings a.creator.current.proSelected.mouseOver {
		background: url(../images/cre-current-inacct-notsel-over.png) no-repeat;
		width: 229px;	
	}
	
	/* Professional Icon States */
	.accountSettings a.professional.notCurrent {
		background: url(../images/pro-notcurrent-notinacct-notsel-up.png) no-repeat;
		width: 321px;
	}
	.accountSettings a.professional.current {
		background: url(../images/pro-current-notinacct-notsel-up.png) no-repeat;
		width: 321px;	
	}
	.accountSettings a.professional.notCurrent.mouseOver {
		background: url(../images/pro-notcurrent-notinacct-notsel-over.png) no-repeat;
		width: 321px;
	}
	.accountSettings a.professional.current.mouseOver {
		background: url(../images/pro-current-notinacct-notsel-over.png) no-repeat;
		width: 321px;	
	}
	.accountSettings a.professional.notCurrent.sectionSelected {
		background: url(../images/pro-notcurrent-inacct-sel.png) no-repeat;
		width: 321px;
	}
	.accountSettings a.professional.current.sectionSelected {
		background: url(../images/pro-current-inacct-sel.png) no-repeat;
		width: 321px;	
	}

.upgradeButtonContainer {
	margin-top: -10px;
	margin-left: 462px;	
}

.downgradeButtonContainer {
	margin-top: -15px;
	margin-left: 462px;	
	margin-bottom: 15px
}

.collectorContent .upgradeButtonContainer {
	margin-top: -10px;
	margin-left: 292px;	
}
.collectorContent .accountSettingsTop.dividerBlack {
	margin-bottom: 5px;
	margin-top: -13px;	
}

.accountSettingsTop.dividerBlack {
	margin-bottom: 5px;
	margin-top: 7px;	
}
.accountSettingsContent {
	color:#000;
}

.accountSettingsContent .alignRight {
	float:right;
}

.accountSettingsContent .top{
	vertical-align: top;
}
.accountSettingsContent .heading {
	font-size: 18px;	
}
.accountSettingsContent .gray {
	color: #999;
}
.accountSettingsContent .blue {
	color: #297ACC;
}
.accountSettingContent .italic {
	font-style: italic;
}
.accountSettingsContent .bold {
	font-weight: bold;
}
.accountSettingsContent .indent {
	margin-left: 15px;
}
.accountSettingsContent .dividerBlack {
	margin-top: 10px;
	margin-bottom: 10px;
}
/* End Account Settings Page */

.privacyIcon {
	clear: none;
	display: inline-block;
	padding: 1px 0px 1px 1px;
	text-align: left;
	width:22px;
}
div.shareIcons ._disabled {
	opacity:.4;
	cursor:auto;
}
div.shareIcons ._enabled {
	opacity:1;
	cursor:pointer;
}
div.shareIcons ._hidden {
	opacity:0;
	cursor:auto;
}

.privacyIcon.email {
	
	background: url(../images/privatePublish/thumb/email-small.png) no-repeat;
	width: 22px;
	height: 22px;
}
.privacyIcon.embed {
	
	background: url(../images/privatePublish/thumb/embed-small.png) no-repeat;
	width: 22px;
	height: 22px;
}
.privacyIcon.facebook {
	
	background: url(../images/privatePublish/thumb/facebook-small.png) no-repeat;
	width: 22px;
	height: 22px;
}
.privacyIcon.link {
	
	background: url(../images/privatePublish/thumb/link-small.png) no-repeat;
	width: 22px;
	height: 22px;
}
.privacyIcon.linkedin {
	
	background: url(../images/privatePublish/thumb/linkedin-small.png) no-repeat;
	width: 22px;
	height: 22px;
}
.privacyIcon.lms {
	background: url(../images/privatePublish/thumb/lms-small.png) no-repeat;
	width: 33px;
	height: 22px;
}
.privacyIcon.guest {
	
	background: url(../images/privatePublish/thumb/guestList-small.png) no-repeat;
	width: 22px;
	height: 22px;
}
.privacyIcon.twitter {
	
	background: url(../images/privatePublish/thumb/twitter-small.png) no-repeat;
	width: 22px;
	height: 22px;
}

.share div#shareTypes table td{
	padding:0px;
}
.share .icons .email a {
	background: url(../images/privatePublish/big/email-up.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .email a:hover {
	background: url(../images/privatePublish/big/email-over.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .email a.selected {
	background: url(../images/privatePublish/big/email-down.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .guest a {
	background: url(../images/privatePublish/big/guestList-up.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .guest a:hover {
	background: url(../images/privatePublish/big/guestList-over.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .guest a.selected {
	background: url(../images/privatePublish/big/guestList-down.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .link a {
	background: url(../images/privatePublish/big/link-up.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .link a:hover {
	background: url(../images/privatePublish/big/link-over.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .link a.selected {
	background: url(../images/privatePublish/big/link-down.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .embed a {
	background: url(../images/privatePublish/big/embed-up.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .embed a:hover {
	background: url(../images/privatePublish/big/embed-over.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .embed a.selected {
	background: url(../images/privatePublish/big/embed-down.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .facebook a {
	background: url(../images/privatePublish/big/facebook-up.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .facebook a:hover {
	background: url(../images/privatePublish/big/facebook-over.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .facebook a.selected {
	background: url(../images/privatePublish/big/facebook-down.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .linkedin a {
	background: url(../images/privatePublish/big/linkedin-up.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .linkedin a:hover {
	background: url(../images/privatePublish/big/linkedin-over.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .linkedin a.selected {
	background: url(../images/privatePublish/big/linkedin-down.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .lms a {
	background: url(../images/privatePublish/big/lms-up.png) no-repeat;
	width: 51px;
	height: 43px;
}
.share .icons .lms a:hover {
	background: url(../images/privatePublish/big/lms-over.png) no-repeat;
	width: 51px;
	height: 43px;
}

.share .icons .lms a.selected {
	background: url(../images/privatePublish/big/lms-down.png) no-repeat;
	width: 51px;
	height: 43px;
}
.share .icons .twitter a {
	background: url(../images/privatePublish/big/twitter-up.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .twitter a:hover {
	background: url(../images/privatePublish/big/twitter-over.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .twitter a.selected {
	background: url(../images/privatePublish/big/twitter-down.png) no-repeat;
	width: 36px;
	height: 43px;
}
.share .icons .more a {
	background: url(../images/icon_share_more.png) no-repeat;
	width: 38px;
}
.share .icons .more a:hover {
	background: url(../images/icon_share_more_over.png) no-repeat;
	width: 38px;
}
.share .icons .more a.selected {
	background: url(../images/icon_share_more_down.png) no-repeat;
	width: 38px;
}

.facebookLike a {
	background: url(../images/privatePublish/facebook-like.png) no-repeat;
	width: 187px;
	height: 86px;
}

.facebookSignup a {
	background: url(../images/privatePublish/facebook-signup.png) no-repeat;
	width: 240px;
	height: 83px;
}

#linkedin_share_link a {
	margin-bottom: 10px;
	margin-top: 10px;
	background: url(../images/privatePublish/linkedin.png) no-repeat center;
	width: 113px;
	height: 30px;
	display: block;
}

.share .selectText {
	font-style: italic;
	font-weight: bold;
	color: #000;
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
}
.share .LMSselect {
	font-weight: normal;
}
.share .selectText .button {
	margin-right: 0px;
}
.share .textfield {
	width: 390px;
	font: 12px Arial, Helvetica, sans-serif;
}
.overlayContent.snapshotViewer {
	width: 450px;
	margin: 400px auto 20px;
	background: #333;
	color: #FFF;
	padding: 0px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.overlayContent.snapshotViewer .viewerTop{
	padding: 8px 15px;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	margin: 0px;
	background: #000;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.overlayContent.snapshotViewer .viewerTop img {
	margin-right: 5px;
}
.overlayContent.snapshotViewer .viewerMiddle {
	text-align: center;
}
.overlayContent.snapshotViewer .viewerBottom{
	padding: 5px 15px 5px 7px;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	margin: 0px;
	background: #000;
}
.overlayContent.snapshotViewer .viewerBottom .images ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.overlayContent.snapshotViewer .viewerBottom .images li {
	float: left;
}
.overlayContent.snapshotViewer .viewerBottom .images span img {
	border: 1px solid #939393;
	height: 26px;
}
.overlayContent.snapshotViewer .viewerBottom .images a {
	text-decoration: none;
}
.overlayContent.snapshotViewer .viewerBottom .images a span  div{
	border: 3px solid #000;
}
.overlayContent.snapshotViewer .viewerBottom .images a:hover span div{
	border: 3px solid #FFF;
}
.overlayContent.snapshotViewer .viewerBottom .next {
	font-size: 26px;
	line-height: 26px;
}
.overlayContent.snapshotViewer .viewerBottom .next a{
	color: #FFF;
	float: right;
	text-decoration: none;
	margin-left: 15px;
	margin-top: 3px;
}
.overlayContent.snapshotViewer .viewerBottom .next a:hover {
	color: #90D6FF;
}

.buttonControls {
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	padding: 10px 00px 10px 0px;
}

.LMSselect {
	padding: 10px 0px 10px 0px;
}
.LMStitle {
	font-weight: bold;
}

.embedZapp {
	padding: 0px 0px 20px 0px;
	text-align:left;
}

.exampleEditor {
	background: url(../images/example_editor.png) no-repeat center center;
	height: 1000px;
}



/* PLANS AND PRICING */


#plans-CollectorBlock {
	padding: 0px 0px 0px 0px;
	font-size:12px;
	line-height:16px;
	border-radius: 15px 15px 15px 15px;
	background-color:#BFDFFF;
	border-left: 1px solid #9F9F9F;
	border-right: 1px solid #9F9F9F;
	border-top: 1px solid #9F9F9F;
	border-bottom: 1px solid #9F9F9F;
}
#plans-CollectorBlock ul li {
	margin:0px;
	padding:0px 0px 5px 0px;
	line-height:14px;
}
.plans-CollectorBlock2 {
	padding: 10px 15px 10px 15px;
	font-size:12px;
	line-height:14px;
}

#plans-CreatorBlock-bottom {
	padding: 0px 15px 15px 10px;
	font-size:12px;
	line-height:16px;
	border-radius: 0px 0px 15px 15px;
	background-color:#FFF;
	border-left: 1px solid #65A9EA;
	border-right: 1px solid #65A9EA;
	border-top: 0px solid #65A9EA;
	border-bottom: 1px solid #65A9EA;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.plans-block {
	padding: 10px 10px 10px 10px;
	font-size:12px;
	line-height:16px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:left;
	vertical-align:baseline;
	text-align:left;
}

.plans-block span {
	vertical-align:text-top;
	font-size:12px;
	line-height:14px;
	color:#5D6D7F;
	font-weight:normal;
}

.plans-block ul {
	vertical-align:text-top;
}

.plans-block ul li {
	margin:0px;
	padding:0px 0px 5px 0px;
	line-height:14px;
}

.plans-block.inverse {
	border-left: 1px solid #65A9EA;
	border-right: 1px solid #65A9EA;
	border-top: 0px solid #65A9EA;
	border-bottom: 0px solid #65A9EA;
	background-color:#002040;
}

.plans-block.inverse span {
	vertical-align:text-top;
	font-size:12px;
	line-height:14px;
	color:#5D6D7F;
	color:#FFFFFF;
}

.plans-block.inverse.pricingTop {
	border-radius: 15px 15px 0px 0px;
}

.plans-block.inverse.pricingBottom {
	padding: 0px 10px 15px 10px;
	font-size:12px;
	line-height:16px;
	border-radius: 0px 0px 15px 15px;
	border-bottom: 1px solid #65A9EA;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-radius: 0px 0px 15px 15px;
}
#plans-ProTitle {
	color:#FFFFFF;
}

#plans-AlignRight {
	text-align:right;
}
.plans-AlignCenter{
	text-align:center;
}
.plans-Heading1 {
	font-size:24px;
	line-height:40px;
	font-weight:bold;
	text-align:center;
}

.plans-Heading1.tall {
	line-height:40px;
}
.plans-Heading1.normal {
	color:#000000;
}

.plans-Heading1.inverse {
	font-size:26px;
	color:#FFFFFF;
}

.plans-Heading2 {
	font-size:20px;
	line-height:34px;
	color:#5D6D7F;
	font-weight:normal;
	font-style:italic;
}
.plans-Heading3 {
	font-size:12px;
	line-height:14px;
	color:#297ACC;
	font-weight:bold;
	font-style:italic;
	text-align:center;
}
.plans-Heading3-vCenter {
	font-size:14px;
	line-height:18px;
	color:#000;
	font-weight:bold;
	padding-top:10px;
	text-align:center;
}

.plans-Heading3-vCenter-special {
	font-size: 16px;
	color:#009966;
}

.plans-Heading3-vCenter a {
	color:#009966;
	font-size:16px;	
}

.plans-Heading4 {
	font-size:12px;
	line-height:16px;
	color:#297ACC;
	font-weight: bold;
	font-style: italic;
}

.plans-Heading4.inverse {
	color:#B2D9FF;
}
.plans-Heading {
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	text-align:center;
}

.plans-Heading.normal {
	color:#000000;
}

.plans-Heading.inverse {
	color:#FFFFFF;
}

.plans-Heading5 {
	font-size:16px;
	line-height:20px;
	color:#297ACC;
	font-weight:bold;
	text-align:right;
}
.plans-Heading6 {
	font-size:16px;
	line-height:20px;
	color:#000;
	font-weight:bold;
	text-align:right;
}
.plans-Heading7 {
	font-size:16px;
	line-height:20px;
	color:#297ACC;
	font-weight:bold;
	text-align:center;
}
.plans-Heading8 {
	font-size:22px;
	line-height:22px;
	color:#000000;
	font-weight:bold;
	text-align:left;
}
.plans-BodyText {
	font-size:12px;
	line-height:14px;
	color:#5D6D7F;
	font-weight:normal;
}
#plans-CreatorBlock ul li {
	margin:0px;
	padding:0px 0px 5px 0px;
	line-height:14px;
}
#plans-CreatorBlock ul li span{
	font-size:12px;
	line-height:16px;
	color:#000;
	font-weight:bold;
}
#plans-BodyEmphasis {
	font-size:12px;
	line-height:16px;
	color:#000;
	font-weight:bold;
}
#plans-BodyList {
	font-size:12px;
	line-height:24px;
	color:#5D6D7F;
	font-weight:normal;
}
.blackButton {
	background: transparent url(../images/btn_black_sidebar.png) no-repeat;
	display: block;
	padding: 15px 0px 5px 15px;
	color: #000;
}



.roundCornerMask {
	overflow: hidden;
}

.roundCorners {
	border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}




.plans-button {
	/*display: inline-block;*/
	outline: none;
	cursor: pointer;
	text-align: center;
	color:#000000;
	text-decoration: none;
	font: bold 14px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em 2em;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	white-space: nowrap;
}
.plans-button:hover {
	text-decoration: none;
}
.plans-button:active {
	position: relative;
	top: 1px;
}

.plans-button.gray {
	border: solid 1px #A6A6A6;
	background: #cccccc;
	color:#000000;
    width:175px;
	background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#BFBFBF));
	background: -moz-linear-gradient(top,  #F2F2F2,  #BFBFBF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#BFBFBF');
}
.plans-button.gray:hover {
	background: #A6A6A6;
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#CCCCCC));
	background: -moz-linear-gradient(top,  #F7F7F7,  #CCCCCC);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#CCCCCC');
}
.plans-button.gray:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D9D9D9));
	background: -moz-linear-gradient(top,  #FFFFFF,  #D9D9D9);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#D9D9D9');
}

.plans-button.black {
	border: solid 1 px #A6A6A6;
	background: #000000;
	color: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#A6A6A6), to(#000000));
    background: -moz-linear-gradient(top,  #A6A6A6,  #000000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A6A6A6', endColorstr='#000000');
	
}

.plans-button.black:active {
    color: lightgreen;
}

.plans-button.lightgray {
	border-radius: 15px;
    -webkit-border-radius: 15px; 
    -moz-border-radius: 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    white-space: nowrap;
    
    padding: .25em 1em .5em;
	
    border: solid 1px #CDCDCD;
    background: #cccccc;
    color:#000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#CDCDCD));
    background: -moz-linear-gradient(top,  #FBFBFB,  #CDCDCD);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#CDCDCD');
}
.plans-button.lightgray:hover {
    background: #A6A6A6;
    background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#CCCCCC));
    background: -moz-linear-gradient(top,  #F7F7F7,  #CCCCCC);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#CCCCCC');
}
.plans-button.lightgray:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D9D9D9));
    background: -moz-linear-gradient(top,  #FFFFFF,  #D9D9D9);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#D9D9D9');
}

.plans-button.lightgray span.title {
    color: #096;
    font: bold 17px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.plans-button.lightgray:hover span.title ,.plans-button.lightgray:active span.title{
    color: #056E41;
    text-decoration: none;
}
.plans-button.lightgray span.small {
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    background: none;
    margin: 0px;
    padding: 0px;
    color: #5d6d7f;
    height: 12px;
}

.plans-button.green {
	border: solid 1px #1CB388;
    background: #00D497;
	color:#000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#A8FFE6), to(#00D497));
	background: -moz-linear-gradient(top,  #A8FFE6,  #00D497);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A8FFE6', endColorstr='#00D497');
}
.plans-button.green:hover {
	background: #1CB388;
	background: -webkit-gradient(linear, left top, left bottom, from(#E0FFF6), to(#2ADEAB));
	background: -moz-linear-gradient(top,  #E0FFF6,  #2ADEAB);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0FFF6', endColorstr='#2ADEAB');
}
.plans-button.green:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#54EBBE));
	background: -moz-linear-gradient(top,  #FFFFFF,  #54EBBE);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#54EBBE');
}

.plans-button.green.bold {
	font-weight:bold;
	padding: 0.3em 1.3em 0.3em 1.25em;
	
	
}

.plans-button.flat {
	cursor: auto;
	color: #000000;
	border: solid 1px #A6A6A6;
	background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#E6E6E6));
	background: -moz-linear-gradient(top,  #E6E6E6,  #E6E6E6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6', endColorstr='#E6E6E6');
}

.plans-button.flat.nonInteractive:active {
	top: 0px;
}

.plans-button.flat.blue {
	border: solid 1px #7F7F7F;
	cursor: pointer;
	border: solid 1px #A6A6A6;
	padding-top:    .30em;
	padding-right: 1.30em;
	padding-bottom: .30em;
	padding-left:  1.25em;
	background: #A6D3FF;
	background: -webkit-gradient(linear, left top, left bottom, from(#A6D3FF), to(#A6D3FF));
	background: -moz-linear-gradient(top,  #A6D3FF,  #A6D3FF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A6D3FF', endColorstr='#A6D3FF');
	
}

.plans-button.flat.blue:hover {
	background: #E5F0FF;
	background: -webkit-gradient(linear, left top, left bottom, from(#E5F0FF), to(#E5F0FF));
	background: -moz-linear-gradient(top,  #E5F0FF,  #E5F0FF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5F0FF', endColorstr='#E5F0FF');
}

.plans-button.flat.blue:active {
	background: #E5F0FF;
	background: -webkit-gradient(linear, left top, left bottom, from(#E5F0FF), to(#E5F0FF));
	background: -moz-linear-gradient(top,  #E5F0FF,  #E5F0FF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5F0FF', endColorstr='#E5F0FF');
}


.plans-button.flat.gold {
	font-weight: bold;
	border: solid 1px #7F7F7F;
	cursor: pointer;
	border: solid 1px #A6A6A6;
	padding-top:    .40em;
	padding-right: 1.30em;
	padding-bottom: .40em;
	padding-left:  1.25em;
    background: #E8BA00;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbf27c), to(#E8BA00));
	background: -moz-linear-gradient(top,  #fbf27c,  #E8BA00);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf27c', endColorstr='#E8BA00');

}

.plans-button.flat.gold:hover {
	background: #E5F0FF;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbf27c), to(#fbf27c));
	background: -moz-linear-gradient(top,  #fbf27c,  #fbf27c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8BA00', endColorstr='#fbf27c');
}

.plans-button.flat.gold:active {
	background: #E5F0FF;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbf27c), to(#fbf27c));
	background: -moz-linear-gradient(top,  #fbf27c,  #fbf27c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8BA00', endColorstr='#fbf27c');
}

/*  SUPPORT SECTION */


.getStarted-title {
	font-size:26px;
	line-height:26px;
	color:#000;
	border:0;
}
.getStarted-pagenumber {
	font-size:14px;
	line-height:14px;
	color:#A1A1A1;
	text-align:right;
	vertical-align:middle;
	padding-top:14px;
	border:0;
}
.getStarted-pagenumberhilite {
	color:#000;
	font-weight:bold;
}
.getStarted-paragraph {
	font-size:14px;
	line-height:18px;
	border:0;
}
.getStarted-speakertitle {
	font-size:11px;
	line-height:14px;
	font-style:italic;
	color:#A1A1A1;
	border:0;
}
.getStarted-menu {
	font-size:16px;
	line-height:20px;
	border:0;
}

.getStarted-menu ol {
    margin-top:0.25em;
}


.getStarted-menu2 {
	font-size:18px;
	line-height:26px;
	border:0;
}
.getStarted-5colTable {
	padding: 2px 0px 0px 2px;
	font-size:16px;
	line-height:20px;
	border:0;
}
.learn-VideoPlay {
	font-size:14px;
	line-height:16px;
	color:#5D6D7F;
	border-radius: 10px 10px 10px 10px;
	font-style:italic;
	vertical-align:middle;
	border:0;
}

.webinar-newWebinarTable {
	border-radius: 20px 20px 20px 20px;
	background-color:#000;
	border:0;
	text-align:left;
	vertical-align:middle;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
}
.webinar-newWebinarFonts {
	font-size:16px;
	line-height:18px;
	color:#FFF;
	text-align:center;
	border:0;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}
.webinar-Heading1 {
	font-size:18px;
	line-height:22px;
	color:#000;
	font-weight:bold;
	border:0;
}
.webinar-Heading2 {
	font-size:16px;
	line-height:20px;
	color:#5D6D7F;
	font-weight:normal;
	font-style:italic;
	border:0;
}
.webinar-Heading3 {
	font-size:24px;
	line-height:24px;
	color:#000;
	font-weight:normal;
	border:0;
}
.webinar-Heading4 {
	font-size:18px;
	line-height:20px;
	color:#477CC1;
	font-weight:normal;
	font-style:italic;
	vertical-align:middle;
	border:0;
}
.webinar-Heading5 {
	font-size:16px;
	line-height:26px;
	color:#000;
	font-weight:normal;
	border:0;
}
.webinar-Heading6 {
	font-size:14px;
	line-height:16px;
	color:#5D6D7F;
	font-weight:normal;
	border:0;
}
.webinar-speakertitle {
	font-size:12px;
	line-height:16px;
	font-style:italic;
	color:#A1A1A1;
	border:0;
}
.webinar-twitter {
	font-size:11px;
	line-height:16px;
	font-style:italic;
	color:#A1A1A1;
	border:0;
}
.webinar-BodyText1 {
	font-size:12px;
	line-height:18px;
	color:#5D6D7F;
	font-weight:normal;
	border:0;
}
.webinar-BodyText2 {
	font-size:14px;
	line-height:20px;
	color:#5D6D7F;
	font-weight:normal;
	border:0;
}
.webinar-BodyText3 {
	font-size:14px;
	line-height:18px;
	color:#5D6D7F;
	font-weight:normal;
	font-style:italic;
	border:0;
}
.webinar-tableWebinarList {
	border-bottom:medium;
	border-bottom-color:#000;
	border-top:medium;
	border-top-color:#000;
}

#flagZappLinkDiv {
	cursor:pointer;
}
