body {
    margin: 0px;
    padding: 0px;
    background: #222 url(./com/alleni/images/back_header.png) repeat-x;
    text-align: center;
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #5d6d7f;
}
img {
    border-style: none;
    margin: 0px;
    padding: 0px;
}
p {
    margin-top: 0px;
}
h1 {
    font: normal 28px/30px Verdana, Geneva, sans-serif;
    color: #000;
    margin-top: 0px;
}
h2 {
    color: #000;
    font-size: 21px;
    font-weight: normal;
}
h3  {
    font-size: 18px;
    font-weight: normal;
    color: #096;
    line-height: 23px;
    margin-top: 0px;
    margin-bottom: 15px;
}
h4 {
    font-size: 15px;
    color: #666;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}
.blue {
    color: #65A9EA;
}
.green {
    color: #54ebbe;
}
.white {
    color: #FFF;
}
.clearer {
    clear: both;
}
.divider {
    height: 1px;
    border-bottom: 1px dotted #CCC;
    margin-bottom: 25px;
}
.floatRight {
    float: right;
}
.marginBottom {
    margin-bottom: 25px;
}
.noMarginTop  {
    margin-top: 0px;
}
#top {
    width: 100%;
    background: #000 url(./com/alleni/images/back_header.png) repeat-x;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
div.header {
    width: 1150px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}
div.header .logo {
    float: left;
}
div.header .navTopButtons{
    float: right;
    height: 42px;
    color: #acacac;
}
div.header .navTopLinks  {
    padding-top: 13px;
    float: right;
    color: #acacac;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
div.header .navTopLinks a {
    color: #acacac;
    margin-left: 18px;
    text-decoration: none;
}
div.header .navTopLinks a:hover {
    color: #54e8bf;
}
/*
div.header .navMain {
    float: right;
    clear: right;
}
div.header .navMain a{
    margin-left: 20px;
}
*/
div.menu {
    float: right;
    clear: right;
}
div.menu ul {
    margin: 0;
    padding: 0;
    width: auto;
    display: block;
}
div.menu ul li {
    float: left;
    display: list-item;
    list-style: none;
    padding-left: 0;
    padding-right: 20px;
}

/*
div.header #subnav{
    background: #000;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 12px;
}
div.header #subnav .links{
    width: 725px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding-left: 275px;
}
div.header #subnav .links a{
    color: #54ebbe;
    margin-left: 10px;
    text-decoration: none;
}
div.header #subnav a .selected{
    color: #FFF;
}
*/
div.main {
    background: #FFF url(./com/alleni/images/back_main.png) repeat-x;
    clear: both;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
div.content {
    width: 1150px;
    font-size: 13px;
    line-height: 21px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding-top: 29px;
    padding-bottom: 20px;
}
div.content a:link, div.content a:visited {
    color: #096;
    text-decoration: none;
}
div.content a:hover, div.content a:active {
    color: #096;
    text-decoration: underline;
}
.bottom {
    background: #222 url(./com/alleni/images/back_footer.png) repeat-x;
    text-align: center;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
#footer {
    text-align: left;
    font: bold 13px/15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #878787;
    width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 30px;
}
#footer a   {
    color: #878787;
    text-decoration: none;
}
#footer a:hover {
    color: #54e8bf;
}
#footer .links {
    background: url(./com/alleni/images/footer_divider.png) no-repeat right;
    text-align: left;
    vertical-align: top;
    width: 189px;
    padding-left: 40px;
    float: left;
    min-height: 172px;
    padding-right: 20px;
}
#footer .links ul{
    margin-top: 18px;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}
#footer .links li{
    list-style: none;
    margin-bottom: 10px;
}
#footer #copyright{
    font: normal 11px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #636363;
    margin-top: 0px;
    text-align: left;
    clear: both;
    padding-left: 30px;
    padding-top: 20px;
}
#footer #copyright a {
    color: #A3A3A3;
}
.block {
    background: #f0f0f0;
    padding: 30px;
    color: #5d6d7f;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.block .columnLeft{
    float: left;
    margin-right: 25px;
    width: 718px;
}
.block .columnRight{
    float: left;
    width: 300px;
    margin-left: 35px;
}
/*
.block h2 {
    color: #000;
    margin-top: 0px;
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 15px;
}
.block h3 {
    color: #FFF;
    margin-top: 0px;
}
*/
.block .form {
    min-height: 350px;
}
.block .form  h2{
    font-size: 18px;
    color: #000;
}
.block .form ul {
    padding-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.block .form li {
    list-style: none;
    margin-left: 0px;
    text-indent: -30px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.block .form table td{
    padding-top: 3px;
    padding-bottom: 3px;
}
.block .form .columnRight    {
    float: right;
    margin-bottom: 10px;
    margin-left: 40px;
    width: 260px;
    text-align: left;
    padding: 20px;
    border: 1px solid #CCC;
}
.block .form .disclaimer {
    background: #FFF;
    padding: 10px;
    border: 1px solid #CCC;
    overflow: scroll;
    margin-top: 5px;
    margin-bottom: 5px;
}
.block .form .label {
    padding-right: 20px;
    white-space: nowrap;
    font-size: 15px;
    color: #5d6d7f;
}
.block .form .labelText {
    padding-right: 20px;
    font-size: 15px;
}
.block .form .menu {
    font-size: 13px;
    padding: 4px;
}
.block .form .profilePhoto img {
    border: 1px solid #CCC;
    background: #FFF;
}
.block .form .profileLogo img {
    border: 1px solid #CCC;
    padding: 10px 30px;
    background: #FFF;
}
.block .form .textfield {
    font-size: 13px;
    padding: 3px;
}
.block .form .wide {
    width: 300px;
}
.block .form .narrow {
    width: 150px;
}
.blockBlack {
    background: #000;
    padding: 20px 30px;
    color: #FFF;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.blockGray {
    background: #484848;
    padding: 22px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #626262;
    display: block;
    color: #CCC;
}
.blockGray a:link, .blockGray a:visited {
    color: #CCC;
}
.blockGray a:hover, .blockGray a:active {
    color: #93A9D8;
}
.blockGray .button .selected {
    color: #54ebbe;
}
.blockGray .button {
    background: #484848;
    padding: 5px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #626262;
    display: block;
    color: #CCC;
    font-size: 14px;
}
.browseGrid p , .browseRows p{
    margin-bottom: 9px;
}
.browseGrid {
    display: block;
}
.browseGrid table td {
    vertical-align: top;
}
.browseGrid .buttons   {
    float: right;
    width: 80px;
    text-align: right;
    font: lighter 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.browseGrid .columns  {
    padding-top: 10px;
}
.browseGrid  .details {
    display: block;
}
.browseGrid .details h2 {
    font: bold normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 9px;
    color: #000;
    padding-top: 0px;
}
.browseGrid .group    {
    border: 1px solid #d0d0d0;
    padding: 15px 15px 10px;
    color: #5d6d7f;
    background: #FFF;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.browseGrid .group h2, .browseRows .group h2{
    font: bold normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 9px;
    color: #000;
}
.browseGrid .image {
    width: 125px;
    margin-right: 20px;
}
.browseGrid .label , .browseRows .label{
    font-weight: bold;
    color: #38424d;
}
.browseGrid .rating , .browseRows .rating{
    margin-top: 10px;
}
.browseGrid .title {
    background: #000;
    color: #FFF;
    font: normal 21px Verdana, Geneva, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.browseRows {
    clear: both;
    display: block;
}
.browseRows .buttons  {
    width: 60px;
    text-align: right;
    font: lighter 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    vertical-align: top;
    float: right;
    margin-left: 20px;
}
.browseRows .column1{
    width: 220px;
    float: left;
    margin-right: 25px;
}
.browseRows .details {
    float: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
    clear: none;
    width: 355px;
}
.browseRows .details    h2{
    font: bold normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-bottom: 9px;
    color: #000;
    margin-top: 0px;
}
.browseRows .group {
    border: 1px solid #d0d0d0;
    padding: 20px 15px 10px;
    margin-top: 20px;
    color: #5d6d7f;
    background: #FFF;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: block;
}
.browseRows .image  {
    width: 220px;
}
.buttonSmWhite  {
    border: 1px solid #d0d0d0;
    padding: 4px 10px 5px;
    color: #5d6d7f;
    background: #FFF;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 17px;
    text-align: center;
}
.buttonLearnMore {
    list-style: none;
    border: 2px solid #BFBFBF;
    padding: 25px 20px;
    color: #6C91BD;
    background: #F0F0F0 url(./com/alleni/images/icon_btn_arrow.png) no-repeat right center;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    width: 235px;
    margin: 0px 0px 25px 25px;
    float: right;
    font-size: 24px;
    line-height: 21px;
}
.buttonWhat {
    list-style: none;
    padding: 25px 20px;
    color: #666;
    background: #F0F0F0 url(./com/alleni/images/icon_btn_question.png) no-repeat right center;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    width: 180px;
    margin: 0px 0px 25px 40px;
    float: right;
    font-size: 24px;
    line-height: 21px;
}
.featured {
    line-height: 20px;
}
.featured h2 {
    font: bold normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 9px;
    color: #000;
}
.featured .details h2 {
    font: bold normal 17px "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 4px;
    color: #000;
    text-align: left;
}
.featured .details {
    display: block;
    float: left;
}
.featured .details p {
    margin-top: 0px;
    margin-bottom: 7px;
}
.featured .details p, .featuredHome .details p {
    margin-top: 0px;
    margin-bottom: 7px;
}
.featured .label {
    font-weight: bold;
    color: #38424d;
}
.featured .image {
    margin-bottom: 15px;
    width: 220px;
}
.featured .image img {
    width: 220px;
}
.featured .title {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.featuredHome .details  {
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    padding-right: 25px;
}
.featuredHome .details h2 {
    font: normal 15px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #4DCFA3;
}
.featuredHome .image  {
    padding-right: 25px;
    padding-bottom: 15px;
}
.featuredHome .image img  {
    width: 220px;
}
.featuredHome .label  {
    font-weight: bold;
    color: #FFF;
}
.filter {
    margin: 0px 0px 20px;
    font-size: 14px;
    color: #000;
    width: 100%;
    position: relative;
}
.filter .select {
    background: #FFF;
    border: 1px solid #D0D0D0;
    padding: 4px;
    font-size: 14px;
}
.filter .textfield {
    background: #FFF;
    border: 1px solid #D0D0D0;
    padding: 4px;
    font-size: 14px;
    width: 275px;
}
.filter .icon {
    background: #FFF;
    border-top: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
}
.home .columnLeft{
    float: left;
    margin-right: 25px;
    width: 718px;
}
.home .columnRight{
    float: left;
    width: 300px;
    margin-left: 35px;
}
.home h2 {
    font-size: 18px;
    font-weight: normal;
    color: #096;
    line-height: 26px;
}
.leadin  {
    font-size: 18px;
    font-weight: normal;
    color: #096;
    line-height: 26px;
}
.leadin a   {
    color: #096;
    text-decoration: underline;
}
.search {
    margin: 0px 0px 20px;
    font-size: 14px;
    color: #000;
    display: block;
    width: 100%;
}
.search input {
    background: #FFF;
    border: 1px solid #D0D0D0;
    padding: 4px;
    font-size: 14px;
    width: 275px;
}
.searchIcon  {
    border: 1px solid #d0d0d0;
    color: #5d6d7f;
    background: #FFF;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    margin: 0px;
    padding: 0px;
    float: left;
}
.searchText {
    float: left;
    margin-right: 25px;
    padding-top: 5px;
}
.searchField {
    float: left;
    margin-right: 4px;
    width: 300px;
}
.searchField input {
    border: 1px solid #d0d0d0;
    color: #5d6d7f;
    background: #FFF;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 30px;
    width: 300px;
    margin: 0px;
    padding: 0px;
}
.sidebar  {
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
    width: 225px;
    display: block;
}
.sidebarClear  {
    margin-left: 240px;
}
.tabs {
    clear: both;
    display: block;
    font-size: 18px;
    margin-left: 20px;
}

.tabs .tab {
    background: #F0F0F0;
    padding: 10px 30px;
    display: block;
    float: left;
    margin-right: 6px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #000;
}
.tabs .tab2 {
    background: #F6F6F6;
    padding: 10px 30px;
    display: block;
    float: left;
    margin-right: 6px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #7284A3;
}
.tabs .tab a {
    color: #000;
}
.tabs .tab2 a {
    color: #7284A3;
}
.tabs .tab a:hover , .tabs .tab2 a:hover{
    color: #096;
    text-decoration: none;
}
.searchNumbers {
    float: right;
}
