body {
	background: #222 url(../images/back_header.png) repeat-x;
	text-align: center;
	color: #5d6d7f;
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
img {
	border-style: none;
	margin: 0px;
	padding: 0px;
}
p {
	margin-top: 0px;
}
h1 {
	font: normal 28px/30px Verdana, Geneva, sans-serif;
	color: #000;
	margin-top: 0px;
	margin-bottom: 15px;
}
h2 {
	color: #000;
	font-size: 21px;
	font-weight: normal;
	line-height: 24px;
}
h3  {
	font-size: 18px;
	font-weight: normal;
	color: #469ad1;
	line-height: 23px;
	margin-top: 0px;
	margin-bottom: 15px;
}
h4 {
	color: #000;
	font-size: 18px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 10px;
}
h5 {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}
ul  , ol{
	padding-left: 15px;
}
.blue {
	color: #65A9EA;
}
.black {
	color: #000;
}
.green {
	color: #54ebbe;
}
.warningColor {
	color: #C00;
}
.white {
	color: #FFF;
}
.clearer {
	clear: both;
}
.divider {
	height: 1px;
	border-bottom: 1px dotted #CCC;
	margin-bottom: 25px;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.indent   {
	margin-left: 25px;
}
.label   {
	padding-right: 4px;
	color: #38424d;
	font-weight: bold;
}
.marginBottom {
	margin-bottom: 25px;
}
.marginTop {
	margin-top: 25px;
}
.marginRight {
	margin-right: 15px;
}
.noMarginBottom {
	margin-bottom: 0px;
}
.noMarginTop  {
	margin-top: 0px;
}
.menu   {
	font-size: 13px;
	padding: 3px;
	border: 1px solid #D0D0D0;
	background: #FFF;
}
.textfield   {
	font-size: 13px;
	padding: 3px;
	background: #FFF;
	border: 1px solid #D0D0D0;
}
.textfieldLarge {
	font-size: 15px;
	padding: 4px;
	background: #FFF;
	border: 1px solid #D0D0D0;
}
.top {
	width: 100%;
	background: #000 url(../images/back_header.jpg) repeat-x;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
	z-index: 100;
}
.header {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	clear: both;
}
.header .logo {
	float: right;
}
.header .navMain {
	float: left;
	height: 42px;
}
.header .navMain a{
	margin-right: 20px;
}
.header .sidebarTabs  {
	color: #acacac;
	float: left;
	clear: left;
	height: 33px;
	padding-top: 8px;
}
.main {
	background: #BFDFFF;
	clear: both;
	margin-top: 0px;
	width: 100%;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
	z-index: 100;
}
.main.account{
	background: #BFDFFF;
}
.main.admin {
	background: #BFDFFF;
}
.main.admin .block {
	line-height: 18px;
}
.main.admin .block.details .form table td       {
	padding-top: 2px;
	padding-bottom: 2px;
}
.main.admin .subnav ul {
	margin-left: 0px;
	padding-left: 0px;
}
.main.admin .subnav li {
	padding-bottom: 7px;
}
.content {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding-bottom: 20px;
	font-size: 13px;
	line-height: 21px;
}
.content a:link, .content a:visited{
	color: #096;
	text-decoration: none;
}
.content a:hover {
	color: #65A9EA;
	text-decoration: underline;
}
.content .list th a:link , .content .list th a:visited {
	color: #FFF;
}
.content .blockBlack .name a {
	color: #B1B1B1;
}
.content .blockBlack .name a:hover, .content .blockBlack .name a:active {
	color: #54e8bf;
}
.content .warningColor a:link , .overlay .warningColor a:link , .content .warningColor a:visited, .overlay .warningColor a:visited{
	color: #C00;
}
.contentRight {
	text-align: left;
	float: left;
	margin-top: 20px;
	width: 710px;
	margin-bottom: 15px;
}
.bottom {
	background: #222 url(../images/back_footer.png) repeat-x;
	text-align: center;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	z-index: 100;
}
.footer {
	text-align: left;
	font: bold 13px/15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #878787;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 32px;
	padding-bottom: 30px;
}
.footer a   {
	color: #878787;
	text-decoration: none;
}
.footer a:hover {
	color: #54e8bf;
}
.footer .links {
	background: url(../images/footer_divider.png) no-repeat right;
	text-align: left;
	vertical-align: top;
	width: 175px;
	padding-left: 45px;
	float: left;
	min-height: 172px;
	padding-right: 40px;
}
.footer .links.lastColumn {
	width: 175px;
	background: none;
	padding-right: 0px;
}
.footer .links ul{
	margin-top: 18px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
}
.footer .links li{
	list-style: none;
	margin-bottom: 10px;
}
.footer .links img {
	margin-right: 5px;
}
.footer .copyright{
	font: normal 11px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #636363;
	margin-top: 0px;
	text-align: left;
	clear: both;
	padding-top: 20px;
	padding-left: 0px;
}
.footer .copyright a {
	color: #A3A3A3;
}
.block {
	background: #E6E6E6;
	padding: 25px 30px;
	color: #5d6d7f;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	line-height: 21px;
}
.block h2{
	color: #000;
	margin-top: 0px;
	font-size: 21px;
	font-weight: normal;
	margin-bottom: 15px;
}
.block a:link, .block a:visited{
	color: #096;
	text-decoration: none;
}
.block a:hover , .block a:active{
	color: #096;
	text-decoration: underline;
}
.block.detailsPage .columnLeft {
	width: 400px;
	margin-right: 0px;
	float: left;
}
.block.detailsPage .columnRight {
	width: 215px;
	margin-left: 35px;
	float: left;
}
.block .columnLeft  {
	width: 305px;
	float: left;
	margin-right: 40px;
}
.block .columnRight  {
	width: 305px;
	float: left;
}
.block .columnLeft2  {
	width: 400px;
	float: left;
	margin-right: 40px;
}
.block .columnRight2  {
	width: 210px;
	float: left;
}
.block .name a:link , .block .name a:visited  {
	color: #000;
}
.block .name a:hover, .block .name a:active {
	color: #096;
	text-decoration: none;
}
.blockBlack {
	background: #000;
	padding: 20px 30px;
	color: #FFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.blockBlack a:link, .blockBlack a:visited {
	color: #469ad1;
}
.blockBlack a:hover, .blockBlack a:active {
	color: #54e8bf;
	text-decoration: none;
}
.blockBlack .searchFilter a:link,.blockBlack .searchFilter a:visited,.blockBlack .searchFilter a:hover ,.blockBlack .searchFilter a:active  {
	color: #CCC;
	text-decoration: none;
}
.blockBlack .browseGrid a     {
	color: #096;
}
.blockBlack .browseGrid a:hover, .blockBlack .browseGrid a:active {
	color: #096;
	text-decoration: underline;
}
.blockBlack .warningColor{
	color: #FC0;
}
.blockTop {
	background: #000;
	color: #FFF;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 12px 30px;
	margin: -25px -30px 20px;
}
.blockTop h2 {
	color: #49b6ff;
	font-size: 20px;
	line-height: 22px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.blockTop a:link, .blockTop a:visited {
	color: #49b6ff;
	text-decoration: none;
}
.blockTop a:hover, .blockTop a:active {
	color: #FFF;
	text-decoration: none;
}
.breadcrumb {
	color: #bbbbbb;
	padding-bottom: 10px;
	font-size: 11px;
	line-height: 12px;
	min-height: 25px;
}
.breadcrumb a {
	color: #666666;
	text-decoration: none;
}
.browseGrid p , .browseRows p{
	margin-bottom: 9px;
}
.breadcrumb .selected {
	color: #000;
}
.browseGrid {
	display: block;
}
.browseGrid .name a:link , .browseGrid .name a:visited  {
	color: #000;
}
.browseGrid .name a:hover , .browseGrid .name a:active {
	color: #096;
	text-decoration: none;
}
.browseGrid table td {
	vertical-align: top;
}
.browseGrid .columns  {
	padding-top: 10px;
}
.browseGrid  .details {
	display: block;
	line-height: 16px;
	font-size: 12px;
}
.browseGrid .details p {
	margin-bottom: 5px;
}
.browseGrid .details h2 {
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 0px;
}
.browseGrid .name {
	margin-bottom: 4px;
	color: #000;
	font: bold 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.browseGrid .group    {
	border: 1px solid #d0d0d0;
	padding: 12px 12px 8px;
	color: #5d6d7f;
	background: #FFF;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.browseGrid .group.selected {
	border: 3px solid #52E4B8;
}
.browseGrid .group.groupTop {
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.browseGrid .group.groupBottom {
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	padding-top: 0px;
}
.browseGrid .group .noBorderBottom{
	border-bottom-style: none;
}
.browseGrid .image {
	width: 75px;
	margin-right: 15px;
	margin-bottom: 5px;
}
.browseGrid .label , .browseRows .label{
	font-weight: bold;
	color: #38424d;
}
.browseGrid .actions , .browseRows .actions{
	margin-top: 5px;
}
.browseGrid .title {
	background: #000;
	color: #FFF;
	font: normal 21px Verdana, Geneva, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.browseList p   {
	margin-bottom: 9px;
}
.browseList {
	display: block;
}
.browseList table td {
	vertical-align: top;
}
.browseList .buttons  {
	float: right;
}
.browseList  .details {
	display: block;
	line-height: 16px;
	font-size: 12px;
	margin-right: 125px;
	margin-left: 90px;
}
.browseList .details p {
	margin-bottom: 5px;
}
.browseList .details h2 {
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 0px;
}
.browseList .name {
	margin-bottom: 4px;
	color: #000;
	font: bold 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-right: 125px;
	margin-left: 90px;
}
.browseList .group    {
	color: #5d6d7f;
	background: #FFF;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d0d0d0;
}
.browseList .row {
	padding: 10px 12px;
	border-bottom: 1px dotted #CCC;
}
.browseList .rowTop {
	border-top: none;
	padding-top: 5px;
	padding-bottom: 5px;
}
.browseList .group.selected {
	border: 3px solid #52E4B8;
}
.browseList .image {
	width: 75px;
	margin-right: 15px;
	margin-bottom: 5px;
	float: left;
}
.browseList .label ,  {
	font-weight: bold;
	color: #38424d;
}
.browseList .actions   {
	margin-top: 5px;
	margin-right: 125px;
	margin-left: 90px;
}
.detailsPage {
	line-height: 18px;
}
.detailsPage table td {
	padding-top: 4px;
	padding-bottom: 4px;
}
.detailsPage .author {
	margin-bottom: 20px;
	clear: both;
}
.detailsPage .buttons {
	margin-top: 0px;
	clear: both;
}
.detailsPage .columnRight{
	line-height: 21px;
}
.detailsPage .details {
	margin-bottom: 15px;
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px dotted #CCC;
}
.detailsPage .detailsSmall {
	font-size: 11px;
	color: #999;
	display: inline;
	margin-left: 5px;
}
.detailsPage .description {
	margin-bottom: 10px;
	clear: left;
}
.detailsPage .image {
	float: left;
	width: 100px;
	margin-right: 25px;
	margin-bottom: 10px;
}
.detailsPage .rating {
	font-size: 11px;
	color: #999;
	float: right;
}
.detailsPage .manage {
	line-height: 18px;
}
.detailsPage .manage table td{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
}
.detailsPage .manage .lastColumn  {
	padding-right: 0px;
}
.detailsPage .manage .projects {
	max-height: 200px;
	overflow-y: auto;
	background: #FFF;
	padding: 3px 3px 3px 5px;
}
.detailsPage .manageSubhead {
	background: #469ad1;
	color: #FFF;
	padding: 3px 6px;
	font-weight: bold;
	margin-top: 20px;
}
.detailsPage .manageSubhead a:link, .detailsPage .manageSubhead a:visited{
	color: #FFF;
	font-weight: bold;
}
.detailsPage .manageSubhead2 {
	background: #A6AAB3;
	color: #FFF;
	padding: 3px 6px;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 3px;
}
.featured {
	margin-bottom: 10px;
}
.featured .details  {
	color: #B1B1B1;
	font-size: 12px;
	line-height: 15px;
	padding-right: 20px;
	vertical-align: top;
}
.featured .name {
	font-size: 15px;
	margin-bottom: 4px;
}
.featured .name a:link, .featured .name a:visited{
	color: #469ad1;
}
.featured .blockBlack {
	padding: 15px 10px;
}
.featured .details p{
	margin-bottom: 4px;
}
.featured .rating {
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 3px;
}
.featured .image  {
	padding-right: 25px;
	padding-bottom: 7px;
}
.featured .image img  {
	/* [disabled]width: 100px; */
}
.featured .label  {
	font-weight: bold;
	color: #B1B1B1;
}
.feedback {
	background: #FFF;
	padding: 10px 15px;
	color: #090;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	line-height: 18px;
	font-size: 16px;
}
.filter {
	padding-bottom: 15px;
}
.filter .select {
	background: #FFF;
	border: 1px solid #D0D0D0;
	padding: 4px;
	font-size: 14px;
}
.filter table td{
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.block .filter  .label{
	padding-right: 10px;
	color: #000;
}
.filter .textfield {
	background: #FFF;
	border: 1px solid #D0D0D0;
	padding: 3px;
	font-size: 13px;
	width: 275px;
}
.filter .icon {
	background: #FFF;
	border-top: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}
.filter select {
	background: #F0F0F0;
	border: 1px solid #C6C6C6;
	font-size: 13px;
	color: #5d6d7f;
	font-weight: normal;
}
.form h2  {
	font-size: 18px;
	color: #000;
}
.form ul  {
	padding-left: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.form li  {
	list-style: none;
	margin-left: 0px;
	text-indent: -30px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.form table td {
	padding-top: 5px;
	padding-bottom: 5px;
}
.form table th {
	color: #FFF;
	text-align: left;
}
.form .buttons  {
	clear: both;
}
.form .disclaimer  {
	background: #FFF;
	padding: 10px;
	border: 1px solid #CCC;
	overflow: scroll;
	margin-top: 5px;
	margin-bottom: 5px;
}
.form .imageUpload     {
	text-align: left;
	padding: 20px;
	border: 1px solid #CCC;
}
.form .label  {
	padding-right: 20px;
	white-space: nowrap;
	font-size: 14px;
	color: #5d6d7f;
}
.form .labelText  {
	padding-right: 20px;
	font-size: 15px;
}
.form .narrow  {
	width: 125px;
}
.form .wide  {
	width: 250px;
}
.instructions {
	margin-bottom: 10px;
	line-height: 16px;
}
.list {
	font-size: 12px;
	color: #394351;
}
.list th {
	text-align: left;
	font-weight: bold;
	background: #A3A3A3;
	color: #FFF;
	padding: 4px 7px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.list th.selected {
	background: #333;
}
.list td {
	border-right: 1px dotted #CCC;
	padding: 5px 7px;
	line-height: 16px;
}
.list td td {
	border-right: none;
	padding: 7px 10px 7px 7px;
}
.list table {
	background: #FFF;
}
.list td.selected {
	background: #C3E3D6;
}
.list .actions td {
	padding: 2px;
}
.list  .noborderRight {
	border-right-style: none;
}
.list .row1 {
}
.list .row2 {
	background: #EFEFEF;
}
.list .title {
	background: #000
	color: #FFF;
	font: normal 21px Verdana, Geneva, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.list .sample {
	border: 1px solid #E7E7E7;
}
.listBulleted ul  {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 1px;
}
.listBulleted li  {
	list-style: disc outside;
	margin-left: 0px;
	text-indent: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: -1px;
	line-height: 16px;
}
.message {
	background: #FFF;
	border: 1px solid #CCC;
	padding: 10px;
}
.overlay {
	position:fixed;
	background-color: #000000;
	opacity:.5;
	-moz-opacity:0.5;
	filter:alpha(Opacity=50);
	left:0px;
	top: 0px;
	width:100%;
	height:100%;
	z-index: 1000;
}
.overlayBack {
	position: absolute;
	z-index: 3000;
	width: 100%;
	left: 0px;
	top: 0px;
	text-align: center;
}
.overlayContent {
	background: #FFF;
	padding: 15px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #D0D0D0;
	text-align: left;
	z-index: 2000;
	position: static;
	font-size: 13px;
	line-height: 21px;
	margin: 20px auto;
}
.overlayContent .block {
	margin-bottom: 0px;
	line-height: 18px;
	padding-right: 25px;
	padding-left: 25px;
}
.overlayContent .blockTop {
	padding-right: 25px;
	padding-left: 25px;
	margin-right: -25px;
	margin-left: -25px;
}
.overlayContent .block table td{
	padding-top: 3px;
	padding-bottom: 3px;
}
.overlayContent .columnLeft  {
	width: 300px;
	margin-right: 40px;
}
.overlayContent .columnRight  {
	width: 300px;
}
.overlayContent.profile {
	width: 700px;
	margin-top: 60px;
}
.overlayContent.buyNewAccount {
	width: 535px;
	margin-top: 60px;
}
.overlayContent.buyNow {
	width: 375px;
	margin-top: 60px;
}
.overlayContent.buySignin {
	width: 650px;
	margin-top: 60px;
	font-size: 13px;
	line-height: 21px;
}
.overlayContent.buySignin .columnLeft {
	width: 350px;
	margin-right: 20px;
}
.overlayContent.buySignin .columnRight {
	width: 210px;
}
.overlayContent.legal {
	width: 800px;
	margin-top: 60px;
}
.overlayContent.legal .text h2{
	font-size: 16px;
}
.overlayContent.lostPassword {
	width: 425px;
	margin-top: 60px;
	font-size: 13px;
	line-height: 21px;
}
.paging {
	text-align: right;
	margin-bottom: 10px;
	float: right;
	margin-left: 25px;
	clear: both;
}
.pagingBottom {
	text-align: right;
	float: right;
	margin-left: 25px;
	margin-top: 10px;
}
.popup {
	background: #FFF;
	padding: 15px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #D0D0D0;
	text-align: left;
	z-index: 1000;
	position: absolute;
}
.popup h2 {
	font-size: 18px;
}
.popup .form  ul{
	padding-left: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.popup .form  li{
	list-style: none;
	margin-left: 0px;
	text-indent: -30px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.popup .form table td{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	white-space: nowrap;
}
.popup.form Table th{
	color: #000;
	text-align: left;
	padding-right: 4px;
}
.pricing {
	background: #FFF;
	font-size: 12px;
	line-height: 14px;
	color: #394351;
	margin-right: -4px;
}
.pricing table th{
	color: #FFF;
	padding: 4px 7px 0px;
	font: bold 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	white-space: nowrap;
	background: #469ad1;
}
.pricing table td{
	border-right: 4px solid #FFF;
	padding: 7px;
	line-height: 16px;
}
.pricing .row1 {
	background: #F3F3F3;
}
.pricing .row2 {
	background: #E6E6E6;
}
.pricing .colored {
	background: #469AD1;
	padding: 3px;
	color: #FFF;
	font-size: 14px;
}
.pricing .title {
	background: #000
	color: #FFF;
	padding-top: 7px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}
.profilePhoto    {
	border: 1px solid #CCC;
	background: #FFF;
	float: right;
}
.profileLogo    {
	border: 1px solid #CCC;
	background: #FFF;
	float: right;
}
.search {
	font-size: 13px;
	line-height: 16px;
}
.search h2 {
	margin-bottom: 0px;
}
.search .searchFilter a:link,.search .searchFilter a:visited,.search .searchFilter a:hover ,.search .searchFilter a:active  {
	color: #5d6d7f;
	text-decoration: none;
}
.searchText {
	float: left;
	margin-right: 25px;
	padding-top: 5px;
}
.searchButton  {
	color: #5d6d7f;
	padding-left: 4px;
	padding-right: 15px;
}
.searchField input {
	border: 1px solid #D0D0D0;
	color: #5d6d7f;
	background: #FFF;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 26px;
	width: 225px;
	margin: 0px;
	padding: 0px 5px;
	font-weight: normal;
	font-size: 14px;
}
.searchFilter {
	color: #5d6d7f;
	border: 1px solid #d0d0d0;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 20px;
	background: #FFF;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 6px;
	white-space: nowrap;
}
.blockBlack .search{
	font-size: 14px;
	color: #000;
	padding-bottom: 20px;
}
.blockBlack .searchField input{
	border: 1px solid #666;
	color: #FFF;
	background: #000;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 26px;
	width: 225px;
	margin: 0px;
	padding: 0px 7px;
	font-weight: normal;
	font-size: 14px;
}
.blockBlack .searchFilter{
	color: #CCC;
	border: 1px solid #666;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 20px;
	background: #000;
	padding-right: 15px;
	padding-left: 10px;
	padding-top: 6px;
	white-space: nowrap;
}
.blockBlack .searchNumbers{
	float: right;
	color: #CCC;
	padding-top: 7px;
}
.screenshots {
	color: #5d6d7f;
	background: #FFF;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d0d0d0;
	padding: 10px;
	height: 115px;
	;
	margin-bottom: 20px;
	display: block;
	overflow-x: auto;
	overflow-y: hidden;
	vertical-align: middle;
}
.shadow{
 	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 4px #666;
}
.sidebar  {
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
	width: 225px;
	margin-right: 25px;
	line-height: 17px;
}
.sidebar .block   {
	padding: 15px;
	margin-bottom: 10px;
	line-height: 18px;
}
.sidebar .block h3 {
	font-size: 18px;
	font-weight: bold;
	clear: both;
	margin-bottom: 7px;
}
.sidebar .blockBlack {
	background: #000;
	padding: 15px;
	color: #B1B1B1;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 10px;
}
.sidebar .blockBlack table td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	font-size: 12px;
	line-height: 14px;
	vertical-align: top;
}
.sidebar .blockBlack .subnav a:hover {
	color: #54e8bf;
}
.sidebar .divider  {
	margin-bottom: 10px;
	border-color: #666;
	clear: both;
	padding-top: 10px;
}
.sidebar .signout a:link , .sidebar .signout a:visited {
	color: #B1B1B1;
}
.sidebar .signout a:hover, .sidebar .signout a:active {
	color: #54e8bf;
}
.sidebar .subnav h2 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 15px;
	color: #A3A3A3;
}
.sidebar .subnav ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
}
.sidebar .subnav li {
	list-style: none;
}
.sidebar .subnav a:link,.sidebar .subnav a:visited{
	color: #469ad1;
}
.sidebar .subnav .selected {
	color: #FFF;
}
.sidebar .username {
	float: left;
}
.sidebar .signout {
	float: right;
	margin-left: 10px;
}
.signin input {
	border: 1px solid #D0D0D0;
	color: #5d6d7f;
	background: #FFF;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 24px;
	margin: 0px;
	padding: 0px 5px;
	font-weight: normal;
	font-size: 13px;
}
.block.about{
	min-height: 500px;
	background: #000;
	font-size: 14px;
	line-height: 22px;
	color: #CCC;
}
.block.about.overview {
	background: #000 url(../images/about_overview_bottom.png) no-repeat center bottom;
	padding-bottom: 285px;
}
.about.tabs .tab{
	background: #000;
	padding: 7px 15px;
	display: block;
	float: left;
	margin-right: 6px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #000;
}
.about.tabs .tab2{
	background: #343434;
	padding: 7px 15px;
	display: block;
	float: left;
	margin-right: 6px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #959595;
}
.about.tabs .tab a{
	color: #FFF;
}
.about.tabs .tab2 a{
	color: #878787;
}
.about .callout {
	background: #F3F3F3;
	padding: 15px;
	color: #5d6d7f;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	line-height: 21px;
	float: right;
	margin-left: 25px;
	width: 200px;
}
.about .divider {
	border-bottom: 1px solid #343434;
}
.about .textBlock {
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 15px;
	float: right;
	clear: both;
}
.about .imageLeft  {
	float: left;
	margin-right: 30px;
	padding-top: 4px;
	padding-bottom: 15px;
}
.about .imageRight  {
	float: right;
	margin-left: 30px;
	padding-top: 4px;
	padding-bottom: 15px;
}
.about .subnav {
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 15px;
	border-bottom: 1px solid #343434;
	padding-bottom: 15px;
}
.about .subnav img {
	margin-right: 5px;
}
.about .subnav a.selected:link , .about .subnav a.selected:visited{
	color: #F3F3F3;
}
.about .subnav a:link, .about .subnav a:visited       {
	color: #878787;
}
.about .subnav a:hover, .about .subnav a:active       {
	color: #54ebbe;
	text-decoration: none;
}
.about .subnav .divider {
	margin-right: 10px;
	margin-left: 10px;
	font-weight: normal;
	border-style: none;
	color: #343434;
}
.block.support {
	min-height: 500px;
	background: #FFF;
	font-size: 14px;
	line-height: 22px;
	border: 5px solid #E6E6E6;
}
.block.support.overview .group a:link , .block.support.overview .group a:visited{
	color: #5d6d7f;
}
.block.support.overview .group a:hover, .block.support.overview .group a:active {
	color: #65A9EA;
}
.support table {
	margin-bottom: 15px;
	width: 100%;
	border-style: none;
	border-collapse: collapse;
	border-spacing: 0px;
}
.support table td {
	padding: 3px 15px 3px 4px;
	vertical-align: top;
	border-bottom: 1px solid #DFDFDF;
}
.support .topRow  {
	border-top: 1px solid #DFDFDF;
}
.support table th {
	background: #ACACAC;
	color: #FFF;
	text-align: left;
	padding-right: 8px;
	padding-left: 4px;
}
.support ul  {
	margin-top: 0px;
	padding-left: 0px;
}
.support ol {
	margin-left: 10px;
}
.support ul img {
	margin-right: 10px;
}
.support ul li{
	margin-bottom: 10px;
	list-style: none;
}
.support a:hover, .support a:active {
	text-decoration: none;
	color: #65A9EA;
}
.support .columnLeft , .support .columnRight{
	width: 300px;
}
.support .column1 {
	width: 230px;
	float: left;
	margin-right: 35px;
}
.support .column2    {
	width: 180px;
	float: left;
	margin-right: 35px;
}
.support .column3    {
	width: 160px;
	float: left;
}
.support.overview .group{
	padding: 15px 10px;
	color: #5d6d7f;
	-moz-border-radius: 10px;
	border-radius: 10px;
	line-height: 21px;
	border: 2px solid #E6E6E6;
}
.support .featured  {
	width: 445px;
	float: left;
	margin-bottom: 0px;
}
.support .featuredList    {
	color: #5d6d7f;
	background: #FFF;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d0d0d0;
	float: left;
	width: 440px;
}
.support .featuredList   p{
	margin-bottom: 9px;
}
.support .featuredList table td{
	padding: 10px 12px;
	border-bottom: 1px dotted #CCC;
	vertical-align: top;
}
.support .featuredList .featuredDetails p{
	margin-bottom: 5px;
}
.support .featuredList .featuredDetails h2{
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 0px;
	font-size: 16px;
	font-weight: bold;
}
.support .subnav    {
	font-size: 16px;
	line-height: 18px;
	margin-top: 0px;
	clear: both;
	margin-bottom: 15px;
	color: #CCC;
}
.support .label {
	white-space: nowrap;
}
.support .subnav a:link , .support .subnav a:visited       {
	color: #99A3C5;
}
.support .subnav a:hover, .support .subnav  a:active {
	color: #65A9EA;
	text-decoration: underline;
}
.tabs {
	display: block;
	font-size: 18px;
	margin-left: 20px;
	clear: both;
}

.tabs .tab {
	background: #E6E6E6;
	padding: 7px 15px;
	display: block;
	float: left;
	margin-right: 6px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #000;
}
.tabs .tab2 {
	background: #F3F3F3;
	padding: 7px 15px;
	display: block;
	float: left;
	margin-right: 6px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #99A3C5;
}
.tabs .tab a {
	color: #000;
}
.tabs .tab2 a {
	color: #99A3C5;
}
.tabs .tab a:hover, .tabs .tab2 a:hover{
	color: #096;
	text-decoration: none;
}

.tabs.about .tab a:hover, .tabs.about .tab2 a:hover {
	color: #54ebbe;
}
