<div class="blockTop">
    <h2>
        Portal
    </h2>
</div>
<div class="form">
    <form action="" method="get">
        <p>
            Area to control the basic look and feel of a branded portal for the distribution of published Apps.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
        <div class="buttons">
            <div class="button">
                <div class="left"></div>
                <div class="text">
                    <a href="#">Preview Portal</a>
                </div>
                <div class="right"></div>
            </div>
            <div class="button">
                <div class="left"></div>
                <div class="text">
                    <a href="#">Save Portal</a>
                </div>
                <div class="right"></div>
            </div>
            <div class="clearer"></div>
        </div>
    </form>
</div>
