<div class="blockTop">
    <h2>
        Username/Email/Password
    </h2>
</div>
<div class="form">
    <form action="" method="get">
        <h2>
            Your current email address is: name@domainname.com
        </h2>
        <p>
            This email is used to contact you in relationship to your account. It can be the same or different than the optional email that is used in your personal or company profile. We do not rent, sell or share emails. <a href="#/legal?terms-of-service">Terms &amp; Conditions.</a>
        </p>
        <div class="divider"></div>
        <table border="0" cellpadding="0" cellspacing="0" class="indent">
            <tbody>
                <tr>
                    <td class="label">
                        Username
                    </td>
                    <td>
                        Username
                    </td>
                </tr>
                <tr>
                    <td width="160" class="label">
                        New Email Address
                    </td>
                    <td>
                        <input name="textfield" type="text" class="textfield wide" id="textfield">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Retype Email Address
                    </td>
                    <td>
                        <input name="textfield5" type="text" class="textfield wide" id="textfield6">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Current Password
                    </td>
                    <td>
                        <input name="textfield2" type="text" class="textfield wide" id="textfield2">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="button">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Change Email</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="divider marginTop"></div>
        <table border="0" cellpadding="0" cellspacing="0" class="indent">
            <tbody>
                <tr>
                    <td width="160" class="label">
                        Current Password
                    </td>
                    <td>
                        <input name="textfield4" type="text" class="textfield wide" id="textfield3">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        New Password
                    </td>
                    <td>
                        <input name="textfield5" type="text" class="textfield wide" id="textfield5">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Confirm New Password
                    </td>
                    <td>
                        <input name="textfield3" type="text" class="textfield wide" id="textfield4">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="button">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Change Password</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
