<div class="blockTop">
    <h2>Share Projects: <span class="name">Track</span></h2>
</div>
<div>
	<h5>You have sent copies of these projects. Use this list to track their progress.</h5>
	<span>When you send a copy of your project to another person, they may accept or decline the project. Their 
decision appears in this list. You can cancel a transaction before the recipient responds. After a project has 
been either accepted, declined, or canceled, you can clear the project from the list.</span>
	<div class="outgoingDataContainer" />
	</div>
</div>