<div class="blockTop">
    <div class="floatRight">
        <h2>(Publicly Displayed)</h2>
    </div>
    <h2>My Profile</h2>
</div>
<div class="form">
    <form method="post" action="" id="accountForm" enctype="multipart/form-data">
        <p>This is your personal profile, all of which is publicly displayed in association with your published Apps and Gadgets, and any comments that you make. The contact information is optional, but will be displayed along with your profile if entered.</p>
        <table class="indent">
            <tbody>
                <tr>
                    <td width="130" class="label">Display Name</td>
                    <td><span id="displayName"></span></td>
                </tr>
                <tr>
                    <td class="label">First Name</td>
                    <td><input type="text" id="firstName" class="textfield wide" name="firstName"></td>
                </tr>
                <tr>
                    <td class="label">Last Name</td>
                    <td><input type="text" id="lastName" class="textfield wide" name="lastName"></td>
                </tr>
                <tr>
                    <td class="label">Bio</td>
                    <td><textarea id="userDescription" class="textfield wide" name="userDescription" rows="7" maxlength="250"></textarea><br />
                    <span style="font-size:10px;">(Limited to 255 characters)</span></td>
                </tr>
                
                <tr>
                    <td class="label">Profile Photo</td>
                    <td>
                        <table>
                            <tr>
                                <td id="avatarFileContainer"><input type="file" name="avatarFile" id="avatarFile" /></td>
                                <td rowspan="2"><img id="avatarImage" src="" width="0" height="0" /></td>
                            </tr>
                            <tr>
                                <td><span style="font-size:10px;">(Image will display at 100x100 pixels)</span></td>
                            </tr>
                        </table>
                        
                    </td>
                </tr>
                <tr>
                    <td class="label">Banner Image</td>
                    <td nowrap valign="middle">
                        <table>
                            <tr>
                                <td id="bannerFileContainer"><input type="file" name="bannerFile" id="bannerFile" /></td>
                                <td rowspan="2"><img id="bannerImage" src="" width="0" height="0" /></td>
                            </tr>
                            <tr>
                                <td><span style="font-size:10px;">(Image will display at 710x233 pixels)</span></td>
                            </tr>
                        </table>
                        
                    </td>
                </tr>
                
                <tr>
                    <td class="label">Show in Profile</td>
                    <td>
                        <input type="radio" checked="checked" value="firstLast" name="nameFormat">
                        First &amp; Last Name
                        <input type="radio" value="displayName" name="nameFormat">
                        Display Name
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="divider marginTop"></div>
        <h2>Personal Contact Information</h2>
        <table cellspacing="0" class="indent marginBottom">
            <tbody><tr>
                    <td width="130" class="label">Website</td>
                    <td><input type="text" id="website" class="textfield wide" name="website"></td>
                </tr>
                <tr>
                    <td class="label">Twitter</td>
                    <td><input type="text" id="twitter" class="textfield wide" name="twitter"></td>
                </tr>
                <tr>
                    <td class="label">Phone Number</td>
                    <td><input type="text" id="phone" class="textfield wide phone" name="phone"></td>
                </tr>
            </tbody>
        </table>
        <div class="buttonsAction">
            <!--                <a href="my-profile-preview-paid.html" class="button"><span>Preview Profile</span></a>  -->
            <a id="save" href="#save" class="button"><span>Save Profile</span></a>
            <div class="clearer"></div>
        </div>
    </form>
</div>
