    <div class="account">
        <h2>Zebra Plans &amp; Pricing</h2>
        <form>
            <h3>You have a "<span id="accountType">{unknown}</span>" account cost: <span id="accountFee">{unknown}</span></h3>
            
            <div class="pricing">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td colspan="2" rowspan="2" valign="top" class="noborderRight"><h3 style="font-size:24px">Available Plans</h3></td>
                <th width="100" align="center">Personal</th>
                <th width="100" align="center">Author<br /></th>

                <th width="100" align="center">Pro Author<br /></th>
              </tr>
              <tr>
                <td align="center" class="noborderRight">FREE</td>
                <td align="center" class="noborderRight"><select name="select2" class="textfield" id="select2">
                  <option>$1.99/Month</option>
                  <option>$19.99/Year</option>

                </select></td>
                <td align="center" class="noborderRight"><select name="select" class="textfield" id="select">
                  <option>$2.99/Month</option>
                  <option>$29.99/Year</option>
                </select></td>
              </tr>
              <tr class="row2">
                <td valign="top" class="title">VIEW</td>

                <td class="row2">Play Apps</td>
                <td align="center" valign="middle" class="title">X</td>
                <td align="center" valign="middle" class="title selected">X</td>
                <td align="center" valign="middle" class="title noborderRight">X</td>
              </tr>
              <tr class="row1">
                <td valign="top" class="title">BUY</td>

                <td>Purchase Apps</td>
                <td align="center" valign="middle" class="title">X</td>
                <td align="center" valign="middle" class="selected title">X</td>
                <td align="center" valign="middle" class="title noborderRight">X</td>
              </tr>
              <tr class="row2">
                <td valign="top" class="title">AUTHOR</td>

                <td class="row2">Use Zebra Editor to create <br />
                  Apps &amp; Gadgets</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle" class="title selected">X</td>
                <td align="center" valign="middle" class="title noborderRight">X</td>
              </tr>

              <tr class="row1">
                <td valign="top" class="title">PUBLISH<br />
                  &amp; SELL<br /></td>
                <td>Publish and sell Apps &amp; Gadgets in the Shopps (Zebra branded player and link)</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle" class=" selected title">X</td>

                <td align="center" valign="middle" class="noborderRight">&nbsp;</td>
              </tr>
              <tr class="row1">
                <td valign="top" class="title">&nbsp;</td>
                <td>Publish and sell Apps &amp; Gadgets in the Shopps (Zebra link only)</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle" class="selected">&nbsp;</td>

                <td align="center" valign="middle" class="title noborderRight">X</td>
              </tr>
              <tr class="row2">
                <td valign="top" class="title">COLLABORATE</td>
                <td class="row2">Use advanced tools to collaborate on projects</td>
                <td align="center" valign="middle" class="row2">&nbsp;</td>
                <td align="center" valign="middle" class="selected">&nbsp;</td>

                <td align="center" valign="middle" class="title noborderRight">X</td>
              </tr>
              <tr class="row1">
                <td valign="top" class="title">SHARE PRIVATELY</td>
                <td>Create Apps for private viewing and sharing</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle" class="selected">&nbsp;</td>

                <td align="center" valign="middle" class="title noborderRight">X</td>
              </tr>
              <tr class="row2">
                <td valign="top" class="title">STORAGE</td>
                <td>Author Storage</td>
                <td align="center">N/A</td>
                <td align="center" class="selected">100 MB</td>

                <td align="center" class="noborderRight">200 MB</td>
              </tr>
              <tr class="row2">
                <td valign="top" class="title">&nbsp;</td>
                <td>Buyer Storage</td>
                <td align="center">Free</td>
                <td align="center" class="selected">Free</td>

                <td align="center" class="noborderRight">Free</td>
              </tr>
              <tr class="row1">
                <td valign="top" class="title">&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><a href="#selectPersonal" class="button"><span>Select</span></a></td>
                <td align="center" valign="middle" class="selected"><a href="#selectAuthor" class="button"><span>Select</span></a></td>
                <td align="center" valign="middle" class="noborderRight"><a href="#selectProAuthor" class="button"><span>Select</span></a></td>
              </tr>
            </table>
          </div>
        </form>
    </div>