<div class="blockTop">
    <h2>
        Contact Prefences
    </h2>
</div>
<div class="form">
    <form action="" method="get">
        <p>
            Instructions will go here about the contact preferences and how they affect communications within Zebra.
        </p>
        <div class="labelText indent">
            <ul>
                <li>
                    <input name="checkbox" type="checkbox" id="checkbox"> &nbsp;Contact preference one
                </li>
                <li>
                    <input name="checkbox2" type="checkbox" id="checkbox2"> &nbsp;Contact preference two
                </li>
                <li>
                    <input name="checkbox3" type="checkbox" id="checkbox3"> &nbsp;Contact preference three
                </li>
                <li>
                    <input name="checkbox4" type="checkbox" id="checkbox4"> &nbsp;Contact preference four
                </li>
            </ul>
        </div>
    </form>
</div>
