    <div class="account">
        <h2>Request To Cancel</h2>
        <form>
            <h3>We're sorry to see you leave.</h3>
            <p>You have <span id="zappsPublished">{unknown}</span> published Apps and <span id="gadgetsPublished"></span> published Gadgets<p>
            <div class="screenshots">
                <img src="./com/alleni/images/featuredBrowse/zapp0.jpg"/>
                <img src="./com/alleni/images/featuredBrowse/zapp1.jpg"/>
                <img src="./com/alleni/images/featuredBrowse/zapp2.jpg"/>
            </div>
            <p>These will no longer be available for sharing or for selling in the Shopp. However, Apps and Gadgets that have already been purchased will still be available to those who have purchased them.</p>
            <fieldset>
                <legend>The following account will be canceled:</legend>
                <h3>"<span id="accountType">{unknown}</span>" Account</h3>
                <ul>                    
                    <li><label for="accountFee">Price:&nbsp;</label><input type="text" readonly="true" name="accountFee">{unknown}/></li>
                    <li><label for="accountRefreshDate">Refreshes on:&nbsp;</label><input type="text" readonly="true" name="accountRefreshDate">{unknown}/></li>
                    <li><label for="accountCancelDate">Cancels on:&nbsp;</label><input type="text" readonly="true" name="accountCancelDate">{unknown}/></li>
                </ul>
            </fieldset>            
            <fieldset>
                <legend>Do you still want to cancel?</legend>
                <ul>
                    <li><input type="checkbox" name="_cancelConfirm"/><label class="checkboxLabel" for="_cancelConfirm">Cancel my "<span id="accountType">{unknown}</span>" account.</label></li>
                </ul>
            </fieldset>
            <a id="saveValues" href="#cancelAccount" class="button"><span>Send Request</span></a>
        </form>
    </div>
