<div class="blockTop">
    <h2>Share Projects: <span class="name">Receive</span></h2>
</div>
<div>
	<div id="incomingTransferMessage">Copies of these projects are being sent to you, please accept those you would like to complete.<br /></div>
	<div class="warningColor" style="display: none" id="projectTransferStatus">[project transfer receive status]<br/></div>
	<div class="incomingDataContainer">
		<div class="senderGroupGrid" style="width: 600px; color: Black"/>		
	</div>
</div>