        <div class="blockTop">
          <h2>Convert Earnings</h2>
        </div>
        <div class="form">
          <form id="accountForm" name="accountForm">
            <h2>This account has $<span id="earnings">126.00</span> in current earnings</h2>
            <p>If this amount is over $10, it will be credited to the assigned Paypal account at the end of this billing cycle. You also have the option to apply a portion of these earnings towards future ZebraZapps account fees.</p>
            <div class="divider"></div>
            <table cellspacing="0" class="indent">
              <tr>
                <td class="label">End of Current Billing Cycle</td>
                <td class="black"><strong><span id="accountCancelDate">June 14, 2011</span></strong></td>
              </tr>
              <tr>
                <td class="label">Converted Credit Balance</td>
                <td class="black"><strong><span id="convertedCreditBalance">$.00</span></strong></td>
              </tr>
              <tr>
                <td class="label">Account</td>
                <td class="black"><strong><span id="accountType">Author</span></strong></td>
              </tr>
              <tr>
                <td width="160" class="label">Account Fee</td>
                <td class="black"><strong><span id="accountFee">$2.99/Month</span></strong></td>
              </tr>
              <tr>
                <td class="label">Refreshes on</td>
                <td class="black"><strong><span id="accountRefreshDate">June 15, 2011</span></strong></td>
              </tr>
              <tr>
                <td valign="top" class="label">Amount to Convert</td>
                <td nowrap="nowrap"><input name="convert" type="radio" id="radio3" value="convert_method_convert_all" checked="checked" />
Do not apply earnings towards account
<br />
<input name="convert" type="radio" id="radio" value="convert_method_convert_less_account_fee" />
Always pay account fee first<br />
                  <input name="convert" type="radio" id="radio2" value="convert_method_convert_specific_amount" />
Apply a specific amount from earnings $
<input name="convertAmount" type="text" class="textfield" id="textfield2" style="width:75px"/></td>
              </tr>
            </table>
            <div class="buttonsAction"> <a class="button" id="saveValues" href="#save" name="saveValues"><span>Convert Earnings</span></a>
              <div class="clearer"></div>
            </div>
          </form>
        </div>
