    <div class="account">
        <h2>Statistics</h2>
        <form>            
            <fieldset>
                <legend>Publishing & Sales</legend>
                <ul>
                    <li><label for="zappsCreated">Apps Created:&nbsp;</label><input type="text" readonly="true" name="zappsCreated">{unknown}/></li>
                    <li><label for="zappsPublished">Apps Published:&nbsp;</label><input type="text" readonly="true" name="zappsPublished">{unknown}/></li>
                    <li><label for="zappsSold">Apps Sold:&nbsp;</label><input type="text" readonly="true" name="zappsSold">{unknown}/></li>
                    <li><label for="zappsRevenue">Revenue:&nbsp;</label>$<input type="text" readonly="true" name="zappsRevenue">{unknown}/></li>
                </ul>
                <ul>
                    <li><label for="gadgetsCreated">Gadgets Created:&nbsp;</label><input type="text" readonly="true" name="gadgetsCreated">{unknown}/></li>
                    <li><label for="gadgetsPublished">Gadgets Published:&nbsp;</label><input type="text" readonly="true" name="gadgetsPublished">{unknown}/></li>
                    <li><label for="gadgetsSold">Gadgets Sold:&nbsp;</label><input type="text" readonly="true" name="gadgetsSold">{unknown}/></li>
                    <li><label for="gadgetsRevenue">Revenue:&nbsp;</label>$<input type="text" readonly="true" name="gadgetsRevenue">{unknown}/></li>
                </ul>
                <ul>
                    <li><label for="totalRevenue">Total Revenue:&nbsp;</label>$<input type="text" readonly="true" name="totalRevenue">{unknown}/></li>
                </ul>
            </fieldset>
            <!--fieldset>
                <legend>Bandwidth &amp; Storage</legend>
                <ul>
                    <li><label for="availableBandwidth">Available Bandwidth:&nbsp;</label><span id="availableBandwidth">{unknown}</span></li>
                    <li><label for="dailyBandwidth">Average Daily Bandwidth:&nbsp;</label><span id="dailyBandwidth">{unknown}</span></li>
                    <li><label for="availableStorage">Available Storage:&nbsp;</label><span id="availableStorage">{unknown}</span></li>
                    <li><label for="dailyStorage">Storage Used:&nbsp;</label><span id="dailyStorage">{unknown}</span></li>

                </ul>
            </fieldset-->
        </form>
    </div>