<div class="blockTop">
    <h2>Account Settings</h2>
</div>
	
	<div style="display: none;" class="collectorContent">
	
	
	
	<div class="accountSettingsTitleText">You currently have a ZebraZapps Collector Account.</div>
	<div class="accountSettings">
		<a class="accountTypeIcon collector current" id="collectorContentIcon"></a><a class="accountTypeIcon creator notCurrent" id="creatorContentIcon"></a><a class="accountTypeIcon professional notCurrent" id="professionalContentIcon"></a>
	</div>
	<div class="upgradeButtonContainer">
		<div>
			<a id="changeToCreator" class="button"><span>Upgrade to Creator</span></a> <a id="changeToPro" class="button"><span>Upgrade to Professional</span></a>
		</div>
		<div class="clearer"></div>
	</div>
	<br />
	<div class="accountSettingsTop dividerBlack"></div>
	<div class="selectedCollector accountSettingsContent">
		<span class="heading">Collector Account: Overview of Features</span><br />
		<span class="blue italic bold">Browse Shopps and create a personal library of instructional and entertainment apps.</span><br />
		<br />
		<span class="accountSettingsContent blue bold">Basic Monthly Fee</span> &nbsp;<span class="accountSettingsContent bold">Free</span>
		<div class="clearer"></div>
		<br />
	</div>
	
	<!-- 
	
	CREATOR PREVIEW
	
	 -->
	
	<div style="display: none;" class="selectedCreator accountSettingsContent">
		<span class="heading">Creator Account: Overview of Features</span><br />
		<span class="blue italic bold">Enjoy All Collector features plus these new capabilities:</span><br />
		<br />
		<span class="bold">Extraordinary Visual Authoring</span><br />
		<span class="bold">Built-in Social Media Sharing</span><br />
		<br />
		<span>A Creator account is our entry level subscription for creating interactive applications, gadgets, templates and so much more. For just $8.95 per month, begin your journey as a multimedia author with ZebraZapps.</span><br />
		<br />
		<ul class="indent">
	      	<li>Visual authoring with the revolutionary ZebraZapps editor</li>
	      	<li>Access to reusable objects and templates in the Gadget Shopp</li>
	      	<li>Publishing to the web, Facebook, blog posts, Twitter and the App Shopp and Gadget Shopp</li>	
	  	</ul>
	    <br />  
		<span class="accountSettingsContent blue bold">Basic Monthly Fee</span> &nbsp;<span class="accountSettingsContent bold">$8.95</span>
		<div class="clearer"></div>
		<br />
	</div>
	
	<!-- 
	
	PRO PREVIEW
	
	 -->
	
	<div style="display: none;"  class="selectedProfessional accountSettingsContent">
			
		<div id="proMarketingContent">
			<span class="heading">Professional Account: Overview of Features</span><br />
			<span class="blue italic bold">Enjoy All Creator features plus these additional capabilities:</span><br />
			<br />
			<span>A Professional account unleashes unparalleled capabilities for application and course development. For only $39.95 per month, a Professional account includes all the features of a Creator account and adds cutting edge tools like Event Flow, privacy controls and LMS publishing.</span><br />
			<br />
			<ul class="indent">
		      	<li>LMS Publishing for SCORM and AICC</li>
		      	<li>Learning Data Storage for smart bookmarking within rich simulations and applications</li>
		      	<li>Event Flow logic for advanced interactivity organization, master pages and smart loading</li>
		      	<li>Expanded sharing controls for privacy and distribution of apps, projects and gadgets</li>
		      	<li>Access to the professional app player including customized play features, embedding options, watermarks, and more</li>	
		  	</ul>
		    <br />
			<span class="accountSettingsContent blue bold">Basic Monthly Fee</span> &nbsp;<span class="accountSettingsContent bold">$39.95 per month</span>
		</div>
		<div class="dividerBlack"></div>
		<div id="LMSDataStorage">
			<span class="heading">LMS - Learner Data Storage</span><br />
			<span class="blue italic bold">ZebraZapps makes it easy to deploy applications on your existing LMS. But that's not all...</span><br />
			<br />
			<span>A Professional account unleashes unparalleled capabilities for application and course development. For only $39.95 per month, a Professional account includes all the features of a Creator account and adds cutting edge tools like Event Flow, privacy controls and LMS publishing.</span><br />
			<br />	
			<table cellspacing="15">
				<tr style="vertical-align: top;">
					<td width="40%">
						<div>
							When you are ready to start delivering to new learners, add learner data accounts to your ZebraZapps subscription. Need more than 1000 data storage accounts? <a href="mailto:sales@zebrazapps.com">Contact us!</a>
						</div>
					</td>
					<td width="40%">
						<div style="padding-left:30px;" class="blue">
							<table>
								<tr>
									<td style="width: 30px; text-align: right; padding-right:25px;">25</td>
									<td>FREE</td>
								</tr><tr>
									<td style="text-align: right; padding-right:25px;">100</td>
									<td>$50 per month</td>
								</tr><tr>
									<td style="text-align: right; padding-right:25px;">500</td>
									<td>$100 per month</td>
								</tr><tr>
									<td style="text-align: right; padding-right:25px;">1,000</td>
									<td>$200 per month</td>
								</tr><tr>
									<td style="text-align: right; padding-right:25px;">1,000+</td>
									<td><a href="mailto:sales@zebrazapps.com">Please email us</a></td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
			
		</div>
		<div class="dividerBlack"></div>
		<div id="enterpriseMarketingContent">
			<span class="heading gray">Coming Soon: Enterprise Account</span><br />
			<span class="blue italic bold">Enjoy All Professional features plus additional capabilities that include:</span><br />
			<br />
			<ul class="indent">
		      	<li>Live Collaboration</li>
		      	<li>Desktop Editor</li>
		      	<li>Custom Created Loaders</li>
		      	<li>Private Shopps</li>
		      	<li>Extended Enterprise Support</li>	
		  	</ul>
		    <br />
			<a href="mailto:sales@zebrazapps.com?subject=I have a few questions about Enterprise accounts">Contact us for more information!</a>
		</div>
		
	</div>
</div>

<!-- 
	
	IS CREATOR 
	
 -->

<div style="display: none;" class="creatorContent">
	<div class="accountSettingsTitleText">You currently have a ZebraZapps Creator Account.</div>
	<div class="accountSettings">
		<a class="accountTypeIcon collector notCurrent creatorSelected" id="collectorContentIcon"></a><a class="accountTypeIcon creator current sectionSelected" id="creatorContentIcon"></a><a class="accountTypeIcon professional notCurrent" id="professionalContentIcon"></a>
	</div>
	<div class="upgradeButtonContainer">
		<div>
			<a id="changeToPro" class="button"><span>Upgrade to Professional</span></a>
		</div>
	</div>
	<div class="clearer"></div>
	<div class="accountSettingsTop dividerBlack"></div>
	<div style="display: none;" class="selectedCollector accountSettingsContent">
		<span class="heading">Collector Account: Overview of Features</span><br />
		<span class="blue italic bold">Browse Shopps and create a personal library of instructional and entertainment apps.</span><br />
		<br />
		<span class="accountSettingsContent blue bold">Basic Monthly Fee</span> &nbsp;<span class="accountSettingsContent bold">Free</span>
		<br />
		<div class="downgradeButtonContainer">
			<div>
				<a id="changeToCollector" class="button"><span>Downgrade to Collector</span></a>
			</div>
		</div>
	</div>
	<div class="selectedCreator accountSettingsContent">
		<span class="heading">Creator Account: Overview of Features</span><br />
		<span class="blue italic bold">Enjoy All Collector features plus these new capabilities:</span><br />
		<br />
		<span class="bold">Extraordinary Visual Authoring</span><br />
		<span class="bold">Built-in Social Media Sharing</span><br />
		<br />
		<span>A Creator account is our entry level subscription for creating interactive applications, gadgets, templates and so much more. For just $8.95 per month, begin your journey as a multimedia author with ZebraZapps.</span><br />
		<br />
		<ul class="indent">
	      	<li>Visual authoring with the revolutionary ZebraZapps editor</li> 
	      	<li>Access to reusable objects and templates in the Gadget Shopp</li>
	      	<li>Publishing to the web, Facebook, blog posts, Twitter and the App Shopp and Gadget Shopp</li>	
	  	</ul>
	    <br />
		<span class="accountSettingsContent blue bold">Basic Monthly Fee</span> &nbsp;<span class="accountSettingsContent bold">$8.95</span>
	</div>
	<div style="display: none;"  class="selectedProfessional accountSettingsContent">
		<div id="proMarketingContent">
			<span class="heading">Professional Account: Overview of Features</span><br />
			<span class="blue italic bold">Enjoy All Creator features plus these additional capabilities:</span><br />
			<br />
			<span>A Professional account unleashes unparalleled capabilities for application and course development. For only $39.95 per month, a Professional account includes all the features of a Creator account and adds cutting edge tools like Event Flow, privacy controls and LMS publishing.</span><br />
			<br />
			<ul class="indent">
		      	<li>LMS Publishing for SCORM and AICC</li>
		      	<li>Learning Data Storage for smart bookmarking within rich simulations and applications</li>
		      	<li>Event Flow logic for advanced interactivity organization, master pages and smart loading</li>
		      	<li>Expanded sharing controls for privacy and distribution of apps, projects and gadgets</li>
		      	<li>Access to the professional app player including customized play features, embedding options, watermarks and more</li>	
		  	</ul>
		    <br />
			<span class="accountSettingsContent blue bold">Basic Monthly Fee</span> &nbsp;<span class="accountSettingsContent bold">$39.95 per month</span>
		</div>
		<div class="dividerBlack"></div>
		<div id="LMSDataStorage">
			<span class="heading">LMS - Learner Data Storage</span><br />
			<span class="blue italic bold">ZebraZapps makes it easy to deploy applications on your existing LMS. But that's not all...</span><br />
			<br />
			<span>A Professional account unleashes unparalleled capabilities for application and course development. For only $39.95 per month, a Professional account includes all the features of a Creator account and adds cutting edge tools like Event Flow, privacy controls and LMS publishing.</span><br />
			<br />	
			<table cellspacing="15">
				<tr style="vertical-align: top;">
					<td width="40%">
						<div>
							When you are ready to start delivering to new learners, add learner data accounts to your ZebraZapps subscription. Need more than 1000 data storage accounts? <a href="mailto:sales@zebrazapps.com">Contact us!</a>
						</div>
					</td>
					<td width="40%">
						<div style="padding-left:30px;" class="blue">
							<table>
								<tr>
									<td style="width: 30px; text-align: right; padding-right:25px;">25</td>
									<td>FREE</td>
								</tr><tr>
									<td style="text-align: right; padding-right:25px;">100</td>
									<td>$50 per month</td>
								</tr><tr>
									<td style="text-align: right; padding-right:25px;">500</td>
									<td>$100 per month</td>
								</tr><tr>
									<td style="text-align: right; padding-right:25px;">1,000</td>
									<td>$200 per month</td>
								</tr><tr>
									<td style="text-align: right; padding-right:25px;">1,000+</td>
									<td><a href="mailto:sales@zebrazapps.com">Please email us</a>.</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="dividerBlack"></div>
		<div id="enterpriseMarketingContent">
			<span class="heading gray">Coming Soon: Enterprise Account</span><br />
			<span class="blue italic bold">Enjoy All Professional features plus additional capabilities that include:</span><br />
			<br />
			<ul class="indent">
		      	<li>Live Collaboration</li>
		      	<li>Desktop Editor</li>
		      	<li>Custom Created Loaders</li>
		      	<li>Private Shopps</li>
		      	<li>Extended Enterprise Support</li>	
		  	</ul>
		    <br />
			<a href="mailto:sales@zebrazapps.com?subject=I have a few questions about Enterprise accounts">Contact us for more information!</a>
		</div>
	</div>
</div>

<!-- 
	
	IS PROFESSIONAL 
	
 -->

<div style="display: none;" class="professionalContent">
	<span class="accountSettingsTitleText">You currently have a ZebraZapps Professional Account.</span>
	<div class="accountSettings">
		<a class="accountTypeIcon collector notCurrent creatorSelected" id="collectorContentIcon"></a><a class="accountTypeIcon creator notCurrent proSelected" id="creatorContentIcon"></a><a class="accountTypeIcon professional current sectionSelected" id="professionalContentIcon"></a>
	</div>
			
	<div class="accountSettingsTop dividerBlack"></div>
	<div style="display: none;" class="selectedCollector accountSettingsContent">
		<span class="heading">Collector Account: Overview of Features</span><br />
		<span class="blue italic bold">Browse Shopps and create a personal library of instructional and entertainment apps.</span><br />
		<br />
		<span class="accountSettingsContent blue bold">Basic Monthly Fee</span> &nbsp;<span class="accountSettingsContent bold">Free</span>
		<br />
		<div class="downgradeButtonContainer">
			<div>
				<a id="changeToCollector" class="button"><span>Downgrade to Collector</span></a>
			</div>
		</div>
	</div>
	<div style="display: none;" class="selectedCreator accountSettingsContent">
		<span class="heading">Creator Account: Overview of Features</span><br />
		<span class="blue italic bold">Enjoy All Collector features plus these new capabilities:</span><br />
		<br />
		<span class="bold">Extraordinary Visual Authoring</span><br />
		<span class="bold">Built-in Social Media Sharing</span><br />
		<br />
		<span>A Creator account is our entry level subscription for creating interactive applications, gadgets, templates and so much more. For just $8.95 per month, begin your journey as a multimedia author with ZebraZapps.</span><br />
		<br />
		<ul class="indent">
	      	<li>Visual authoring with the revolutionary ZebraZapps editor</li>
	      	<li>Access to reusable objects and templates in the Gadget Shopp</li>
	      	<li>Publishing to the web, Facebook, blog posts, Twitter and the App Shopp and Gadget Shopp</li>	
	  	</ul>
	    <br />  
		<span class="accountSettingsContent blue bold">Basic Monthly Fee</span> &nbsp;<span class="accountSettingsContent bold">$8.95</span>
		<br />
		<div class="downgradeButtonContainer">
			<div>
				<a id="changeToCreator" class="button"><span>Downgrade to Creator</span></a>
			</div>
		</div>
	</div>
	<div class="selectedProfessional accountSettingsContent">
		<div id="LMSDataStorage">
			<span class="heading">LMS - Learner Data Storage</span><br />
			<span class="blue italic bold">ZebraZapps makes it easy to deploy applications on your existing LMS. But that's not all...</span><br />
			<br />
			<span>A Professional account unleashes unparalleled capabilities for application and course development. For only $39.95 per month, a Professional account includes all the features of a Creator account and adds cutting edge tools like Event Flow, privacy controls and LMS publishing.</span><br />
			<br />	
			<table cellspacing="15">
				<tr style="vertical-align: top;">
					<td width="40%">
						<div>
							When you are ready to start delivering to new learners, add learner data accounts to your ZebraZapps subscription. Need more than 1000 data storage accounts? <a href="mailto:sales@zebrazapps.com">Contact us!</a>
						</div>
					</td>
					<td width="40%">
						<div style="padding-left:30px;" class="blue">
							<table>
								<tr>
									<td style="width: 25px; height: 20px;"><input type="radio" value="25" name="learnerGroup" checked=true/></td>
									<td style="width: 30px; text-align: right; padding-right:25px;">25</td>
									<td>FREE</td>
								</tr><tr>
									<td style="height: 20px;"><input type="radio" value="100" name="learnerGroup" /></td>
									<td style="text-align: right; padding-right:25px;">100</td>
									<td>$50 per month</td>
								</tr><tr>
									<td style="height: 20px;"><input type="radio" value="500" name="learnerGroup" /></td>
									<td style="text-align: right; padding-right:25px;">500</td>
									<td>$100 per month</td>
								</tr><tr>
									<td style="height: 20px;"><input type="radio" value="1000" name="learnerGroup" /></td>
									<td style="text-align: right; padding-right:25px;">1,000</td>
									<td>$200 per month</td>
								</tr><tr>
									<td style="height: 20px;">&nbsp;</td>
									<td style="text-align: right; padding-right:25px;">1,000+</td>
									<td><a href="mailto:sales@zebrazapps.com">Please email us</a>.</td>
								</tr>
							</table>
							<div class="roundCornerMask roundCorners">
							 <div id="setNumberLearners" class="roundCorners plans-button gray">Add Learners to My Account</div>
						    </div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="dividerBlack"></div>
		<div id="proMarketingContent">
			<span class="heading">Professional Account: Overview of Features</span><br />
			<span class="blue italic bold">Enjoy All Creator features plus these additional capabilities:</span><br />
			<br />
			<span>A Professional account unleashes unparalleled capabilities for application and course development. For only $39.95 per month, a Professional account includes all the features of a Creator account and adds cutting edge tools like Event Flow, privacy controls and LMS publishing.</span><br />
			<br />
			<ul class="indent">
		      	<li>LMS Publishing for SCORM and AICC</li>
		      	<li>Learning Data Storage for smart bookmarking within rich simulations and applications</li>
		      	<li>Event Flow logic for advanced interactivity organization, master pages and smart loading</li>
		      	<li>Expanded sharing controls for privacy and distribution of apps, projects and gadgets</li>
		      	<li>Access to the professional app player including customized play features, embedding options, watermarks and more</li>	
		  	</ul>
		    <br />
			<span class="accountSettingsContent blue bold">Basic Monthly Fee</span> &nbsp;
			<span class="accountSettingsContent bold">$39.95 per month</span>
			<span class="accountSettingsContent alignRight">
			     <span class="accountSettingsContent blue bold">Total Monthly Fee</span> &nbsp;
			     <span class="accountSettingsContent bold">$<span id="totalMonthlyFee">39.95</span> per month</span>
			</span>
		</div>
		<div class="dividerBlack"></div>
		<div id="enterpriseMarketingContent">
			<span class="heading gray">Coming Soon: Enterprise Account</span><br />
			<span class="blue italic bold">Enjoy All Professional features plus additional capabilities that include:</span><br />
			<br />
			<ul class="indent">
		      	<li>Live Collaboration</li>
		      	<li>Desktop Editor</li>
		      	<li>Custom Created Loaders</li>
		      	<li>Private Shopps</li>
		      	<li>Extended Enterprise Support</li>	
		  	</ul>
		    <br />
			<a href="mailto:sales@zebrazapps.com?subject=I have a few questions about Enterprise accounts">Contact us for more information!</a>
		</div>
	</div>
</div>