<div class="blockTop">
    <h2>Billing Information</h2>
</div>
<div class="form">
    <form method="get" action="" id="accountForm" name="accountForm">
        <h2>Billing Address</h2>
        <table id="billingAddress" cellspacing="0" class="indent">
            <tbody>
                <!-- <tr>
                    <td class="label" colspan="2"><input type="checkbox" name="billingAddressSameAsCompany">
                        Same as Company Profile</td>
                </tr>
                <tr>
                    <td width="130" class="label">Name/Company</td>
                    <td>
                        <input type="text" class="textfield wide _sameAsCompany required" name="company">
                    </td>
                </tr> -->
                <tr>
                    <td class="label">Country</td>
                    <td>
                        <select class="menu wide _sameAsCompany required" name="country">
                            <option value="us" selected="selected">United States</option>
                        </select></td>
                </tr>
                <tr>
                    <td class="label">Address</td>
                    <td>
                        <input type="text" class="textfield wide _sameAsCompany required" name="address1">
                    </td>
                </tr>
                <tr>
                    <td class="label">Address</td>
                    <td>
                        <input type="text" class="textfield wide _sameAsCompany" name="address2">
                    </td>
                </tr>
                <tr>
                    <td class="label">City</td>
                    <td>
                        <input type="text" class="textfield wide _sameAsCompany required" name="city">
                    </td>
                </tr>
                <tr>
                    <td class="label">State</td>
                    <td>
                        <select class="menu wide _sameAsCompany required" name="stateProvince">
                            <option value ="" selected ="selected">
                                Select State...
                            </option>
                            <option value="al">
                                Alabama
                            </option>
                            <option value="ak">
                                Alaska
                            </option>
                            <option value="as">
                                American Samoa
                            </option>
                            <option value="az">
                                Arizona
                            </option>
                            <option value="ar">
                                Arkansas
                            </option>
                            <option value="aa">
                                Armed Forces Americas
                            </option>
                            <option value="ae">
                                Armed Forces Europe
                            </option>
                            <option value="ap">
                                Armed Forces Pacific
                            </option>
                            <option value="ca">
                                California
                            </option>
                            <option value="co">
                                Colorado
                            </option>
                            <option value="ct">
                                Connecticut
                            </option>
                            <option value="de">
                                Delaware
                            </option>
                            <option value="dc">
                                District of Columbia
                            </option>
                            <option value="fl">
                                Florida
                            </option>
                            <option value="ga">
                                Georgia
                            </option>
                            <option value="gu">
                                Guam
                            </option>
                            <option value="hi">
                                Hawaii
                            </option>
                            <option value="id">
                                Idaho
                            </option>
                            <option value="il">
                                Illinois
                            </option>
                            <option value="in">
                                Indiana
                            </option>
                            <option value="ia">
                                Iowa
                            </option>
                            <option value="ks">
                                Kansas
                            </option>
                            <option value="ky">
                                Kentucky
                            </option>
                            <option value="la">
                                Louisiana
                            </option>
                            <option value="me">
                                Maine
                            </option>
                            <option value="mh">
                                Marshall Islands
                            </option>
                            <option value="md">
                                Maryland
                            </option>
                            <option value="ma">
                                Massachusetts
                            </option>
                            <option value="mi">
                                Michigan
                            </option>
                            <option value="mn">
                                Minnesota
                            </option>
                            <option value="ms">
                                Mississippi
                            </option>
                            <option value="mo">
                                Missouri
                            </option>
                            <option value="mt">
                                Montana
                            </option>
                            <option value="ne">
                                Nebraska
                            </option>
                            <option value="nv">
                                Nevada
                            </option>
                            <option value="nh">
                                New Hampshire
                            </option>
                            <option value="nj">
                                New Jersey
                            </option>
                            <option value="nm">
                                New Mexico
                            </option>
                            <option value="ny">
                                New York
                            </option>
                            <option value="nc">
                                North Carolina
                            </option>
                            <option value="nd">
                                North Dakota
                            </option>
                            <option value="mp">
                                Northern Marianas
                            </option>
                            <option value="oh">
                                Ohio
                            </option>
                            <option value="ok">
                                Oklahoma
                            </option>
                            <option value="or">
                                Oregon
                            </option>
                            <option value="pw">
                                Palau
                            </option>
                            <option value="pa">
                                Pennsylvania
                            </option>
                            <option value="pr">
                                Puerto Rico
                            </option>
                            <option value="ri">
                                Rhode Island
                            </option>
                            <option value="sc">
                                South Carolina
                            </option>
                            <option value="sd">
                                South Dakota
                            </option>
                            <option value="tn">
                                Tennessee
                            </option>
                            <option value="tx">
                                Texas
                            </option>
                            <option value="ut">
                                Utah
                            </option>
                            <option value="vt">
                                Vermont
                            </option>
                            <option value="vi">
                                Virgin Islands
                            </option>
                            <option value="va">
                                Virginia
                            </option>
                            <option value="wa">
                                Washington
                            </option>
                            <option value="wv">
                                West Virginia
                            </option>
                            <option value="wi">
                                Wisconsin
                            </option>
                            <option value="wy">
                                Wyoming
                            </option>
                        </select></td>
                </tr>
                <tr>
                    <td class="label">Zipcode</td>
                    <td>
                        <input type="text" class="textfield wide _sameAsCompany required billingZipPostalCode" name="zipPostalCode">
                    </td>
                </tr>
            </tbody></table>
        <div class="divider marginTop"></div>
        <h2>Billing Contact</h2>
        <table id="billingContact" cellspacing="0" class="indent">
            <tbody><tr>
                    <td class="label" colspan="2"><input type="checkbox" name="billingContactSameAsPersonal">
                        Same as My Profile</td>
                </tr>
                <tr>
                    <td width="130" class="label">First Name</td>
                    <td><input type="text" class="textfield wide _sameAsPersonal" name="firstName"></td>
                </tr>
                <tr>
                    <td width="130" class="label">Last Name</td>
                    <td><input type="text" class="textfield wide _sameAsPersonal" name="lastName"></td>
                </tr>
                <tr>
                    <td class="label">Phone Number</td>
                    <td><input type="text" class="textfield wide _sameAsPersonal" name="phone"></td>
                </tr>
                <tr>
                    <td class="label">Email</td>
                    <td><input type="text" class="textfield wide _sameAsPersonal" name="email"></td>
                </tr>
                <tr>
                    <td class="label">
                        <ul></ul>
                    </td>
                    <td class="label"><!--  <ul>
                            <li>I prefer to be contacted by:
                                <input type="radio" value="phone" name="contactPrefs">
                                &nbsp;Phone
                                <input type="radio" value="email" name="contactPrefs">
                                &nbsp;Email</li>
                        </ul>--></td>
                </tr>
            </tbody></table>
        <div class="buttonsAction"> <a id="saveValues" href="#save" class="button" name="saveValues"><span>Save Billing Information</span></a>
            <div class="clearer"></div>
        </div>
    </form>
</div>
