<div class="blockTop">
    <div class="floatRight">
        <table border="0" cellpadding="0" cellspacing="0" class="buttonMed">
            <tbody>
                <tr>
                    <td class="left">
                        &nbsp;
                    </td>
                    <td class="text">
                        <a href="#">Import Members</a>
                    </td>
                    <td class="right">
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2>
        Account Members (36)
    </h2>
</div>
<div class="form">
    <div class="filter">
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td nowrap="nowrap" class="label">
                        <strong>Filter by:</strong>
                    </td>
                    <td nowrap="nowrap">
                        Name or Email:
                    </td>
                    <td nowrap="nowrap">
                        <input name="textfield" type="text" class="textfield" id="textfield" style="width:300px">
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap">
                        &nbsp;
                    </td>
                    <td valign="top" nowrap="nowrap">
                        Rights &amp; Roles:
                    </td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <input name="print" type="checkbox" id="print" checked="checked"> All <label for="radio"><br></label>
                                    </td>
                                    <td>
                                        <input name="tv" type="checkbox" id="tv" checked="checked"> <label for="tv">Viewers</label>
                                    </td>
                                    <td>
                                        <input name="radio3" type="checkbox" id="radio" checked="checked"> <label for="radio">Authors</label>
                                    </td>
                                    <td>
                                        <input name="tv2" type="checkbox" id="tv2" checked="checked"> Experts
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <input name="print2" type="checkbox" id="print2" checked="checked"> Developers
                                    </td>
                                    <td>
                                        <input name="radio" type="checkbox" id="radio2" checked="checked"> Managers
                                    </td>
                                    <td>
                                        <input name="radio2" type="checkbox" id="radio3" checked="checked"> Admin
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="instructions">
        Members can be added indivually or imported with an Excell Spreadsheet. Click column headers to sort members. When a member is added to the account, they will receive a welcome email with instructions on how to access Zebra and information about their role on projects. Your currnent account includes up to 50 members, <a href="plans-and-pricing-multiuser.html">upgrade</a> to add more.
    </div>
    <div class="paging">
        1-20 of 36 | <a href="#">Next</a>
    </div>
    <h4>
        Members
    </h4>
    <div class="list">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th class="selected">
                        <img src="./com/alleni/images/icon_sort_down.png" width="9" height="9"> <a href="#">Member Name</a>
                    </th>
                    <th align="center">
                        <a href="#">Username</a>
                    </th>
                    <th>
                        <a href="#">Email</a>
                    </th>
                    <th>
                        <a href="#">Role</a>
                    </th>
                    <th width="50" align="center">
                        <div align="center">
                            <a href="#">Admin</a>
                        </div>
                    </th>
                    <th width="75" align="right">
                        &nbsp;
                    </th>
                </tr>
                <tr>
                    <td nowrap="nowrap">
                        <input type="text" name="textfield4" value="First" onfocus="if(this.value=='First')this.value='';" style="width:60px"> <input type="text" name="textfield5" value="Last" onfocus="if(this.value=='Last')this.value='';" style="width:70px">
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <input name="textfield6" type="text" id="textfield4" style="width:140px">
                    </td>
                    <td>
                        <select name="select" id="select" style="width:75px">
                            <option selected="selected">
                                Viewer
                            </option>
                            <option>
                                Author
                            </option>
                            <option>
                                Developer
                            </option>
                            <option>
                                Expert
                            </option>
                            <option>
                                Manager
                            </option>
                        </select>
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox" id="checkbox">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Add</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr class="row2">
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td class="row2">
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Author
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox2" id="checkbox2">
                    </td>
                    <td nowrap="nowrap">
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Viewer
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox3" id="checkbox3">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr class="row2">
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Developer
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox4" id="checkbox4">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Manager
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox5" id="checkbox5">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr class="row2">
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Expert
                    </td>
                    <td align="center">
                        <input name="checkbox6" type="checkbox" id="checkbox6" checked="checked">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap">
                        <input type="text" name="textfield4" value="Member" style="width:60px"> <input type="text" name="textfield5" value="Name" style="width:70px">
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <input name="textfield2" type="text" id="textfield2" style="width:140px" value="name@emailaddress.com">
                    </td>
                    <td>
                        <select name="select" id="select" style="width:75px">
                            <option selected="selected">
                                Viewer
                            </option>
                            <option>
                                Author
                            </option>
                            <option>
                                Developer
                            </option>
                            <option>
                                Expert
                            </option>
                            <option>
                                Manager
                            </option>
                        </select>
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox" id="checkbox">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Save</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr class="row2">
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Author
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox8" id="checkbox8">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Developer
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox9" id="checkbox9">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr class="row2">
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Viewer
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox10" id="checkbox10">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Viewer
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox11" id="checkbox11">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr class="row2">
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Viewer
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox12" id="checkbox12">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Developer
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox13" id="checkbox13">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr class="row2">
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Author
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox14" id="checkbox14">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Developer
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox15" id="checkbox15">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr class="row2">
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Viewer
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox16" id="checkbox16">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Viewer
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox17" id="checkbox17">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr class="row2">
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Viewer
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox18" id="checkbox18">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Developer
                    </td>
                    <td align="center">
                        <input type="checkbox" name="checkbox19" id="checkbox19">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
                <tr class="row2">
                    <td>
                        <a href="#">Member Name</a>
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        <a href="#">name@emailaddress.com</a>
                    </td>
                    <td>
                        Manager
                    </td>
                    <td align="center">
                        <input name="checkbox20" type="checkbox" id="checkbox20" checked="checked">
                    </td>
                    <td>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">Edit</a>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonSmall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#">X</a>
                            </div>
                            <div class="right"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
