
<div class="blockTop">
    <h2>Email / Password</h2>
</div>
<div class="form">
    <form id="accountForm">
        <h2>Your current email address is: <span id="email"></span>         </h2>
        <p>This email is used to contact you in relationship to your account. It can be the same or different than the optional email that is used in your personal or company profile. We do not rent, sell or share information. <a href="#/legal?terms-of-service">Terms of Service.</a></p>
        <div class="divider"></div>
        <table cellspacing="0" class="indent">
            <tbody>
                <tr>
                    <td width="160" class="label">New Email Address</td>
                    <td>
                        <input type="text" class="textfield wide email" id="newEmail" name="newEmail">
                    </td>
                </tr>
                <tr>
                    <td class="label">Retype Email Address</td>
                    <td><input type="text" class="textfield wide" equalTo="#newEmail" name="confirmNewEmail"></td>
                </tr>
                <tr>
                    <td colspan="2"><div style="margin-top: 2px;" class="buttonsAction"> 
                            <a id="changeEmail" href="#changeEmail" class="button"><span>Change Email</span></a>
                            <div class="clearer"></div>
                        </div></td>
                </tr>
            </tbody>
        </table>
    </form>
    <form id="accountForm2">
        <div class="divider marginTop"></div>
        <table cellspacing="0" class="indent">
            <tbody><tr>
                    <td width="160" class="label">Current Password</td>
                    <td><input type="password" class="textfield wide" name="curPassword"></td>
                </tr>
                <tr>
                    <td class="label">New Password</td>
                    <td><input type="password" class="textfield wide" id="newPassword" name="newPassword"></td>
                </tr>
                <tr>
                    <td class="label">Confirm New Password</td>
                    <td><input type="password" class="textfield wide" name="confirmNewPassword"></td>
                </tr>
                <tr>
                    <td colspan="2"><div style="margin-top: 2px;" class="buttonsAction">
                            <a id="changePassword" href="#changePassword" class="button"><span>Change Password</span></a>
                            <div class="clearer"></div>
                        </div></td>
                </tr>
            </tbody></table>
    </form>
</div>




<!--
<div class="account">
    <h2>Username / Email / Password</h2>
    <form id="accountForm">
        <h3>Your current email address is: <span id="email"></span></h3>
        <p>This email is used to contact you in relationship to your account. It can be the same or different than the optional email that is used in your personal or company profile. We do not rent, sell or share emails. <a href="#">Terms &amp; Conditions</a>.<p>
        <fieldset>
            <ul>
                <li><label for="displayName">Username:</label><input type="text" name="displayName" readonly="true"/></li>
                <li><label for="newEmail">New Email Address</label><input id="newEmail" type="text" name="newEmail"/></li>
                <li><label for="confirmNewEmail">Retype Email Address</label><input type="text" name="confirmNewEmail"/></li>
            </ul>
            &nbsp;<a id="changeEmail" href="#changeEmail" class="button"><span>Change Email</span></a>
        </fieldset>
    </form>
    <form id="accountForm2">
        <fieldset>
            <ul>
                <li><label for="curPassword">Current Password</label><input type="text" name="curPassword"/></li>
                <li><label for="newPassword">New Password</label><input id="newPassword" type="text" name="newPassword"/></li>
                <li><label for="confirmNewPassword">Confirm New Password</label><input type="text" name="confirmNewPassword"/></li>

            </ul>
            &nbsp;<a id="changePassword" href="#changePassword" class="button"><span>Change Password</span></a>
        </fieldset>
    </form>
</div>
-->