
<div class="blockTop">
    <h2>Seller Information</h2>
</div>
<div class="form">
    <form id="accountForm" name="accountForm">
        <p>If you're a Zebra developer who is interested in selling Apps and Gadgets, you must associate a Paypal account to your ZebraZapps membership for the depositing of funds. This income also needs to be reported as part of your taxes. Payments cannot be made until the correct tax form below is submitted to Allen Learning Technologies, LLC.</p>
        <h2>Paypal Account for Deposits</h2>
        <div class="indent">
            <p>Don't have a Paypal account? <a target="_blank" href="https://www.paypal.com">Create one</a> for free!</p>
            <p><span class="label">Paypal Login
                    <input type="text" id="textfield" class="textfield wide" name="paypalLogin">
                </span></p>
            <div style="margin-top: 2px;" class="buttonsAction"> <a href="#save" id="saveValues" class="button"><span>Save Login</span></a>
                <div class="clearer"></div>
            </div>
        </div>
    </form>
</div>
<div class="divider marginTop"></div>

<h2>Tax Forms</h2>
<ul>
    <li><strong>Individual: US Citizen or Resident Alien</strong><br>
        <a target="_blank" href="http://www.irs.gov/pub/irs-pdf/fw9.pdf">W-9</a> (pdf)</li>

    <li><strong>Individual: NOT a US Citizen or Resident Alien</strong><br>
        <a target="_blank" href="http://www.irs.gov/pub/irs-pdf/fw8ben.pdf">W-8BEN</a>, <a href="http://www.irs.gov/pub/irs-pdf/fw7.pdf">W-7</a> (pdf)</li>

    <li><strong>Company: LLC, Partnership or Corporation under US Law</strong><br>
        <a target="_blank" href="http://www.irs.gov/pub/irs-pdf/fw9.pdf">W-9</a> (pdf)</li>

    <li><strong>Company: NOT a LLC, Partnership or Corporation under US Law</strong><br>
        <a target="_blank" href="http://www.irs.gov/pub/irs-pdf/fw8ben.pdf">W-8BEN</a>, <a href="http://www.irs.gov/pub/irs-pdf/fw8eci.pdf">W-8ECI</a>, <a href="http://www.irs.gov/pub/irs-pdf/fw8imy.pdf">W-8IMY</a>, <a href="http://www.irs.gov/pub/irs-pdf/fss4.pdf">SS-4</a> (pdf)</li>
</ul>
<h3>Submit Finished W-9 or W-8 Forms To:</h3>
<table>
	<tr>
		<td valign="top">
			<div class="indent">
			    <p><strong>Mail</strong><br>
			    	<strong>Allen Learning Technologies</strong><br>
			        1120 Centre Pointe Drive, Suite 800<br>
			        Mendota Heights, Minnesota 55120<br>
			        United States</p>
			</div>
		</td>
		<td valign="top">
			<div class="indent">
			    <p><strong>Email</strong><br>
			        taxforms@zebrazapps.com</p>
			</div>
		</td>
		<td valign="top">
			<div class="indent">
			    <p><strong>Fax</strong><br>
			        651-203-3799</p>
			</div>
		</td>
	</tr>
</table>
