    <div class="account">
        <h2>Account Hold</h2>
        <form>
            <p>You can take a break from Zebra withjout losing your Projects, Apps or Gadgets.</p>
            <p>However, you will no longer be able to view your Projects, Apps and Gadgets, and published items will no longer be available for sharing or for selling in the Shopp. We will however, save all of your information and you will be able to access these items as soon as your account becomes active again.<p>
            <fieldset>
                <legend>The following account will be placed on hold:</legend>
                <h3>"<span id="accountType"/>" Account</h3>
                <ul>                    
                    <li><label for="accountFee">Price:&nbsp;</label><input type="text" readonly="true" name="accountFee">{unknown}/></li>
                    <li><label for="accountRefreshDate">Refreshes on:&nbsp;</label><input type="text" readonly="true" name="accountRefreshDate">{unknown}/></li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>How long should the account be on hold?</legend>
                <ul>
                    <li><select id="_holdDuration">
                            <option value="1">1 Month</option>
                            <option value="2">2 Months</option>
                            <option value="3">3 Months</option>
                        </select></li>
                    <li><label for="accountCancelDate">Hold will begin on:&nbsp;</label><input type="text" readonly="true" name="accountCancelDate">{unknown}/></li>
                    <li>To suspend your account for longer than 3 months, please <a href="#">contact Zebra</a>.</li>
                </ul>
            </fieldset>
            <a id="saveValues" href="#accountHold" class="button"><span>Place Hold</span></a>
        </form>
    </div>


