<div class="accountPayDueContainer">
	<span class="accountPayDueTitle"> Hello </span><span class="accontPayDueName">Firstname</span>,
	
	<p class="accountPayDueText"><br/>According to our records, a payment is now due to continue creating projects in ZebraZapps.  Until we receive your payment, you will continue to have access to ZebraZapps and you will be able to collect free apps and gadgets, but you will not be able to open existing projects, create new projects, or purchase items in the Shopps.</p>
	<p>Please go to your <a id="accountLink" href="/#/account?paymentMethod">Account page</a> and enter or update your payment information.  Thank you.  We are sorry for the inconvenience.</p>
	<p>For billing questions, please contact <a href="mailto:support@zebrazapps.com">support@zebrazapps.com</a>.</p>
	<p>The ZebraZapps Team</p>
	<p></p>
</div>