
<!--  div class="blockTop">
    <h2>Project Transfer</h2>
</div>-->
<div id="startTransfer">
	<table cellspacing='15px'>
		<tr>
			<td width='50%' valign="top" align="left">
				<h5>Send copies of your projects to:</h5>
				<input id="emailToConfirm" value="Enter email of account owner" onfocus="if(this.value=='Enter email of account owner')this.value='';" style="width: 320px; margin-bottom: 5px;"/><br />
				<a id="confirmEmail" href="#confirmEmail" class="startTransferVerifyButton button"><span>Verify Account Owner</span></a>	
			</td>
			<td valign="top">
				<div id='verifiedEmailSuccessDisplay' style="display: none; margin-left: 30px;">
					<span class='transferHeading'>Verified</span>
					<div class="dividerBlack"></div>
					<span class='startTransferLabel'>Account Owner:</span> <span id="confirmedUserDisplayName" class="confirmEmailReturned accountOwnerName"></span><br/>
					<span class='startTransferLabel'>Company:</span> <span id="confirmedUserCompanyName" class="confirmEmailReturned accountCompanyName"></span>	
				</div>
				<div id='verifiedEmailFailureDisplay' style="display: none; margin-left: 30px;">
					<span class='transferHeadingRed'></span>	
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<span class="detailText"> With this tool, you can send a copy of your projects to another account. The account owner can accept or decline each project. If they accept, a copy of each project is put into their Project List.</span>
			</td>
		</tr>
	</table>
	<div class="dividerBlack"></div>
	<div style="display: inline-block;">
		<table>
		<tr>
		<td>
			<h5>Choose projects:</h5>
			<div style="background-color: #FFF; border: medium; border-color: #000;">
				<img src='com/alleni/images/startTransferSearchIcon.png' width="15" height="15" style="margin-left:2px; margin-right: 5px; margin-top:2px; margin-bottom:-3px;"/>
				<input value="Search..." style="font-size:14px; border: none; width: 200px" id="projectTransferSearch"/>
				<img src='com/alleni/images/startTransferClearButton.png' id="clearSearchButton" width="15" height="15" style="margin-right:2px; margin-top:2px; margin-bottom:-2px;"/>
			</div>
			<div id="projectListContainer">
				<select multiple="multiple" id="potentialProjects" class="projectList" style="height: 270px; width: 250px; display: inline-block;"></select>
			</div>
			<div style="background-color: #CCC; color: #000; font-size: 12px; height:20px; margin-top: -4;">
				&nbsp;&nbsp;* Copied to Send List	
			</div>
		</td>
		<td>
			<table>
				<tr>
					<td></td>
					<td>
						<a id="addSelected" class="startTransferListButton button"><span>Add</span></a>
					</td>
					<td><img src='com/alleni/images/arrowhead1-right.png' style="margin-top: 2px; margin-left: -25px;"/></td>
				</tr>
				<tr>
					<td><img src='com/alleni/images/arrowhead1-left.png' style="margin-top: 2px; margin-left: 15px;"/></td>
					<td>
						<a id="removeSelected" class="startTransferListButton button"><span>Remove</span></a>
					</td>
					<td></td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td></td>
					<td>
						<a id="addAll" class="startTransferListButton button"><span>Add All</span></a>
					</td>
					<td><img src='com/alleni/images/arrowhead1-right.png' style="margin-top: 2px; margin-left: -25px;"/></td>
				</tr>
				<tr>
					<td><img src='com/alleni/images/arrowhead1-left.png' style="margin-top: 2px; margin-left: 15px;"/></td>
					<td>
						<a id="removeAll" class="startTransferListButton button"><span>Remove All</span></a>
					</td>
					<td></td>
				</tr>
			</table>
		</td>
		<td>
			<div>
				<h5>Copy To: <span id="confirmedUserDisplayName"></span> *</h5>
				<select multiple="multiple" id="projectsToTransfer" class="projectList" style="height: 290px; width: 247px; display: inline-block;"></select>
			</div>
			<div id="startTransferButtonContainer">
				<a id="startTransferButton" class="startTransfer25Button disabledButton button"><span>Send Copies</span></a>
			</div>
			<div id="feedbackContainer">
			</div>
		</td>
	</tr>
	<tr>
	   <td colspan="3">
	    <div id="projectTransferSuccess" style="display: none;">Please see <a href="#/account?outgoingTransfers">Track</a> page to review status of sent projects.</div>        
        <div style="width: 675px;">
            <div class="dividerBlack"></div>
            <span class='startTransferLabel'>* Project Price</span><br />
            When a copy of a project is sent to another person, the recipient may see a price for the project.
            If a project has a price, it means that the project contains purchased gadgets that have a cost.
            The recipient must also purchase the priced gadgets that it contains. If the recipient already owns
            one or more of those gadgets, that cost of those gadgets is deducted from the total cost of the project. If the project
            includes only original or free gadgets, the project is free.
        </div>
	   </td>
	</tr>
</table>

	</div>
</div>