<div class="blockTop">
    <h2>Payment Method</h2>
</div>
<div class="form">
   
        <p>This
            payment method is used for monthly/annual account payments and for any purchases that are made in the App Shopp or the Gadget Shopp.</p>
        
        <h2 class="currentCC">Current Payment Method</h2>
        <p class="creditCardDeniedError error" style="display:none;">
            Sorry... we could not validate your credit card. Please try again.
        </p>
        <table cellspacing="0" class="indent currentCC">
            <tbody>
                <tr>
                    <td class="label">Name on Card</td>
                    <td><span id="nameOnCreditCard"></span></td>
                </tr>
                <tr>
                    <td class="label">Card Number</td>
                    <td><span id="maskedNumber"></span></td>
                </tr>
                <tr>
                    <td class="label">Expiration Date</td>
                    <td><span id="expirationMonthYear"></span></td>
                </tr>
            </tbody></table>
        
        <div class="divider marginTop currentCC"></div>
         <form method="get" action="" id="accountForm" name="accountForm">
        <h2>Set Payment Method</h2>
        <table cellspacing="0" class="indent">
            <tbody>
                <tr>
                    <td class="label">Name on Card</td>
                    <td>
                        <input type="text" class="textfield wide required" name="nameOnCreditCard">
                    </td>
                </tr>
                <tr>
                    <td class="label">Card Number</td>
                    <td>
                        <input id="creditCardNumber" type="text" class="textfield wide required creditcard" name="creditCardNumber">
                    </td>
                </tr>
                <tr>
                    <td class="label">Expiration Date</td>
                    <td>
                    <select id="expirationMonth" class="menu narrow required" name="expirationMonth" >
                            <option value="01" selected="selected">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <select class="menu narrow required" name="expirationYear">
                           
                                    <option value="2013" selected="selected">
                                        2013
                                    </option>
                                    <option value="2014">
                                        2014
                                    </option>
                                    <option value="2015">
                                        2015
                                    </option>
                                    <option value="2016">
                                        2016
                                    </option>
                                    <option value="2017">
                                        2017
                                    </option>
                                    <option value="2018">
                                        2018
                                    </option>
                                    <option value="2019">
                                        2019
                                    </option>
                                    <option value="2020">
                                        2020
                                    </option>
                                    <option value="2021">
                                        2021
                                    </option>
                                    <option value="2022">
                                        2022
                                    </option>

                        </select></td>
                </tr>
                <tr>
                    <td class="label">Security Code</td>
                    <td>
                        <input id="securityCode" type="text" class="textfield narrow required number" minlength="3" name="securityCode">
                    </td>
                </tr>
            </tbody></table>
        <div class="buttonsAction cc"> <a href="#save" id="updateCreditCard" class="button" name="updateCreditCard"><span>Save Payment Method</span></a>
            <div class="clearer"></div>
        </div>
    </form>
</div>
