<div class="blockTop">
    <div class="floatRight">
        <h2>(Publicly Displayed)</h2>
    </div>
    <h2>Company Profile  </h2>
</div>
<div class="form">
    <form id="accountForm" name="accountForm">
        <p>This is your company profile, all of which is publicly displayed in association with  your published Apps and Gadgets. The contact information is optional and will be displayed allong with your company profile if entered.</p>
        <h2>Company Name</h2>
        <table cellspacing="0" class="indent marginBottom">
            <tbody>
                <tr>
                    <td width="130" class="label">Company</td>
                    <td><input type="text" class="textfield wide" name="company"></td>
                </tr>
            </tbody>
        </table>
        <h2>Company Contact Information</h2>
        <table cellspacing="0" class="indent marginBottom">
            <tbody>
                <tr>
                    <td class="label" for="companySameAsPersonal" colspan="2"><ul>
                            <li>
                                <input type="checkbox" name="companySameAsPersonal" id="companySameAsPersonal">
                                &nbsp;This information is the same as My Profile. </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="label" width="130">Website</td>
                    <td><input type="text" class="textfield wide _sameAsPerson" name="website"></td>
                </tr>
                <tr>
                    <td class="label">Twitter</td>
                    <td><input type="text" class="textfield wide _sameAsPerson" name="twitter"></td>
                </tr>
                <tr>
                    <td class="label">Email</td>
                    <td><input type="text" class="textfield wide _sameAsPerson" name="email"></td>
                </tr>
                <tr>
                    <td class="label">Phone Number</td>
                    <td><input type="text" class="textfield wide _sameAsPerson" name="phone"></td>
                </tr>
              </tbody>
        </table>
        <h2>Company Address</h2>
        <table cellspacing="0" class="indent marginBottom">
            <tbody>
                <tr>
                    <td class="label" width="130">Country</td>
                    <td><select id="select" class="menu wide" name="country">
                            <option value="us" selected="selected">United States</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">Address</td>
                    <td><input type="text" class="textfield wide" name="address1"></td>
                </tr>
                <tr>
                    <td class="label">Address</td>
                    <td><input type="text" class="textfield wide" name="address2"></td>
                </tr>
                <tr>
                    <td class="label">City</td>
                    <td><input type="text" class="textfield wide" name="city"></td>
                </tr>
                <tr>
                    <td class="label">State</td>
                    <td>
                        <select id="select" class="menu wide" name="stateProvince">
                            <option value ="" selected ="true">
                                Select State...
                            </option>
                            <option value="al">
                                Alabama
                            </option>
                            <option value="ak">
                                Alaska
                            </option>
                            <option value="as">
                                American Samoa
                            </option>
                            <option value="az">
                                Arizona
                            </option>
                            <option value="ar">
                                Arkansas
                            </option>
                            <option value="aa">
                                Armed Forces Americas
                            </option>
                            <option value="ae">
                                Armed Forces Europe
                            </option>
                            <option value="ap">
                                Armed Forces Pacific
                            </option>
                            <option value="ca">
                                California
                            </option>
                            <option value="co">
                                Colorado
                            </option>
                            <option value="ct">
                                Connecticut
                            </option>
                            <option value="de">
                                Delaware
                            </option>
                            <option value="dc">
                                District of Columbia
                            </option>
                            <option value="fl">
                                Florida
                            </option>
                            <option value="ga">
                                Georgia
                            </option>
                            <option value="gu">
                                Guam
                            </option>
                            <option value="hi">
                                Hawaii
                            </option>
                            <option value="id">
                                Idaho
                            </option>
                            <option value="il">
                                Illinois
                            </option>
                            <option value="in">
                                Indiana
                            </option>
                            <option value="ia">
                                Iowa
                            </option>
                            <option value="ks">
                                Kansas
                            </option>
                            <option value="ky">
                                Kentucky
                            </option>
                            <option value="la">
                                Louisiana
                            </option>
                            <option value="me">
                                Maine
                            </option>
                            <option value="mh">
                                Marshall Islands
                            </option>
                            <option value="md">
                                Maryland
                            </option>
                            <option value="ma">
                                Massachusetts
                            </option>
                            <option value="mi">
                                Michigan
                            </option>
                            <option value="mn">
                                Minnesota
                            </option>
                            <option value="ms">
                                Mississippi
                            </option>
                            <option value="mo">
                                Missouri
                            </option>
                            <option value="mt">
                                Montana
                            </option>
                            <option value="ne">
                                Nebraska
                            </option>
                            <option value="nv">
                                Nevada
                            </option>
                            <option value="nh">
                                New Hampshire
                            </option>
                            <option value="nj">
                                New Jersey
                            </option>
                            <option value="nm">
                                New Mexico
                            </option>
                            <option value="ny">
                                New York
                            </option>
                            <option value="nc">
                                North Carolina
                            </option>
                            <option value="nd">
                                North Dakota
                            </option>
                            <option value="mp">
                                Northern Marianas
                            </option>
                            <option value="oh">
                                Ohio
                            </option>
                            <option value="ok">
                                Oklahoma
                            </option>
                            <option value="or">
                                Oregon
                            </option>
                            <option value="pw">
                                Palau
                            </option>
                            <option value="pa">
                                Pennsylvania
                            </option>
                            <option value="pr">
                                Puerto Rico
                            </option>
                            <option value="ri">
                                Rhode Island
                            </option>
                            <option value="sc">
                                South Carolina
                            </option>
                            <option value="sd">
                                South Dakota
                            </option>
                            <option value="tn">
                                Tennessee
                            </option>
                            <option value="tx">
                                Texas
                            </option>
                            <option value="ut">
                                Utah
                            </option>
                            <option value="vt">
                                Vermont
                            </option>
                            <option value="vi">
                                Virgin Islands
                            </option>
                            <option value="va">
                                Virginia
                            </option>
                            <option value="wa">
                                Washington
                            </option>
                            <option value="wv">
                                West Virginia
                            </option>
                            <option value="wi">
                                Wisconsin
                            </option>
                            <option value="wy">
                                Wyoming
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">Zipcode</td>
                    <td><input type="text" class="textfield wide" name="zipPostalCode"></td>
                </tr>
                <!-- <tr>
                    <td class="label" for="showCompanyInfoForAll" colspan="2"><ul>
                            <li>
                                <input type="checkbox" name="showCompanyInfoForAll" id="showCompanyInfoForAll">
                                &nbsp;Show this company information for all account members.</li>
                        </ul></td>
                </tr> -->
            </tbody></table>
        <!--
                <div class="imageUpload">
                    <div class="profileLogo"> <img height="23" width="55" src="../images/profile_logo.png"></div>
                    <h3>Company Logo</h3>
                    <p>Select an image from your computer (1MB max)</p>
                    <input type="text" style="float: left;" class="textfield wide" name="textfield2">
                    <a style="margin-left: 10px;" href="#" class="button"><span>Browse</span></a>
                    <div class="instructions"> <a href="#">Remove Picture</a></div>
                </div>
        -->
        <div class="buttonsAction">
<!--            <a href="company-preview.html" class="button"><span>Preview Profile</span></a>  -->
            <a id="saveValues" href="#save" class="button"><span>Save Profile</span></a>
            <div class="clearer"></div>
        </div>
    </form>
</div>