<div id="author">
    <div class="overlayContent author">
        <div class="block">
            <a href="#close" class="close"></a>
            <table cellspacing="0" style="margin-bottom:10px">
                <tbody>
                    <tr>
                        <td width="45">
                            <a href="#tbc"><img src="{author.image}" width="50"></a>
                        </td>
                        <td>
                            <span>{author.name}</span><br>
                            <a href="#company">{company.name}</a>
                            <div class="detailsSmall"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul>
                <li>
                    <span>Published:</span>{author.published.zapps} Apps, {author.published.gadgets} Gadgets
                </li>
                <li>
                    <span>Website:</span><a target="_blank "href="http://{author.website}">{author.website}</a>
                </li>
                <li>
                    <span>Twitter:</span><a target="_blank" href="http://www.twitter.com/!#/{author.twitter}">{author.twitter}</a>
                </li>
                <li>
                    <span>Email:</span><a href="mailto:{author.email}">{author.email}</a>
                </li>
                <li>
                    <span>Phone:</span> {author.phone}
                </li>
            </ul>
            <div class="clearer"></div>
        </div>
    </div>
</div>

<div id="company" style="display:none">
    <div class="overlayContent author">
        <div class="block">
            <a href="#close" class="close"></a>
            <table cellspacing="0" style="margin-bottom:10px">
                <tbody>
                    <tr>
                        <td width="45">
                            <a href="#tbc"><img src="{company.logo}" width="100" height="41"></a>
                        </td>
                        <td>
                            <span class="label">{company.name}</span>
                            <div class="detailsSmall"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul>
                <li>
                    <span><a href="#"></a>Published:</span>{company.published.zapps} Apps, {company.published.gadgets} Gadgets
                </li>
                <li>
                    <span>Address:</span>
                    <div style="float:left">
                        {company.name}<br>
                        {company.address1}<br>
                        {company.city}, {company.state}<br>
                        {company.country}
                    </div>
                </li>
                <li>
                    <span>Website:</span><a target="_blank" href="http://{company.website}">{company.website}</a>
                </li>
                <li>
                    <span>Twitter:</span><a target="_blank" href="http://www.twitter.com/#!/{company.twitter}">{company.twitter}</a>
                </li>
                <li>
                    <span>Email:</span><a href="mailto:{company.email}">{company.email}</a>
                </li>
                <li>
                    <span>Phone:</span> {company.phone}
                </li>
            </ul>
            <div class="clearer"></div>
        </div>
    </div>
</div>
