<div class="contentRight">
    <div class="block">
        <div class="blockTop">
            <h2><span class="name" id="authorNameTitle"></span><span class="floatRight"><a href="#back">&lt; Back</a></span></h2>
        </div>
        <div id="authorInformation">
            <table id="profileTable" width="100%">
                <tbody>
                    <tr id="profileData" height="244">
                        <td id="authorIcon" valign="bottom" width="120"><img id="authorImg" src="" width="100" height="100" align="right" /></td>
	                    <td id="authorDataContainer" valign="bottom">
	                        <table id="authorData">
	                            <tr id="company"><td id="companyLabel" class="label">Company:</td><td id="companyData"></td></tr>
	                            <tr id="website"><td id="websiteLabel" class="label">Website:</td><td id="websiteData"></td></tr>
	                            <tr id="twitter"><td id="twitterLabel" class="label">Twitter:</td><td id="twitterData"></td></tr>
	                        </table>
	                    </td>
                    </tr>
                </tbody>
            </table>
            <div style="height:10px;">&nbsp;</div>
            <table>
                <tr id="bio"><td id="bioData" style="padding: 0px 20px"><div id="authorProfileBio" class="breakable"></div></td></tr>
            </table>
        </div>
        <div id="listTabsPanel" class="authorProfileTabs">
            <div class="tab authorProfile zapp unselected"><a class="tabLink" href="#/authorProfile?zapp&id=">Author's Published Apps</a></div>
            <div class="tab authorProfile gadget unselected"><a class="tabLink" href="#/authorProfile?gadget&id=">Author's Published Gadgets</a></div>
        </div>
        <div id="browsePanel" class="browse"></div>
    </div>
</div>