<div class="clearer"></div>
<div class="browseHeader">
    <div class="search filter">
    <!-- TODO: this is a hack for IE7, need to find CSS fix -->
        &nbsp;&nbsp;&nbsp;<input id="searchFilter" type="text"/> <img src="./com/alleni/images/icon_search.png" width="16" height="16" align="absmiddle">
    </div>
    <div class="sort filter">
        Sort By <select id="sortSelect">
        </select>
    </div>
    <div class="category filter" id="categoryFilter">
        Category <select id="categorySelect"></select>
    </div>
    <div class="clearer"></div>
    <div class="paging" style="padding-right: 25px;">
        <span class="pageInfo">0-0 of 0 Apps</span> | <a class="previousPage" href="#previousPage">Previous</a> | <a class="nextPage" href="#nextPage">Next</a>
    </div>
</div>
<h4>
    Apps
</h4>
<div id="grid" class="featuredBrowse browse zapp browseGrid"></div>
<div id="table" class="list">
    <table id="project" style="display: none;">
        <tr>

            <th width="330" nowrap="nowrap">
                Project
            </th>
            <th width="75" nowrap="nowrap">
                Last Save
            </th>
            <th width="80">
                Published
            </th>
            <th width="110" nowrap="nowrap">
                Category
            </th>
        </tr>
    </table>
    <table id="gadget" style="display: none;">
        <tr>
        	<th width="50"align="center" nowrap="nowrap">               
            </th>
            <th width="195" nowrap="nowrap">
                <!--  <img width="9" height="9" src="com/alleni/images/icon_sort_down.png"> <a href="#">-->Gadget Name<!-- </a> -->
            </th>            
            
            <th width="100" align="center" nowrap="nowrap">
                Category
            </th>
            <th nowrap="nowrap" width="70">
                Source
            </th>
            <th nowrap="nowrap" width="70">
                Permissions
            </th>            
            <th nowrap="nowrap" width="80">
                Rating
            </th>
        </tr>
    </table>
</div>
<div class="clearer"></div>
<div class="browseFooter">
    <div class="paging" style="padding-right: 25px;">
        <span class="pageInfo">0-0 of 0 Apps</span> | <a class="previousPage" href="#previousPage">Previous</a> | <a class="nextPage" href="#nextPage">Next</a>
    </div>
</div>
<div style="color:white; position:absolute; display:none; width="200px; wordwrap:break-word;" class="zapptooltip">
    <span style="color:white;" class="selected" href="#">Zap Description Goes Here</span>
</div>
