<div id="stepOneVisitor" class="step overlayContent buySignin">
    <div class="block">
        <div class="blockTop">
            <a class="close" href="#close"></a>
            <h2>Add to My <span class="type">App</span> Collection</h2>
        </div>
        <a href="#">
        </a>
        <div class="form">
            <div class="columnLeft">
                <table cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="label">
                                <a class="details" href="">
                                    <span class="icon">
                                        <img border="0" width="75" src="">
                                    </span>
                                </a>
                            </td>
                            <td>
                                <h2 class="name">Name of App</h2>
                                <p class="description">App description can go here up to 2 lines. Loreum, ipsum delor ...</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="columnRight" style="float: right;">
                <form>
                    <p>Do you already have an account?<br />Please sign in here.<br>
                        <input type="text" style="margin-top: 10px;" value="Email" onfocus="if(this.value=='Email')this.value='';" class="textfield" name="email">
                        <br>
                        <input type="text" value="Password" onfocus="if(this.value=='Password')this.value='';" style="margin-top: 10px;" class="textfield" name="password">
                        <br>
                    </p>

                    <div style="display:none;" style="margin-bottom: 10px;" class="warningColor">The email or password you entered is incorrect. </div>


                </form>
                <a href="#signIn" class="button"><span>Sign-In</span></a>
                <div style="clear: both; padding-top: 10px;"><!--a href="../lost-password.html">Can't access account? </a></div--></div>
            </div>
        </div>
       	<div id="upgradeDescription"  style="float: left;">
			<p>
				To add this <span class="type">app</span> to your Collection, please first<br/>
				open a<span class="requiredAccountType">n</span> account. We<span class="requiredAccountBR"> </span>appreciate your membership!
			</p>
		</div>
        <div class="accountTypeContainer">
			<div style="width: 100%; display: inline-block;">
				<table width="675" cellspacing="0">
			<tr>
				<td width="330"></td>
				<td></td>
				<td width="330"></td>
			</tr>
			<tr>
				<td class="plans-block">
					<div class="plans-Heading1 normal">Creator</div>
				</td>
				<td>&nbsp;</td>
				<td class="plans-block inverse pricingTop">
					<div class="plans-Heading1 inverse">
						Professional
					</div>
				</td>
			</tr>
			<tr>
				<td class="plans-block" nowrap>
					<div class="plans-Heading4">Enjoy Collector features +</div>
				</td>
				<td>
				
				</td>
				<td class="plans-block inverse" nowrap>
					<div class="plans-Heading4 inverse">Enjoy Creator features +</div>
				</td>
			</tr>
			<tr>
				<td class="plans-block">
					<span>
	       				<ul>
					        <li>Create and collect small interactive games, presentations, and instructional modules</li>
					        <li>Share in Facebook, Twitter, blogs, and more</li>
					        <li>Sell in App and Gadget Shopps</li>
					        <li>5 GB cloud storage</li>
					        <li>10 GB data transfer per month</li>
				        </ul>
	       			</span>
				</td>
				<td>
				
				</td>
				<td class="plans-block inverse">
					<span>
					    <ul>
					    	<li>Create robust applications with advanced asset downloading</li>
					    	<li>Standardized LMS publishing</li>
					    	<li>Customized app embedding</li>
					    	<li>Private publishing</li>
					    	<li>10 GB cloud storage</li>
					    	<li>100 GB data transfer per month</li>
					    </ul>
	      			</span>
				</td>
			</tr>
			<tr>
				<td class="plans-block">
					<div class="plans-Heading normal">$8.95 per Month</div>
				</td>
				<td>
				
				</td>
				<td class="plans-block inverse">
					<div class="plans-Heading inverse">$39.95 per Month</div>
				</td>
			</tr>
			<tr>
				<td class="plans-block" nowrap>
	          		<div align="center">
	          		   <div class="roundCornerMaskCenter roundCorners">
	          			  <div id="creatorButton" class="roundCorners plans-button gray">Open an Account</div>
	          		   </div>
	          		</div>
				</td>
				<td>
				
				</td>
				<td class="plans-block inverse pricingBottom" nowrap>
	        		<div align="center">
	        		     <div class="roundCornerMaskCenter roundCorners">
	        			    <div id="proButton" class="roundCorners plans-button green">Open an Account</div>
	        			 </div>
	        		</div>
				</td>
			</tr> 
        </table>
        
        <table width="100%">
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
              <td align="center">
                  <p>
                      <span class="plans-Heading3-vCenter-special">
                          30-Day Money back guarantee. Hassle Free. No questions asked.
                      </span> 
                  </p>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="plans-Heading3-vCenter">
                      <a href="#collector">Open a Free Collector Account</a>
                  </div>
              </td>
          </tr>
        </table>
					
			</div>
        </div>
        <div class="clearer"></div>
    </div>
</div>


<div id="stepTwoVisitor" class="step overlayContent buyNewAccount" style="display: none;">
    <div class="block">
        <div class="blockTop">
            <a class="close" href="#close"></a>
            <h2>Enter Account Information</h2>
        </div>
        <div class="form">
            <table cellspacing="0">
                <tbody><tr>
                        <td class="label"><a class="details" href=""><span class="icon"><img border="0" width="75" src=""></span></a></td>
                        <td><h2 class="name">Name of App</h2>
                            <p><strong class="description">App description can go here up to 2 lines. Loreum, ipsum delor ...</strong></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2><span class="accountType">Unknown</span> - <span class="accountCost">unknown</span></h2><br/>
            <h2>Email Address &amp; Password</h2>
            <span class="collectorToggle" style="display: none;">
                Please enter your email address and password. You will use this to sign in to your account. This email address will be kept private and only used to contact you about your account.
            </span>
            <span class="creatorToggle" style="display: none;">
                Please enter your email address and password. You will use this to sign in to your account. This email address will be kept private and only used to contact you about your account.
            </span>
            <form>
                <table cellspacing="0" class="indent">
                    <tbody>
                        <tr>
                            <td width="130" class="label">Email Address</td>
                            <td><input type="text" class="textfield wide required email uniqueEmail" name="email" id="emailJoin"></td>
                        </tr>
                        <tr>
                            <td width="130" class="label">Confirm Email</td>
                            <td><input type="text" class="textfield wide required email" equalTo="#emailJoin" name="emailConfirm"></td>
                        </tr>
                        <tr>
                            <td class="label">Password</td>
                            <td><input type="password" class="textfield wide required" name="password" id="password"></td>
                        </tr>
                        <tr>
                            <td class="label">Confirm Password</td>
                            <td><input type="password" class="textfield wide required" name="confirmPassword" equalto="#password"></td>
                        </tr>
                    </tbody>
                </table>
                <h2>Profile Information</h2>
                <p>Please enter your First &amp; Last Name and choose a unique Display Name. 
	                <span class="collectorToggle" style="display: none;">
	                    This is part of your public profile. This name will be associated with your comments on the ZebraZapps site.
	                </span>
	                <span class="creatorToggle" style="display: none;">
	                    This is part of your public profile. This name will appear when you are listed as an author of an app or gadget, and it will be associated with your comments on the ZebraZapps site.
	                </span>
                </p>
                <table cellspacing="0" class="indent">
                    <tbody>
                    	<tr>
                            <td width="130" class="label">First Name</td>
                            <td><input type="text" class="textfield wide required" name="firstName"></td>
                        </tr>
                        <tr>
                            <td class="label">Last Name</td>
                            <td><input type="text" class="textfield wide required" name="lastName"></td>
                        </tr>
                        <tr>
                            <td class="label">Display Name</td>
                            <td><input type="text" class="textfield wide required uniqueUsername" name="username"></td>
                        </tr>
                        <tr>
                            <td class="label">Show in Profile</td>
                            <td>
                                <input type="radio" checked="checked" value="firstLast" name="nameFormat">
                                First &amp; Last Name
                                <input type="radio" value="displayName" name="nameFormat">
                                Display Name
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="buttonsActionTall"> 
                <table>
                    <tr>
                        <td>
                            <a href="#back" class="button"><span>Return <span class="small">to Plans and Pricing</span></span></a>
                        </td>
                        <td>
                            <a href="#confirm" class="button"><span>Open Account<span class="small">to start using ZebraZapps</span></span></a>
                        </td>
                        <td>
                            By clicking Open Account, I affirm my agreement to the <a href="#/legal?terms-of-service">Terms of Service</a>.
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clearer"></div>
    </div>
</div>

<div id="stepCouponVisitor" class="step overlayContent buyNewAccount" style="display: none;">
    <div class="block">
        <div class="blockTop">
            <a class="close" href="#close"></a>
            <h2>Enter Coupon</h2>
        </div>
        <a href="#">
        </a>
        <div class="form">
            <table cellspacing="0">
                <tbody>
                    <tr>
                        <td class="label"><a class="details" href=""><span class="icon"><img border="0" width="75" src=""></span></a></td>
                        <td>
                            <h2 class="name">Name of App</h2>
                            <p><strong class="description">App description can go here up to 2 lines. Loreum, ipsum delor ...</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            If you have a coupon code, please enter it here. You may also skip this step.
                        </td>
                    </tr>
                </tbody>
            </table>
            <form>
            	<h2><span class="accountType">Unknown</span> - <span class="accountCost">unknown</span></h2><br/>
					<table cellspacing="0" class="indent coupon">
	                <tbody><tr>
	                        <td width="130" class="label">Coupon Code</td>
	                        <td><input type="text" class="textfield narrow" name="couponCode" id="couponCode"></td>
	                    </tr>
	                </tbody>
	            </table>
	            
	            <p class="couponDenied" style="display:none;">
		            Sorry. We could not validate your coupon code. Please try again. If you would like more information about this, please send an email with your coupon code to <a href="mailto:support@zebrazapps.com">support@zebrazapps.com</a>. We’re sorry for the inconvenience.
		        </p>
            </form>
            <div class="buttonsActionTall">
                <a href="#skip" class="button"><span class="skipX">Skip<span class="small">continue to payment method</span></span></a>
                <a href="#confirm" class="button"><span class="priceX">Apply Coupon<span class="small">continue to payment method</span></span></a>
            </div>
        </div>
        <div class="clearer"></div>
    </div>
</div>


<div id="stepThreeVisitor" class="step overlayContent buyNewAccount" style="display: none;">
    <div class="block">
        <div class="blockTop">
            <a class="close" href="#close"></a>
            <h2>Enter Payment Method</h2>
        </div>
        <a href="#">
        </a>
        <div class="form">
            <table cellspacing="0">
                <tbody><tr>
                        <td class="label"><a class="details" href=""><span class="icon"><img border="0" width="75" src=""></span></a></td>
                        <td><h2 class="name">Name of App</h2>
                            <p class="description">App description can go here up to 2 lines. Loreum, ipsum delor ...</p></td>
                    </tr>
                </tbody></table>
            <h2 class="cc">Payment Method</h2>
           <p class="collectorToggle">                    
               Please enter your payment information. This credit card will be used for your purchases in the App Shopp and Gadget Shopp.
           </p>
           <p class="creatorToggle">
               Please enter your payment information. This credit card will be used for monthly account payments and for purchases that you make in the App Shopp and Gadget Shopp.
           </p>
            <form>
                <table cellspacing="0" class="indent cc">
                    <tbody>
                        <tr>
                            <td class="label">Name on Card</td>
                            <td><input type="text" class="textfield wide required" name="nameOnCreditCard" id="_nameOnCreditCard"></td>
                        </tr>
                        <tr>
                            <td class="label">Card Number</td>
                            <td><input type="text" class="textfield wide required creditcard" name="creditCardNumber" id="_creditCardNumber"></td>
                        </tr>
                        <tr>
                            <td class="label">Expiration Date</td>
                            <td><select class="menu narrow required" name="expirationMonth" id="_expirationMonth">
                                    <option value="1" selected="selected">
                                        January
                                    </option>
                                    <option value="2">
                                        February
                                    </option>
                                    <option value="3">
                                        March
                                    </option>
                                    <option value="4">
                                        April
                                    </option>
                                    <option value="5">
                                        May
                                    </option>
                                    <option value="6">
                                        June
                                    </option>
                                    <option value="7">
                                        July
                                    </option>
                                    <option value="8">
                                        August
                                    </option>
                                    <option value="9">
                                        September
                                    </option>
                                    <option value="10">
                                        October
                                    </option>
                                    <option value="11">
                                        November
                                    </option>
                                    <option value="12">
                                        December
                                    </option>
                                </select>
                                <select class="menu narrow required" name="expirationYear" id="_expirationYear">
                                    <option value="2013" selected="selected">
                                        2013
                                    </option>
                                    <option value="2014">
                                        2014
                                    </option>
                                    <option value="2015">
                                        2015
                                    </option>
                                    <option value="2016">
                                        2016
                                    </option>
                                    <option value="2017">
                                        2017
                                    </option>
                                    <option value="2018">
                                        2018
                                    </option>
                                    <option value="2019">
                                        2019
                                    </option>
                                    <option value="2020">
                                        2020
                                    </option>
                                    <option value="2021">
                                        2021
                                    </option>
                                    <option value="2022">
                                        2022
                                    </option>
                                </select></td>
                        </tr>
                        <tr>
                            <td class="label">Security Code</td>
                            <td><input type="text" class="textfield narrow required number" name="securityCode" id="_securityCode"></td>
                        </tr>
                    </tbody>
                </table>
                
                <h2>Billing Address</h2>
                <p>Please enter the billing address for the credit card above.</p>
                <table cellspacing="0" class="indent">
                    <tbody><!-- <tr>
                            <td width="130" class="label">Name/Company</td>
                            <td><input type="text" class="textfield wide required" name="billingNameCompany"></td>
                        </tr> -->
                        <tr>
                            <td class="label">Country</td>
                            <td><select class="menu wide" name="billingCountry">
                                    <option value="us" selected="selected">United States</option>
                                </select></td>
                        </tr>
                        <tr>
                            <td class="label">Address</td>
                            <td><input type="text" class="textfield wide required" name="billingAddress1"></td>
                        </tr>
                        <tr>
                            <td class="label">Address</td>
                            <td><input type="text" class="textfield wide" name="billingAddress2"></td>
                        </tr>
                        <tr>
                            <td class="label">City</td>
                            <td><input type="text" class="textfield wide required" name="billingCity"></td>
                        </tr>
                        <tr>
                            <td class="label">State</td>
                            <td><select id="state4" class="menu wide required" name="billingStateProvince">
                                    <option value="al" selected="selected">
                                        Alabama
                                    </option>
                                    <option value="ak">
                                        Alaska
                                    </option>
                                    <option value="as">
                                        American Samoa
                                    </option>
                                    <option value="az">
                                        Arizona
                                    </option>
                                    <option value="ar">
                                        Arkansas
                                    </option>
                                    <option value="aa">
                                        Armed Forces Americas
                                    </option>
                                    <option value="ae">
                                        Armed Forces Europe
                                    </option>
                                    <option value="ap">
                                        Armed Forces Pacific
                                    </option>
                                    <option value="ca">
                                        California
                                    </option>
                                    <option value="co">
                                        Colorado
                                    </option>
                                    <option value="ct">
                                        Connecticut
                                    </option>
                                    <option value="de">
                                        Delaware
                                    </option>
                                    <option value="dc">
                                        District of Columbia
                                    </option>
                                    <option value="fl">
                                        Florida
                                    </option>
                                    <option value="ga">
                                        Georgia
                                    </option>
                                    <option value="gu">
                                        Guam
                                    </option>
                                    <option value="hi">
                                        Hawaii
                                    </option>
                                    <option value="id">
                                        Idaho
                                    </option>
                                    <option value="il">
                                        Illinois
                                    </option>
                                    <option value="in">
                                        Indiana
                                    </option>
                                    <option value="ia">
                                        Iowa
                                    </option>
                                    <option value="ks">
                                        Kansas
                                    </option>
                                    <option value="ky">
                                        Kentucky
                                    </option>
                                    <option value="la">
                                        Louisiana
                                    </option>
                                    <option value="me">
                                        Maine
                                    </option>
                                    <option value="mh">
                                        Marshall Islands
                                    </option>
                                    <option value="md">
                                        Maryland
                                    </option>
                                    <option value="ma">
                                        Massachusetts
                                    </option>
                                    <option value="mi">
                                        Michigan
                                    </option>
                                    <option value="mn">
                                        Minnesota
                                    </option>
                                    <option value="ms">
                                        Mississippi
                                    </option>
                                    <option value="mo">
                                        Missouri
                                    </option>
                                    <option value="mt">
                                        Montana
                                    </option>
                                    <option value="ne">
                                        Nebraska
                                    </option>
                                    <option value="nv">
                                        Nevada
                                    </option>
                                    <option value="nh">
                                        New Hampshire
                                    </option>
                                    <option value="nj">
                                        New Jersey
                                    </option>
                                    <option value="nm">
                                        New Mexico
                                    </option>
                                    <option value="ny">
                                        New York
                                    </option>
                                    <option value="nc">
                                        North Carolina
                                    </option>
                                    <option value="nd">
                                        North Dakota
                                    </option>
                                    <option value="mp">
                                        Northern Marianas
                                    </option>
                                    <option value="oh">
                                        Ohio
                                    </option>
                                    <option value="ok">
                                        Oklahoma
                                    </option>
                                    <option value="or">
                                        Oregon
                                    </option>
                                    <option value="pw">
                                        Palau
                                    </option>
                                    <option value="pa">
                                        Pennsylvania
                                    </option>
                                    <option value="pr">
                                        Puerto Rico
                                    </option>
                                    <option value="ri">
                                        Rhode Island
                                    </option>
                                    <option value="sc">
                                        South Carolina
                                    </option>
                                    <option value="sd">
                                        South Dakota
                                    </option>
                                    <option value="tn">
                                        Tennessee
                                    </option>
                                    <option value="tx">
                                        Texas
                                    </option>
                                    <option value="ut">
                                        Utah
                                    </option>
                                    <option value="vt">
                                        Vermont
                                    </option>
                                    <option value="vi">
                                        Virgin Islands
                                    </option>
                                    <option value="va">
                                        Virginia
                                    </option>
                                    <option value="wa">
                                        Washington
                                    </option>
                                    <option value="wv">
                                        West Virginia
                                    </option>
                                    <option value="wi">
                                        Wisconsin
                                    </option>
                                    <option value="wy">
                                        Wyoming
                                    </option>
                                </select></td>
                        </tr>
                        <tr>
                            <td class="label">Zipcode</td>
                            <td><input type="text" class="textfield wide required billingZipPostalCode" name="billingZipPostalCode"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="buttonsActionTall">
                    <a href="#back" class="button" id="returnToOpenAccount"><span>Return <span class="small">to Open Account</span></span></a>
                    <a href="#confirm" class="button"><span>Confirm My Information<span class="small">before submitting</span></span></a>
                </div>
            </form>
        </div>
        <div class="clearer"></div>
    </div>
</div>
<div id="stepFourVisitor" class="step step overlayContent" style="display:none;">
    <div class="block">
    	<div class="blockTop">
            <a class="close" href="#close"></a>
            <h2>Confirm Your Information</h2>
        </div><table>
        		<tbody><tr>
                        <td class="label"><a class="details" href=""><span class="icon"><img border="0" width="75" src=""></span></a></td>
                        <td><h2 class="name">Name of App</h2>
                            <p class="description">App description can go here up to 2 lines. Loreum, ipsum delor ...</p></td>
                    </tr>
                </tbody></table>
        <div class="form">
        <form action="" method="get">
            <h2 class="planDescription">
                The Free Plan
            </h2>
            <div class="divider" style="clear:both"></div>
            <div class="columnLeft">
                <div class="form">
                    <div class="floatRight memberInfo">
                        <a href="#editMember">Edit</a>
                    </div>
                    <h2 class="memberInfo">
                        Profile Information
                    </h2>
                    <table border="0" cellpadding="0" cellspacing="0" class="memberInfo">
                        <tbody>
                            <tr>
                                <td width="120" class="black">
                                    <strong>Name</strong>
                                </td>
                                <td class="label black review" id="firstLastName"></td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <strong>Username</strong>
                                </td>
                                <td class="label black review" id="displayName"></td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <strong>Email Address</strong>
                                </td>
                                <td class="label black review" id="email"></td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <strong>Password</strong>
                                </td>
                                <td>
                                    •••••••••••
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="divider billingInfo coupon"></div>
                <div class="floatRight billingInfo coupon">
                    <a href="#editCoupon">Edit</a>
                </div>
                <h2 class="billingInfo coupon">
                    Coupon
                </h2>
                <table border="0" cellpadding="0" cellspacing="0" class="billingInfo coupon">
                    <tbody>
                        <tr>
                            <td width="120" class="black">
                                <strong>Code</strong>
                            </td>
                            <td class="label black review" id="couponCode"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="columnRight billingInfo">
                <div class="form">
                    <div class="floatRight">
                        <a href="#editBilling">Edit</a>
                    </div>
                    <h2 class="cc">
                        Credit Card
                    </h2>
                    <table class="cc" border="0" cellpadding="0" cellspacing="0" class="marginBottom">
                        <tbody>
                            <tr>
                                <td width="120" class="black">
                                    <strong>Credit Card Type</strong>
                                </td>
                                <td class="label black review" id="creditCardType"></td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <strong>Name on Card</strong>
                                </td>
                                <td class="label black review" id="nameOnCreditCard"></td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <strong>Card Number</strong>
                                </td>
                                <td class="label black review" id="creditCardNumber"></td>
                                 <td class="black" nowrap><input type="checkbox" name="toggleCCMasking" id="toggleCCMasking" /><span id="toggleCCMaskingLabel">Show</span></td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <strong>Expiration Date</strong>
                                </td>
                                <td class="label black review" id="expirationDate"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="divider cc"></div>
                    <div class="floatRight">
                        <a href="#editBilling">Edit</a>
                    </div>
                    <h2>
                        Billing Address
                    </h2>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="120" class="black">
                                    <strong>Name/Company</strong>
                                </td>
                                <td class="label black review" id="billingNameCompany"></td>
                            </tr>
                            <tr>
                                <td valign="top" class="black">
                                    <strong>Address</strong>
                                </td>
                                <td class="label black review" id="billingAddress1"></td>
                            </tr>
                            <tr id="billingAddress2row">
                                <td valign="top" class="black">
                                    <strong>&nbsp;</strong>
                                </td>
                                <td class="label black review" id="billingAddress2"></td>
                            </tr>
                            <tr>
                                <td valign="top" class="black">
                                    <strong>&nbsp;</strong>
                                </td>
                                <td class="label black review" id="billingCityStateProvinceZipPostalCode"></td>
                            </tr>
                            <tr>
                                <td valign="top" class="black">
                                    <strong>&nbsp;</strong>
                                </td>
                                <td class="label black review" id="billingCountry"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br /><br />
            </div>
           
                <div class="buttonsActionTall">
                    <a href="#submit" class="button">
                        <span>Submit <span class="small">Start using ZebraZapps today!</span></span>
                    </a>
                </div>
      
        </form>
        </div>
        <div class="clearer"></div>
    </div>
</div>

<div id="stepOneMember" class="step overlayContent buyNow" style="display: none;">
    <div class="block">
        <div class="blockTop">
            <a class="close" href="#close"></a>
            <h2>Add to My <span class="type">App</span> Collection</h2>
        </div>
        <h2 class="freshJoinOnly">
            Thank you, <span id="firstLastName" class="review">{firstLastName}</span>.
        </h2>
        
        <p class="freshJoinOnly">
            We have opened a new ZebraZapps <span class="accountType">Collector</span> account for you. You will soon receive an email to confirm that this account started on <span id="currentDate">November 7, 2011</span>.
        </p>
        <p class="creatorToggle freshJoinOnly" style="display:none;">Now you can get started with ZebraZapps! Build projects and publish apps to the Shopps!  Learn how with this <a href="/#/support">introductory video tutorial.</a></p>
        <p class="creditCardDenied freshJoinOnly" style="display:none;">
           We submitted your credit card information, but we could not validate it. Until your credit card information is corrected, you will have access to ZebraZapps, but you will only be able to collect free apps and gadgets, and you will not be able to create projects.
        </p>
        <p class="creditCardDenied freshJoinOnly" style="display:none;">
        	Please go to "Payment Method" on your <a href="/#/account?paymentMethod">Account page</a> to see if you can correct your payment information. We’re sorry for the inconvenience.
        </p>
        <p class="couponAccepted freshJoinOnly" style="display:none;">
            We have applied your coupon code. You can enjoy your ZebraZapps <span class="accountType">Creator</span> account for free until <span id="currentDatePlus">January 6, 2012</span>. During that time, you will only be charged for individual purchases of apps and gadgets.
        </p>
        <p class="couponDenied freshJoinOnly" style="display:none;">
            We submitted your coupon code, but we were not able to validate it. Please send an email to <a href="mailto:support@zebrazapps.com">support@zebrazapps.com</a>for more information. Please be sure to include the coupon code in your email. We’re sorry for the inconvenience.
        </p>
        <p class="memberItemOwned" style="display:none;">
        	<strong>Good news!</strong><br /><br />You already own this <span id="formattedType">gadget</span>. There is no need to purchase it.
        </p>


        <p class="freshJoinOnly" style="display:none;"><strong>Do you want to continue purchasing this <span class="type">app</span>?</strong></p>
        <div class="form confirmPurchase">
            <table cellspacing="0">
                <tbody>
                    <tr>
                        <td class="label">
                            <span class="icon">
                            <a class="details" href=""><img width="75" src=""></a>
                            </span>
                        </td>
                        <td><h2 class="name">Name of App</h2>
                            <p class="description">App description can go here up to 2 lines. Loreum, ipsum delor ...</p></td>
                    </tr>
                </tbody></table>
            <br>
            <div class="buttonsAction"><a href="#buy" class="button"><span class="price" id="confirmPurchase">Unknown</span></a>
                <div class="clearer"></div>
            </div>
            <div class="clearer"></div>
        </div>
        <div class="clearer"></div>
    </div>
</div>

<div id="updateBillingNoCC" class="step overlayContent buyNow" style="display: none;">
    <div class="block">
        <div class="blockTop">
            <a class="close" href="#close"></a>
            <h2>Add to My <span class="type">App</span> Collection</h2>
        </div>
        <p>
            Oops! We don't have a credit card on file for you.
        </p>
        <p>
        	Please go to the <a href="/#/account">Account page</a> and update your credit card information. Once this is done, you can continue shopping.
        </p>
        <div class="clearer"></div>
    </div>
</div>

<div id="updateBillingBadCC" class="step overlayContent buyNow" style="display: none;">
    <div class="block">
        <div class="blockTop">
            <a class="close" href="#close"></a>
            <h2>Add to My <span class="type">App</span> Collection</h2>
        </div>
        <p>
            Oops! It seems that the credit card information we have for you is not valid.
        </p>
        <p>
        	Please go to the <a href="/#/account">Account page</a> and update your credit card information. Once this is done, you can continue shopping.
        </p>
        <div class="clearer"></div>
    </div>
</div>
