<div class="confimDialog">
	<span id="confirmMessage" style="width:150px;"></span>
	<div class="clearer"></div>
	<div class="buttons" style="float:right;">
		<div class="buttonsAction">
			<a href="#yes" class="button"><span>Yes</span></a> 
			<a href="#no" class="button"><span>No</span></a>
		</div>
	</div>
	<div class="clearer"></div>
</div>