<div class="contentRight">
    <div class="block detailPanel detailMain detailsAvailable">
        <div class="blockTop">
            <h2>{formattedType}<span class="floatRight"><a href="#back">&lt; Back</a></span><span class="name">{publishedName}</span></h2>
        </div>
        <div class="columnLeft playerPreview">
            <img src="{previewScreenshot}" style="display:none"/>
            <iframe
                class="zapp-preview"
                frameborder="0"
                width="400" 
                height="250"
                id="player"
                name="playerx"
                src=""
                style="display:none"
                title="zapp preview"
                type="text/html"
                webkitAllowFullScreen allowFullScreen></iframe>
            <ul>
                <li class="description">{description}</li>
            </ul>            
                        <h4 class="_screenShots">Screenshots</h4>
                        <div class="screenshots _screenShots"></div>
            <div class="comments">

                <h4>Comments (<span id="commentCount">unknown</span>)</h4>
                <span id="beTheFirstToLeaveAComment">Be the first to leave a comment!<br><br></span>
                <span id="commentList"></span>                      
                <div class="paging">
                    <label>
                        <span id="commentPageInfo">0-0 of 0 Comments</span> <span id="commentPreviousPage">| <a href="#commentPreviousPage">Previous</a> </span><span id="commentNextPage">| <a href="#commentNextPage">Next</a></span>
                    </label>
                </div>
                <div class="commentsAdd userNotLoggedIn">
                    <div class="commentsLeft"><!-- <a href="#"><img width="30" src="../images/profile_photo.png"></a> --></div>
                    <div class="commentsRight"><span class="label">Sign in or <a href="#plansAndPricing">Join</a> to add a comment </span><br>
                        <form id="signIn">
                            <input type="text" style="margin-top: 10px;" value="Email" onfocus="if(this.value=='Email')this.value='';" class="textfield" name="email">
                            <br>
                            <input type="text" value="Password" onfocus="if(this.value=='Password')this.value='';" style="margin-top: 10px;" class="textfield" name="password">
                            <br>
                            <a style="margin-top: 5px;" href="#signIn" class="button"><span>Sign In</span></a>
                        </form>
                    </div>                    
                    <div class="clearer"></div>
                    <div class="warningColor" style="margin-top: 7px; display: none;">The Email or password you entered is incorrect.    </div>
                </div>

                <div class="commentsAdd userLoggedIn">
                    <div class="commentsLeft"><!-- <a href="#"><img width="30" src="../images/profile_photo.png"></a> --></div>
                    <div class="commentsRight">
                        <form id="postComment">
                            <strong class="label">Add a comment <br>
                                <textarea style="width: 350px;" class="textfield" rows="3" name="comment" id="Comment"></textarea>
                                <a style="margin-top: 5px;" href="#postComment" class="postcomment"><span>Post Comment</span></a>
                            </strong>
                        </form>
                    </div>
                    <div class="clearer"></div>
                </div>
            </div>
        </div>
        <div class="columnRight">
            <div class="owned text" style="display:none; font-style:italic; margin-bottom:10px;">- In Collection -</div>
            <div class="roundCornerMask roundCorners">
                <div id="updateAvailable" class="roundCorners plans-button black">Update Available</div>
            </div>
            <div class="buy" style="display:none;">
                <a style="" href="#buy" class="button"><span>{formattedPrice}</span></a>
                <div class="text">Add to my <br>
                    {formattedType} Collection</div>
                <div class="clearer"></div></div>
            <ul class="author">
                <li>Author</li>
                <li><span>{authorList}</span></li>
            </ul>
           
            <ul class="specifications">
                <li></li>
                <li>Category: <span>{category}</span></li>
                <li class="ratings" id="avRating">Total Rating:
	                <span style="text-align:right;">
	                	<img width="85" height="15" src="com/alleni/images/stars_big_blue{rating}.png">
	                </span>
	                <span style="position: relative; top: -3px;" id="count">(none)</span>
	                <hr/>
                </li>
                <li>My Rating:
	                <span id="myRating" class="personalRating" style="text-align:right;">
	                	<img width="85" height="15" src="com/alleni/images/stars_big_blue0.png" style="margin-left:12px;">
	                </span>
	                <div style="margin-left:84px;" class="personalRating"><span>Rate this {formattedType} here.</span></div>
	                <span id="myRatingNoOwn">Add this {formattedType} to your collection to give it a rating.</span>
	               <hr/>
                </li>
                <li class="shareInfo">
                	<table>
                		<tr>
                			<td>Privacy Level:</td>
		        			<td>
		        			<a class="button" href="#share?privacy" id="btnEdit"><span>Change Privacy Level</span></a>
		        			</td>
		        		</tr>
		        	</table>
		        	<div class="clearer"></div>
		        	<div>
		        		<span id="shareInfoText" style="text-align:right;">This {formattedType} is not in the {formattedType}Shopp.</span>
		        	</div>
		        	<hr/>
                </li>
                
                <li>Share This {formattedType}...
	                <div class="share">
			            <div id="shareTypes" class="icons shareIcons">
			            <table>
			            	<tr>
			            		<td><span class="guest"><a href="#share?guest" class="guest"></a></span></td>
			            		<td><span class="embed"><a href="#share?embed" class="embed"></a></span></td>
			            		<td><span class="lms"><a href="#share?lms" class="lms"></a></span></td>
			            		<td><span class="link"><a href="#share?link" class="link"></a></span></td>
			            		<td><span class="email"><a href="#share?email" class="email"></a></span></td>
			            	</tr>
			            	<tr>
			            		<td><span class="facebook"><a href="#share?facebook" class="facebook"></a></span></td>
<!-- 			            		<td><span class="linkedin"><a href="#share?linkedin" class="linkedin"></a></span></td> -->
			            		<td><span class="twitter"><a href="#share?twitter" class="twitter"></a></span></td>
			            		<td></td>
			            		<td></td>
			            		<td></td>
			            	</tr>
			            </table>
			        	</div>
	        		</div>
                </li>
                <li><hr />
                </li>
                <li>
                	<div id="flagZappLinkDiv"><a id="flagZappLink" title="You can flag this {formattedType} if it contains objectionable or copyrighted material.">Flag this {formattedType}</a></div>
                	<div id="flagZappForm" style="display:none">
                		<form id="flagZapp">
                			<span>Why do you want to flag this {formattedType}?</span>
                			<textarea style="width:200px;" class="textfield required" rows="3" name="flagComment" id="flagComment"></textarea>
                			<table>
                				<tr>
                					<td><a id="cancelFlagZapp" style="margin-top:5px;" class="button"><span>Cancel</span></a></td>
                					<td><a id="flagZappSubmit" href="#flagZapp" style="margin-top:5px;" class="button"><span>Flag {formattedType}</span></a></td>
                				</tr>
                			</table>
                		</form>
                	</div>
                </li>
            </ul>             
 
          	
        </div>
        <div class="clearer"></div>
    </div>
</div>