<div class="contentRight">
    <div class="block detailPanel detailMain detailsInviteOnly">
        <div class="blockTop">
            <h2>{formattedType}<span class="floatRight"><a href="#back">&lt; Back</a></span></h2>
        </div>
        <div class="columnError playerPreview">
            <table border="0"><tr>
                <td valign="top">
                    <img src="opps.png" alt="Oops!">
                </td>
                <td>
                    <h2>Unfortunately we don't see your email address on the guest list for the app you requested.</h2>
                    <hr>
                    <p>Please contact the author directly for the support.</p>
                    <p>Thank you!</p>
                    <p>The ZebraZapps Team</p>
                    <p><img src="zebrazapps-z.png" alt="ZebraZapps logo"></p>
                </td>
            </tr></table>
        </div>
        <div class="clearer"></div>
    </div>
</div>