<div class="contentRight">
    <div class="block detailPanel detailMain detailsNotFound">
        <div class="blockTop">
            <h2>{formattedType}<span class="floatRight"><a href="#back">&lt; Back</a></span></h2>
        </div>
        <div class="columnError playerPreview">
            <table border="0"><tr>
                <td valign="top" align="center">
                    <img src="hi.png" alt="Hi!">
                    <br>
                    <img src="arrow-left.png" alt="To the left">
                </td>
                <td>
                    <h2>You have received a very special invitation to use an app created by {authorList}.</h2>
                    <h2>Since the author of this app has asked for extra security, we must first verify your email address. Please sign in.</h2>
                    <hr>
                    <p>If you do not already have a ZebraZapps account, you can create one free by simply clicking Join.</p>
                    <p>Thank you!</p>
                    <p>The ZebraZapps Team</p>
                    <p><img src="zebrazapps-z.png" alt="ZebraZapps logo"></p>
                </td>
            </tr></table>
        </div>
        <div class="clearer"></div>
    </div>
</div>