<div class="updatingAnimationContainer" style="width:450px; height:281px; text-align:center;">
	<img class="updatingAnimation" src="com/alleni/images/updating.gif" style="margin-top:30px;" />
</div>
<img id="enlargeImage" href="" class="display:none" />
<div id="navLinks">
    <div class="previous" style="float:left; display:none"><a href="#previous">Previous</a></div>
    <div class="next" style="float:right; display:none"><a href="#next">Next</a></div>
</div>
