            <div class="featuredBrowse featured zapp">
                <a href="#previousPage" class="previous featuredPaging" style="display:none"></a>
                <div class="caption"></div>
                <a href="#nextPage" class="next featuredPaging" style="display:none"></a>
                <div class="clearer"></div>
            </div>
