<div class="search">
    <form action="" method="post" name="form1" id="form2">
        <table cellspacing="0" style="margin-bottom: 10px;">
            <tbody><tr>
                    <td class="searchField"><input type="text" style="width: 170px;" id="textfield2" name="textfield2"></td>
                    <td class="searchButton"><a href="#"><img width="28" height="28" src="com/alleni/images/btn_search.png"></a></td>
                    <td><div class="searchFilter"> <a href="zapps-filter.html">Filters: Off</a></div></td>
                    <td class="searchButton"><a href="zapps-filter.html"><img width="28" height="28" src="com/alleni/images/btn_popup_open.png"></a></td>
                    <td><div class="searchFilter"> <a href="#">Sort: Name</a></div></td>
                    <td class="searchButton"><a href="#"><img width="28" height="28" src="com/alleni/images/btn_popup_open.png"></a></td>
                    <td><div class="searchFilter"> <a href="#">View: Grid</a></div></td>
                    <td class="searchButton"><a href="#"><img width="28" height="28" src="com/alleni/images/btn_popup_open.png"></a></td>
                </tr>
            </tbody></table>
        <div class="clearer"></div>
    </form>
    <div class="instructions">Search for apps by name or tag. Use filters to modify the search results.</div>
</div>