<div class="footer">
    <div class="links firstColumn"> <img src="./com/alleni/images/footer_overview.png" alt="Overview">
        <ul>
            <li><a href="#/aboutZebra?what">What is ZebraZapps?</a></li>
            <li><a href="#/aboutZebra?why">Why ZebraZapps?</a></li>
            <li><a href="#/aboutZebra?who">Who is ZebraZapps For?</a></li>
            <li><a href="#/aboutZebra?create">What Can I Create?</a></li>
            <li><a href="#/aboutZebra?publish-share">What Can I<br>Publish/Share?</a></li>
            <li><a href="#/aboutZebra?shopps">What Can I Acquire/Buy from the Shopps?</a></li>
        </ul>
    </div>
    <div class="links"> <img src="./com/alleni/images/footer_learn_more.png" alt="Learn More">
        <ul>
            <li><a href="#/aboutZebra?creating-projects">Creating Projects</a></li>
            <li><a href="#/aboutZebra?understanding-key-features">Understanding Key<br>Features</a></li>
            <li><a href="#/aboutZebra?tech-specs">Tech Specs</a></li>
        </ul>
    </div>
    <div class="links"> <img src="./com/alleni/images/footer_about.png" alt="About">
        <ul>
            <li><a href="#/aboutZebra?allen-learning-technologies">The Company</a></li>
            <li><a href="#/aboutZebra?contact-us">Contact Us</a></li>
            <li><a target="_blank" href="http://www.twitter.com/zebra_zapps"><img align="absmiddle" width="16" height="16" src="./com/alleni/images/icon_twitter_black.png"> Twitter </a></li>
            <li><a target="_blank" href="http://www.facebook.com/pages/ZebraZapps/187736147944146"><img align="absmiddle" width="16" height="16" src="./com/alleni/images/icon_facebook_black.png"> Facebook </a></li>
        </ul>
    </div>
    <div class="links lastColumn"> <img src="./com/alleni/images/footer_legal.png" alt="Legal">
        <ul>
            <li><a class="overlayPage" href="#/legal?terms-of-service">Terms of Service</a></li>
            <li><a href="#/legal?privacy-policy">Privacy Policy</a></li>
            <li><a href="#/legal?copyright-infringement-policy">Copyright <br>
                    Infringement Policy</a></li>
            <li><a href="#/legal?community-guidelines">Community Guidelines</a></li>
            <li></li>
        </ul>
    </div>

    <div class="clearer"></div>
    <div class="copyright">© 2013 Allen Learning Technologies LLC. All rights reserved.</div>
</div>
