
<div class="logo" style="height:83px;">
    <a href="#/list?visitor&amp;zapp"><img id="masterLogo" width="300" height="83" alt="Zebra" src="com/alleni/images/logo.png"></a>
    <!-- <a href="#/list?visitor&amp;zapps"></a> -->
</div>
<div class="headerNavigation">
    <div class="headerMenu">
    </div>
</div>
<div class="headerTabs">
    <div class="login">
        <img width="225" height="33" id="imgTabMyStuff" name="imgTabMyStuff" alt="Sign In" src="com/alleni/images/tab_sidebar_signin_down.png">
    </div>
    <div class="logout" style="display:none;">
        <a id="tabMyStuff" class="selected" href="#list?member&project"></a>
        <a id="tabAccount" href="#account?myProfile"></a> 
        <img id="tabAdministration" src="com/alleni/images/headerTabAdministration.png"/>       
        <!-- <a id="tabAdministration" href="#administration"></a> -->
    </div>
</div>
<div style="border-bottom: medium none;" class="headerTabsText login">
    Enter Email &amp; Password
</div>
<div style="border-bottom: medium none; display:none;" class="headerTabsText logout">
    <!--span id="email">Unknown</span-->
    <div class="signout"><a href="#signout">Sign Out</a></div>
    <span id="username">Unknown</span>
    
</div>
