<div id="stepTwo" class="step contentRight">
    <h1>Enter Account Information</h1>
    <div class="block">

        <h2 class="planDescription">Collector</h2>
        <div class="group"></div>
        <div style="clear: both;" class="divider"></div>
        <div class="form">
            <form action="" method="get">
            <input type="hidden" id="accountType" name="accountType" value="" />
                <h2>Email Address & Password</h2>
               <p>Please enter your email address and password. You will use this to sign in to your account. This email address will be kept private and only used to contact you about your account.</p>
                <table cellspacing="0" class="indent">
                    <tbody>
                        <tr>
                            <td width="130" class="label">Email Address</td>
                            <td><input type="text" class="textfield wide required email uniqueEmail" name="email" id="emailJoin"></td>
                        </tr>
                        <tr>
                            <td width="130" class="label">Confirm Email</td>
                            <td><input type="text" class="textfield wide required email" equalTo="#emailJoin" name="emailConfirm"></td>
                        </tr>
                        <tr>
                            <td class="label">Password</td>
                            <td><input type="password" class="textfield wide required" name="password" id="passwordJoin"></td>
                        </tr>
                        <tr>
                            <td class="label">Confirm Password</td>
                            <td><input type="password" class="textfield wide required" equalTo="#passwordJoin" name="passwordConfirm" id="passwordConfirm"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="divider marginTop"></div>
                <h2>Profile Information</h2>
               <p>Please enter your First &amp; Last Name and choose a unique Display Name. 
               <span class="collectorToggle" style="display: none;">This is part of your public profile, and this name will be associated with your comments on the ZebraZapps site.</span>
               <span class="creatorToggle" style="display: none;">This is part of your public profile. This name will appear when you are listed as an author of an app or gadget, and it will be associated with your comments on the ZebraZapps site.</span></p>
                
               <table cellspacing="0" class="indent">
                   <tbody>
                       <tr>
                           <td class="label">First Name </td>
                           <td><input type="text" class="textfield wide required" name="firstName" id="firstName"></td>
                       </tr>
                       <tr>
                           <td class="label">Last Name</td>
                           <td><input type="text" class="textfield wide required" name="lastName" id="lastName"></td>
                       </tr>
                       <tr>
                           <td width="130" class="label">Display Name</td>
                           <td><input type="text" class="textfield wide required uniqueUsername forbiddenCharsInUsername" name="displayName" id="displayName"></td>
                       </tr>
                       <tr>
                           <td class="label">Show in Profile</td>
                           <td>
                               <input type="radio" checked="checked" value="firstLast" name="nameFormat" id="nameFormat">
                               First &amp; Last Name
                               <input type="radio" value="displayName" name="nameFormat" id="chkDisplayName">
                               Display Name
                           </td>
                       </tr>
                   </tbody>
               </table>
                            
                <div class="buttonsActionTall">
                    <a href="#previous" class="button"><span>Return<span class="small">to plans &amp; pricing</span> </span></a>
                    <a href="#continue" class="button"><span>Open Account <span class="small">to Start Using ZebraZapps</span></span></a>By clicking Open Account, I affirm my agreement to the <a href="#/legal?terms-of-service">Terms of Service</a>, and that I am 18 years of age or older.
                    <div class="clearer"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="clearer"></div>
</div>

<div id="stepCouponVisitor" class="step contentRight" style="display: none;">
    <h1>
        Coupon
    </h1>
    <div class="block">
    	<h2 class="planDescription">Collector</h2>
        <div class="group"></div>
        <div style="clear: both;" class="divider"></div>
        <div class="form">
   
            <form>
	            <table cellspacing="0" class="indent coupon">
	                <tbody>
	                   <tr>
                            <td colspan="2">
                                If you have a coupon code, please enter it here. You may also skip this step.
                            </td>
                       </tr>
	                   <tr>
	                        <td width="130" class="label">Coupon Code</td>
	                        <td><input type="text" class="textfield narrow" name="couponCode" id="couponCode"></td>
	                   </tr>
	                </tbody>
	            </table>
	            
	            <p class="couponDenied" style="display:none;">
		            We could not validate your coupon code. Please try again. If you would like more information about this, please send an email with your coupon code to <a href="mailto:support@zebrazapps.com">support@zebrazapps.com</a>. We’re sorry for the inconvenience.
		        </p>
            </form>
            <div class="buttonsActionTall">
	            <div style="width:230px; margin-right:20px; float:left;">
	                <div class="roundCornerMaskLeft roundCornersWideRadius">
			            <div class="roundCorners plans-button lightgray" id="applyCouponDiv">
			                <span class="title">Apply Coupon</span><br/>
			                <span class="small">continue to account confirmation</span>
			            </div>
		            </div>
	            </div>
	            <div style="width:200px; float:left;">
		            <div class="roundCornerMaskLeft roundCornersWideRadius">
			            <div class="roundCorners plans-button lightgray" id="skipCouponDiv">
			                <span class="title">Skip</span><br/>
			                <span class="small">continue to payment method</span>
			            </div>
		            </div>
	            </div>
            </div>
            <div class="clearer"></div>
            <div id="busyDiv" style="margin-top:20px;"></div>
        </div>
        <div class="clearer"></div>
    </div>
</div>

<div id="stepThree" class="step contentRight" style="display:none;">
    <h1>
        Payment Method
    </h1>
    <div class="block">
        <div class="form">
            <form action="" method="get">
                
                
                <h2 class="planDescription">
                    The Free Plan
                </h2>
                <!--  <h3 class="planSubtitle">Free Trial.  Limited Time Only!</h3>-->
                <div class="divider" style="clear:both"></div>
                <h2>
                    Payment Method
                </h2>
               <p class="collectorToggle">                    
               		Please enter your payment information. This credit card will be used for your purchases in the App Shopp and Gadget Shopp.
	           </p>
	           <p class="creatorToggle">
	               Please enter your payment information. This credit card will be used for monthly account payments and for purchases that you make in the App Shopp and Gadget Shopp.
	           </p>
           	<table id="creditCardDetails" border="0" cellpadding="0" cellspacing="0" class="indent marginBottom">
                    <tbody>
                        <tr>
                            <td class="label">
                                Name on Card
                            </td>
                            <td>
                                <input id="_nameOnCreditCard" name="nameOnCreditCard" type="text" class="textfield wide required">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                Card Number
                            </td>
                            <td>
                                <input id="_creditCardNumber" name="creditCardNumber" type="text" class="textfield wide required creditcard"><br />
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                Expiration Date
                            </td>
                            <td>

                                <select id="expirationMonth" name="expirationMonth" class="menu narrow required">
                                    <option value="1" selected="selected">
                                        January
                                    </option>
                                    <option value="2">
                                        February
                                    </option>
                                    <option value="3">
                                        March
                                    </option>
                                    <option value="4">
                                        April
                                    </option>
                                    <option value="5">
                                        May
                                    </option>
                                    <option value="6">
                                        June
                                    </option>
                                    <option value="7">
                                        July
                                    </option>
                                    <option value="8">
                                        August
                                    </option>
                                    <option value="9">
                                        September
                                    </option>
                                    <option value="10">
                                        October
                                    </option>
                                    <option value="11">
                                        November
                                    </option>
                                    <option value="12">
                                        December
                                    </option>
                                </select>
                                <select id="expirationYear" name="expirationYear" class="menu narrow">
                                    <option value="2013">
                                        2013
                                    </option>
                                    <option value="2014">
                                        2014
                                    </option>
                                    <option value="2015" selected="selected">
                                        2015
                                    </option>
                                    <option value="2016">
                                        2016
                                    </option>
                                    <option value="2017">
                                        2017
                                    </option>
                                    <option value="2018">
                                        2018
                                    </option>
                                    <option value="2019">
                                        2019
                                    </option>
                                    <option value="2020">
                                        2020
                                    </option>
                                    <option value="2021">
                                        2021
                                    </option>
                                    <option value="2022">
                                        2022
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                Security Code
                            </td>
                            <td>
                                <input id="securityCode" name="securityCode" type="text" class="textfield narrow required number" value="">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="divider"></div>
                <h2>
                    Billing Address
                </h2>
                 <p>Please enter the billing address for the credit card above.</p>
                <table border="0" cellpadding="0" cellspacing="0" class="indent">
                    <tbody>
                        <!-- <tr>
                            <td width="130" class="label">
                                Name/Company
                            </td>
                            <td>
                                <input name="billingNameCompany" type="text" class="textfield wide required">
                            </td>
                        </tr> -->
                        <tr>
                            <td class="label" width="101">
                                Country
                            </td>
                            <td>
                                <select name="billingCountry" class="menu wide">
                                    <option value="us" selected="selected">
                                        United States
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                Address
                            </td>
                            <td>
                                <input name="billingAddress1" type="text" class="textfield wide required">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                Address
                            </td>
                            <td>
                                <input name="billingAddress2" type="text" class="textfield wide">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                City
                            </td>
                            <td>
                                <input name="billingCity" type="text" class="textfield wide required">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                State
                            </td>
                            <td>
                                <select name="billingStateProvince" class="menu wide required">
                                    <option value="al" selected="true">
                                        Alabama
                                    </option>
                                    <option value="ak">
                                        Alaska
                                    </option>
                                    <option value="as">
                                        American Samoa
                                    </option>
                                    <option value="az">
                                        Arizona
                                    </option>
                                    <option value="ar">
                                        Arkansas
                                    </option>
                                    <option value="aa">
                                        Armed Forces Americas
                                    </option>
                                    <option value="ae">
                                        Armed Forces Europe
                                    </option>
                                    <option value="ap">
                                        Armed Forces Pacific
                                    </option>
                                    <option value="ca">
                                        California
                                    </option>
                                    <option value="co">
                                        Colorado
                                    </option>
                                    <option value="ct">
                                        Connecticut
                                    </option>
                                    <option value="de">
                                        Delaware
                                    </option>
                                    <option value="dc">
                                        District of Columbia
                                    </option>
                                    <option value="fl">
                                        Florida
                                    </option>
                                    <option value="ga">
                                        Georgia
                                    </option>
                                    <option value="gu">
                                        Guam
                                    </option>
                                    <option value="hi">
                                        Hawaii
                                    </option>
                                    <option value="id">
                                        Idaho
                                    </option>
                                    <option value="il">
                                        Illinois
                                    </option>
                                    <option value="in">
                                        Indiana
                                    </option>
                                    <option value="ia">
                                        Iowa
                                    </option>
                                    <option value="ks">
                                        Kansas
                                    </option>
                                    <option value="ky">
                                        Kentucky
                                    </option>
                                    <option value="la">
                                        Louisiana
                                    </option>
                                    <option value="me">
                                        Maine
                                    </option>
                                    <option value="mh">
                                        Marshall Islands
                                    </option>
                                    <option value="md">
                                        Maryland
                                    </option>
                                    <option value="ma">
                                        Massachusetts
                                    </option>
                                    <option value="mi">
                                        Michigan
                                    </option>
                                    <option value="mn">
                                        Minnesota
                                    </option>
                                    <option value="ms">
                                        Mississippi
                                    </option>
                                    <option value="mo">
                                        Missouri
                                    </option>
                                    <option value="mt">
                                        Montana
                                    </option>
                                    <option value="ne">
                                        Nebraska
                                    </option>
                                    <option value="nv">
                                        Nevada
                                    </option>
                                    <option value="nh">
                                        New Hampshire
                                    </option>
                                    <option value="nj">
                                        New Jersey
                                    </option>
                                    <option value="nm">
                                        New Mexico
                                    </option>
                                    <option value="ny">
                                        New York
                                    </option>
                                    <option value="nc">
                                        North Carolina
                                    </option>
                                    <option value="nd">
                                        North Dakota
                                    </option>
                                    <option value="mp">
                                        Northern Marianas
                                    </option>
                                    <option value="oh">
                                        Ohio
                                    </option>
                                    <option value="ok">
                                        Oklahoma
                                    </option>
                                    <option value="or">
                                        Oregon
                                    </option>
                                    <option value="pw">
                                        Palau
                                    </option>
                                    <option value="pa">
                                        Pennsylvania
                                    </option>
                                    <option value="pr">
                                        Puerto Rico
                                    </option>
                                    <option value="ri">
                                        Rhode Island
                                    </option>
                                    <option value="sc">
                                        South Carolina
                                    </option>
                                    <option value="sd">
                                        South Dakota
                                    </option>
                                    <option value="tn">
                                        Tennessee
                                    </option>
                                    <option value="tx">
                                        Texas
                                    </option>
                                    <option value="ut">
                                        Utah
                                    </option>
                                    <option value="vt">
                                        Vermont
                                    </option>
                                    <option value="vi">
                                        Virgin Islands
                                    </option>
                                    <option value="va">
                                        Virginia
                                    </option>
                                    <option value="wa">
                                        Washington
                                    </option>
                                    <option value="wv">
                                        West Virginia
                                    </option>
                                    <option value="wi">
                                        Wisconsin
                                    </option>
                                    <option value="wy">
                                        Wyoming
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                Zipcode
                            </td>
                            <td>
                                <input name="billingZipPostalCode" type="text" class="textfield wide required billingZipPostalCode">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="buttonsActionTall">
                    <a href="#previous" class="button"><span>Return <span class="small">to Open Account</span></span></a>
                    <a href="#continue" class="button"><span>Confirm My Information<span class="small">before submitting</span></span></a>
                    <div class="clearer"></div>
                </div>
            </form>
        </div>
        <div class="clearer"></div>
    </div>
</div>
<div id="stepFour" class="step contentRight" style="display:none;">
    <h1>
        Confirm Your Information
    </h1>
    <div class="block">
        <form action="" method="get">
            <h2 class="planDescription">
                The Free Plan
            </h2>
            <div class="divider" style="clear:both"></div>
            <div class="columnLeft">
                <div class="form">
                    <div class="floatRight">
                        <a href="#editMember">Edit</a>
                    </div>
                    <h2>
                        Account Information
                    </h2>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="120" class="black">
                                    <strong>Name</strong>
                                </td>
                                <td class="label black review" id="firstLastName"></td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <strong>Username</strong>
                                </td>
                                <td class="label black review" id="displayName"></td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <strong>Email Address</strong>
                                </td>
                                <td class="label black review" id="email"></td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <strong>Password</strong>
                                </td>
                                <td>
                                    •••••••••••
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="divider cc billingInfo couponInfo"></div>
                <div class="floatRight billingInfo couponInfo">
                    <a href="#editCoupon">Edit</a>
                </div>
                <h2 class="billingInfo couponInfo">
                    Coupon
                </h2>
                <table border="0" cellpadding="0" cellspacing="0" class="billingInfo couponInfo">
                    <tbody>
                        <tr>
                            <td width="120" class="black">
                                <strong>Code</strong>
                            </td>
                            <td class="label black review" id="couponCode"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="columnRight billingInfo">
                <div class="form">
                    <div class="floatRight cc">
                        <a href="#editBilling">Edit</a>
                    </div>
                    <h2 class="cc">
                        Payment Method
                    </h2>
                    <table class="cc" border="0" cellpadding="0" cellspacing="0" class="marginBottom">
                        <tbody>
                            <tr>
                                <td width="120" class="black">
                                    <strong>Credit Card Type</strong>
                                </td>
                                <td nowrap class="label black review" id="creditCardType"></td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <strong>Name on Card</strong>
                                </td>
                                <td class="label black review" id="nameOnCreditCard"></td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <strong>Card Number</strong>
                                </td>
                                <td class="label black review" id="creditCardNumber"></td>
                                <td class="black" nowrap><input type="checkbox" name="toggleCCMasking" id="toggleCCMasking" /><span id="toggleCCMaskingLabel">Show</span></td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <strong>Expiration Date</strong>
                                </td>
                                <td class="label black review" id="expirationDate"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="divider cc"></div>
                    <div class="floatRight">
                        <a href="#editBilling">Edit</a>
                    </div>
                    <h2>
                        Billing Address
                    </h2>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="120" class="black">
                                    <strong>Name/Company</strong>
                                </td>
                                <td class="label black review" id="billingNameCompany"></td>
                            </tr>
                            <tr>
                                <td valign="top" class="black">
                                    <strong>Address</strong>
                                </td>
                                <td class="label black review" id="billingAddress1"></td>
                            </tr>
                            <tr id="billingAddress2row">
                                <td valign="top" class="black">
                                    <strong>&nbsp;</strong>
                                </td>
                                <td class="label black review" id="billingAddress2"></td>
                            </tr>
                            <tr>
                                <td valign="top" class="black">
                                    <strong>&nbsp;</strong>
                                </td>
                                <td class="label black review" id="billingCityStateProvinceZipPostalCode"></td>
                            </tr>
                            <tr>
                                <td valign="top" class="black">
                                    <strong>&nbsp;</strong>
                                </td>
                                <td class="label black review" id="billingCountry"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="buttons" style="clear:both">
                <div class="buttonsActionTall">
                    <a href="#submit" class="button">
                        <span>Submit <span class="small">Start using ZebraZapps today!</span></span>
                    </a>
                </div>
                <div class="buttonTall"></div>
            </div>
        </form>
        <div class="clearer"></div>
    </div>
</div>
<div id="stepFive" class="step contentRight" style="display:none;">
    <h1>
        Account Confirmed
    </h1>
    <div class="block">
    	<h2 class="planDescription">
                The Free Plan
            </h2>
        <h2 class="freshJoinOnly">
            Thank you, <span id="firstLastName" class="review">{firstLastName}</span>.
        </h2>
        
       <p class="freshJoinOnly">
            We have opened a new ZebraZapps <span class="accountType">Collector</span> account for you. You will soon receive an email to confirm that this account started on <span id="currentDate">November 7, 2011</span>.  
        </p>
        <p class="creatorToggle" style="display:none;">Now you can get started with ZebraZapps! Build projects and publish apps to the Shopps!  Learn how with this <a href="/#/support">introductory video tutorial.</a></p>
        <p class="creditCardDenied freshJoinOnly" style="display:none;">
           We submitted your credit card information, but we could not validate your credit card account. Until your credit card information is corrected, you will have access to ZebraZapps, but you will only be able to collect free zapps and gadgets, and you will not be able to create projects.
        </p>
        <p class="creditCardDenied freshJoinOnly" style="display:none;">
        	Please go to "Payment Method" on your <a href="/#/account?paymentMethod">Account page</a> to see if you can correct your payment information. We’re sorry for the inconvenience.
        </p>
        <p class="couponAccepted freshJoinOnly" style="display:none;">
            Your coupon code has been applied. Your <span class="accountType">Creator</span> account will be free until <span id="currentDatePlus">January 6, 2012</span>.
        </p>
        <p class="couponDenied freshJoinOnly" style="display:none;">
            We submitted your coupon code, but we were not able to validate it. Please send an email to <a href="mailto:support@zebrazapps.com">support@zebrazapps.com</a>for more information. Please be sure to include the coupon code in your email. We’re sorry for the inconvenience.
        </p>
        <p>
            &nbsp;
        </p>
        <div class="clearer"></div>
    </div>
</div>
