<div class="tab visitor selected list"><a class="tabLink" href="#/list?visitor&amp;zapp">App Shopp</a></div>
<div class="tab visitor unselected list"><a class="tabLink" href="#/list?visitor&amp;gadget">Gadget Shopp</a></div>
<div class="tab visitor selected authorProfile"><a class="tabLink" href="#/authorProfile?zapp&id=">Author's Published Apps</a></div>
<div class="tab visitor unselected authorProfile"><a class="tabLink" href="#/authorProfile?gadget&id=">Author's Published Gadgets</a></div>
<div id="myProjects" class="tab member selected my" style="display:none;"><a href="#/list?member&amp;project">My Projects</a></div>
<div id="myZapps" class="tab member unselected" style="display:none;"><a href="#/list?member&amp;zapp">My App Collection</a></div>
<div id="myGadgets" class="tab member unselected gadgetTab my" style="display:none;"><a href="#/list?member&amp;gadget">My Gadget Collection</a></div>
<div class="clearer"></div>
