<div id="blockCloud" class="block cloud">
    <div id="listTabsPanelShopp" class="tabs">
        <div class="tab visitor zapp unselected" style="display:inline">
            <a class="mainTabLink" href="#/list?visitor&amp;zapp">App Shopp</a>
            <span class="mainTabLink nonClickable" style="display:none">App Shopp</span>
        </div>
        <div class="tab visitor gadget unselected" style="display:inline">
            <a class="mainTabLink" href="#/list?visitor&amp;gadget">Gadget Shopp</a>
            <span class="mainTabLink nonClickable" style="display:none">Gadget Shopp</span>
        </div>
        
        <div id="myProjects" class="tab member selected project" style="display:none;"><a href="#/my?member&amp;project">My Projects</a><span class="nonClickable" style="display:none">My Projects</span></div>
        <div id="myZapps" class="tab member unselected zapp" style="display:none;"><a href="#/my?member&amp;zapp">My App Collection</a><span class="nonClickable" style="display:none">My App Collection</span></div>
        <div id="myGadgets" class="tab member unselected gadget" style="display:none;"><a href="#/my?member&amp;gadget">My Gadget Collection</a><span class="nonClickable" style="display:none">My Gadget Collection</span></div>
    </div>
    <div class="clearer"></div>
    <div id="cloudBottom" class="cloudBottom">
        <div id="featuredPanel" class="blockBlack"></div>
        <div id="filterPanel"></div>
        <div id="browsePanel" class="browse"></div>
    </div>
</div>
