<div class="pricing contentRight">
    <table cellspacing="0" width="100%">
        <tbody><tr>
                <td valign="bottom" rowspan="3">&nbsp;</td>
                <td valign="bottom" rowspan="3" colspan="2">&nbsp;</td>
                <td align="center" width="75" valign="bottom" class="colored"><img height="111" width="16" alt="Collector" src="com/alleni/images/pricing_collector.png"></td>
                <td align="center" width="75" valign="bottom" class="colored"><img height="89" width="16" alt="Creator" src="com/alleni/images/pricing_creator.png"></td>
                <td align="center" width="75" valign="bottom" class="colored"><img height="140" width="16" alt="Professional" src="com/alleni/images/pricing_professional.png"></td>
                <td align="center" width="75" valign="bottom" class="colored"><img height="112" width="16" alt="Enterprise" src="com/alleni/images/pricing_enterprise.png"></td>
                <td align="center">&nbsp;</td>
            </tr>
            <tr>
                <td align="center" style="font-size: 16px;" class="colored"><strong>FREE</strong></td>
              	<td align="center" style="font-size: 16px;" class="colored"><strong>$8.95/<br>
                        Month</strong></td>
                <td align="center" nowrap="nowrap" class="colored" colspan="2">&nbsp;</td>
                <td align="left" class="colored">&nbsp;</td>
            </tr>
            <tr>
                <td align="center" class="colored"><a href="#collector" class="button"><span>Sign Up</span></a></td>
                <td align="center" class="colored"><a href="#creator" class="button"><span>Sign Up</span></a></td>
                <td align="center" nowrap="nowrap" class="colored" colspan="2">Coming Summer 2011</td>
                <td align="left" class="colored">Description</td>
            </tr>
            <tr class="row1">
                <td style="border-right: medium none; background: none repeat scroll 0% 0% white;" rowspan="6">&nbsp;</td>
                <td valign="middle" nowrap="nowrap" class="title">Interact &amp; Save<br>
                </td>
                <td align="center" width="23" valign="middle" style="background: none repeat scroll 0% 0% black; padding: 2px;" rowspan="21"><img height="469" width="23" alt="ACCOUNT FEATURES &amp; SERVICES" src="com/alleni/images/pricing_account_features.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_feature_r1.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_feature_r1.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r1.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r1.png"></td>
                <td valign="middle">Access applications and gadgets from ZappsShopps</td>
            </tr>
            <tr class="row2">
                <td valign="middle" nowrap="nowrap" class="title">Create</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_feature_r2.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td valign="middle">Use the Editor to build applications and gadgets</td>
            </tr>
            <tr class="row1">
                <td valign="middle" nowrap="nowrap" class="title">Publish</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle" class="title">ZebraZapps<br>
                    Branding</td>
                <td align="center" valign="middle" class="title">Limited<br>
                    ZebraZapps<br>
                    Branding</td>
                <td align="center" valign="middle" class="title">Custom<br>
                    Branding</td>
                <td valign="middle">Publish free applications and gadgets to ZappsShopps; embed in html pages, blogs and Facebook</td>
            </tr>
            <tr class="row2">
                <td valign="middle" nowrap="nowrap" class="title">Sell</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_feature_r2.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td valign="middle">Sell original applications and gadgets in the ZappsShopps</td>
            </tr>
            <tr class="row1">
                <td valign="middle" nowrap="nowrap" class="title">Use<br></td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_feature_r1.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r1.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r1.png"></td>
                <td valign="middle">Buy and collect gadgets for projects</td>
            </tr>
            <tr class="row2">
                <td valign="middle" nowrap="nowrap" class="title">Account Storage (GB)<br>
                    Data Transfer (GB)</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle" class="title">5<br>
                    10</td>
                <td align="center" valign="middle" class="title">10<br>
                    100</td>
                <td align="center" valign="middle" class="title">50<br>
                    200</td>
                <td valign="middle">File storage* and monthly data transfer**</td>
            </tr>
            <tr>
                <td style="height: 4px; padding: 0px;" colspan="2"></td>
                <td style="height: 4px; padding: 0px;" colspan="5"></td>
            </tr>
            <tr class="row2">
                <td style="border-right: medium none;" rowspan="3"><img height="64" width="18" alt="Support" src="com/alleni/images/pricing_support.png"></td>
                <td valign="middle" nowrap="nowrap">Tutorials</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_feature_r2.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td valign="middle">Access tutorials and tool demonstrations</td>
            </tr>
            <tr class="row1">
                <td valign="middle" nowrap="nowrap">Webinars<br></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r1.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r1.png"></td>
                <td valign="middle">Connect to schedule and archive webinars</td>
            </tr>
            <tr class="row2">
                <td valign="middle" nowrap="nowrap">Live Support</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td>Chat live with experts</td>
            </tr>
            <tr>
                <td style="height: 4px; padding: 0px;" colspan="2"></td>
                <td style="height: 4px; padding: 0px;" colspan="5"></td>
            </tr>
            <tr class="row2">
                <td style="border-right: medium none;" rowspan="6"><img height="185" width="18" alt="Special Editor Features" src="com/alleni/images/pricing_special_features.png"></td>
                <td valign="middle" nowrap="nowrap">Organizational <br>
                    Accounts</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td valign="middle">Team up and share files with multi-user organizational accounts</td>
            </tr>
            <tr class="row1">
                <td valign="middle" nowrap="nowrap">QA User / <br>
                    Content Feedback<br></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r1.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r1.png"></td>
                <td valign="middle">Allow users and colleagues to provide feedback</td>
            </tr>
            <tr class="row2">
                <td valign="middle" nowrap="nowrap">Event Flow</td>
                <td align="center">&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td>Build smart branching projects</td>
            </tr>
            <tr class="row1">
                <td valign="middle" nowrap="nowrap">Multiplayer Objects<br></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r1.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r1.png"></td>
                <td valign="middle">Publish multiplayer games and learning interactions</td>
            </tr>
            <tr class="row2">
                <td valign="middle" nowrap="nowrap">Author Collaboration</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td>Work together in real-time</td>
            </tr>
            <tr class="row1">
                <td valign="middle" nowrap="nowrap">Desktop Editor</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r1.png"></td>
                <td valign="middle">Work offline and sync to ZebraZapps cloud</td>
            </tr>
            <tr>
                <td style="height: 4px; padding: 0px;" colspan="2"></td>
                <td style="height: 4px; padding: 0px;" colspan="5"></td>
            </tr>
            <tr class="row2">
                <td style="border-right: medium none; background: none repeat scroll 0% 0% white;" rowspan="7"><p>&nbsp;</p></td>
                <td valign="middle" nowrap="nowrap" class="title">LMS Connectivity </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td valign="middle">Integrate applications to a LMS</td>
            </tr>
            <tr class="row1">
                <td valign="middle" nowrap="nowrap" class="title">Private Publishing<br></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r1.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r1.png"></td>
                <td valign="middle">Content privacy</td>
            </tr>
            <tr class="row2">
                <td valign="middle" nowrap="nowrap" class="title">Streaming Media</td>
                <td>&nbsp;</td>
                <td align="center"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td align="center" valign="middle"><img height="16" width="16" src="com/alleni/images/pricing_coming_r2.png"></td>
                <td>Use quality audio and video in projects; personal server provided</td>
            </tr>
            <tr>
                <td align="right" style="height: 4px;" colspan="7"><img align="absmiddle" height="16" width="21" src="com/alleni/images/pricing_coming_white.png">Coming Summer 2011</td>
            </tr>
            <tr class="row2">
                <td align="center" style="font-size: 27px; line-height: 30px;" class="colored" colspan="7"><strong>SATISFACTION GUARANTEED</strong></td>
            </tr>
            <tr>
                <td align="center" style="font-size: 18px; line-height: 20px; color: black;" colspan="7"><strong>30-DAY MONEY BACK GUARANTEE, HASSLE FREE. NO QUESTIONS ASKED.</strong></td>
            </tr>
            <tr>
                <td align="center" colspan="7"><p>Schools and Universities are invited to <a href="#/aboutZebra?contact-us">contact us</a> for special pricing options.</p>
                    <p>*Additional storage per month: 5 GB - $2 | 20 GB - $3 | 50 GB - $5<br>
                        **Additional data transfer per month: 100 GB - $18</p></td>
            </tr>
        </tbody>
    </table>
    <!--            <div class="message marginTop indent" style="width:500px">
          <h3>Already a Member?</h3>
We see this email is already registered, would you like to:
          <ul>
            <li>• <a href="#">sign in</a> or</li>

            <li>• <a href="#">create another account?</a></li>
          </ul>
        </div>-->
</div>