





<div id="overlay" class="overlay" style="display:none;"></div>
<div class="overlayBack">
    <div id="enterUsername" class="overlayContent lostPassword" style="display: none;">
        <div class="block">
            <div class="blockTop">
                <h2><span class="floatRight"><a href="#cancel">X</a></span>Forgot Your Login?</h2>
            </div>
            <a href="#">
            </a>
            <div class="form">
                <p>To reset your password, type the email address you use with your ZebraZapps account.<br>
                    <input id="lostPassword-email"type="text" style="margin-top: 10px;" value="Email" onfocus="if(this.value=='Email')this.value='';" class="textfield" name="textfield3">
                    <br>
                </p>
                <a href="#lostPassword-send" class="button"><span>Reset Password</span></a>      </div>
            <div class="clearer"></div>
        </div>
    </div>


    <div id="emailSent" class="overlayContent lostPassword" style="display: none;">
        <div class="block">
            <div class="blockTop">
                <h2><span class="floatRight"><a href="#cancel">X</a></span>Forgot Your Login?</h2>
            </div>
            <a href="#">
            </a>
            <div class="form">
                <p>An email has been sent to &quot;<span id="lostPasswordEmail"></span>&quot;.</p>
                <p>Please check your inbox for instructions on how to reset your password.<br>
                </p>
                <a style="width: 90px;" href="#cancel" class="button"><span>OK</span></a>
            </div>
            <div class="clearer"></div>
        </div>
    </div>



    <div id="userNotFound" class="overlayContent lostPassword" style="display: none;">
        <div class="block">
            <div class="blockTop">
                <h2><span class="floatRight"><a href="#cancel">X</a></span>Forgot Your Login?</h2>
            </div>
            <a href="#">
            </a>
            <div class="form">
                <p>Sorry. We do not have a record for username &quot;<span id="lostPasswordEmail"></span>&quot;<br>
                </p>
                <a style="width: 90px;" href="#cancel" class="button"><span>OK</span></a>
            </div>
            <div class="clearer"></div>
        </div>
    </div>


</div>