<!-- OVERLAY -->
<div id="shareDialog" class="share" >
    <div id="activeSharePanel">
        <!-- Set Privacy Level -->
        <div class="setPrivacyLevel">
            <div class="confirmText">
                <span>You have successfully zapped this project.  It is in your <span class="appTypeUpper"></span> Collection.  What level of privacy do you want for this <span class="appType"></span>?  Different sharing options are available for each privacy level.</span>
            </div>
            <hr/>
        	<div class="privacySelection">
		        <input id="radioGuest" class="radioPrivacy" type="radio" name="privacyGroup" checked="checked"/> <span>Allow only people on my Guest list to see this <span class="appType"></span>.</span>
		        <div id="divGuestIcons" class="privacyIconList shareIcons">
			    	<a class="privacyIcon guest"></a>
	                <a class="privacyIcon embed"></a>
	                <a class="privacyIcon lms"></a>
	                <a class="privacyIcon link"></a>
	                <a class="privacyIcon email"></a>
	                <a class="privacyIcon facebook"></a>
<!-- 	                <a class="privacyIcon linkedin"></a> -->
	                <a class="privacyIcon twitter"></a>
		        </div>
		

			    <input id="radioPrivate" class="radioPrivacy" type="radio" name="privacyGroup"/>Do not show this <span class="appType"></span> in the <span class="appTypeUpper"></span> Shopp.
			    <div id="divPrivateIcons" class="privacyIconList shareIcons">
				    <a class="privacyIcon guest"></a>
				    <a class="privacyIcon embed"></a>
	                <a class="privacyIcon lms"></a>
	                <a class="privacyIcon link"></a>
	                <a class="privacyIcon email"></a>
	                <a class="privacyIcon facebook"></a>
<!-- 	                <a class="privacyIcon linkedin"></a> -->
	                <a class="privacyIcon twitter"></a>
			    </div>
	
			    <input id="radioPublic" class="radioPrivacy" type="radio" name="privacyGroup"/>Show this <span class="appType"></span> in the <span class="appTypeUpper"></span> Shopp.
        		<div id="divPublicIcons" class="privacyIconList shareIcons">
	        		<a class="privacyIcon guest"></a>
	        		<a class="privacyIcon embed"></a>
	                <a class="privacyIcon lms"></a>
	                <a class="privacyIcon link"></a>
	                <a class="privacyIcon email"></a>
	                <a class="privacyIcon facebook"></a>
<!-- 	                <a class="privacyIcon linkedin"></a> -->
	                <a class="privacyIcon twitter"></a>
        		</div>       	
        		
        	</div> 	
		</div>
   
        <!-- Share app panels -->
        <div class="shareInfo">
        	<div>
        		<span id="shareInfoText">Only the Guest List can see this <span class="appType"></span>.</span>
        		<a class="button" id="btnEdit"><span>Change Privacy Level</span></a>
        	</div>
        	<br/>
        	<div class="clearer"></div>
        	<hr/>
        </div>
        
        <div id="shareTypes" class="icons shareIcons">
            <ul><li class="guest"><a href="#guest" class="shareHref"></a></li>
                <li class="embed"><a href="#embed" class="shareHref"></a></li>
                <li class="lms"><a href="#lms" class="shareHref"></a></li>
                <li class="link"><a href="#link" class="shareHref"></a></li>
                <li class="email"><a href="#email" class="shareHref"></a></li>
                <li class="facebook"><a href="#facebook" class="shareHref"></a></li>
<!--                 <li class="linkedin"><a href="#linkedin" class="shareHref"></a></li> -->
                <li class="twitter"><a href="#twitter" class="shareHref"></a></li></ul>
            <div class="clearer"></div>
        </div>
        
        <!-- Default direction -->      
        <div class="shareZappDefault" style="display: none;">
        	<hr/>
        	<span>Choose a Sharing option.  With the selected privacy option, you can<br>
        	embed this <span class="appType"></span>, send a link to friends, and post it to social sites.</span>
        	<div class="clearer"></div>
        	<hr/>
			<div class="clearer"></div>
			<a class="button" id="btnDone"><span>Done</span></a>
        </div>      
              
        <!-- selected direction -->
        <div class="txtDirections">
        	<span></span>
        </div>
        <hr class="txtDirectionsHR"/>
        <div class="sellPrice" style="display: none;">
       		<h5><span class="appTypeUpper"></span> Shopp</h5>
       		Selling Price: 	<input id="radioSellingFree" class="radioPrice" type="radio" name="shoppGroup" checked="checked"/> Free
               				<input id="radioSellingPrice" class="radioPrice" type="radio" name="shoppGroup"/><input id="sellingPrice" type="text" value="$0.25" size="8" class="required"> ($0.25 min US)
               
       		<div class="clearer"></div>
       		<input type="checkbox" id="allowEmbed" name="allowEmbed" checked="checked"/><span>Allow others to embed this <span class="appType"></span> in Web pages</span>				
       		<hr/>
       	</div>
  
   		<div class="privacyButtons">
   			<a class="button" id="btnPrivacyApply"><span>Apply</span></a>
   			<a class="button" id="btnPrivacyShare"><span>Share</span></a>
   			<a class="button" id="btnCancel"><span>Cancel</span></a>
   		</div>
    		
        <div class="sharePluginContainer">
        	<!-- Email --> 
            <div id="share_email" class="sharePlugin" style="display: none;">
                <div class="selectText"><span>Send a quick email to share this <span class="appType"></span>.</span></div>
                <div class="clearer"></div>
                <hr>
                <div class="clearer"></div>
                <div class="email">
                    <input name="emailTo" type="text" class="to" id="emailTo" />
                    <input name="emailFrom" type="text" class="from" id="emailFrom" />
                    <span class="email">
                        <textarea readonly="readonly" id="emailBodyReadOnly" name="emailBodyReadOnly" rows="2" class="message" onfocus="if(this.value=='Message...')this.value='';">Message...</textarea>
                        <textarea id="emailBody" name="emailBody" rows="7" class="message" onfocus="if(this.value=='Message...')this.value='';">Message...</textarea>
                    </span>
                </div>
                <div class="clearer"></div>
            </div>
            
            <!-- Guest List --> 
            <div id="share_guest" class="sharePlugin" style="display: none;">
            	<div class="selectText"><span>Create a guest list to share this <span class="appType"></span>.</span></div>
                <div class="clearer"></div>
                <hr/>
                <div class="tabControls">
                	<div class="arrowButton" id="arrowTab1">
                		<!--  <div class="arrowDown"></div>-->
                		<a class="button" id="btnTab1"><span>Edit Guest List</span></a>
                	</div>
                	<div class="arrowButton" id="arrowTab2">
                		<!-- <div class="arrowDown"></div> -->
                		<a class="button" id="btnTab2"><span>Edit Message</span></a>	
                	</div>
                	<div class="clearer"></div>
                </div>
                  <div class="clearer"></div>
                <div class="guestTab" id="tab1">
        	
               		<div id="formAdd">
                    	<form id="addGuestForm">
                    		<input name="guestSelect" type="text" class="guestAdd required email" id="guestToAdd"/>
                   		</form>
                   		<div id="addControl" class="btnControl">
                        	<a class="button" id="addGuest" tabindex="2"><span>Add Email</span></a><br />
                		</div>
                		<div class="clearer"></div>
               		</div>
					
                	<div id="formText">
                		<div id="guestListEmailList" class="guestList"></div>
                		<div id="removeControl" class="btnControl">
                			<a class="button" id="removeGuest"><span>Remove</span></a>
                		</div>
                		
                		<div class="clearer"></div>
                	</div>              	
                	<div class="clearer"></div>	
                </div>
                <div class='guestTab' id="tab2">
                	 <form id="addGuestForm">
                    	<input name="guestSelect" type="text" value="From:" class="guestAdd required email" id="guestAdded"/>
                   	 </form>
                	 <div class="divGuestMessage">
                        <textarea name="message" rows="7" class="guestMessage" id="guestEmailMessage"></textarea>
                	</div>
                	<div class="clearer"></div>
                </div>
                <div class="sharePanelNotesBlock">
        			<span>Use the Guest List to share this <span class="appType"></span> with a specific set of people.<br>
        			When this <span class="appType"></span> is locked, only these guests can see its Detail page.</span>
        		</div>
                
            </div>

            <!-- Embed Fragment -->
            <div id="share_embed" class="sharePlugin" style="display: none;">
                <div class="selectText"><span>Copy code to embed this <span class="appType"></span> in other sites.</span></div>
                <div class="clearer"></div>
                <hr/>
                <div class="embed">
                    <!--<a class="button" id="copyEmbed" href="#embed"><span>Copy</span></a>-->
                    <ul>
                        <li>
                            <input name="width" type="text" class="textfield" id="width" value="400" />
                        </li>
                        <li class="sizeBy">X</li>
                        <li>
                            <input name="height" type="text" class="textfield" id="height" value="250" />
                        </li>
                        <li class="lock"><a id="aspectLock" href="zapps-details-share-embed-lock.html"></a></li>
                        <li>
	                        <div class="arrowButton">
	                			<div class="arrowDown"></div>
	                			<a class="button" id="btnDimension" href=""><span>Reset to Author's Dimensions</span></a>
                        	</div>
                        </li>
                    </ul>
                    <div class="clearer"></div>
                </div>
                <textarea name="embed_code" rows="5" class="textfield" id="embed_code"></textarea>
                <div class="sharePanelNotesBlock">
        			<span>Copy and paste this code to embed this <span class="appType"></span> in a site.  Use the size tools to set the size of the window in which the <span class="appType"></span> will play.</span>
        		</div>
            </div>
            
            <!-- Direct Link Fragment -->
            <div id="share_link" class="sharePlugin" style="display: none;">
            	<div class="selectText"><span>Copy direct link to this <span class="appType"></span>'s Detail Page.</span></div>
                <div class="clearer"></div>
                <hr/>
                <div class="linkText">
                	<textarea name="link_text" row="1" class="linkField" id="link_text"></textarea>
                </div>
                <div>
        			<span>To share this <span class="appType"></span>, paste this link into emails, posts and other places.</span>
        		</div>
                <div class="clearer"></div>
            </div>

            <!-- Facebook Fragment -->
            <div id="share_facebook" class="sharePlugin" style="display: none;">
                <div class="selectText"><span>Embed this <span class="appType"></span> in Facebook to share with your friends.</span></div>
                <div class="clearer"></div>
                <hr/>
                <div id="facebook_share_link" style="height:70px;">
                    <iframe src="" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:340px; height:70px;" allowTransparency="true"></iframe>
                </div>
            </div>

            <!-- Twitter Fragment -->
            <div id="share_twitter" class="sharePlugin" style="display: none;">
                <div class="selectText"><span>Link to this <span class="appType"></span> in your Twitter feed.</span></div>
                <div class="clearer"></div>
                <hr/>
                <div id="twitter_share_link">
                    <iframe src="" frameborder="0" scrolling="no" style="width:130px; height:50px"></iframe>
                </div>
                <div class="sharePanelNotesBlock">
        			<span>Send a tweet about this app.</span>
        		</div>
            </div>
			
            <!-- LinkedIn Fragment -->
            <div id="share_linkedin" class="sharePlugin" style="display: none;">
                <div class="selectText"><span>Link to this <span class="appType"></span> in your Linked in status updates.</span></div>
                <div class="clearer"></div>
                <hr/>
                <div id="linkedin_share_link">
                    <a href="" target="_blank"></a>
                </div>
                <div class="sharePanelNotesBlock">
        			<span>Share on Linked In.</span>
        		</div>
            </div>
            
            <!-- LMS Fragment -->
            <div id="share_lms" class="sharePlugin" style="display: none;">
                <div class="selectText"><span>Create a package for this <span class="appType"></span> that can be used with an LMS.</span>
                    <div class="clearer"></div>
                    <hr/>
                	<div class="LMSselect">
		                <input type="radio" name="LMSGroup" value="scorm" checked="checked"/> SCORM (1.2) package
		                <input type="radio" name="LMSGroup" value="aicc" disabled=true/>AICC package
		                <!--<input type="radio" name="shoppGroup" />CMS package-->
	                </div>
               </div>
                <div >
        			<span>This option is available with the Pro Account.</span>
        		</div>                           
            </div>
            <hr class="buttonControlsHR"/>
            <!-- Button controls -->
            <div id="share_buttons" class="buttonControls">
            	<img class="updatingAnimation" src="com/alleni/images/updating.gif" style="display:none; width:25px; height:25px" />
            	 <div id="invitationSent" style="display:none;">Invitations sent!</div>
            	 <a class="button" id="btnApply" href="#controlApply"><span id="txtApply">Apply</span></a>
            	 <a class="button" id="btnCancel" href="#controlCancel"><span id="txtCancel">Cancel</span></a>
            	 <div class="clearer"></div>
            </div>
        </div>
    </div>
    <div id="loadingSharePanel" style="text-align:center;">
    	<img class="updatingAnimation" src="com/alleni/images/updating.gif" style="display:none; width:25px; height:25px" />
    	<br><br><br><br><br><br><br>
    </div>
</div>

