<div class="blockBlack dashboard login">
    <div class="form signin">
        <form action="" method="post" name="form2" id="signin">
            <input type="text" value="Email" defaultFieldValue="Email" class="input sidebarInput" name="email">
            <input type="text" value="Password" defaultFieldValue="Password" class="input sidebarInput" name="password">
            <input type="checkbox" name="keepSignedIn" id="keepSignedIn" class="sidebarInput">
            <label for="keepSignedIn">Remember me</label>
            <div class="buttonsBlack"><a id="signin" style="margin-right: 20px;" href="#signin" class="button"><span>Sign In</span></a>
                <a href="#/plansAndPricing" class="button"><span>Join</span></a></div>
            <div style="padding-top: 7px; clear: both;"><a id="lostpassword" href="#lostpassword">Can't access your account?</a></div>
        </form>
        <div style="margin-top: 7px; display:none;" class="warningColor">The email or password you entered is incorrect.    </div>
    </div>
    <div class="clearer"></div>
</div>

<div id="dashboardMyStuff" class="blockBlack dashboard logout" style="display:none">
    <table cellspacing="0" cellpadding="0" width="100%" class="gadgetTable">
        <tbody>
        	<tr class="permanentRow" id="transferIndicator">
                <td colspan="3">
                    <div class="roundCornerMask roundCorners">
                        <div id="projectShareRequestsDiv" class="roundCorners plans-button flat gold"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="sidebar divider"></div>
    <table cellspacing="0" cellpadding="0" width="100%" id="myProjectsTable">
        <tbody>
            <tr class="permanentRow" id="myProjectsLink">
                <td colspan="3">
                    <span class="buttonSmall">
                        <a href="#/my?member&amp;project" class="button"><span>View All</span></a>
                    </span>
                    <a href="#/my?member&amp;project">My Projects</a> (<span id="projectTotal">0</span>)
                </td>
            </tr>
            <tr class="permanentRow">
                <td colspan="3">
                <br />
                    <div class="roundCornerMask roundCorners">
                	   <div id="createNewProjectDiv" class="roundCorners plans-button green bold"></div>
                	</div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="sidebar divider"></div>
    <table cellspacing="0" cellpadding="0" width="100%" id="myZappsTable">
        <tbody>
            <tr class="permanentRow">
                <td colspan="3">
                    <span class="buttonSmall">
                        <a href="#/my?member&amp;zapp" class="button">
                            <span>View All</span>
                        </a>
                    </span>
                    <a href="#/my?member&amp;zapp">My App Collection</a><br />(<span id="zappTotal">0</span>)
                </td>
            </tr>
        </tbody>
    </table>
    <div class="sidebar divider gadgetTable"></div>
    <table cellspacing="0" width="100%" id="myGadgetsTable" class="gadgetTable">
        <tbody>
            <tr class="permanentRow">
                <td colspan="2">
                    <span class="buttonSmall">
                        <a href="#/my?member&amp;gadget" class="button">
                            <span>View All</span>
                        </a>
                    </span>
                    <a href="#/my?member&amp;gadget">My Gadget Collection</a><br />(<span id="gadgetTotal">0</span>)
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="dashboardAccount" class="blockBlack dashboard logout" style="display:none">
    <div class="subnav">
        <h2>My Information</h2>
        <ul>
            <li><a href="#/account?myProfile"><span class="selected" id="myProfile">My Profile</span></a></li>
            <li><a href="#/account?usernameEmailPassword"><span id="usernameEmailPassword">Email/Password</span></a></li>
        </ul>
        <h2>Manage Account</h2>
        <ul>
            <li><a href="#/account?companyProfile"><span id="companyProfile">Company Profile</span></a></li>
            <li><a href="#/account?billing"><span id="billing">Billing Information</span></a></li>
            <li><a href="#/account?paymentMethod"><span id="paymentMethod">Payment Method</span></a></li>
            <li><a href="#/account?accountSettings"><span>Account Settings</span></a></li>
        </ul>
        <div id="shareProjectItems">
	        <h2>Share Projects</h2>
	        <ul>
	        	<li><a href="#/account?startTransfer"><span>Send</span></a></li>
	            <li><a href="#/account?outgoingTransfers"><span>Track</span></a></li>
	            <li><a href="#/account?incomingTransfers"><span>Receive</span></a></li>
	        </ul>
        </div>
        <h2>Buy, Sell</h2>
        <ul>
            <li><a href="#/account?seller"><span id="seller">Seller Information</span></a></li>
            <!--  <li><a href="#/account?convertEarnings"><span id="convertEarnings">Convert Earnings</span></a></li>-->
        </ul>
    </div>
</div>

<div id="dashboardAdministration" class="blockBlack dashboard logout" style="display:none">
    <div class="subnav">
        <ul>
            <li><a href="#searchAccount"><span class="selected">Search by Account</span></a></li>
            <li><a href="#searchMember"><span>Search by Member</span></a></li>
        </ul>
        <ul>
            <li><a href="#statistics"><span>Statistics</span></a></li>
            <li><a href="#billing"><span>Billing</span></a></li>
            <li><a href="#manageExperts"><span>Manage Experts</span></a></li>
            <li><a href="#legal"><span>Legal</span></a></li>
        </ul>
    </div>
</div>

<div class='headlinesContainer'>
    <div class="headlines promo visitor">
        <h3>Build it <br>
            with ZebraZapps</h3>
        <p>Your imagination is about to run wild, and ZebraZapps is ready to tame the beast. Create an account today and start building interactive apps and ingenious gadgets. </p>
        <a href="#/plansAndPricing" class="button"><span style="width: 100px;">Join</span></a>
        <div class="divider"></div>
        <h3>What is ZebraZapps?</h3>
        <p>ZebraZapps is a cloud-based authoring and publishing platform used to create rich interactive media applications easily and quickly, as well as share, publish, and sell inventions. Wildly interactive and shockingly fast.</p>
        <a href="#/aboutZebra" class="button"><span style="width: 100px;">Discover</span></a>
        <div class="clearer"></div>
    </div>
</div>

<div style="color:white; position:absolute; display:none;" class="tooltip">
    <span style="color:white;" class="selected" href="#">App Name Goes Here</span>
</div>





















