<div id="stepOne" class="step">
    <h1>
        Plans &amp; Pricing
    </h1>
    <div class="home">
        <p class="leadin">
            Vestibulum ante ipsum primis in faucibus orci luctus. Morbi egestas, urna non consequat. Vestibulum ante ipsum.
        </p>
    </div>
    <div class="block">
        <h2>
            Zebra Account Plans
        </h2>
        <p>
            Details can go here. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in Aliquam erat volutpat. Phasellus nibh. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in Aliquam erat volutpat. Phasellus nibh. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in Aliquam erat volutpat. Phasellus nibh.
        </p>
        <div class="browseGrid">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="group" style="border-bottom:none">
                            <h2>
                                Basic
                            </h2>
                            <p>
                                <span class="label">Price:</span> $4.99 a month
                            </p>
                            <p>
                                Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in Aliquam erat volutpat. Phasellus nibh.
                            </p>
                            <ul>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                            </ul>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td class="group" style="border-bottom:none">
                            <h2>
                                Standard
                            </h2>
                            <p>
                                <span class="label">Price:</span> $9.99 a month
                            </p>
                            <p>
                                Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in Aliquam erat volutpat. Phasellus nibh.
                            </p>
                            <ul>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                            </ul>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td class="group" style="border-bottom:none">
                            <h2>
                                Premium
                            </h2>
                            <p>
                                <span class="label">Price:</span> $19.99 a month
                            </p>
                            <p>
                                Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in Aliquam erat volutpat. Phasellus nibh.
                            </p>
                            <ul>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                                <li>Benefit
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td width="32%" class="group" style="border-top:none">
                            <div class="buttonTall">
                                <div class="left"></div>
                                <div class="text">
                                    <a href="#basic">Buy Now</a><br>
                                    <div class="small">
                                        Continue to create your account
                                    </div>
                                </div>
                                <div class="right"></div>
                            </div>
                        </td>
                        <td width="25">
                            &nbsp;
                        </td>
                        <td width="32%" class="group" style="border-top:none">
                            <div class="buttonTall">
                                <div class="left"></div>
                                <div class="text">
                                    <a href="#standard">Buy Now</a><br>
                                    <div class="small">
                                        Continue to create your account
                                    </div>
                                </div>
                                <div class="right"></div>
                            </div>
                        </td>
                        <td width="25">
                            &nbsp;
                        </td>
                        <td width="32%" class="group" style="border-top:none">
                            <div class="buttonTall">
                                <div class="left"></div>
                                <div class="text">
                                    <a href="#premium">Buy Now</a><br>
                                    <div class="small">
                                        Continue to create your account
                                    </div>
                                </div>
                                <div class="right"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!--            <div class="message marginTop indent" style="width:500px">
              <h3>Already a Member?</h3>
We see this email is already registered, would you like to:
              <ul>
                <li>• <a href="#">sign in</a> or</li>
                
                <li>• <a href="#">create another account?</a></li>
              </ul>
            </div>-->
        <div class="browseRows"></div>
        <div class="clearer"></div>
    </div>
</div>
<div id="stepTwo" class="step" style="display:none">
    <h1>
        Create an Account
    </h1>
    <div class="block registration">
        <div class="columnLeft">
            <div class="form">
                <form action="" method="get">
                    <h2>
                        Account Level Name - $4.99 a Month
                    </h2>
                    <div class="divider"></div>
                    <h2>
                        Primary Member
                    </h2>
                    <table border="0" cellpadding="0" cellspacing="0" class="indent">
                        <tbody>
                            <tr>
                                <td width="150" class="label">
                                    First Name
                                </td>
                                <td>
                                    <input name="firstName" type="text" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Last Name
                                </td>
                                <td>
                                    <input name="lastName" type="text" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Email Address
                                </td>
                                <td>
                                    <input name="email" type="text" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Password
                                </td>
                                <td>
                                    <input name="password" type="password" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Confirm Password
                                </td>
                                <td>
                                    <input name="passwordConfirm" type="password" class="textfield wide">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="divider marginTop"></div>
                    <h2>
                        Account Information
                    </h2>
                    <table border="0" cellpadding="0" cellspacing="0" class="indent">
                        <tbody>
                            <tr>
                                <td width="150" class="label">
                                    Name/Company
                                </td>
                                <td>
                                    <input name="companyName" type="text" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Country
                                </td>
                                <td>
                                    <select name="companyStateProvince" class="menu wide">
                                        <option value=" ">
                                            Select State . . .
                                        </option>
                                        <option value=" ">
                                            Country List
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Address
                                </td>
                                <td>
                                    <input name="companyAddress1" type="text" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Address
                                </td>
                                <td>
                                    <input name="companyAddress2" type="text" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    City
                                </td>
                                <td>
                                    <input name="companyCity" type="text" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    State
                                </td>
                                <td>
                                    <select name="companyStateProvince" class="menu wide">
                                        <option value="" selected="selected">
                                            Select One . . .
                                        </option>
                                        <option value="AL">
                                            Alabama
                                        </option>
                                        <option value="AK">
                                            Alaska
                                        </option>
                                        <option value="AS">
                                            American Samoa
                                        </option>
                                        <option value="AZ">
                                            Arizona
                                        </option>
                                        <option value="AR">
                                            Arkansas
                                        </option>
                                        <option value="AA">
                                            Armed Forces Americas
                                        </option>
                                        <option value="AE">
                                            Armed Forces Europe
                                        </option>
                                        <option value="AP">
                                            Armed Forces Pacific
                                        </option>
                                        <option value="CA">
                                            California
                                        </option>
                                        <option value="CO">
                                            Colorado
                                        </option>
                                        <option value="CT">
                                            Connecticut
                                        </option>
                                        <option value="DE">
                                            Delaware
                                        </option>
                                        <option value="DC">
                                            District of Columbia
                                        </option>
                                        <option value="FL">
                                            Florida
                                        </option>
                                        <option value="GA">
                                            Georgia
                                        </option>
                                        <option value="GU">
                                            Guam
                                        </option>
                                        <option value="HI">
                                            Hawaii
                                        </option>
                                        <option value="ID">
                                            Idaho
                                        </option>
                                        <option value="IL">
                                            Illinois
                                        </option>
                                        <option value="IN">
                                            Indiana
                                        </option>
                                        <option value="IA">
                                            Iowa
                                        </option>
                                        <option value="KS">
                                            Kansas
                                        </option>
                                        <option value="KY">
                                            Kentucky
                                        </option>
                                        <option value="LA">
                                            Louisiana
                                        </option>
                                        <option value="ME">
                                            Maine
                                        </option>
                                        <option value="MH">
                                            Marshall Islands
                                        </option>
                                        <option value="MD">
                                            Maryland
                                        </option>
                                        <option value="MA">
                                            Massachusetts
                                        </option>
                                        <option value="MI">
                                            Michigan
                                        </option>
                                        <option value="MN">
                                            Minnesota
                                        </option>
                                        <option value="MS">
                                            Mississippi
                                        </option>
                                        <option value="MO">
                                            Missouri
                                        </option>
                                        <option value="MT">
                                            Montana
                                        </option>
                                        <option value="NE">
                                            Nebraska
                                        </option>
                                        <option value="NV">
                                            Nevada
                                        </option>
                                        <option value="NH">
                                            New Hampshire
                                        </option>
                                        <option value="NJ">
                                            New Jersey
                                        </option>
                                        <option value="NM">
                                            New Mexico
                                        </option>
                                        <option value="NY">
                                            New York
                                        </option>
                                        <option value="NC">
                                            North Carolina
                                        </option>
                                        <option value="ND">
                                            North Dakota
                                        </option>
                                        <option value="MP">
                                            Northern Marianas
                                        </option>
                                        <option value="OH">
                                            Ohio
                                        </option>
                                        <option value="OK">
                                            Oklahoma
                                        </option>
                                        <option value="OR">
                                            Oregon
                                        </option>
                                        <option value="PW">
                                            Palau
                                        </option>
                                        <option value="PA">
                                            Pennsylvania
                                        </option>
                                        <option value="PR">
                                            Puerto Rico
                                        </option>
                                        <option value="RI">
                                            Rhode Island
                                        </option>
                                        <option value="SC">
                                            South Carolina
                                        </option>
                                        <option value="SD">
                                            South Dakota
                                        </option>
                                        <option value="TN">
                                            Tennessee
                                        </option>
                                        <option value="TX">
                                            Texas
                                        </option>
                                        <option value="UT">
                                            Utah
                                        </option>
                                        <option value="VT">
                                            Vermont
                                        </option>
                                        <option value="VI">
                                            Virgin Islands
                                        </option>
                                        <option value="VA">
                                            Virginia
                                        </option>
                                        <option value="WA">
                                            Washington
                                        </option>
                                        <option value="WV">
                                            West Virginia
                                        </option>
                                        <option value="WI">
                                            Wisconsin
                                        </option>
                                        <option value="WY">
                                            Wyoming
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Zipcode
                                </td>
                                <td>
                                    <input name="companyZipPostalCode" type="text" class="textfield wide">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="buttons">
                        <div class="buttonTall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#continue">Continue</a><br>
                                <div class="small">
                                    To Payment Information
                                </div>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonTall"></div>
                    </div>
                </form>
            </div>
            <div class="browseRows"></div>
        </div>
        <div class="columnRight">
            <h3>
                Account Members
            </h3>
            <p>
                You will be able to add additional account members after signup. Auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras tempor. Morbi egestas.
            </p>
        </div>
        <div class="clearer"></div>
    </div>
</div>
<div id="stepThree" class="step" style="display:none">
    <h1>
        Payment Information
    </h1>
    <div class="home"></div>
    <div class="block registration">
        <div class="columnLeft">
            <div class="form">
                <form action="" method="get">
                    <h2>
                        Account Level Name - $4.99 a Month
                    </h2>
                    <div class="divider"></div>
                    <h2>
                        Account Credit Card
                    </h2>
                    <table border="0" cellpadding="0" cellspacing="0" class="indent marginBottom">
                        <tbody>
                            <tr>
                                <td width="130" class="label">
                                    Credit Card Type
                                </td>
                                <td>
                                    <select name="creditCardType" class="menu wide">
                                        <option value=" " selected="selected">Select Card Type...</option>
                                        <option value="amex">American Express</option>
                                        <option value="mastercard">MasterCard</option>
                                        <option value="visa">Visa</option>
                                        <option value="discover">Discover</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Name on Card
                                </td>
                                <td>
                                    <input name="nameOnCreditCard" type="text" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Card Number
                                </td>
                                <td>
                                    <input name="creditCardNumber" type="text" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Expiration Date
                                </td>
                                <td>
                                    <select name="expirationMonth" class="menu narrow">
                                        <option value=" ">
                                            Month...
                                        </option>
                                        <option value=" ">
                                            01
                                        </option>
                                        <option>
                                            02
                                        </option>
                                        <option>
                                            03
                                        </option>
                                        <option>
                                            04
                                        </option>
                                        <option>
                                            05
                                        </option>
                                        <option>
                                            06
                                        </option>
                                        <option>
                                            07
                                        </option>
                                        <option>
                                            08
                                        </option>
                                        <option>
                                            09
                                        </option>
                                        <option>
                                            10
                                        </option>
                                        <option>
                                            11
                                        </option>
                                        <option>
                                            12
                                        </option>
                                    </select> <select name="expirationYear" class="menu narrow">
                                        <option value=" ">
                                            Year...
                                        </option>
                                        <option value=" ">
                                            2013
                                        </option>
                                        <option>
                                            2014
                                        </option>
                                        <option>
                                            2015
                                        </option>
                                        <option>
                                            2016
                                        </option>
                                        <option>
                                            2018
                                        </option>
                                        <option>
                                            2019
                                        </option>
                                        <option>
                                            2020
                                        </option>
                                            2021
                                        </option>
                                        <option>
                                            2022
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Security Code
                                </td>
                                <td>
                                    <input name="securityCode" type="text" class="textfield narrow">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="divider"></div>
                    <h2>
                        Billing Address
                    </h2>
                    <table border="0" cellpadding="0" cellspacing="0" class="indent">
                        <tbody>
                            <tr>
                                <td colspan="2" class="label">
                                    <input type="checkbox" name="checkbox"> Same as account
                                </td>
                            </tr>
                            <tr>
                                <td width="130" class="label">
                                    Name/Company
                                </td>
                                <td>
                                    <input name="billingNameCompany" type="text" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Country
                                </td>
                                <td>
                                    <select name="billingCountry" class="menu wide">
                                        <option value=" ">
                                            Select State...
                                        </option>
                                        <option value=" ">
                                            Country List
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Address
                                </td>
                                <td>
                                    <input name="billingAddress1" type="text" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Address
                                </td>
                                <td>
                                    <input name="billingAddress2" type="text" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    City
                                </td>
                                <td>
                                    <input name="billingCity" type="text" class="textfield wide">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    State
                                </td>
                                <td>
                                    <select name="billingStateProvince" class="menu wide">
                                        <option value="" selected="selected">
                                            Select One . . .
                                        </option>
                                        <option value="AL">
                                            Alabama
                                        </option>
                                        <option value="AK">
                                            Alaska
                                        </option>
                                        <option value="AS">
                                            American Samoa
                                        </option>
                                        <option value="AZ">
                                            Arizona
                                        </option>
                                        <option value="AR">
                                            Arkansas
                                        </option>
                                        <option value="AA">
                                            Armed Forces Americas
                                        </option>
                                        <option value="AE">
                                            Armed Forces Europe
                                        </option>
                                        <option value="AP">
                                            Armed Forces Pacific
                                        </option>
                                        <option value="CA">
                                            California
                                        </option>
                                        <option value="CO">
                                            Colorado
                                        </option>
                                        <option value="CT">
                                            Connecticut
                                        </option>
                                        <option value="DE">
                                            Delaware
                                        </option>
                                        <option value="DC">
                                            District of Columbia
                                        </option>
                                        <option value="FL">
                                            Florida
                                        </option>
                                        <option value="GA">
                                            Georgia
                                        </option>
                                        <option value="GU">
                                            Guam
                                        </option>
                                        <option value="HI">
                                            Hawaii
                                        </option>
                                        <option value="ID">
                                            Idaho
                                        </option>
                                        <option value="IL">
                                            Illinois
                                        </option>
                                        <option value="IN">
                                            Indiana
                                        </option>
                                        <option value="IA">
                                            Iowa
                                        </option>
                                        <option value="KS">
                                            Kansas
                                        </option>
                                        <option value="KY">
                                            Kentucky
                                        </option>
                                        <option value="LA">
                                            Louisiana
                                        </option>
                                        <option value="ME">
                                            Maine
                                        </option>
                                        <option value="MH">
                                            Marshall Islands
                                        </option>
                                        <option value="MD">
                                            Maryland
                                        </option>
                                        <option value="MA">
                                            Massachusetts
                                        </option>
                                        <option value="MI">
                                            Michigan
                                        </option>
                                        <option value="MN">
                                            Minnesota
                                        </option>
                                        <option value="MS">
                                            Mississippi
                                        </option>
                                        <option value="MO">
                                            Missouri
                                        </option>
                                        <option value="MT">
                                            Montana
                                        </option>
                                        <option value="NE">
                                            Nebraska
                                        </option>
                                        <option value="NV">
                                            Nevada
                                        </option>
                                        <option value="NH">
                                            New Hampshire
                                        </option>
                                        <option value="NJ">
                                            New Jersey
                                        </option>
                                        <option value="NM">
                                            New Mexico
                                        </option>
                                        <option value="NY">
                                            New York
                                        </option>
                                        <option value="NC">
                                            North Carolina
                                        </option>
                                        <option value="ND">
                                            North Dakota
                                        </option>
                                        <option value="MP">
                                            Northern Marianas
                                        </option>
                                        <option value="OH">
                                            Ohio
                                        </option>
                                        <option value="OK">
                                            Oklahoma
                                        </option>
                                        <option value="OR">
                                            Oregon
                                        </option>
                                        <option value="PW">
                                            Palau
                                        </option>
                                        <option value="PA">
                                            Pennsylvania
                                        </option>
                                        <option value="PR">
                                            Puerto Rico
                                        </option>
                                        <option value="RI">
                                            Rhode Island
                                        </option>
                                        <option value="SC">
                                            South Carolina
                                        </option>
                                        <option value="SD">
                                            South Dakota
                                        </option>
                                        <option value="TN">
                                            Tennessee
                                        </option>
                                        <option value="TX">
                                            Texas
                                        </option>
                                        <option value="UT">
                                            Utah
                                        </option>
                                        <option value="VT">
                                            Vermont
                                        </option>
                                        <option value="VI">
                                            Virgin Islands
                                        </option>
                                        <option value="VA">
                                            Virginia
                                        </option>
                                        <option value="WA">
                                            Washington
                                        </option>
                                        <option value="WV">
                                            West Virginia
                                        </option>
                                        <option value="WI">
                                            Wisconsin
                                        </option>
                                        <option value="WY">
                                            Wyoming
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Zipcode
                                </td>
                                <td>
                                    <input name="billingZipPostalCode" type="text" class="textfield wide">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="buttons">
                        <div class="buttonTall">
                            <div class="left"></div>
                            <div class="text">
                                <a href="#continue">Continue</a><br>
                                <div class="small">
                                    To Confirm Account
                                </div>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="buttonTall"></div>
                        <p>
                            Clicking this buttons affirms you agree<br>
                            to Zebra's <a href="#">Terms &amp; Conditions</a>.
                        </p>
                    </div>
                </form>
            </div>
            <div class="browseRows"></div>
        </div>
        <div class="columnRight">
            <h3>
                Your Information is Secure
            </h3>
            <p>
                Auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            </p>
            <h3>
                Benefits of Joining
            </h3>
            <p>
                Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.
            </p>
        </div>
        <div class="clearer"></div>
    </div>
</div>
<div id="stepFour" class="step" style="display:none">
    <h1>
        Confirm Information
    </h1>
    <div class="home"></div>
    <div class="block">
        <h2 class="review" id="accountTypeDescription">
            Basic - $4.99 a month
        </h2>
        <div class="divider" style="clear:both"></div>
        <div class="columnLeft" style="width:485px">
            <div class="form">
                <form action="" method="get">
                    <div class="floatRight">
                        <a href="#">Edit</a>
                    </div>
                    <h2>
                        Primary Member
                    </h2>
                    <table border="0" cellpadding="0" cellspacing="0" class="indent">
                        <tbody>
                            <tr>
                                <td width="130" class="label">
                                    Name
                                </td>
                                <td class="label black review" id="firstLastName"></td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Email Address
                                </td>
                                <td class="label review" id="email"></td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Password
                                </td>
                                <td class="label">
                                    •••••••••••
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="divider marginTop"></div>
                    <div class="floatRight">
                        <a href="#">Edit</a>
                    </div>
                    <h2>
                        Account Information
                    </h2>
                    <table border="0" cellpadding="0" cellspacing="0" class="indent">
                        <tbody>
                            <tr>
                                <td width="130" class="label">
                                    Name/Company
                                </td>
                                <td class="label review" id="companyName"></td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Address
                                </td>
                                <td class="label review" id="companyAddress1"></td>
                            </tr>
                            <tr>
                                <td class="label">
                                    &nbsp;
                                </td>
                                <td class="label review" id="companyAddress2"></td>
                            </tr>
                            <tr>
                                <td class="label">
                                    &nbsp;
                                </td>
                                <td class="label review" id="companyCityStateProvinceZipPostalCode"></td>
                            </tr>
                            <tr>
                                <td class="label">
                                    &nbsp;
                                </td>
                                <td class="label review" id="companyCountry"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="browseRows"></div>
        </div>
        <div class="columnRight" style="width:485px">
            <div class="form">
                <form action="" method="get">
                    <div class="floatRight">
                        <a href="#">Edit</a>
                    </div>
                    <h2>
                        Account Credit Card
                    </h2>
                    <table border="0" cellpadding="0" cellspacing="0" class="indent marginBottom">
                        <tbody>
                            <tr>
                                <td width="130" class="label">
                                    Credit Card Type
                                </td>
                                <td class="label review" id="creditCardType"></td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Name on Card
                                </td>
                                <td class="label review" id="nameOnCreditCard"></td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Card Number
                                </td>
                                <td class="label review" id="creditCardNumberMasked"></td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Expiration Date
                                </td>
                                <td class="label review" id="expirationDate"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="divider"></div>
                    <div class="floatRight">
                        <a href="#">Edit</a>
                    </div>
                    <h2>
                        Billing Address
                    </h2>
                    <table border="0" cellpadding="0" cellspacing="0" class="indent">
                        <tbody>
                            <tr>
                                <td width="130" class="label">
                                    Name/Company
                                </td>
                                <td class="label review" id="billingNameCompany"></td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Address
                                </td>
                                <td class="label review" id="billingAddress1"></td>
                            </tr>
                            <tr id="billingAddress2row">
                                <td class="label">
                                    &nbsp;
                                </td>
                                <td class="label review" id="billingAddress2"></td>
                            </tr>
                            <tr>
                                <td class="label">
                                    &nbsp;
                                </td>
                                <td class="label review" id="billingCityStateProvinceZipPostalCode"></td>
                            </tr>
                            <tr>
                                <td class="label">
                                    &nbsp;
                                </td>
                                <td class="label review" id="billingCountry"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="divider marginTop" style="clear:both"></div>
        <div class="buttons" style="clear:both">
            <div class="buttonTall">
                <div class="left"></div>
                <div class="text">
                    <a href="#create">Submit</a><br>
                    <div class="small">
                        Start Using Zebra
                    </div>
                </div>
                <div class="right"></div>
            </div>
            <div class="buttonTall"></div>
        </div>
        <div class="clearer"></div>
    </div>
</div>
