<h1>
    Sign up for a Free Account
</h1>
<div class="home">
    <p class="leadin">
        You've been invited to become a Zebra member. Signup for free today to start viewing apps built in Zebra!
    </p>
</div>
<div class="block registration">
    <div class="columnLeft">
        <div class="form">
            <form action="" method="get">
                <h2>
                    Member Signup
                </h2>
                <table border="0" cellpadding="0" cellspacing="0" class="indent">
                    <tbody>
                        <tr>
                            <td width="150" class="label">
                                First Name
                            </td>
                            <td>
                                <input name="firstName" type="text" class="textfield wide">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                Last Name
                            </td>
                            <td>
                                <input name="lastName" type="text" class="textfield wide">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="divider marginTop"></div>
                <table border="0" cellpadding="0" cellspacing="0" class="indent">
                    <tbody>
                        <tr>
                            <td class="label">
                                Email Address
                            </td>
                            <td>
                                <input name="email" type="text" class="textfield wide">
                            </td>
                        </tr>
                        <tr>
                            <td width="150" class="label">
                                Password
                            </td>
                            <td>
                                <input name="password" type="password" class="textfield wide">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                Confirm Password
                            </td>
                            <td>
                                <input name="confirmPassword" type="password" class="textfield wide">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="message marginTop indent" style="width:500px;display:none;">
                    <h3>
                        Already a Member?
                    </h3>We see this email is already registered, would you like to:
                    <ul>
                        <li>• <a href="#">sign in</a> or
                        </li>
                        <li>• <a href="#">create another account?</a>
                        </li>
                    </ul>
                </div>
                <div class="buttons">
                    <div class="buttonTall">
                        <div class="left"></div>
                        <div class="text">
                            <a id="submitButton" href="#" name="submitButton">Sign Up</a><br>
                            <div class="small">
                                To Start Viewing apps
                            </div>
                        </div>
                        <div class="right"></div>
                    </div>
                    <p>
                        Clicking this buttons affirms you agree<br>
                        to Zebra's <a href="#">Terms &amp; Conditions</a>.
                    </p>
                    <div class="clearer"></div>
                </div>
                <p>
                    &nbsp;
                </p>
            </form>
        </div>
        <div class="browseRows"></div>
    </div>
    <div class="columnRight">
        <h3>
            Why Join Zebra?
        </h3>
        <p>
            Auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
        </p>
        <h3>
            More About Zebra
        </h3>
        <p>
            Auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.
        </p>
        <h3>
            Join the Zebra Community
        </h3>
        <p>
            Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.
        </p>
    </div>
    <div class="clearer"></div>
</div>
