<div class="title">supports</div>

below are two videos<br>
<hr>

<!--div class="video_container">
    <a href="http://zebraintro.s3.amazonaws.com/NewDragDrop.mp4" class="video_play" id="zebra-presentation" name="zebra-presentation"><object width="100%" height="100%" id="zebra-presentation_api" name="zebra-presentation_api" data="/org/flowplayer-3.2.4.swf?0.41071454365737736" type="application/x-shockwave-flash">
            <param name="allowfullscreen" value="true" />
            <param name="allowscriptaccess" value="always" />
            <param name="quality" value="high" />
            <param name="cachebusting" value="true" />
            <param name="bgcolor" value="#000000" />
            <param name="flashvars" value="config={&quot;playerId&quot;:&quot;zebra-presentation&quot;,&quot;clip&quot;:{&quot;url&quot;:&quot;http://com.alleni.bucket.video.s3.amazonaws.com/WhatIsZebra.mp4&quot;},&quot;playlist&quot;:[{&quot;url&quot;:&quot;http://zebraintro.s3.amazonaws.com/NewDragDrop.mp4&quot;}]}" />
        </object></a> <script type="text/javascript">
            //<![CDATA[

            flowplayer("zebra-presentation", "/org/flowplayer-3.2.4.swf");

            //]]>
    </script>
</div>

<hr>

<div class="video_container">
    <a href="http://com.alleni.bucket.video.s3.amazonaws.com/WhatIsZebra.mp4" class="video_play" id="zebra-presentation" name="zebra-presentation"><object width="100%" height="100%" id="zebra-presentation_api" name="zebra-presentation_api" data="/assets/flash/flowplayer-3.2.4.swf?0.41071454365737736" type="application/x-shockwave-flash">
            <param name="allowfullscreen" value="true" />
            <param name="allowscriptaccess" value="always" />
            <param name="quality" value="high" />
            <param name="cachebusting" value="true" />
            <param name="bgcolor" value="#000000" />
            <param name="flashvars" value="config={&quot;playerId&quot;:&quot;zebra-presentation&quot;,&quot;clip&quot;:{&quot;url&quot;:&quot;http://com.alleni.bucket.video.s3.amazonaws.com/WhatIsZebra.mp4&quot;},&quot;playlist&quot;:[{&quot;url&quot;:&quot;http://com.alleni.bucket.video.s3.amazonaws.com/WhatIsZebra.mp4&quot;}]}" />
        </object></a> <script type="text/javascript">
            //<![CDATA[

            flowplayer("zebra-presentation", "/assets/flash/flowplayer-3.2.4.swf");

            //]]>
    </script>
</div-->
<hr>


<div class="video_container">
    <a href="http://zebraintro.s3.amazonaws.com/NewDragDrop.mp4" id="feedback" class="video_play" name="feedback"><img src="/com/alleni/images/about_features_1.png" alt="Feedback" width="298" height="180" /></a> <script type="text/javascript">
                                    //<![CDATA[

                                    flowplayer("feedback", "/org/flowplayer-3.2.4.swf");

                                    //]]>
    </script>
</div>


<div class="video_container">
                <a href="http://zebraintro.s3.amazonaws.com/NewDragDrop.mp4" id="feedback" class="video_play" name="feedback">Drag and Dropz</a> <script type="text/javascript">
                    //<![CDATA[
                    flowplayer("feedback", "/org/flowplayer-3.2.4.swf");
                    //]]>
                </script>
            </div>

<hr>
