            <h1>Form</h1>
            <form id="form" action="">
                <fieldset>
                    <legend></legend>
                    <div>
                        <ol>
                            <li>...</li>
                        </ol>
                    </div>
                </fieldset>
                <div class='options'>
                    <input id="ignoreValidation" type="checkbox" name="ignoreValidation" />
                    <label for="ignoreValidation">&nbsp;Ignore validation</label>
                </div>
                <div class='options'>
                    <input class="submit" type="submit" value="Submit" id="submitButton"/>
                </div>
                <div class='options'>
                    <input id="revealPasswords" type="checkbox" name="revealPasswords" />
                    <label for="revealPasswords">&nbsp;Reveal passwords</label>
                </div>
            </form>