/*<meta />*/

html
{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: trebuchet ms, tahoma, verdana, arial, sans-serif;
	mc-master-page: url('../MasterPages/ContentPage.flmsp');
}

body
{
	font-family: Arial;
	top: 20px !important;
	background: #ffffff;
	height: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 10pt;
	background-color: #e6e6e6;
}

div#wrapper
{
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	height: 100%;
	max-height: 100%;
}

/*Height of top frame div*/

/*Disable scrollbars. Set to "scroll" to enable*/

#bcrums
{
	background: #e6e6e6;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	overflow: hidden;
}

/*Set top value to HeightOfTopFrameDiv*/

/*Set bottom value to HeightOfBottomFrameDiv*/

#bodyContent
{
	clear: both;
	margin-top: 10px;
	padding: 0px 10px 40px 10px;
	background: #fff;
	position: fixed;
	top: 30px;
	left: 10px;
	right: 10px;
	bottom: 60px;
	overflow: auto;
	
}

@media print
{
	#bodyContent
	{
		-moz-column-count: 2;
		-moz-column-gap: 50px;
		-webkit-column-count: 2;
		-webkit-column-gap: 50px;
		column-count: 2;
		column-gap: 50px;
	}
}

/*Height of bottom frame div*/

/*Disable scrollbars. Set to "scroll" to enable*/

#customfooter
{
	position: absolute;
	left: 0;
	top: auto;
	bottom: 0;
	width: 100%;
	height: 30px;
	overflow: hidden;
	background: #e6e6e6;
	margin: 0;
	bottom: 0px;
	display: block;
	clear: both;
	text-align: right;
	z-index: 4;
	padding-bottom: 15px;
	padding-top: 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #5D6D7F;
}

#customfooter p
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #5d6d7f;
}

#customfooter p.left
{
	float: left;
	width: 180px;
	padding-top: 0px;
	margin-top: 0px;
	text-align: left;
	padding-left: 20px;
}

#customfooter a:link, #customfooter a:visited, #customfooter a:active
{
	text-decoration: none;
	color: #5D6D7F;
}

#customfooter a:hover
{
	text-decoration: underline;
}

#customfooter p.right
{
	float: right;
	width: 170px;
	padding-top: 0px;
	margin-top: 0px;
	padding-right: 20px;
}

h1
{
	font-weight: bold;
	font-size: 20pt;
	color: #000;
	margin-top:5px;
}

h2
{
	font-weight: bold;
	font-size: 15.0pt;
}

h3
{
	font-weight: bold;
	font-size: 12.0pt;
}

h4
{
	font-weight: bold;
	font-size: 10.0pt;
}

h5
{
	font-weight: bold;
	font-size: 8.0pt;
}

h6
{
	font-weight: bold;
	font-size: 6.0pt;
}

p
{
	font-size: 10pt;
	margin-top: 12pt;
	margin-bottom: 0pt;
	font-weight: normal;
	color: #000;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

a.MCBreadcrumbsLink
{
	font-style: normal;
	color: #000000;
	font-size: 12pt;
	font-weight: normal;
	text-decoration: none;
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

MadCap|breadcrumbsProxy
{
	border-bottom-color: #e6e6e6;
	margin-top: 10px;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	padding-left: 10px;
	mc-breadcrumbs-prefix: '>> ';
}

html.noncontent
{
	mc-master-page: url('../MasterPages/MiniTOCs.flmsp');
}

div.MCMiniTocBox_0
{
	border-top-width: 0px;
	border-top-style: none;
	padding-left: 30px;
}

/*IE6 hack*/

/*Set value to (HeightOfTopFrameDiv 0 HeightOfBottomFrameDiv 0)*/

* html body div#wrapper
{
	padding: 50px 0 30px 0;
}

/*IE6 hack*/

* html #bodyContent
{
	height: 100%;
	width: 100%;
}

a.MiniTOC1:link
{
	font-family: inherit;
	color: black;
	font-size: 10.0pt;
	font-weight: bold;
	text-decoration: none;
}

a.MiniTOC1:visited
{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a.MiniTOC1:hover
{
	text-decoration: underline;
}

a.MCBreadcrumbsLink:link
{
	text-decoration: none;
}

a.MCBreadcrumbsLink:visited
{
	text-decoration: none;
}

