
    <div class="contentRight">
      <div class="tabs">
        <div class="tab2"><a href="#/support?main">Overview</a></div>
        <div class="tab"><a href="#/support?objects">Objects</a></div>
        <div class="tab2"><a href="#/support?ribbons">Ribbons</a></div>
        <div class="tab2"><a href="#/support?wiring">Wiring</a></div>
        <div class="tab2"><a href="#/support?libraries">Libraries</a></div>
        <div class="tab2"><a href="#/support?learn">Learn</a></div>
        <div class="tab2"><a href="#/support?faq">FAQ</a></div>
        <div class="clearer"></div>
      </div>
      <div class="block support">
        <div class="paging"><a href="#/support?objects">&lt; Back</a></div>
        <h1><img src="com/alleni/html/fragments/support/images/judge_now_table_icon.png" align="absmiddle" /> Answer-Judging Table</h1>
        <h2>Description</h2>
        <p>Answer-Judging is the process of comparing anticipated responses to the responses actually given by users so that appropriate actions can be taken, such as giving feedback. The analysis process can be very simple, such as in the case of a true/false question, to extremely complex analyses of multi-step actions. Since the functions of the table are represented graphically, no scripting is required to set them up or edit them.</p>
<p>ZebraZapps Answer-Judging tables are capable of evaluating a full range of user responses, simple to complex. Tables start out small and simple. You can turn on optional features to make them grow in response to the tasks you put them to. Capabilities provide answer analysis, branching and feedback presentation. They can be used to assess the order of a user's actions and recognize the successful completion of tasks. </p>
        <p>Each column in an Answer-Judging table represents one anticipated answer or a component of an answer that you may wish to respond to individually. Similar to the Truth Table, properties to be judged are wired to the logic rows (the top part of the table) to determine if they meet a criterion or not. This creates a set of true/false conditions that the table cells work with.</p>
        <p><img src="com/alleni/html/fragments/support/images/logic_rows.png" width="448" height="187" /></p>
        <p>Answer-Judging Tables have unique settings in each column cell. Here an author can choose to have the table determine simply if a condition has been met at any time (checkmark) or if a condition was met at the right time during a series of steps (sequence number).</p>
        <p><a href="com/alleni/html/fragments/support/images/checked.png"><img src="com/alleni/html/fragments/support/images/checked.png" width="410" height="147" /></a></p>
        <p>In the case of determining simply if a condition was met, you would click as prompted on the right side of a property cell. The resulting checkmark would indicate that this condition is a requirement of this column (anticipated answer). <br />
        </p>
        <p><img src="com/alleni/html/fragments/support/images/numbered.png" width="403" height="143" /></p>
        <p>If the order of actions is to be judged, you would need to click on the left side of  property cells to place a sequence number. A &quot;1&quot; in a cell denotes that this condition must met before any other condition having a higher number. If other cells in the column also contain a &quot;1,&quot; those conditions can be met in any order as long as all are met before a &quot;2&quot; condition becomes true.</p>
<p>When users make responses, the table scans from left to right, looking for a match, that is a column of conditions that are all true. When a match is found, and out port at the bottom of the column (if you have them turned on and wired) will fire. The answer column port at the upper right is also set to the number of the column. And, if you have created value rows, those values are sent to the property ports at the edges of the table.</p>
        <p><img src="com/alleni/html/fragments/support/images/branching.png" width="542" height="156" /></p>
        <p>Branching determines what to do after a match has been found. Check for other matches? Stop and wait for a continue command? Clear the table? Shut the table down? You have many choices.</p>
        <p>The branching controls for each column are located under the column numbers. Clicking on the control icon cycles the branching for that column through five modes: continue, pause, try again, try again reset and exit &amp; power off:</p>
        <ul>
          <li><img src="com/alleni/html/fragments/support/images/continue.png" width="35" height="17" />continue- check for additional column matches</li>
          <li><img src="com/alleni/html/fragments/support/images/pause.png" width="34" height="17" />pause - wait for an input command before looking for additional matching columns</li>
          <li><img src="com/alleni/html/fragments/support/images/try_again.png" width="34" height="17" />try again - remembering what's been done so far, start looking again for matches starting at column 1</li>
          <li><img src="com/alleni/html/fragments/support/images/try_again_reset.png" width="34" height="17" />try again reset - clear table memory and start looking for new matches at column 1</li>
          <li><img src="com/alleni/html/fragments/support/images/exit_and_power_off.png" width="34" height="17" />exit and power off – update values, trigger outs, set column number matches and shut down.</li>
        </ul>
        <p>Also unique to Answer-Judging Tables is the ability to control when conditions are evaluated. Answer-Judging Tables default to continuous analysis and response. </p>
        <p><img src="com/alleni/html/fragments/support/images/perpetual_judging.png" width="395" height="228" /></p>
        <p>To inhibit immediate action by the Answer-Judging Table, wire an object out, such as a click release from a &quot;submit&quot; button, to the &quot;judge now&quot; input on the bottom left of the table. Just by attaching the wire, the table will only store in memory the order and values of user actions without looking for column matches until the &quot;judge now&quot; input is triggered.. </p>
        <p><img src="com/alleni/html/fragments/support/images/judge_now_wired.png" width="420" height="256" /></p>
        <p><img src="com/alleni/html/fragments/support/images/judge_now_ports.png" width="527" height="186" /></p>
      </div>
    </div>
   