<div class="contentRight">
      <div class="tabs">
        <div class="tab2"><a href="#/support?main">Overview</a></div>
        <div class="tab"><a href="#/support?objects">Objects</a></div>
        <div class="tab2"><a href="#/support?ribbons">Ribbons</a></div>
        <div class="tab2"><a href="#/support?wiring">Wiring</a></div>
        <div class="tab2"><a href="#/support?libraries">Libraries</a></div>
<div class="tab2"><a href="#/support?learn">Learn</a></div>
        <div class="tab2"><a href="#/support?faq">FAQ</a></div>
        <div class="clearer"></div>
      </div>
      <div class="block support">
        <div class="paging"><a href="#/support?objects">&lt; Back</a></div>
        <h1><img align="absmiddle" src="../images/arena.png"> Arena</h1>
<h2>Description</h2>
<p>The Arena object is a container that holds other objects. An arena can have multiple pages and transitions between those pages. Its message center also provides access to its paging and layout capabilities. Additionally, the arena object has a controller that allows you to easily see how pages are in the arena, navigate to different pages, and add or remove pages. This controller can be visible or hidden when the application is running.</p>
<h2>Example</h2>
<p>In the following example, an arena is wired to two buttons to make a page navigation tool. Clicking the next button takes the user to the next page, and clicking the previous button takes the user to the previous page.</p>
        <h2>
        </h2><h2><img width="640" height="352" src="../images/arena_e.png">Ribbons</h2>
        <h3>Inlets</h3>
        <table>
          <thead>
          </thead>
          <tbody><tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
          </tr>
          </tbody><tbody>
            <tr>
              <td class="label">Go- first page</td>
              <td>DO</td>
              <td>Go to the first page of the arena.</td>
            </tr>
            <tr>
              <td class="label">Go- next page</td>
              <td>DO</td>
              <td>Go to the next page of the arena.</td>
            </tr>
            <tr>
              <td class="label">Go- prev page</td>
              <td>DO</td>
              <td>Go to the previous page of the arena.</td>
            </tr>
            <tr>
              <td class="label">Go- last page</td>
              <td>DO</td>
              <td>Go to the last page of the arena.</td>
            </tr>
            <tr>
              <td class="label">Add pg- before</td>
              <td>DO</td>
              <td>Add a page before the current page in the arena.</td>
            </tr>
            <tr>
              <td class="label">Add pg- after</td>
              <td>DO</td>
              <td>Add a page after the current page in the arena.</td>
            </tr>
            <tr>
              <td class="label">Delete page</td>
              <td>DO</td>
              <td>Delete the current page of the arena.</td>
            </tr>
            <tr>
              <td class="label">Move pg- to first</td>
              <td>DO</td>
              <td>Move the arena page to the beginning of the arena.</td>
            </tr>
            <tr>
              <td class="label">Move pg- forward</td>
              <td>DO</td>
              <td>Move the arena page forward in the arena.</td>
            </tr>
            <tr>
              <td class="label">Move pg- backward</td>
              <td>DO</td>
              <td>Move the arena page backward in the arena.</td>
            </tr>
            <tr>
              <td class="label">Move pg- to last</td>
              <td>DO</td>
              <td>Move the arena page to the end of the arena.</td>
            </tr>
            <tr>
              <td class="label">Start</td>
              <td>DO</td>
              <td>Start playing for the object.</td>
            </tr>
            <tr>
              <td class="label">Pause</td>
              <td>DO</td>
              <td>Pause playing for the object.</td>
            </tr>
            <tr>
              <td class="label">Resume</td>
              <td>DO</td>
              <td>Resume playing for the object.</td>
            </tr>
            <tr>
              <td class="label">Restart</td>
              <td>DO</td>
              <td>Restart playing for the object.</td>
            </tr>
            <tr>
              <td class="label">Stop</td>
              <td>DO</td>
              <td>Stop playing for the object.</td>
            </tr>
          </tbody>
        </table>
        <h3>Properties</h3>
        <table>
          <thead>
          </thead>
          <tbody><tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
          </tr>
          </tbody><tbody>
            <tr>
              <td class="label">Play- p/sec</td>
              <td>ACTIONS</td>
              <td>Get or set the pages per second value when the arena plays.</td>
            </tr>
            <tr>
              <td class="label">Play- actual</td>
              <td>ACTIONS</td>
              <td>Get the actual pages per second playing in the arena.</td>
            </tr>
            <tr>
              <td class="label">Play- no skip</td>
              <td>ACTIONS</td>
              <td>Toggle whether to skip pages when playing the arena.</td>
            </tr>
            <tr>
              <td class="label">Paging- trans</td>
              <td>ACTIONS</td>
              <td>Set the page transition for the arena.</td>
            </tr>
            <tr>
              <td class="label">Paging- tween</td>
              <td>ACTIONS</td>
              <td>Set the paging tween for the arena.</td>
            </tr>
            <tr>
              <td class="label">Paging- secs</td>
              <td>ACTIONS</td>
              <td>Set the time it takes for the arena to change pages.</td>
            </tr>
            <tr>
              <td class="label">Obj- accept</td>
              <td>ACTIONS</td>
              <td>Toggle whether the arena can accept objects.</td>
            </tr>
            <tr>
              <td class="label">Obj- release</td>
              <td>ACTIONS</td>
              <td>Toggle whether the arena can release objects.</td>
            </tr>
            <tr>
              <td class="label">Content- width</td>
              <td>ACTIONS</td>
              <td>Set the width of the content for the arena.</td>
            </tr>
            <tr>
              <td class="label">Content- height</td>
              <td>ACTIONS</td>
              <td>Set the height of the content for the arena.</td>
            </tr>
            <tr>
              <td class="label">Clipped- width</td>
              <td>ACTIONS</td>
              <td>Set the clipped width of the arena.</td>
            </tr>
            <tr>
              <td class="label">Clipped- height</td>
              <td>ACTIONS</td>
              <td>Set the clipped height of the arena.</td>
            </tr>
            <tr>
              <td class="label">Align objs- H</td>
              <td>ALIGN</td>
              <td>Set the horizontal alignment of objects in the arena.</td>
            </tr>
            <tr>
              <td class="label">Align obj- V</td>
              <td>ALIGN</td>
              <td>Set the vertical alignment of objects in the arena.</td>
            </tr>
            <tr>
              <td class="label">Insertion bar</td>
              <td>APPEARANCE</td>
              <td>Toggle whether to show a bar where an object will be placed in the arena (available for arenas using Grid, V-Box, and H-Box layouts).</td>
            </tr>
            <tr>
              <td class="label">Insertion bar- color</td>
              <td>APPEARANCE</td>
              <td>Set the color of the insertion bar for the arena.</td>
            </tr>
            <tr>
              <td class="label">Margin- all</td>
              <td>LAYOUT</td>
              <td>Set the top, bottom, left, and right margins for the object.</td>
            </tr>
            <tr>
              <td class="label">Margin- L</td>
              <td>LAYOUT</td>
              <td>Set the left margin.</td>
            </tr>
            <tr>
              <td class="label">Margin- T</td>
              <td>LAYOUT</td>
              <td>Set the top margin.</td>
            </tr>
            <tr>
              <td class="label">Margin- B</td>
              <td>LAYOUT</td>
              <td>Set the bottom margin.</td>
            </tr>
            <tr>
              <td class="label">Margin- R</td>
              <td>LAYOUT</td>
              <td>Set the right margin.</td>
            </tr>
            <tr>
              <td class="label">Layout</td>
              <td>LAYOUT</td>
              <td>Set the layout type for the arena (free, grid, hbox, vbox).</td>
            </tr>
            <tr>
              <td class="label">Layout chg- tween</td>
              <td>LAYOUT</td>
              <td>Set the tween type for layout changes in the arena.</td>
            </tr>
            <tr>
              <td class="label">Layout chg- sec</td>
              <td>LAYOUT</td>
              <td>Set the tween time for layout changes in the arena.</td>
            </tr>
            <tr>
              <td class="label">Columns</td>
              <td>LAYOUT</td>
              <td>Set the number of columns for the arena.</td>
            </tr>
            <tr>
              <td class="label">Columns- gap</td>
              <td>LAYOUT</td>
              <td>Set the space between columns for the arena.</td>
            </tr>
            <tr>
              <td class="label">Rows</td>
              <td>LAYOUT</td>
              <td>Set the number of rows for the arena.</td>
            </tr>
            <tr>
              <td class="label">Rows- gap</td>
              <td>LAYOUT</td>
              <td>Set the space between rows for the arena.</td>
            </tr>
            <tr>
              <td class="label">Page- total</td>
              <td>VALUES</td>
              <td>Get or set the total number of pages in the arena.</td>
            </tr>
            <tr>
              <td class="label">Page- current</td>
              <td>VALUES</td>
              <td>Get or set the current page of the arena.</td>
            </tr>
            <tr>
              <td class="label">Obj- total</td>
              <td>VALUES</td>
              <td>Get the total number of object in the arena.</td>
            </tr>
            <tr>
              <td class="label">Cloak- bkgd on run</td>
              <td>VISIBILITY</td>
              <td>Toggle whether to cloak the background of the arena when the application is running.</td>
            </tr>
            <tr>
              <td class="label">Control- visible</td>
              <td>VISIBILITY</td>
              <td>Toggle whether the control is visible for the object.</td>
            </tr>
            <tr>
              <td class="label">Control- hide on run</td>
              <td>VISIBILITY</td>
              <td>Toggle whether the control bar hides when the application is running.</td>
            </tr>
          </tbody>
        </table>
        <h3>Outlets</h3>
        <table>
          <thead>
          </thead>
          <tbody><tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
          </tr>
          </tbody><tbody>
            <tr>
              <td class="label">Obj- added</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when an object is added to the arena.</td>
            </tr>
            <tr>
              <td class="label">Obj- removed</td>
              <td>TRIGGERS</td>
              <td>Trigger a wire when an object is removed from an arena.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>