
    <div class="contentRight">
      <div class="tabs">
        <div class="tab2"><a href="#/support?main">Overview</a></div>
        <div class="tab"><a href="#/support?objects">Objects</a></div>
        <div class="tab2"><a href="#/support?ribbons">Ribbons</a></div>
        <div class="tab2"><a href="#/support?wiring">Wiring</a></div>
        <div class="tab2"><a href="#/support?libraries">Libraries</a></div>
<div class="tab2"><a href="#/support?learn">Learn</a></div>
        <div class="tab2"><a href="#/support?faq">FAQ</a></div>
        <div class="clearer"></div>
      </div>
      <div class="block support">
        <div class="paging"><a href="#/support?objects">&lt; Back</a></div>
        <h1><img src="com/alleni/html/fragments/support/images/audio.png" align="absmiddle" /> Audio</h1>
        <h2>Description</h2>
        <p>The audio object allows you to play audio files within a project. You can import audio files into a project through the Asset Library or by specifying a URL.</p>
        <h2>Example</h2>
        <p>The following example shows a simple music player. The play button is wired to the Start inlet ribbon of the audio object. The stop button is wired to the Stop inlet of the audio object. When the application is running, the audio specified by the audio object will play and stop when the buttons are clicked.</p>
        <p><img src="com/alleni/html/fragments/support/images/audio_e.png" />
          <h2>Ribbons</h2>
          <h2>Inlets</h2>
          <table>
            <thead>
              <tr></tr>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <h2>Properties</h2>
          <table>
            <thead>
              <tr></tr>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <h2>Outlets</h2>
        <table>
            <thead>
              <tr></tr>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        <!-- default ribbons -->
      </div>
    </div>
    <div class="clearer"></div>
  