
    <div class="contentRight">
      <div class="tabs">
        <div class="tab2"><a href="#/support?main">Overview</a></div>
        <div class="tab"><a href="#/support?objects">Objects</a></div>
        <div class="tab2"><a href="#/support?ribbons">Ribbons</a></div>
        <div class="tab2"><a href="#/support?wiring">Wiring</a></div>
        <div class="tab2"><a href="#/support?libraries">Libraries</a></div>
        <div class="tab2"><a href="#/support?learn">Learn</a></div>
        <div class="tab2"><a href="#/support?faq">FAQ</a></div>
        <div class="clearer"></div>
      </div>
      <div class="block support">
        <div class="paging"><a href="#/support?objects">&lt; Back</a></div>
        <h1><img src="com/alleni/html/fragments/support/images/button.png" align="absmiddle" /> Button</h1>
        <h2>Description</h2>
        <p>The button object enables basic user interaction. Buttons are useful for navigating applications or providing an interface to interacting with objects. </p>
        <h2>Example</h2>
        <p>In the example below, the button allows the user to toggle the visibility of the oval. The button's Checked ribbon is bound to the oval's Visible ribbon.</p>
        <p><img src="com/alleni/html/fragments/support/images/button_e.png" />
          <h2>Ribbons</h2>
          <h2>Inlets</h2>
          <table>
            <thead>
              <tr></tr>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <h2>Properties</h2>
          <table>
            <thead>
              <tr></tr>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <h2>Outlets</h2>
        <table>
            <thead>
              <tr></tr>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        <!-- default ribbons -->
      </div>
    </div>
    <div class="clearer"></div>
  