
    <div class="contentRight">
      <div class="tabs">
        <a href="#/support?main"><span class="tab2">Overview</span></a>
        <a href="#/support?objects"><span class="tab">Objects</span></a>
        <a href="#/support?ribbons"><span class="tab2">Ribbons</span></a>
        <a href="#/support?wiring"><span class="tab2">Wiring</span></a>
        <a href="#/support?libraries"><span class="tab2">Libraries</span></a>
        <a href="#/support?learn"><span class="tab2">Learn</span></a>
        <a href="#/support?faq"> <span class="tab2">FAQ</span></a>
        <div class="clearer"></div>
      </div>
      <div class="block support">
        <div class="paging"><a href="#/support?objects">&lt; Back</a></div>
        <h1><img src="com/alleni/html/fragments/support/images/polygon.png" align="absmiddle" /> Polygon</h1>
        <h2>Description</h2>
        <p>A polygon object is a primate shape object that a user can interact with. Polygon's can have 3 sides or more.</p>
        <h2>Example</h2>
        <p>The example below shows the initial creation of a polygon object. The number of sides can be changed by editing the text field. Clicking Apply will let you preview the resulting shape. Clicking OK will complete the polygon creation process.</p>
        <p><img src="com/alleni/html/fragments/support/images/polygon_e.png" />
          <h2>Ribbons</h2>
          <h2>Inlets</h2>
          <table>
            <thead>
              <tr></tr>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <h2>Properties</h2>
          <table>
            <thead>
              <tr></tr>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <h2>Outlets</h2>
          <table>
            <thead>
              <tr></tr>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
<!-- default ribbons -->
      </div>
    </div>
    <div class="clearer"></div>
  