
    <div class="contentRight">
      <div class="tabs">
        <a href="#/support?main"><span class="tab2">Overview</span></a>
        <a href="#/support?objects"><span class="tab">Objects</span></a>
        <a href="#/support?ribbons"><span class="tab2">Ribbons</span></a>
        <a href="#/support?wiring"><span class="tab2">Wiring</span></a>
        <a href="#/support?libraries"><span class="tab2">Libraries</span></a>
        <a href="#/support?learn"><span class="tab2">Learn</span></a>
        <a href="#/support?faq"> <span class="tab2">FAQ</span></a>
        <div class="clearer"></div>
      </div>
      <div class="block support">
        <div class="paging"><a href="#/support?objects">&lt; Back</a></div>
        <h1><img src="com/alleni/html/fragments/support/images/rectangle.png" align="absmiddle" /> Rectangle</h1>
        <h2>Description</h2>
        <p>The rectangle object is a primate shape a user can interact with.</p>
        <h2>Example</h2>
        <p>In the example below, a rectangle is used for interacting with an oval. When the application is running, moving the mouse pointer over the rectangle causes the oval to disappear. Moving the mouse pointer outside of the rectangle causes the oval to reappear.</p>
        <p><img src="com/alleni/html/fragments/support/images/rectangle_e.png" />
          <h2>Ribbons</h2>
          <p>&nbsp; </p>
        <h2>Inlets        </h2>
        <table>
        <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
            </thead>
<tr>
            <td class="label">Show</td>
            <td>Display</td>
            <td>Make an object appear.</td>
            </tr>
            <tr>
              <td class="label">Hide</td>
              <td>Display</td>
              <td>Make an object disappear.</td>
            </tr>
            <tr>
              <td class="label">Bring- to front</td>
              <td>Display</td>
              <td>Bring an object to the front of all other objects.</td>
            </tr>
            <tr>
              <td class="label">Bring- forward</td>
              <td>Display</td>
              <td>Bring an objects forward.</td>
            </tr>
            <tr>
              <td class="label">Send- backward</td>
              <td>Display</td>
              <td>ok</td>
            </tr>
            <tr>
              <td class="label">Cloak</td>
              <td>Display</td>
              <td>ok</td>
            </tr>
            <tr>
              <td class="label">Bring- to front</td>
              <td>Display</td>
              <td>&nbsp;</td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
          </table>
<h2>Properties</h2>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <td class="label">Anchor Point</td>
                <td>GEOMETRY</td>
                <td>&nbsp;</td>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
            </tbody>
          </table>
        <h2>Outlets</h2>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <td class="label">Pointer- out</td>
                <td>POINT &amp; CLICK</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td class="label">Drag- start</td>
                <td>DRAG &amp; DROP</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td class="label">Collided with</td>
                <td>COLLISION</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        <!-- default ribbons -->
      </div>
    </div>
    <div class="clearer"></div>
 