    <div class="contentRight">
      <div class="tabs">
        <div class="tab2"><a href="#/support?main">Overview</a></div>
        <div class="tab"><a href="#/support?objects">Objects</a></div>
        <div class="tab2"><a href="#/support?ribbons">Ribbons</a></div>
        <div class="tab2"><a href="#/support?wiring">Wiring</a></div>
        <div class="tab2"><a href="#/support?libraries">Libraries</a></div>
        <div class="tab2"><a href="#/support?learn">Learn</a></div>
        <div class="tab2"><a href="#/support?faq">FAQ</a></div>
        <div class="clearer"></div>
      </div>
      <div class="block support">
        <div class="paging"><a href="#/support?objects">&lt; Back</a></div>
        <h1><img src="com/alleni/html/fragments/support/images/stateTable.png" align="absmiddle" /> State Table</h1>
        <h2>Description</h2>
        <p>The state table can set many property values at the same time. It has many uses, such as setting up practice exercises where each state defines an exercise problem to be worked. Selected objects can be made to appear or disappear, text messages can be changed, and objects can be repositioned, all in synchronization. It's great for process simulations because it can be set to step through a process one state at a time or play through them automatically from start to finish.</p>
        <p>The state table is very easy to understand. It is arranged like a spreadsheet. Rows can be wired to object properties to make each column a set of property values or a &quot;state.&quot; Changing states sets all connected properties to the values of that state. Adding properties to a state table is as simple as wiring a property ribbon to one of the table's value rows. New rows can be created by wiring to the blue port with a plus symbol. </p>
        <p><img src="com/alleni/html/fragments/support/images/value_row.png" width="666" height="261" /></p>
        <p><img src="com/alleni/html/fragments/support/images/new_row.png" width="533" height="366" /></p>
        <p>Each new column added to the table creates a new state for every property row. You can add as many states as you wish.</p>
        <p><a href="com/alleni/html/fragments/support/images/column_number.png"><img src="com/alleni/html/fragments/support/images/column_number.png" width="618" height="229" /></a></p>
        <p>Unlike the truth table or answer judging table, you can move among columns by using a set of controls. The controls located near the bottom left of the state table are wirable inputs ready to be connected to object outs. Cursor clicks, clock ticks, conditional outs and every other type of object out can be used to move between columns. Or you can put the table into play mode in which it plays from one state to another automatically. A hold value keeps the current state for the length of time specified before going on to the next state. Branching arrows at the top of the table can control whether to pause, continue to the next state, or return to the first state. Click the branching controls to cycle through available options.</p>
        <p><img src="com/alleni/html/fragments/support/images/controller.png" width="474" height="169" /></p>
        <p>In addition to wired controls at the bottom, a numeric property can be bound to the column number port in the upper right of the state table. This allows the table to be set to any state directly. For example, a text input object or a slider could be used to select states by binding its numeric value to the current column port.</p>
        <p>The state table provides optional tween controls to create smooth or funky transitions and object animation when moving from one state to another. Tweening between columns works with most object properties, excluding text values and true/false ribbons.</p>
        <p><img src="com/alleni/html/fragments/support/images/state_table_1.png" width="640" height="285" /></p>
        <p><img src="com/alleni/html/fragments/support/images/state_table_2.png" width="640" height="333" /></p>
        <p><img src="com/alleni/html/fragments/support/images/state_table_3.png" width="640" height="359" /></p>
        <p>Each column has an optional out port that can be used to fire object ins and even table actions.      </p>
      </div>
    </div>