
<div class="contentRight">
    <div class="tabs">
        <a href="#/support?main"><span class="tab2">Overview</span></a>
        <a href="#/support?objects"><span class="tab">Objects</span></a>
        <a href="#/support?ribbons"><span class="tab2">Ribbons</span></a>
        <a href="#/support?wiring"><span class="tab2">Wiring</span></a>
        <a href="#/support?libraries"><span class="tab2">Libraries</span></a>
        <a href="#/support?learn"><span class="tab2">Learn</span></a>
        <a href="#/support?faq"> <span class="tab2">FAQ</span></a>
        <div class="clearer"></div>
    </div>
    <div class="block support">
        <div class="paging"><a href="#/support?objects">&lt; Back</a></div>
        <h1><img src="com/alleni/html/fragments/support/images/truth_table_icon.png" align="absmiddle" /> Truth Tables</h1>
        <h2>Description</h2>
        Truth Tables judge the current value of object properties. The judging logic provided by Truth Tables are the current state of boolean values. However the real power of the Truth Table is that any property can be converted to a boolean condition using the conditions column. 
        <p>As properties are connected to ports in logic rows, Truth Tables automatically create every possible combination of true &amp; false across all properties. This logic is achieved by adding columns containing true or false values. The columns, numbered 1 through N, visually represent every possible combination.</p>
        <p><img src="com/alleni/html/fragments/support/images/logic_and_value_rows.png" width="586" height="169" /></p>
        <p>There are several ways to create consequences based on the logic of a truth table. The first is to use value rows, which manipulate properties of any number of objects wired to the table.  Value rows allow authors to create unique feedback for every column. Directly underneath the value rows are tween controls, which facilitate animation between columns by programmatically easing the property values in-between the columns.</p>
        <p><img src="com/alleni/html/fragments/support/images/tweens.png" width="519" height="221" /></p>
        <p>In addition to using value rows, column out ports can be wired to perform additional manipulation of objects. When activated, column outs fire like any other object out behavior. Only when the table column conditions are met will wired outs fire.</p>
        <p><a href="com/alleni/html/fragments/support/images/outs.png"><img src="com/alleni/html/fragments/support/images/outs.png" width="502" height="276" /></a></p>
        <p>Using the read only ports on the right hand side of the truth table, the current column number or individual property condition can be wired bound to additional object properties including text values.</p>
        <p><img src="com/alleni/html/fragments/support/images/active_states.png" width="640" height="193" /></p>
        <h2>Example</h2>
        <p>Here the truth table is used to demonstrate the combination of power and switch to turn on a light bulb. The checked property of two check boxes have been wired to the logic rows of a single truth table. This has created 4 possible combinations for which the author can provide contextual outcomes. In the value rows the author is manipulating a text object's value and a sketch object's fill color to show under which conditions a light bulb is on or off.</p>
        <p><img src="com/alleni/html/fragments/support/images/on.png" width="640" height="316" /></p>
        <p><img src="com/alleni/html/fragments/support/images/Off.png" width="640" height="333" /></p>
        <p>With production art, changing the manipulated property in the value row to object opacity creates an equally pleasing result. </p>
        <p><img src="com/alleni/html/fragments/support/images/production_art_1.png" width="640" height="463" /></p>
        <p><img src="com/alleni/html/fragments/support/images/production_art_2.png" width="641" height="464" /><!-- default ribbons -->      </p>
    </div>
</div>
<div class="clearer"></div>
