
    <div class="contentRight">
      <div class="tabs">
        <a href="#/support?main"><span class="tab2">Overview</span></a>
        <a href="#/support?objects"><span class="tab">Objects</span></a>
        <a href="#/support?ribbons"><span class="tab2">Ribbons</span></a>
        <a href="#/support?wiring"><span class="tab2">Wiring</span></a>
        <a href="#/support?libraries"><span class="tab2">Libraries</span></a>
        <a href="#/support?learn"><span class="tab2">Learn</span></a>
        <a href="#/support?faq"> <span class="tab2">FAQ</span></a>
        <div class="clearer"></div>
      </div>
      <div class="block support">
        <div class="paging"><a href="#/support?objects">&lt; Back</a></div>
        <h1><img src="com/alleni/html/fragments/support/images/video.png" align="absmiddle" /> Video</h1>
        <h2>Description</h2>
        <p>The video object allows you to play video files within a project. You can import video files into a project through the Library or by specifying a URL.</p>
        <h2>Example</h2>
        <p>The following example shows a simple video player. The play button is wired to the Start inlet ribbon of the video object. The stop button is wired to the Stop inlet of the video object. When the application is running, the video specified by the video object will play and stop when the buttons are clicked.</p>
        <h2>
        <p><img src="com/alleni/html/fragments/support/images/video_e.png" width="640" height="391" />
        </p>
        <h2>Ribbons</h2>
        <h2>Inlets</h2>
        <table>
          <thead>
            <tr></tr>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <h2>Properties</h2>
        <table>
          <thead>
            <tr></tr>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <h2>Outlets</h2>
        <table>
          <thead>
            <tr></tr>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
<!-- default ribbons -->
      </div>
    </div>
    <div class="clearer"></div>
  