
    <div class="contentRight">
      <div class="tabs">
        <a href="#/support?main"><span class="tab2">Overview</span></a>
        <a href="#/support?objects"><span class="tab">Objects</span></a>
        <a href="#/support?ribbons"><span class="tab2">Ribbons</span></a>
        <a href="#/support?wiring"><span class="tab2">Wiring</span></a>
        <a href="#/support?libraries"><span class="tab2">Libraries</span></a>
        <a href="#/support?learn"><span class="tab2">Learn</span></a>
        <a href="#/support?faq"> <span class="tab2">FAQ</span></a>
        <div class="clearer"></div>
      </div>
      <div class="block support">
        <div class="paging"><a href="#/support?objects">&lt; Back</a></div>
        <h1><img src="com/alleni/html/fragments/support/images/weblink.png" align="absmiddle" /> Weblink</h1>
        <h2>Description</h2>
        <p>The weblink object lets users navigate to web pages from within your application.</p>
        <h2>Example</h2>
        <p>The example below shows a url navigation tool. The text entered by the user in the input text object is bound to the weblink's URL property. When the user click the button, the weblink is executed and the user will navigate to the web page.</p>
        <h2>
        <p><img src="com/alleni/html/fragments/support/images/weblink_e.png" width="495" height="305" />
        </p>
        <h2>Learn        </h2>
        <h2>&nbsp;</h2>
        <h2>Default Ribbons</h2>
<!-- default ribbons -->
      </div>
    </div>
    <div class="clearer"></div>
  