/*<meta />*/

html {
	height:100%; 
	max-height:100%;  
	padding:0; 
	margin:0; 
	border:0; 
	font-family: trebuchet ms, tahoma, verdana, arial, sans-serif;  
	overflow:hidden;
	}

body
{
	font-family: Arial;
	top:20px !important;
	background: #e6e6e6;
	height:100%; 
	max-height:100%; 
	padding:0; 
	margin:0; 
	border:0;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	font-size: 12.0pt;
	margin-top: 12pt;
	margin-bottom: 0pt;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

#companyLogo{
 	background-color:yellow;
	width:204px;
	height:89px;
	float:right;
}
#bcrums {
 	background-color:purple;
}

#bodyContent {

	padding: 30px 20px 100px 20px;


}

#customfooter {
	background-color:#c3c3c3;
	position:fixed; 
	margin:0; 
	bottom:0px; 
	display:block; 
	width:100%; 
	height:30px;
	clear:both;
	text-align:right; 
	z-index:4;
 	padding-bottom:15px;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:123px;
	font-weight: bold;
	color: #5D6D7F;
}

#bodyContentTOC {

	padding: 20px 10px 100px 10px;


}

#customfooterTOC {
	background-color:#c3c3c3;
	position:fixed; 
	margin:0; 
	bottom:0px; 
	display:block; 
	width:100%; 
	height:30px;
	clear:both;
	text-align:right; 
	z-index:4;
	padding-bottom:15px;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:123px;
	font-weight: bold;
	color: #5D6D7F;
}


a.MCBreadcrumbsLink
{
	font-weight: bold;
	font-style: normal;
	font-size: 9pt;
	font-family: 'Trebuchet MS';
	color: #696969;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: ' You:';
	border-bottom-color: #000000;
}
